﻿@{
    <div class="flex flex-col gap-L">
        <span class="text-4xl font-bold text-[#FF6849]">Contact Us</span>
        <div class="flex flex-col">
            <span class="text-Regular text-[#525D61]">Lorem ipsum dolor sit amet consectetur. Augue aliquam lacus enim luctus consectetur amet blandit.</span>
            <span class="text-Regular text-[#525D61]">Eu eleifend ipsum quam quam nunc ligula at.</span>
        </div>
    </div>
    <div class="grid gap-L">
        <div class="pt-8 grid md:grid-cols-2 lg:grid-cols-3  lg:gap-36 gap-L">
            <div class="grid gap-S">
                <lable class="text-14 font-bold">First Name</lable>
                <div class="flex items-center  lg:w-[371px] md:w-[345px] w-[327px] h-[40px] border border-[#DDDFDA] bg-[#F9F8F6] rounded-md p-1.5 px-2">
                    <svg width="12" height="14" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.8665 9.83301C2.37533 9.83301 1.1665 11.0418 1.1665 12.533C1.1665 13.4351 1.89777 14.1663 2.79984 14.1663H9.19984C10.1019 14.1663 10.8332 13.4351 10.8332 12.533C10.8332 11.0418 9.62436 9.83301 8.13317 9.83301H3.8665ZM0.166504 12.533C0.166504 10.4895 1.82305 8.83301 3.8665 8.83301H8.13317C10.1766 8.83301 11.8332 10.4895 11.8332 12.533C11.8332 13.9874 10.6542 15.1663 9.19984 15.1663H2.79984C1.34549 15.1663 0.166504 13.9873 0.166504 12.533Z" fill="#525D61" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99984 1.83301C4.80322 1.83301 3.83317 2.80306 3.83317 3.99967C3.83317 5.19629 4.80322 6.16634 5.99984 6.16634C7.19643 6.16634 8.1665 5.19629 8.1665 3.99967C8.1665 2.80306 7.19643 1.83301 5.99984 1.83301ZM2.83317 3.99967C2.83317 2.25077 4.25093 0.833008 5.99984 0.833008C7.74871 0.833008 9.1665 2.25077 9.1665 3.99967C9.1665 5.74858 7.74871 7.16634 5.99984 7.16634C4.25093 7.16634 2.83317 5.74858 2.83317 3.99967Z" fill="#525D61" />
                    </svg>

                    <input type="text" class="md:w-[332px]  bg-transparent w-[280px] ml-0.5 text-white placeholder-gray-400 border-none no-outline p-0" placeholder="First name">
                </div>
            </div>
            <div class="grid gap-S">
                <lable class="text-14 font-bold">Last Name</lable>
                <div class="flex items-center  lg:w-[371px] md:w-[345px] w-[327px] h-[40px] border border-[#DDDFDA] bg-[#F9F8F6] rounded-md p-1.5 px-2">
                    <svg width="12" height="14" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.8665 9.83301C2.37533 9.83301 1.1665 11.0418 1.1665 12.533C1.1665 13.4351 1.89777 14.1663 2.79984 14.1663H9.19984C10.1019 14.1663 10.8332 13.4351 10.8332 12.533C10.8332 11.0418 9.62436 9.83301 8.13317 9.83301H3.8665ZM0.166504 12.533C0.166504 10.4895 1.82305 8.83301 3.8665 8.83301H8.13317C10.1766 8.83301 11.8332 10.4895 11.8332 12.533C11.8332 13.9874 10.6542 15.1663 9.19984 15.1663H2.79984C1.34549 15.1663 0.166504 13.9873 0.166504 12.533Z" fill="#525D61" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99984 1.83301C4.80322 1.83301 3.83317 2.80306 3.83317 3.99967C3.83317 5.19629 4.80322 6.16634 5.99984 6.16634C7.19643 6.16634 8.1665 5.19629 8.1665 3.99967C8.1665 2.80306 7.19643 1.83301 5.99984 1.83301ZM2.83317 3.99967C2.83317 2.25077 4.25093 0.833008 5.99984 0.833008C7.74871 0.833008 9.1665 2.25077 9.1665 3.99967C9.1665 5.74858 7.74871 7.16634 5.99984 7.16634C4.25093 7.16634 2.83317 5.74858 2.83317 3.99967Z" fill="#525D61" />
                    </svg>

                    <input type="text" class="md:w-[332px]  bg-transparent w-[280px] ml-0.5 text-white placeholder-gray-400 border-none no-outline p-0" placeholder="Last name">
                </div>
            </div>
        </div>
        <div class="grid md:grid-cols-2 lg:grid-cols-3  lg:gap-36 gap-L">
            <div class="grid gap-S">
                <lable class="text-14 font-bold">Email</lable>
                <div class="flex items-center lg:w-[371px] md:w-[345px] w-[327px] h-[40px] border border-[#DDDFDA] bg-[#F9F8F6] rounded-md p-1.5 px-2">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.91117 0.833008H10.4218C11.1499 0.833004 11.7269 0.833001 12.192 0.871C12.6676 0.909857 13.07 0.990929 13.4375 1.17815C14.0333 1.48175 14.5178 1.96619 14.8214 2.56204C15.0086 2.92949 15.0897 3.3319 15.1285 3.8075C15.1665 4.27258 15.1665 4.84957 15.1665 5.57766V7.75502C15.1665 8.48311 15.1665 9.06011 15.1285 9.52519C15.0897 10.0008 15.0086 10.4032 14.8214 10.7706C14.5178 11.3665 14.0333 11.8509 13.4375 12.1545C13.3445 12.2019 13.2493 12.2425 13.1513 12.2773C13.0132 13.5273 11.9534 14.4997 10.6665 14.4997H7.04386C5.94291 14.4997 5.08598 14.4997 4.3986 14.4435C3.70067 14.3865 3.1336 14.2691 2.62355 14.0092C1.77682 13.5778 1.0884 12.8894 0.656975 12.0426C0.397087 11.5326 0.279684 10.9655 0.222661 10.2676C0.166499 9.58019 0.166501 8.72326 0.166504 7.6223V4.66634C0.166504 4.3902 0.390362 4.16634 0.666504 4.16634C0.942646 4.16634 1.1665 4.3902 1.1665 4.66634V7.59967C1.1665 8.72803 1.16689 9.54423 1.21934 10.1862C1.27131 10.8222 1.37189 11.2431 1.54798 11.5886C1.88354 12.2472 2.41897 12.7826 3.07754 13.1182C3.42313 13.2943 3.84394 13.3949 4.48003 13.4468C5.12195 13.4993 5.93815 13.4997 7.0665 13.4997H10.6665C11.3309 13.4997 11.8945 13.0677 12.0916 12.4692C11.6445 12.4997 11.0984 12.4997 10.4219 12.4997H6.91116C6.18307 12.4997 5.60607 12.4997 5.14099 12.4617C4.6654 12.4228 4.26298 12.3418 3.89553 12.1545C3.29969 11.8509 2.81525 11.3665 2.51165 10.7706C2.32443 10.4032 2.24335 10.0008 2.2045 9.52519C2.1665 9.0601 2.1665 8.4831 2.1665 7.755V5.57768C2.1665 4.84958 2.1665 4.27258 2.2045 3.8075C2.24335 3.3319 2.32443 2.92949 2.51165 2.56204C2.81525 1.96619 3.29969 1.48175 3.89553 1.17815C4.26298 0.990929 4.6654 0.909857 5.14099 0.871C5.60607 0.833001 6.18307 0.833004 6.91117 0.833008ZM5.22243 1.86768C4.80867 1.90148 4.55251 1.96574 4.34952 2.06916C3.94184 2.27689 3.61038 2.60834 3.40266 3.01603C3.29923 3.21901 3.23498 3.47518 3.20117 3.88893C3.16689 4.30852 3.1665 4.84469 3.1665 5.59967V7.73301C3.1665 8.488 3.16689 9.02416 3.20117 9.44375C3.23498 9.85751 3.29923 10.1137 3.40266 10.3167C3.61038 10.7243 3.94184 11.0558 4.34952 11.2635C4.55251 11.3669 4.80867 11.4312 5.22243 11.465C5.64201 11.4993 6.17818 11.4997 6.93317 11.4997H10.3998C11.1548 11.4997 11.691 11.4993 12.1106 11.465C12.5243 11.4312 12.7805 11.3669 12.9835 11.2635C13.3912 11.0558 13.7226 10.7243 13.9304 10.3167C14.0338 10.1137 14.098 9.85751 14.1318 9.44375C14.1661 9.02417 14.1665 8.488 14.1665 7.73301V5.59967C14.1665 4.84469 14.1661 4.30852 14.1318 3.88893C14.098 3.47518 14.0338 3.21901 13.9304 3.01603C13.7226 2.60834 13.3912 2.27689 12.9835 2.06916C12.7805 1.96574 12.5243 1.90148 12.1106 1.86768C11.691 1.8334 11.1548 1.83301 10.3998 1.83301H6.93317C6.17818 1.83301 5.64201 1.8334 5.22243 1.86768ZM4.94274 3.68733C5.11524 3.4717 5.42989 3.43674 5.64552 3.60924L6.31349 4.14361C6.79477 4.52865 7.13504 4.80046 7.42018 4.99618C7.70013 5.18833 7.89913 5.2871 8.0888 5.33957C8.46684 5.44415 8.86617 5.44415 9.24421 5.33957C9.43388 5.2871 9.63288 5.18833 9.91283 4.99618C10.198 4.80046 10.5382 4.52865 11.0195 4.14361L11.6875 3.60924C11.9031 3.43674 12.2178 3.4717 12.3903 3.68733C12.5628 3.90296 12.5278 4.2176 12.3122 4.39011L11.6292 4.93648C11.1663 5.30682 10.7976 5.60175 10.4787 5.82065C10.1512 6.04547 9.84864 6.20992 9.51084 6.30337C8.95833 6.45622 8.37468 6.45622 7.82217 6.30337C7.48437 6.20992 7.18182 6.04547 6.85427 5.82065C6.53536 5.60175 6.16671 5.30682 5.7038 4.93649L5.02082 4.39011C4.80519 4.2176 4.77023 3.90296 4.94274 3.68733Z" fill="#252532" />
                    </svg>
                    <input type="email" class="md:w-[332px]  bg-transparent w-[280px] ml-0.5 text-white placeholder-gray-400 border-none no-outline p-0" placeholder="Email">
                </div>
            </div>
            <div class="grid gap-S">
                <lable class="text-14 font-bold">Phone</lable>
                <div class="flex items-center  lg:w-[371px] md:w-[345px] w-[327px] h-[40px] border border-[#DDDFDA] bg-[#F9F8F6] rounded-md p-1.5 px-2">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.19544 8.66634C2.29469 7.1403 1.69875 5.36433 1.4563 3.38714C1.44286 3.27747 1.47647 3.55163 1.47405 3.52676C1.37054 2.46326 2.34649 1.36032 3.41469 1.33363C3.43967 1.33301 3.36109 1.33301 3.39252 1.33301V1.33301C3.43629 1.33301 3.45818 1.33301 3.47774 1.33339C4.36622 1.35078 5.13668 1.95233 5.36903 2.81007C5.37415 2.82896 5.37946 2.85019 5.39007 2.89265L5.43337 3.06582C5.50285 3.34376 5.53759 3.48272 5.56153 3.61649C5.75406 4.6925 5.49785 5.80044 4.85247 6.68269C4.77224 6.79236 4.68001 6.90197 4.49556 7.12119L3.19544 8.66634ZM3.19544 8.66634C4.16551 10.3098 5.48911 11.6634 7.10541 12.6663M7.10541 12.6663C8.68157 13.6444 10.5361 14.2889 12.6126 14.5435C12.7221 14.557 12.4482 14.5234 12.4731 14.5258C13.5366 14.6293 14.6395 13.6533 14.6662 12.5851C14.6668 12.5602 14.6668 12.6051 14.6668 12.5871V12.5871C14.6668 12.5568 14.6668 12.5417 14.6664 12.5221C14.6491 11.6336 14.0475 10.8632 13.1898 10.6308C13.1709 10.6257 13.1497 10.6204 13.1072 10.6098L12.8634 10.5488C12.5197 10.4629 12.3479 10.4199 12.1809 10.3929C11.2247 10.2382 10.2449 10.4356 9.42326 10.9487C9.27978 11.0382 9.138 11.1444 8.85443 11.3567L7.10541 12.6663Z" stroke="#252532" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <input type="text" class="md:w-[332px]  bg-transparent w-[280px] ml-0.5 text-white placeholder-gray-400 border-none no-outline p-0" placeholder="Phone">
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 gap-S">
            <lable class="text-14 font-bold">Message</lable>
            <div class=" lg:w-[824px] md:w-[736px]  flex items-center  h-auto border border-[#DDDFDA] bg-[#F9F8F6] rounded-md p-1.5 px-2">
                <textarea class="focus:shadow-none md:w-[911px] h-[148px] bg-transparent w-[280px] text-white placeholder-gray-400 border-none outline-none p-0 resize-none" placeholder="Your message..."></textarea>
            </div>
        </div>

        <div class="flex justify-end lg:w-[822px] md:w-[735px]">
            <div class="bg-[#FF6849] text-[12px] rounded-S md:w-[82px]  w-[75px]">
                <button class="md:w-[82px]  w-[75px] h-[40px] py-2 md:px-4 px-3 gap-2  flex items-center justify-center text-white text-14 text-[12px]">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.87495 1.36775C9.63353 1.41206 9.31723 1.50023 8.86221 1.62764L3.74926 3.05926C3.03497 3.25926 2.52268 3.40303 2.16155 3.53734C1.77882 3.67969 1.66934 3.77757 1.64112 3.82387C1.53031 4.00568 1.51968 4.23138 1.6129 4.4228C1.63664 4.47155 1.73643 4.57929 2.10409 4.75699C2.45099 4.92466 2.94749 5.11596 3.63981 5.38224L5.40738 6.06208L6.48506 4.9844C6.63151 4.83796 6.86894 4.83796 7.01539 4.9844C7.16184 5.13085 7.16184 5.36829 7.01539 5.51473L5.93771 6.59241L6.61749 8.35992C6.88376 9.05225 7.07506 9.54875 7.24272 9.89566C7.42042 10.2633 7.52816 10.3631 7.57691 10.3869C7.76833 10.4801 7.99403 10.4694 8.17584 10.3586C8.22214 10.3304 8.32003 10.2209 8.46237 9.83821C8.59669 9.47707 8.74047 8.96478 8.94047 8.25049L10.3721 3.13757C10.4995 2.68255 10.5877 2.36625 10.632 2.12484C10.6768 1.88091 10.6634 1.77592 10.6424 1.72052C10.579 1.55304 10.4467 1.42082 10.2793 1.35739C10.2239 1.33641 10.1189 1.32298 9.87495 1.36775ZM5.21005 6.78974L3.35248 6.07529C2.68212 5.81746 2.15618 5.61518 1.77771 5.43225C1.41659 5.25771 1.08732 5.05654 0.938611 4.75118C0.733524 4.33006 0.75692 3.83351 1.00069 3.43354C1.17746 3.14352 1.52418 2.9742 1.90011 2.83439C2.29411 2.68785 2.83672 2.53592 3.52835 2.34227L8.67841 0.900254C9.11065 0.779222 9.46021 0.681341 9.73955 0.630069C10.0203 0.578533 10.293 0.560592 10.5449 0.656011C10.9133 0.795553 11.2042 1.08644 11.3438 1.45489C11.4392 1.70684 11.4212 1.97945 11.3697 2.26024C11.3184 2.53959 11.2206 2.88915 11.0995 3.32139L9.65745 8.47144C9.4638 9.16305 9.31186 9.70566 9.16533 10.0997C9.02551 10.4756 8.85619 10.8223 8.56616 10.9991C8.16619 11.2428 7.66963 11.2662 7.24852 11.0611C6.94316 10.9124 6.74199 10.5832 6.56746 10.222C6.38453 9.84355 6.18226 9.31762 5.92444 8.64725L5.21005 6.78974Z" fill="#F9F8F6" />
                    </svg>
                    Send
                </button>
            </div>
        </div>
    </div>
}
