@{
    <div class="flex flex-col gap-L">
        <span class="text-4xl font-bold text-brandPrimary">Contect Us</span>
        <div class="flex flex-col gap-S">
            <span class="text-H5 text-[#525D61]">Lorem ipsum dolor sit amet consectetur. Augue aliquam lacus enim luctus consectetur amet blandit.</span>
            <span class="text-H5 text-[#525D61]">Eu eleifend ipsum quam quam nunc ligula at.</span>
        </div>
    </div>
    <div class="grid gap-L">
        <div class="pt-8 grid md:grid-cols-2 lg:grid-cols-3 gap-L">
            <div class="grid gap-S">
                <lable class="text-Medium font-bold">First Name</lable>
                <div class="flex items-center  lg:w-[371px] md:w-[345px] w-[370px] h-[40px] border border-gray-300 bg-[#F9F8F6] rounded-md p-1.5 px-2">
                    <svg class="mr-3" width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" fill="#525D61" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M12 14C8.13401 14 5 17.134 5 21H19C19 17.134 15.866 14 12 14Z" fill="#525D61" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
            <input type="text" class="md:w-[332px]  bg-transparent w-[280px] text-white placeholder-gray-400 border-none no-outline p-0" placeholder="First name">
        </div>
        </div>
            <div class="grid gap-S">
                <lable class="text-Medium font-bold">Last Name</lable>
                <div class="flex items-center  lg:w-[371px] md:w-[345px] w-[370px] h-[40px] border border-gray-300 bg-[#F9F8F6] rounded-md p-1.5 px-2">
                    <svg class="mr-3" width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" fill="#525D61" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M12 14C8.13401 14 5 17.134 5 21H19C19 17.134 15.866 14 12 14Z" fill="#525D61" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
            <input type="text" class="md:w-[332px]  bg-transparent w-[280px] text-white placeholder-gray-400 border-none no-outline p-0" placeholder="Last name">
        </div>
        </div>
        </div>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-L">
    <div class="grid gap-S">
                <lable class="text-Medium font-bold">Email</lable>
                <div class="flex items-center lg:w-[371px] md:w-[345px] w-[370px] h-[40px] border border-gray-300 bg-[#F9F8F6] rounded-md p-1.5 px-2">
                    <svg class="mr-3" width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="style=linear">
                            <g id="email">
                                <path id="vector" d="M17 20.5H7C4 20.5 2 19 2 15.5V8.5C2 5 4 3.5 7 3.5H17C20 3.5 22 5 22 8.5V15.5C22 19 20 20.5 17 20.5Z" stroke="#000000" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                <path id="vector_2" d="M18.7698 7.7688L13.2228 12.0551C12.5025 12.6116 11.4973 12.6116 10.777 12.0551L5.22998 7.7688" stroke="#000000" stroke-width="1.5" stroke-linecap="round" />
                            </g>
                        </g>
                    </svg>
            <input type="email" class="md:w-[332px]  bg-transparent w-[280px] text-white placeholder-gray-400 border-none no-outline p-0" placeholder="Email">
        </div>
        </div>
            <div class="grid gap-S">
                <lable class="text-Medium font-bold">Phone</lable>
                <div class="flex items-center  lg:w-[371px] md:w-[345px] w-[370px] h-[40px] border border-gray-300 bg-[#F9F8F6] rounded-md p-1.5 px-2">
                    <svg class="mr-3" width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.11596 12.7268L8.15456 9.08666C8.46255 8.69067 8.61655 8.49267 8.69726 8.27061C8.76867 8.07411 8.79821 7.86486 8.784 7.65628C8.76793 7.42055 8.67477 7.18766 8.48846 6.72187L7.77776 4.94513C7.50204 4.25581 7.36417 3.91116 7.12635 3.68525C6.91678 3.48618 6.65417 3.3519 6.37009 3.29856C6.0477 3.23803 5.68758 3.32806 4.96733 3.50812L3 4.00002C3 14 9.99969 21 20 21L20.4916 19.0324C20.6717 18.3122 20.7617 17.952 20.7012 17.6297C20.6478 17.3456 20.5136 17.083 20.3145 16.8734C20.0886 16.6356 19.7439 16.4977 19.0546 16.222L17.4691 15.5878C16.9377 15.3752 16.672 15.2689 16.4071 15.2608C16.1729 15.2536 15.9404 15.3013 15.728 15.4002C15.4877 15.512 15.2854 15.7144 14.8807 16.1191L11.7943 19.1569" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
            <input type="text" class="md:w-[332px]  bg-transparent w-[280px] text-white placeholder-gray-400 border-none no-outline p-0" placeholder="Phone">
        </div>
        </div>
    </div>
        <div class="grid grid-cols-1 gap-S">
            <lable class="text-Medium font-bold">Message</lable>
            <div class=" lg:w-[824px] md:w-[736px]  flex items-center  h-auto border border-gray-300 bg-[#F9F8F6] rounded-md p-1.5 px-2">
                <textarea class="focus:shadow-none md:w-[911px] h-[148px] bg-transparent w-[280px] text-white placeholder-gray-400 border-none outline-none p-0 resize-none" placeholder="Your message..."></textarea>
            </div>
    </div>

        <div class="flex justify-end lg:w-[822px] md:w-[735px]">
            <div class="bg-[#FF6849] text-[12px] rounded-S md:w-[90px]  w-[75px]">
                <button class="md:w-[82px]  w-[75px] h-[40px] py-2 md:px-4 px-3 gap-2  flex items-center justify-center text-white">
                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.33 3.66996C20.1408 3.48213 19.9035 3.35008 19.6442 3.28833C19.3849 3.22659 19.1135 3.23753 18.86 3.31996L4.23 8.19996C3.95867 8.28593 3.71891 8.45039 3.54099 8.67255C3.36307 8.89471 3.25498 9.16462 3.23037 9.44818C3.20576 9.73174 3.26573 10.0162 3.40271 10.2657C3.5397 10.5152 3.74754 10.7185 4 10.85L10.07 13.85L13.07 19.94C13.1906 20.1783 13.3751 20.3785 13.6029 20.518C13.8307 20.6575 14.0929 20.7309 14.36 20.73H14.46C14.7461 20.7089 15.0192 20.6023 15.2439 20.4239C15.4686 20.2456 15.6345 20.0038 15.72 19.73L20.67 5.13996C20.7584 4.88789 20.7734 4.6159 20.7132 4.35565C20.653 4.09541 20.5201 3.85762 20.33 3.66996ZM4.85 9.57996L17.62 5.31996L10.53 12.41L4.85 9.57996ZM14.43 19.15L11.59 13.47L18.68 6.37996L14.43 19.15Z" fill="#ffffff" />
                    </svg>
                Send
                </button>
            </div>
   </div>
    </div>
}

