<div class="">
    <div class="2xl:container mx-auto md:py-XXXL py-XXL px-L grid grid-cols-1 gap-XL font-inter contact-enterprise bg-neutral border-t border-b">
        <div class="flex flex-col gap-S">
            <h1 class="mx-auto md:text-[40px] md:text-15 text-16 text-center md:w-auto w-[327px] text-headLines">Can’t find what you are looking for?</h1>
            <h4 class="mx-auto text-Regular text-center text-bodyText">The Unilake Support Team is ready to help.</h4>
        </div>
        <div class="mx-auto rounded-M flex gap-M md:flex-row flex-col md:w-fit w-full">
            <button class="md:w-fit md:col-span-2 bg-brand text-14 text-white px-L py-SM rounded-S items-center flex justify-center brand-color-button">Contact Enterprise Sales</button>
            <button class="md:w-fit border border-brNeutral px-L py-SM text-14 rounded-S items-center flex justify-center bg-neutral bg-less-button">Open Ticket</button>
        </div>
    </div>
</div>