@section FlowbiteCSS {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
}

@section FlowbiteJS {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
}
<div class="flex flex-col">
    <span class="text-H3 text-brand">FAQ</span>
</div>

<div>
    <ul class="list-unstyled">
        <li class="flex flex-col gap-L border-b border-[#DDDFDA] p-L items-center hover:bg-[#EFEEEB]">
           <div class="flex justify-between w-full">
             <span class="text-H4 text-[#252532]">Question</span>
               <span class="text-brand flex items-center cursor-pointer" tabindex="1" onclick="toggleAccordion(this)">
                   <svg class="accordion-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                       <path fill-rule="evenodd" clip-rule="evenodd" d="M12 4.25C12.4142 4.25 12.75 4.58579 12.75 5V11.25H19C19.4142 11.25 19.75 11.5858 19.75 12C19.75 12.4142 19.4142 12.75 19 12.75H12.75V19C12.75 19.4142 12.4142 19.75 12 19.75C11.5858 19.75 11.25 19.4142 11.25 19V12.75H5C4.58579 12.75 4.25 12.4142 4.25 12C4.25 11.5858 4.58579 11.25 5 11.25H11.25V5C11.25 4.58579 11.5858 4.25 12 4.25Z" fill="#FF6849"/>
                   </svg>
               </span>
           </div>
           <p class="w-full hidden">
               Lorem ipsum dolor sit amet consectetur. Augue aliquam lacus enim luctus consectetur amet blandit.
               Eu eleifend ipsum quam quam nunc ligula at.
           </p>
        </li>
    </ul>
    <ul class="list-unstyled">
        <li class="flex flex-col gap-L border-b border-[#DDDFDA] p-L items-center hover:bg-[#EFEEEB]">
           <div class="flex justify-between w-full">
             <span class="text-H4 text-[#252532]">Question</span>
               <span class="text-brand flex items-center cursor-pointer" tabindex="1" onclick="toggleAccordion(this)">
                   <svg class="accordion-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                       <path fill-rule="evenodd" clip-rule="evenodd" d="M12 4.25C12.4142 4.25 12.75 4.58579 12.75 5V11.25H19C19.4142 11.25 19.75 11.5858 19.75 12C19.75 12.4142 19.4142 12.75 19 12.75H12.75V19C12.75 19.4142 12.4142 19.75 12 19.75C11.5858 19.75 11.25 19.4142 11.25 19V12.75H5C4.58579 12.75 4.25 12.4142 4.25 12C4.25 11.5858 4.58579 11.25 5 11.25H11.25V5C11.25 4.58579 11.5858 4.25 12 4.25Z" fill="#FF6849"/>
                   </svg>
               </span>
           </div>
           <p class="w-full hidden">
               Lorem ipsum dolor sit amet consectetur. Augue aliquam lacus enim luctus consectetur amet blandit.
               Eu eleifend ipsum quam quam nunc ligula at.
           </p>
        </li>
    </ul>
    <ul class="list-unstyled">
        <li class="flex flex-col gap-L border-b border-[#DDDFDA] p-L items-center hover:bg-[#EFEEEB]">
           <div class="flex justify-between w-full">
             <span class="text-H4 text-[#252532]">Question</span>
               <span class="text-brand flex items-center cursor-pointer" tabindex="1" onclick="toggleAccordion(this)">
                   <svg class="accordion-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                       <path fill-rule="evenodd" clip-rule="evenodd" d="M12 4.25C12.4142 4.25 12.75 4.58579 12.75 5V11.25H19C19.4142 11.25 19.75 11.5858 19.75 12C19.75 12.4142 19.4142 12.75 19 12.75H12.75V19C12.75 19.4142 12.4142 19.75 12 19.75C11.5858 19.75 11.25 19.4142 11.25 19V12.75H5C4.58579 12.75 4.25 12.4142 4.25 12C4.25 11.5858 4.58579 11.25 5 11.25H11.25V5C11.25 4.58579 11.5858 4.25 12 4.25Z" fill="#FF6849"/>
                   </svg>
               </span>
           </div>
           <p class="w-full hidden">
               Lorem ipsum dolor sit amet consectetur. Augue aliquam lacus enim luctus consectetur amet blandit.
               Eu eleifend ipsum quam quam nunc ligula at.
           </p>
        </li>
    </ul>
    <ul class="list-unstyled">
        <li class="flex flex-col gap-L border-b border-[#DDDFDA] p-L items-center hover:bg-[#EFEEEB]">
           <div class="flex justify-between w-full">
             <span class="text-H4 text-[#252532]">Question</span>
               <span class="text-brand flex items-center cursor-pointer" tabindex="1" onclick="toggleAccordion(this)">
                   <svg class="accordion-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                       <path fill-rule="evenodd" clip-rule="evenodd" d="M12 4.25C12.4142 4.25 12.75 4.58579 12.75 5V11.25H19C19.4142 11.25 19.75 11.5858 19.75 12C19.75 12.4142 19.4142 12.75 19 12.75H12.75V19C12.75 19.4142 12.4142 19.75 12 19.75C11.5858 19.75 11.25 19.4142 11.25 19V12.75H5C4.58579 12.75 4.25 12.4142 4.25 12C4.25 11.5858 4.58579 11.25 5 11.25H11.25V5C11.25 4.58579 11.5858 4.25 12 4.25Z" fill="#FF6849"/>
                   </svg>
               </span>
           </div>
           <p class="w-full hidden">
               Lorem ipsum dolor sit amet consectetur. Augue aliquam lacus enim luctus consectetur amet blandit.
               Eu eleifend ipsum quam quam nunc ligula at.
           </p>
        </li>
    </ul>
    <ul class="list-unstyled">
        <li class="flex flex-col gap-L border-b border-[#DDDFDA] p-L items-center hover:bg-[#EFEEEB]">
           <div class="flex justify-between w-full">
             <span class="text-H4 text-[#252532]">Question</span>
               <span class="text-brand flex items-center cursor-pointer" tabindex="1" onclick="toggleAccordion(this)">
                   <svg class="accordion-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                       <path fill-rule="evenodd" clip-rule="evenodd" d="M12 4.25C12.4142 4.25 12.75 4.58579 12.75 5V11.25H19C19.4142 11.25 19.75 11.5858 19.75 12C19.75 12.4142 19.4142 12.75 19 12.75H12.75V19C12.75 19.4142 12.4142 19.75 12 19.75C11.5858 19.75 11.25 19.4142 11.25 19V12.75H5C4.58579 12.75 4.25 12.4142 4.25 12C4.25 11.5858 4.58579 11.25 5 11.25H11.25V5C11.25 4.58579 11.5858 4.25 12 4.25Z" fill="#FF6849"/>
                   </svg>
               </span>
           </div>
           <p class="w-full hidden">
               Lorem ipsum dolor sit amet consectetur. Augue aliquam lacus enim luctus consectetur amet blandit.
               Eu eleifend ipsum quam quam nunc ligula at.
           </p>
        </li>
    </ul>
    <ul class="list-unstyled">
        <li class="flex flex-col gap-L border-b border-[#DDDFDA] p-L items-center hover:bg-[#EFEEEB]">
            <div class="flex justify-between w-full">
                <span class="text-H4 text-[#252532]">Question</span>
                <span class="text-brand flex items-center cursor-pointer" tabindex="1" onclick="toggleAccordion(this)">
                    <svg class="accordion-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 4.25C12.4142 4.25 12.75 4.58579 12.75 5V11.25H19C19.4142 11.25 19.75 11.5858 19.75 12C19.75 12.4142 19.4142 12.75 19 12.75H12.75V19C12.75 19.4142 12.4142 19.75 12 19.75C11.5858 19.75 11.25 19.4142 11.25 19V12.75H5C4.58579 12.75 4.25 12.4142 4.25 12C4.25 11.5858 4.58579 11.25 5 11.25H11.25V5C11.25 4.58579 11.5858 4.25 12 4.25Z" fill="#FF6849" />
                    </svg>
                </span>
            </div>
            <p class="w-full hidden text-Regular text-body">
                Lorem ipsum dolor sit amet consectetur. Augue aliquam lacus enim luctus consectetur amet blandit.
                Eu eleifend ipsum quam quam nunc ligula at.
            </p>
        </li>
    </ul>
</div>

<script>
    function toggleAccordion(accordion) {
    var content = accordion.parentNode.nextElementSibling;
    if (content.style.display === "none" || content.style.display === "") {
        content.style.display = "block";
        accordion.querySelector('.accordion-icon').classList.add('rotate-45');
    } else {
        content.style.display = "none";
        accordion.querySelector('.accordion-icon').classList.remove('rotate-45');
    }
}
</script>
