@page "/article"
@attribute [RenderStatic]
@{
ViewData["Title"] = "Unilake.Www Article";
}
@section FlowbiteCSS {
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
}

@section FlowbiteJS {
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
}
<div class="2xl:container md:py-XXL py-L px-L grid grid-cols-1 gap-XXL mx-auto font-inter">
    <span class="flex items-center">
        <svg class="back-button" width="58" height="24" viewBox="0 0 58 24" fill="#FF6849"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M7.02022 6.97946C7.21548 7.17472 7.21548 7.4913 7.02022 7.68656L3.20712 11.4996H14C14.2761 11.4996 14.5 11.7235 14.5 11.9996C14.5 12.2758 14.2761 12.4996 14 12.4996H3.20711L7.02022 16.3127C7.21548 16.508 7.21548 16.8246 7.02022 17.0198C6.82496 17.2151 6.50838 17.2151 6.31311 17.0198L1.64645 12.3532C1.55268 12.2594 1.5 12.1322 1.5 11.9996C1.5 11.867 1.55268 11.7398 1.64645 11.6461L6.31312 6.97945C6.50838 6.78419 6.82496 6.78419 7.02022 6.97946Z" />
            <path
                d="M25.0043 17V6.81818H28.902C29.6378 6.81818 30.2493 6.93419 30.7365 7.16619C31.227 7.39489 31.5933 7.7081 31.8352 8.10582C32.0805 8.50355 32.2031 8.95431 32.2031 9.4581C32.2031 9.8724 32.1236 10.227 31.9645 10.522C31.8054 10.8137 31.5916 11.0507 31.3232 11.233C31.0547 11.4152 30.7547 11.5462 30.4233 11.6257V11.7251C30.7846 11.745 31.1309 11.8561 31.4624 12.0582C31.7971 12.2571 32.0705 12.5388 32.2827 12.9034C32.4948 13.268 32.6009 13.7088 32.6009 14.2259C32.6009 14.7528 32.4732 15.2268 32.218 15.6477C31.9628 16.0653 31.5784 16.3951 31.0646 16.6371C30.5509 16.879 29.9046 17 29.1257 17H25.0043ZM26.8487 15.4588H28.8324C29.5019 15.4588 29.9841 15.3312 30.2791 15.076C30.5774 14.8175 30.7266 14.486 30.7266 14.0817C30.7266 13.7801 30.652 13.5083 30.5028 13.2663C30.3537 13.0211 30.1416 12.8288 29.8665 12.6896C29.5914 12.5471 29.2633 12.4759 28.8821 12.4759H26.8487V15.4588ZM26.8487 11.1484H28.6733C28.9915 11.1484 29.2782 11.0904 29.5334 10.9744C29.7886 10.8551 29.9891 10.6877 30.1349 10.4723C30.2841 10.2536 30.3587 9.99503 30.3587 9.69673C30.3587 9.30232 30.2195 8.97751 29.9411 8.7223C29.666 8.46709 29.2566 8.33949 28.7131 8.33949H26.8487V11.1484ZM36.3233 17.1541C35.8394 17.1541 35.4036 17.0679 35.0158 16.8956C34.6313 16.7199 34.3264 16.4614 34.101 16.12C33.879 15.7786 33.7679 15.3577 33.7679 14.8572C33.7679 14.4264 33.8475 14.0701 34.0066 13.7884C34.1657 13.5066 34.3828 13.2812 34.6578 13.1122C34.9329 12.9432 35.2428 12.8156 35.5875 12.7294C35.9355 12.6399 36.2952 12.5753 36.6664 12.5355C37.1138 12.4891 37.4767 12.4477 37.7551 12.4112C38.0336 12.3714 38.2357 12.3118 38.3617 12.2322C38.4909 12.1494 38.5556 12.0218 38.5556 11.8494V11.8196C38.5556 11.4451 38.4445 11.1551 38.2225 10.9496C38.0004 10.7441 37.6806 10.6413 37.263 10.6413C36.8221 10.6413 36.4725 10.7375 36.214 10.9297C35.9587 11.1219 35.7864 11.349 35.6969 11.6108L34.0165 11.3722C34.1491 10.9081 34.3678 10.5204 34.6728 10.2088C34.9777 9.89394 35.3506 9.65862 35.7914 9.50284C36.2322 9.34375 36.7194 9.2642 37.253 9.2642C37.6209 9.2642 37.9872 9.30729 38.3517 9.39347C38.7163 9.47964 39.0494 9.62216 39.351 9.82102C39.6526 10.0166 39.8946 10.2834 40.0769 10.6214C40.2625 10.9595 40.3553 11.3821 40.3553 11.8892V17H38.6252V15.951H38.5655C38.4561 16.1631 38.302 16.362 38.1032 16.5476C37.9076 16.7299 37.6607 16.8774 37.3624 16.9901C37.0674 17.0994 36.7211 17.1541 36.3233 17.1541ZM36.7907 15.8317C37.1519 15.8317 37.4651 15.7604 37.7303 15.6179C37.9954 15.4721 38.1993 15.2798 38.3418 15.0412C38.4876 14.8026 38.5605 14.5424 38.5605 14.2607V13.3608C38.5042 13.4072 38.4081 13.4503 38.2722 13.4901C38.1396 13.5298 37.9905 13.5646 37.8248 13.5945C37.659 13.6243 37.495 13.6508 37.3326 13.674C37.1702 13.6972 37.0293 13.7171 36.91 13.7337C36.6415 13.7701 36.4012 13.8298 36.1891 13.9126C35.977 13.9955 35.8096 14.1115 35.687 14.2607C35.5643 14.4065 35.503 14.5954 35.503 14.8274C35.503 15.1589 35.624 15.4091 35.8659 15.5781C36.1079 15.7472 36.4161 15.8317 36.7907 15.8317ZM45.4959 17.1491C44.7336 17.1491 44.079 16.9818 43.5321 16.647C42.9886 16.3123 42.5693 15.8499 42.2743 15.2599C41.9827 14.6667 41.8368 13.9839 41.8368 13.2116C41.8368 12.4361 41.986 11.7517 42.2843 11.1584C42.5826 10.5618 43.0035 10.0978 43.5471 9.76633C44.0939 9.43158 44.7402 9.2642 45.486 9.2642C46.1058 9.2642 46.6543 9.37855 47.1316 9.60724C47.6122 9.83262 47.995 10.1525 48.28 10.5668C48.565 10.9777 48.7275 11.4583 48.7672 12.0085H47.0471C46.9775 11.6406 46.8117 11.334 46.5499 11.0888C46.2914 10.8402 45.945 10.7159 45.5108 10.7159C45.1429 10.7159 44.8198 10.8153 44.5414 11.0142C44.263 11.2098 44.0459 11.4915 43.8901 11.8594C43.7376 12.2273 43.6614 12.6681 43.6614 13.1818C43.6614 13.7022 43.7376 14.1496 43.8901 14.5241C44.0426 14.8954 44.2563 15.1821 44.5314 15.3842C44.8098 15.5831 45.1363 15.6825 45.5108 15.6825C45.776 15.6825 46.013 15.6328 46.2218 15.5334C46.4339 15.4306 46.6112 15.2831 46.7537 15.0909C46.8962 14.8987 46.994 14.665 47.0471 14.3899H48.7672C48.7241 14.9302 48.565 15.4091 48.29 15.8267C48.0149 16.241 47.6403 16.5658 47.1664 16.8011C46.6924 17.0331 46.1356 17.1491 45.4959 17.1491ZM51.8857 14.6037L51.8807 12.4311H52.169L54.9134 9.36364H57.0163L53.6406 13.1222H53.2678L51.8857 14.6037ZM50.245 17V6.81818H52.0447V17H50.245ZM55.0376 17L52.5518 13.5249L53.7649 12.2571L57.1903 17H55.0376Z" />
        </svg>
    </span>
    <div class="lg:hidden flex md:flex-row flex-col gap-L">
        <div class="flex flex-col gap-L">
            <div class="flex gap-M items-center">
                <span class="text-brand text-Regular">Article</span>
                <button class="md:py-S md:px-SM py-XXS px-S rounded-[6px] bg-[#FF684940] text-onBrand text-Small flex items-center text-center justify-center">Category</button>
            </div>
            <h1 class="xl:text-headline2 text-headline3 text-headLines">
                Article title goes here
            </h1>
        </div>
        <div class="flex items-end">
            <div class="flex gap-M h-[48px] max-w-[272px] items-end">
                <img src="./img/profile/profile3.jpg" class="h-[48px] w-[48px] rounded-full">
                <div class="flex flex-col justify-between h-full lg:min-w-[208px] md:min-w-[200px] min-w-[180px]">
                    <span class="text-Bold text-headLines">Marvin McKinney</span>
                    <div class="flex justify-between items-end">
                        <span class="text-Small text-bodyText">31 Dec 2023</span>
                        <div class="flex items-center h-full">
                            <svg width="4" height="5" viewBox="0 0 4 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.22168 3.06641V2.70605C0.22168 2.20215 0.379883 1.78613 0.696289 1.45801C1.01855 1.12988 1.45508 0.96582 2.00586 0.96582C2.5625 0.96582 3.00195 1.12988 3.32422 1.45801C3.64648 1.78613 3.80762 2.20215 3.80762 2.70605V3.06641C3.80762 3.56445 3.64648 3.97754 3.32422 4.30566C3.00781 4.62793 2.57129 4.78906 2.01465 4.78906C1.46387 4.78906 1.02734 4.62793 0.705078 4.30566C0.382812 3.97754 0.22168 3.56445 0.22168 3.06641Z"
                                    fill="#252532" />
                            </svg>
                        </div>
                        <span class="text-Small text-bodyText">5 min read</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex lg:flex-row flex-col lg:gap-[55px] md:gap-XXL gap-XL">
        <div id="parent-accordian"  class="article-accordion-open bg-backgroundPrimary px-M rounded-S h-fit lg:min-w-[327px] lg:inline-block lg:sticky lg:top-[30px]">
            <div class="flex py-M justify-between items-center max-h-[72px]">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0.5 4C0.5 2.067 2.067 0.5 4 0.5H36C37.933 0.5 39.5 2.067 39.5 4V36C39.5 37.933 37.933 39.5 36 39.5H4C2.067 39.5 0.5 37.933 0.5 36V4Z"
                        stroke="#DDDFDA" />
                    <path
                        d="M24.8213 13.5713H16.7856C15.898 13.5713 15.1785 14.2908 15.1785 15.1784V28.8391C15.1785 29.7268 15.898 30.4463 16.7856 30.4463H27.232C28.1197 30.4463 28.8392 29.7268 28.8392 28.8391V17.5891L24.8213 13.5713Z"
                        fill="#FFE9E4" />
                    <path d="M24.0178 18.3927V13.5713H24.8214L28.8392 17.5891V18.3927H24.0178Z" fill="#F9F8F6" />
                    <path
                        d="M24.8213 13.5713H16.7856C15.898 13.5713 15.1785 14.2908 15.1785 15.1784V28.8391C15.1785 29.7268 15.898 30.4463 16.7856 30.4463H27.232C28.1197 30.4463 28.8392 29.7268 28.8392 28.8391V17.5891L24.8213 13.5713Z"
                        stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M20.8035 9.55371H12.7678C11.8802 9.55371 11.1606 10.2733 11.1606 11.1609V24.8216"
                        stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M24.0178 13.5713V18.3927H28.8392" stroke="#FF6849" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span class="text-H2 text-headLines flex w-fit py-M">On this page</span>
                <span onclick="toggleArticleNavigation(this)">
                    <svg class="accordion-icon cursor-pointer transition-all duration-500" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M11.4697 8.46967C11.7626 8.17678 12.2374 8.17678 12.5303 8.46967L18.5303 14.4697C18.8232 14.7626 18.8232 15.2374 18.5303 15.5303C18.2374 15.8232 17.7626 15.8232 17.4697 15.5303L12 10.0607L6.53033 15.5303C6.23744 15.8232 5.76256 15.8232 5.46967 15.5303C5.17678 15.2374 5.17678 14.7626 5.46967 14.4697L11.4697 8.46967Z"
                            fill="#FF6849" />
                    </svg>
                </span>
            </div>
            <ul class="list-unstyled gap-S transition-all" style="display:block">
                <li class="text-H2 text-bodyText flex h-[56px] py-SM items-center w-fit article-tab"
                    onclick="toggleActive(event)">
                    <span class="px-M">Tab</span>
                </li>
                <li class="text-Regular text-bodyText flex h-[56px] py-SM items-center w-fit article-tab"
                    onclick="toggleActive(event)">
                    <span class="px-M">Tab</span>
                </li>
                <li class="text-Small text-bodyText flex h-[56px] py-SM items-center w-fit article-tab"
                    onclick="toggleActive(event)">
                    <span class="px-M">Tab</span>
                </li>
                <li class="text-H2 text-bodyText flex h-[56px] py-SM items-center w-fit article-tab"
                    onclick="toggleActive(event)">
                    <span class="px-M">Tab</span>
                </li>
                <li class="text-Regular text-bodyText flex h-[56px] py-SM items-center w-fit article-tab"
                    onclick="toggleActive(event)">
                    <span class="px-M">Tab</span>
                </li>
                <li class="text-H2 text-bodyText flex h-[56px] py-SM items-center w-fit article-tab"
                    onclick="toggleActive(event)">
                    <span class="px-M">Tab</span>
                </li>
            </ul>
        </div>
        <div class="grid xl:gap-XXL max-lg:py-XXL md:gap-[48px] gap-L">
            <div class="hidden lg:flex justify-between">
                <div class="flex flex-col gap-L">
                    <div class="flex gap-M">
                        <span class="text-brand text-Regular">Article</span>
                        <button
                            class="md:h-[32px] h-[24px] w-[77px] py-S px-SM rounded-[6px] bg-[#FF684940] text-onBrand text-Small flex items-center text-center justify-center">Category</button>
                    </div>
                    <h1 class="text-[48px] leading-[52px] font-[700] text-headLines">
                        Article title goes here
                    </h1>
                </div>
                <div class="flex items-end">
                    <div class="flex gap-M h-[48px] max-w-[272px] items-end">
                        <img src="./img/profile/profile3.jpg" class="h-[48px] w-[48px] rounded-full">
                        <div
                            class="flex flex-col justify-between h-full lg:min-w-[208px] md:min-w-[200px] min-w-[180px]">
                            <span class="text-Bold text-headLines">Marvin McKinney</span>
                            <div class="flex justify-between items-end">
                                <span class="text-Small text-bodyText">31 Dec 2023</span>
                                <div class="flex items-center h-full">
                                    <svg width="4" height="5" viewBox="0 0 4 5" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0.22168 3.06641V2.70605C0.22168 2.20215 0.379883 1.78613 0.696289 1.45801C1.01855 1.12988 1.45508 0.96582 2.00586 0.96582C2.5625 0.96582 3.00195 1.12988 3.32422 1.45801C3.64648 1.78613 3.80762 2.20215 3.80762 2.70605V3.06641C3.80762 3.56445 3.64648 3.97754 3.32422 4.30566C3.00781 4.62793 2.57129 4.78906 2.01465 4.78906C1.46387 4.78906 1.02734 4.62793 0.705078 4.30566C0.382812 3.97754 0.22168 3.56445 0.22168 3.06641Z"
                                            fill="#252532" />
                                    </svg>
                                </div>
                                <span class="text-Small text-bodyText">5 min read</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="./img/authors/Heroimage.png" class="border border-borderSecondary rounded-L object-cover h-full w-full">
            <div class="flex flex-col gap-L">
                <p class="text-H4 text-bodyText">
                    <strong>L</strong>orem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium
                    nec elementum enim viverra nunc risus ac facilisis. Lorem ipsum dolor sit amet consectetur. Sit
                    ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.
                </p>
                <hr class="bg-brNeutral">
                <div class="flex flex-col gap-L">
                    <h1 class="text-15 text-headLines">Heading title goes here 1</h1>
                    <div class="grid gap-L">
                        <p class="text-H2 text-bodyText">Lorem ipsum dolor sit amet consectetur. Magna cras eu mi
                            tincidunt eget quis vestibulum. Urna ultrices aenean elementum consequat vestibulum. In quam
                            ultricies lacus rutrum id integer nisl. Est mi nunc urna morbi. Quis semper ultricies eget
                            egestas dignissim non. Morbi accumsan est augue tempor tortor accumsan etiam mattis. Arcu
                            consectetur rutrum mi volutpat.</p>
                        <p class="text-H2 text-bodyText">Nibh vitae mi tristique elit cum. Ultricies tincidunt mi
                            senectus morbi donec amet nunc sed. Feugiat et consectetur aenean lacinia ac rhoncus. Et dui
                            volutpat ullamcorper enim. Porttitor sodales in et condimentum. Tristique fringilla donec
                            massa enim posuere. Volutpat feugiat feugiat nisl eu in lectus. Cras scelerisque nisi quis
                            ante eget ut luctus facilisis euismod. Vel in mauris tellus arcu nunc. Leo platea gravida
                            accumsan lorem scelerisque. Mattis et neque tincidunt nunc et condimentum lacus in eget.
                            Ullamcorper fames interdum turpis quis. Consectetur mattis mus sed mattis mauris.
                            Scelerisque a bibendum volutpat amet magnis. Egestas gravida sed integer porttitor feugiat.
                        </p>
                        <p class="text-H2 text-bodyText">Nibh vitae mi tristique elit cum. Ultricies tincidunt mi
                            senectus morbi donec amet nunc sed. Feugiat et consectetur aenean lacinia ac rhoncus. Et dui
                            volutpat ullamcorper enim. Porttitor sodales in et condimentum. Tristique fringilla donec
                            massa enim posuere. Volutpat feugiat feugiat nisl eu in lectus. Cras scelerisque nisi quis
                            ante eget ut luctus facilisis euismod. Vel in mauris tellus arcu nunc. Leo platea gravida
                            accumsan lorem scelerisque. Mattis et neque tincidunt nunc et condimentum lacus in eget.
                            Ullamcorper fames interdum turpis quis. Consectetur mattis mus sed mattis mauris.
                            Scelerisque a bibendum volutpat amet magnis. Egestas gravida sed integer porttitor feugiat.
                        </p>
                    </div>
                </div>
                <div class="flex flex-col gap-L py-L pr-L pl-XXL border-s-4 border-brand">
                    <p class="text-headLines text-16">“Ultricies tincidunt mi senectus morbi donec amet nunc sed.
                        Feugiat et consectetur aenean lacinia ac rhoncus. Et dui volutpat ullamcorper enim. Porttitor
                        sodales in et condimentum.”</p>
                    <h1 class="text-H2 text-bodyText">Kristin Watson</h1>
                </div>
                <div class="grid md:grid-cols-2 grid-cols-1 gap-L">
                    <div class="flex flex-grow flex-col md:gap-M gap-L">
                        <img src="./img/card/img.jpg" />
                        <h1 class="text-Small font-[800] text-bodyText text-right">Picture caption goes here</h1>
                    </div>
                    <div class="flex flex-grow flex-col md:gap-M gap-L">
                        <img src="./img/card/img3.jpg" />
                        <h1 class="text-Small font-[800] text-bodyText text-right">Picture caption goes here</h1>
                    </div>
                </div>
                <div class="flex flex-col gap-L">
                    <h1 class="text-H3 text-headLines">Heading title goes here 2 </h1>
                    <div class="grid gap-L">
                        <p class="text-H2 text-bodyText">Enim urna eget sagittis nisl nullam magnis hac. Nunc lacus
                            nulla eget egestas auctor nisl et consequat ipsum. Non cursus imperdiet aliquet nisi amet
                            enim. Lacus massa sit convallis purus nulla tristique. Nec odio sed condimentum quam in
                            gravida ac. Nisl vitae sit pulvinar mollis faucibus interdum dui at pellentesque. Leo sapien
                            nibh leo sagittis cras nam felis ornare. Habitant eget ornare turpis. Cras scelerisque nisi
                            quis ante eget ut luctus facilisis euismod. Vel in mauris tellus arcu nunc. Leo platea
                            gravida accumsan lorem scelerisque. Mattis et neque tincidunt nunc et condimentum lacus in
                            eget. Ullamcorper fames interdum turpis quis. Consectetur mattis mus sed mattis mauris.
                            Scelerisque a bibendum volutpat amet magnis. Egestas gravida sed integer porttitor feugiat.
                        </p>
                        <p class="text-H2 text-bodyText">Lorem ipsum dolor sit amet consectetur. Magna cras eu mi
                            tincidunt eget quis vestibulum. Urna ultrices aenean elementum consequat vestibulum. In quam
                            ultricies lacus rutrum id integer nisl. Est mi nunc urna morbi. Quis semper ultricies eget
                            egestas dignissim non. </p>
                        <p class="text-H2 text-bodyText">Morbi accumsan est augue tempor tortor accumsan etiam mattis.
                            Arcu consectetur rutrum mi volutpat. Nibh vitae mi tristique elit cum. Ultricies tincidunt
                            mi senectus morbi donec amet nunc sed. Feugiat et consectetur aenean lacinia ac rhoncus. Et
                            dui volutpat ullamcorper enim. Porttitor sodales in et condimentum. Tristique fringilla
                            donec massa enim posuere. Volutpat feugiat feugiat nisl eu in lectus.</p>
                    </div>
                </div>
                <div class="flex flex-col gap-L">
                    <h1 class="text-H4 text-headLines">Heading title goes here 3</h1>
                    <p class="text-H2 text-bodyText">
                        Lorem ipsum dolor sit amet consectetur. Magna cras eu mi tincidunt eget quis vestibulum. Urna
                        ultrices aenean elementum consequat vestibulum. In quam ultricies lacus rutrum id integer nisl.
                        Est mi nunc urna morbi. Quis semper ultricies eget egestas dignissim non. Morbi accumsan est
                        augue tempor tortor accumsan etiam mattis. Arcu consectetur rutrum mi volutpat. Nibh vitae mi
                        tristique elit cum. Ultricies tincidunt mi senectus morbi donec amet nunc sed. Feugiat et
                        consectetur aenean lacinia ac rhoncus. Et dui volutpat ullamcorper enim. Porttitor sodales in et
                        condimentum. Tristique fringilla donec massa enim posuere. Volutpat feugiat feugiat nisl eu in
                        lectus.
                    </p>
                </div>
                <div class="flex flex-grow flex-col gap-L">
                    <img src="./img/Rectangle.jpg" />
                    <h1 class="text-Small font-[800] text-bodyText text-right">Picture caption goes here</h1>
                </div>
                <div class="flex flex-col gap-L py-L pr-L pl-XXL border-s-4 border-brand">
                    <p class="text-headLines text-16">“Ultricies tincidunt mi senectus morbi donec amet nunc sed.
                        Feugiat et consectetur aenean lacinia ac rhoncus. Et dui volutpat ullamcorper enim. Porttitor
                        sodales in et condimentum.”</p>
                    <h1 class="text-H2 text-bodyText">Kristin Watson</h1>
                </div>
                <div class="flex flex-col gap-L">
                    <h1 class="text-15 text-headLines">Heading title goes here 4</h1>
                    <div class="grid gap-L">
                        <p class="text-H2 text-bodyText">Lorem ipsum dolor sit amet consectetur. Magna cras eu mi
                            tincidunt eget quis vestibulum. Urna ultrices aenean elementum consequat vestibulum. In quam
                            ultricies lacus rutrum id integer nisl. Est mi nunc urna morbi. Quis semper ultricies eget
                            egestas dignissim non. Morbi accumsan est augue tempor tortor accumsan etiam mattis. Arcu
                            consectetur rutrum mi volutpat.</p>
                        <p class="text-H2 text-bodyText">Nibh vitae mi tristique elit cum. Ultricies tincidunt mi
                            senectus morbi donec amet nunc sed. Feugiat et consectetur aenean lacinia ac rhoncus. Et dui
                            volutpat ullamcorper enim. Porttitor sodales in et condimentum. Tristique fringilla donec
                            massa enim posuere. Volutpat feugiat feugiat nisl eu in lectus. Cras scelerisque nisi quis
                            ante eget ut luctus facilisis euismod. Vel in mauris tellus arcu nunc. Leo platea gravida
                            accumsan lorem scelerisque. Mattis et neque tincidunt nunc et condimentum lacus in eget.
                            Ullamcorper fames interdum turpis quis. Consectetur mattis mus sed mattis mauris.
                            Scelerisque a bibendum volutpat amet magnis. Egestas gravida sed integer porttitor feugiat.
                        </p>
                        <p class="text-H2 text-bodyText">Enim urna eget sagittis nisl nullam magnis hac. Nunc lacus
                            nulla eget egestas auctor nisl et consequat ipsum. Non cursus imperdiet aliquet nisi amet
                            enim. Lacus massa sit convallis purus nulla tristique. Nec odio sed condimentum quam in
                            gravida ac. Nisl vitae sit pulvinar mollis faucibus interdum dui at pellentesque. Leo sapien
                            nibh leo sagittis cras nam felis ornare. Habitant eget ornare turpis.</p>
                    </div>
                </div>
                <div class="flex flex-col gap-L py-L pr-L pl-XXL border-s-4 border-brand">
                    <p class="text-headLines text-16">“Ultricies tincidunt mi senectus morbi donec amet nunc sed. Et dui
                        volutpat ullamcorper enim. Porttitor sodales in et condimentum.”</p>
                    <h1 class="text-H2 text-bodyText">Kristin Watson</h1>
                </div>
                <div class="flex flex-col gap-L">
                    <h1 class="text-H3 text-headLines">Heading title goes here 5</h1>
                    <div class="grid gap-L">
                        <p class="text-H2 text-bodyText">Enim urna eget sagittis nisl nullam magnis hac. Nunc lacus
                            nulla eget egestas auctor nisl et consequat ipsum. Non cursus imperdiet aliquet nisi amet
                            enim. Lacus massa sit convallis purus nulla tristique. Nec odio sed condimentum quam in
                            gravida ac. Nisl vitae sit pulvinar mollis faucibus interdum dui at pellentesque. Leo sapien
                            nibh leo sagittis cras nam felis ornare. Habitant eget ornare turpis. Cras scelerisque nisi
                            quis ante eget ut luctus facilisis euismod. Vel in mauris tellus arcu nunc. Leo platea
                            gravida accumsan lorem scelerisque. Mattis et neque tincidunt nunc et condimentum lacus in
                            eget. Ullamcorper fames interdum turpis quis. Consectetur mattis mus sed mattis mauris.
                            Scelerisque a bibendum volutpat amet magnis. Egestas gravida sed integer porttitor feugiat.
                        </p>
                        <p class="text-H2 text-bodyText">Lorem ipsum dolor sit amet consectetur. Magna cras eu mi
                            tincidunt eget quis vestibulum. Urna ultrices aenean elementum consequat vestibulum. In quam
                            ultricies lacus rutrum id integer nisl. Est mi nunc urna morbi. Quis semper ultricies eget
                            egestas dignissim non. </p>
                        <p class="text-H2 text-bodyText">Morbi accumsan est augue tempor tortor accumsan etiam mattis.
                            Arcu consectetur rutrum mi volutpat. Nibh vitae mi tristique elit cum. Ultricies tincidunt
                            mi senectus morbi donec amet nunc sed. Feugiat et consectetur aenean lacinia ac rhoncus. Et
                            dui volutpat ullamcorper enim. Porttitor sodales in et condimentum. Tristique fringilla
                            donec massa enim posuere. Volutpat feugiat feugiat nisl eu in lectus.</p>
                    </div>
                </div>
                <div class="flex flex-col gap-L">
                    <h1 class="text-H4 text-headLines">Heading title goes here 6</h1>
                    <p class="text-H2 text-bodyText">
                        Lorem ipsum dolor sit amet consectetur. Magna cras eu mi tincidunt eget quis vestibulum. Urna
                        ultrices aenean elementum consequat vestibulum. In quam ultricies lacus rutrum id integer nisl.
                        Est mi nunc urna morbi. Quis semper ultricies eget egestas dignissim non. Morbi accumsan est
                        augue tempor tortor accumsan etiam mattis. Arcu consectetur rutrum mi volutpat. Nibh vitae mi
                        tristique elit cum. Ultricies tincidunt mi senectus morbi donec amet nunc sed. Feugiat et
                        consectetur aenean lacinia ac rhoncus. Et dui volutpat ullamcorper enim. Porttitor sodales in et
                        condimentum. Tristique fringilla donec massa enim posuere. Volutpat feugiat feugiat nisl eu in
                        lectus.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr class="bg-[#E7E7E7]" />
    <div class="flex flex-col gap-XL items-end">
        <h1 class="text-Regular text-headLines text-right cursor-pointer share-article w-fit"
            onclick="shareArticle(event)">Share this article:</h1>
        <div class="flex flex-grow gap-M justify-end">
            <svg class="share-article cursor-pointer" width="45" height="45" viewBox="0 0 45 45" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect width="45" height="45" rx="22.5" fill="#FFF6F4" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M15 13.7422C14.1716 13.7422 13.5 14.4138 13.5 15.2422V30.2422C13.5 31.0706 14.1716 31.7422 15 31.7422H30C30.8284 31.7422 31.5 31.0706 31.5 30.2422V15.2422C31.5 14.4138 30.8284 13.7422 30 13.7422H15ZM19.0208 17.7449C19.0264 18.7012 18.3106 19.2904 17.4612 19.2862C16.6611 19.2819 15.9636 18.6449 15.9678 17.7463C15.972 16.9012 16.64 16.2219 17.5076 16.2416C18.3879 16.2613 19.0264 16.9068 19.0208 17.7449ZM22.7797 20.5039H20.2597H20.2583V29.0638H22.9217V28.8641C22.9217 28.4842 22.9214 28.1042 22.9211 27.7241C22.9203 26.7103 22.9194 25.6954 22.9246 24.6819C22.926 24.4358 22.9372 24.1799 23.0005 23.945C23.2381 23.0675 24.0271 22.5008 24.9074 22.6401C25.4727 22.7286 25.8467 23.0563 26.0042 23.5893C26.1013 23.9225 26.1449 24.2811 26.1491 24.6285C26.1605 25.6761 26.1589 26.7237 26.1573 27.7714C26.1567 28.1412 26.1561 28.5112 26.1561 28.881V29.0624H28.828V28.8571C28.828 28.4051 28.8278 27.9532 28.8275 27.5013C28.827 26.3718 28.8264 25.2423 28.8294 24.1124C28.8308 23.6019 28.776 23.0985 28.6508 22.6049C28.4638 21.8708 28.0771 21.2633 27.4485 20.8246C27.0027 20.5124 26.5133 20.3113 25.9663 20.2888C25.904 20.2862 25.8412 20.2828 25.7781 20.2794C25.4984 20.2643 25.2141 20.2489 24.9467 20.3028C24.1817 20.4561 23.5096 20.8063 23.0019 21.4236C22.9429 21.4944 22.8852 21.5663 22.7991 21.6736L22.7797 21.6979V20.5039ZM16.1816 29.0666H18.8324V20.5095H16.1816V29.0666Z"
                    fill="#252532" />
            </svg>
            <svg class="share-article cursor-pointer" width="45" height="45" viewBox="0 0 45 45" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect width="45" height="45" rx="22.5" fill="#FFF6F4" />
                <path
                    d="M32.5 22.8033C32.5 17.2467 28.0229 12.7422 22.5 12.7422C16.9771 12.7422 12.5 17.2467 12.5 22.8033C12.5 27.825 16.1568 31.9874 20.9375 32.7422V25.7116H18.3984V22.8033H20.9375V20.5867C20.9375 18.0651 22.4305 16.6723 24.7146 16.6723C25.8088 16.6723 26.9531 16.8688 26.9531 16.8688V19.3448H25.6922C24.45 19.3448 24.0625 20.1204 24.0625 20.9161V22.8033H26.8359L26.3926 25.7116H24.0625V32.7422C28.8432 31.9874 32.5 27.8252 32.5 22.8033Z"
                    fill="#252532" />
            </svg>
            <svg class="share-article cursor-pointer" width="45" height="45" viewBox="0 0 45 45" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect width="45" height="45" rx="22.5" fill="#FFF6F4" />
                <path
                    d="M32.5 22.8033C32.5 17.2467 28.0229 12.7422 22.5 12.7422C16.9771 12.7422 12.5 17.2467 12.5 22.8033C12.5 27.825 16.1568 31.9874 20.9375 32.7422V25.7116H18.3984V22.8033H20.9375V20.5867C20.9375 18.0651 22.4305 16.6723 24.7146 16.6723C25.8088 16.6723 26.9531 16.8688 26.9531 16.8688V19.3448H25.6922C24.45 19.3448 24.0625 20.1204 24.0625 20.9161V22.8033H26.8359L26.3926 25.7116H24.0625V32.7422C28.8432 31.9874 32.5 27.8252 32.5 22.8033Z"
                    fill="#252532" />
            </svg>
            <svg class="share-article cursor-pointer" width="45" height="45" viewBox="0 0 45 45" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect width="45" height="45" rx="22.5" fill="#FFF6F4" />
                <path
                    d="M32.5 22.8033C32.5 17.2467 28.0229 12.7422 22.5 12.7422C16.9771 12.7422 12.5 17.2467 12.5 22.8033C12.5 27.825 16.1568 31.9874 20.9375 32.7422V25.7116H18.3984V22.8033H20.9375V20.5867C20.9375 18.0651 22.4305 16.6723 24.7146 16.6723C25.8088 16.6723 26.9531 16.8688 26.9531 16.8688V19.3448H25.6922C24.45 19.3448 24.0625 20.1204 24.0625 20.9161V22.8033H26.8359L26.3926 25.7116H24.0625V32.7422C28.8432 31.9874 32.5 27.8252 32.5 22.8033Z"
                    fill="#252532" />
            </svg>
        </div>
    </div>
</div>
<div class="2xl:container md:py-XXL py-[64px] grid grid-cols-1 md:gap-XXL gap-XL mx-auto font-inter">
    @await Html.PartialAsync("Subscribe")
    <section class="md:py-XXXL py-XXL px-L flex flex-col">
        <div class="flex flex-col md:gap-XXL gap-XL">
            <div class="flex items-center justify-between">
                <h2 class="xl:headline2 md:text-15 md:leading-[48px] text-H3 leading-[24px] text-brand">Recent articles
                </h2>
                <span class="">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M2.25 6C2.25 5.58579 2.58579 5.25 3 5.25H21C21.4142 5.25 21.75 5.58579 21.75 6C21.75 6.41421 21.4142 6.75 21 6.75H3C2.58579 6.75 2.25 6.41421 2.25 6ZM5.25 12C5.25 11.5858 5.58579 11.25 6 11.25H18C18.4142 11.25 18.75 11.5858 18.75 12C18.75 12.4142 18.4142 12.75 18 12.75H6C5.58579 12.75 5.25 12.4142 5.25 12ZM9.25 18C9.25 17.5858 9.58579 17.25 10 17.25H14C14.4142 17.25 14.75 17.5858 14.75 18C14.75 18.4142 14.4142 18.75 14 18.75H10C9.58579 18.75 9.25 18.4142 9.25 18Z"
                            fill="#252532" />
                    </svg>
                </span>
            </div>
            <div class="md:block hidden">
                <ul class="flex overflow-x-auto gap-M h-fit tag-list">
                    <li onClick="toggleTag(event)" class="active-tag">All</li>
                    <li onClick="toggleTag(event)" class="inactive-tag">Auth</li>
                    <li onClick="toggleTag(event)" class="inactive-tag">Catching / Offline-First</li>
                    <li onClick="toggleTag(event)" class="inactive-tag">Data Platform</li>
                    <li onClick="toggleTag(event)" class="inactive-tag">DevTools</li>
                    <li onClick="toggleTag(event)" class="inactive-tag">Forreign Data Wrapper</li>
                    <li onClick="toggleTag(event)" class="inactive-tag">Low-Code</li>
                    <li onClick="toggleTag(event)" class="inactive-tag">Messaging</li>
                </ul>
            </div>
            <div class="grid md:gap-L gap-SM md:grid-cols-2 lg:grid-cols-3 grid-cols-1">

                <div class="flex md:flex-col flex-row md:gap-L gap-M blog-card">
                    <div class="">
                        <a href="#">
                            <img class="w-full rounded-S object-cover xl:aspect-[220/139] md:aspect-[194/139] aspect-[116/137]"
                                src="./img/card/img.jpg" alt="">
                        </a>
                    </div>
                    <div class="flex flex-col md:gap-L max-md:justify-between">
                        <button
                            class="md:py-S md:px-SM py-XXS px-S rounded-[6px] bg-[#619DFF5C] text-bravo text-Small text-center w-fit">Category</button>
                        <h1 class="md:text-H3 text-Regular text-headLines blog-heading">Blog title heading</h1>
                        <h5 class="md:text-Regular text-Small text-bodyText md:line-clamp-none line-clamp-2">Lorem ipsum
                            dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim
                            viverra nunc risus ac facilisis.</h5>
                        <a class="" href="about#">
                            @await Html.PartialAsync("Logos/ReadArticleLogo")
                        </a>
                        <div class="md:flex hidden flex-grow gap-M h-[48px] max-w-[272px]">
                            <img src="./img/profile/profile.jpg" class="h-[48px] w-[48px] rounded-full">
                            <div class="flex flex-col justify-between lg:min-w-[208px] min-w-[200px]">
                                <span class="text-Bold text-headLines">Jane Coper</span>
                                <div class="flex justify-between items-end">
                                    <span class="text-Small text-bodyText">31 Dec 2023</span>
                                    <div class="flex items-center h-full">
                                        <svg width="4" height="5" viewBox="0 0 4 5" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M0.22168 3.06641V2.70605C0.22168 2.20215 0.379883 1.78613 0.696289 1.45801C1.01855 1.12988 1.45508 0.96582 2.00586 0.96582C2.5625 0.96582 3.00195 1.12988 3.32422 1.45801C3.64648 1.78613 3.80762 2.20215 3.80762 2.70605V3.06641C3.80762 3.56445 3.64648 3.97754 3.32422 4.30566C3.00781 4.62793 2.57129 4.78906 2.01465 4.78906C1.46387 4.78906 1.02734 4.62793 0.705078 4.30566C0.382812 3.97754 0.22168 3.56445 0.22168 3.06641Z"
                                                fill="#252532" />
                                        </svg>
                                    </div>
                                    <span class="text-Small text-bodyText">5 min read</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    class="flex md:flex-col flex-row md:gap-L gap-M blog-card lg:px-SM lg:mx-[-12px] lg:border-x md:border-neutralSecondary">
                    <div class="">
                        <a href="#">
                            <img class="w-full rounded-S object-cover xl:aspect-[220/139] md:aspect-[194/139] aspect-[116/137]"
                                src="./img/card/img1.jpg" alt="">
                        </a>
                    </div>
                    <div class="flex flex-col md:gap-L max-md:justify-between">
                        <button
                            class="md:py-S md:px-SM py-XXS px-S rounded-[6px] bg-[#619DFF5C] text-bravo text-Small text-center w-fit">Category</button>
                        <h1 class="md:text-H3 text-Regular text-headLines blog-heading">Blog title heading </h1>
                        <h5 class="md:text-Regular text-Small text-bodyText md:line-clamp-none line-clamp-2">Lorem ipsum
                            dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim
                            viverra nunc risus ac facilisis.</h5>
                        <a class="" href="about#">
                            @await Html.PartialAsync("Logos/ReadArticleLogo")
                        </a>
                        <div class="md:flex hidden flex-grow gap-M h-[48px] max-w-[272px]">
                            <img src="./img/profile/profile1.jpg" class="h-[48px] w-[48px] rounded-full">
                            <div class="flex flex-col justify-between lg:min-w-[208px] min-w-[200px]">
                                <span class="text-Bold text-headLines">Guy Hawkins</span>
                                <div class="flex justify-between items-end">
                                    <span class="text-Small text-bodyText">31 Dec 2023</span>
                                    <div class="flex items-center h-full">
                                        <svg width="4" height="5" viewBox="0 0 4 5" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M0.22168 3.06641V2.70605C0.22168 2.20215 0.379883 1.78613 0.696289 1.45801C1.01855 1.12988 1.45508 0.96582 2.00586 0.96582C2.5625 0.96582 3.00195 1.12988 3.32422 1.45801C3.64648 1.78613 3.80762 2.20215 3.80762 2.70605V3.06641C3.80762 3.56445 3.64648 3.97754 3.32422 4.30566C3.00781 4.62793 2.57129 4.78906 2.01465 4.78906C1.46387 4.78906 1.02734 4.62793 0.705078 4.30566C0.382812 3.97754 0.22168 3.56445 0.22168 3.06641Z"
                                                fill="#252532" />
                                        </svg>
                                    </div>
                                    <span class="text-Small text-bodyText">5 min read</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex md:flex-col flex-row md:gap-L gap-M blog-card">
                    <div class="">
                        <a href="#">
                            <img class="w-full rounded-S object-cover xl:aspect-[220/139] md:aspect-[194/139] aspect-[116/137]"
                                src="./img/card/img2.jpg" alt="">
                        </a>
                    </div>
                    <div class="flex flex-col md:gap-L max-md:justify-between">
                        <button
                            class="md:py-S md:px-SM py-XXS px-S rounded-[6px] bg-[#FF684940] text-onBrand text-Small text-center w-fit">Category</button>
                        <h1 class="md:text-H3 text-Regular text-headLines blog-heading">Blog title heading </h1>
                        <h5 class="md:text-Regular text-Small text-bodyText md:line-clamp-none line-clamp-2">Lorem ipsum
                            dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim
                            viverra nunc risus ac facilisis.</h5>
                        <a class="" href="about#">
                            @await Html.PartialAsync("Logos/ReadArticleLogo")
                        </a>
                        <div class="md:flex hidden flex-grow gap-M h-[48px] max-w-[272px]">
                            <img src="./img/profile/profile2.jpg" class="h-[48px] w-[48px] rounded-full">
                            <div class="flex flex-col justify-between lg:min-w-[208px] min-w-[200px]">
                                <span class="text-Bold text-headLines">Jenny Wilson</span>
                                <div class="flex justify-between items-end">
                                    <span class="text-Small text-bodyText">31 Dec 2023</span>
                                    <div class="flex items-center h-full">
                                        <svg width="4" height="5" viewBox="0 0 4 5" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M0.22168 3.06641V2.70605C0.22168 2.20215 0.379883 1.78613 0.696289 1.45801C1.01855 1.12988 1.45508 0.96582 2.00586 0.96582C2.5625 0.96582 3.00195 1.12988 3.32422 1.45801C3.64648 1.78613 3.80762 2.20215 3.80762 2.70605V3.06641C3.80762 3.56445 3.64648 3.97754 3.32422 4.30566C3.00781 4.62793 2.57129 4.78906 2.01465 4.78906C1.46387 4.78906 1.02734 4.62793 0.705078 4.30566C0.382812 3.97754 0.22168 3.56445 0.22168 3.06641Z"
                                                fill="#252532" />
                                        </svg>
                                    </div>
                                    <span class="text-Small text-bodyText">5 min read</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex md:flex-col flex-row md:gap-L gap-M blog-card">
                    <div class="">
                        <a href="#">
                            <img class="w-full rounded-S object-cover xl:aspect-[220/139] md:aspect-[194/139] aspect-[116/137]"
                                src="./img/card/img3.jpg" alt="">
                        </a>
                    </div>
                    <div class="flex flex-col md:gap-L max-md:justify-between">
                        <button
                            class="md:py-S md:px-SM py-XXS px-S rounded-[6px] bg-[#619DFF5C] text-bravo text-Small text-center w-fit">Category</button>
                        <h1 class="md:text-H3 text-Regular text-headLines blog-heading">Blog title heading </h1>
                        <h5 class="md:text-Regular text-Small text-bodyText md:line-clamp-none line-clamp-2">Lorem ipsum
                            dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim
                            viverra nunc risus ac facilisis.</h5>
                        <a class="" href="about#">
                            @await Html.PartialAsync("Logos/ReadArticleLogo")
                        </a>
                        <div class="md:flex hidden flex-grow gap-M h-[48px] max-w-[272px]">
                            <img src="./img/profile/profile3.jpg" class="h-[48px] w-[48px] rounded-full">
                            <div class="flex flex-col justify-between lg:min-w-[208px] min-w-[200px]">
                                <span class="text-Bold text-headLines">Robert Fox</span>
                                <div class="flex justify-between items-end">
                                    <span class="text-Small text-bodyText">31 Dec 2023</span>
                                    <div class="flex items-center h-full">
                                        <svg width="4" height="5" viewBox="0 0 4 5" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M0.22168 3.06641V2.70605C0.22168 2.20215 0.379883 1.78613 0.696289 1.45801C1.01855 1.12988 1.45508 0.96582 2.00586 0.96582C2.5625 0.96582 3.00195 1.12988 3.32422 1.45801C3.64648 1.78613 3.80762 2.20215 3.80762 2.70605V3.06641C3.80762 3.56445 3.64648 3.97754 3.32422 4.30566C3.00781 4.62793 2.57129 4.78906 2.01465 4.78906C1.46387 4.78906 1.02734 4.62793 0.705078 4.30566C0.382812 3.97754 0.22168 3.56445 0.22168 3.06641Z"
                                                fill="#252532" />
                                        </svg>
                                    </div>
                                    <span class="text-Small text-bodyText">5 min read</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    class="flex md:flex-col flex-row md:gap-L gap-M blog-card lg:px-SM lg:mx-[-12px] lg:border-x md:border-neutralSecondary">
                    <div class="">
                        <a href="#">
                            <img class="w-full rounded-S object-cover xl:aspect-[220/139] md:aspect-[194/139] aspect-[116/137]"
                                src="./img/card/img4.jpg" alt="">
                        </a>
                    </div>
                    <div class="flex flex-col md:gap-L max-md:justify-between">
                        <button
                            class="md:py-S md:px-SM py-XXS px-S rounded-[6px] bg-[#619DFF5C] text-bravo text-Small text-center w-fit">Category</button>
                        <h1 class="md:text-H3 text-Regular text-headLines blog-heading">Blog title heading </h1>
                        <h5 class="md:text-Regular text-Small text-bodyText md:line-clamp-none line-clamp-2">Lorem ipsum
                            dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim
                            viverra nunc risus ac facilisis.</h5>
                        <a class="" href="about#">
                            @await Html.PartialAsync("Logos/ReadArticleLogo")
                        </a>
                        <div class="md:flex hidden flex-grow gap-M h-[48px] max-w-[272px]">
                            <img src="./img/profile/profile4.jpg" class="h-[48px] w-[48px] rounded-full">
                            <div class="flex flex-col justify-between lg:min-w-[208px] min-w-[200px]">
                                <span class="text-Bold text-headLines">Darlene Robertson</span>
                                <div class="flex justify-between items-end">
                                    <span class="text-Small text-bodyText">31 Dec 2023</span>
                                    <div class="flex items-center h-full">
                                        <svg width="4" height="5" viewBox="0 0 4 5" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M0.22168 3.06641V2.70605C0.22168 2.20215 0.379883 1.78613 0.696289 1.45801C1.01855 1.12988 1.45508 0.96582 2.00586 0.96582C2.5625 0.96582 3.00195 1.12988 3.32422 1.45801C3.64648 1.78613 3.80762 2.20215 3.80762 2.70605V3.06641C3.80762 3.56445 3.64648 3.97754 3.32422 4.30566C3.00781 4.62793 2.57129 4.78906 2.01465 4.78906C1.46387 4.78906 1.02734 4.62793 0.705078 4.30566C0.382812 3.97754 0.22168 3.56445 0.22168 3.06641Z"
                                                fill="#252532" />
                                        </svg>
                                    </div>
                                    <span class="text-Small text-bodyText">5 min read</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex md:flex-col flex-row md:gap-L gap-M blog-card">
                    <div class="">
                        <a href="#">
                            <img class="w-full rounded-S object-cover xl:aspect-[220/139] md:aspect-[194/139] aspect-[116/137]"
                                src="./img/card/img5.jpg" alt="">
                        </a>
                    </div>
                    <div class="flex flex-col md:gap-L max-md:justify-between">
                        <button
                            class="md:py-S md:px-SM py-XXS px-S rounded-[6px] bg-[#A4CD805C] text-success text-Small text-center w-fit">Category</button>
                        <h1 class="md:text-H3 text-Regular text-headLines blog-heading">Blog title heading </h1>
                        <h5 class="md:text-Regular text-Small text-bodyText md:line-clamp-none line-clamp-2">Lorem ipsum
                            dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim
                            viverra nunc risus ac facilisis.</h5>
                        <a class="" href="about#">
                            @await Html.PartialAsync("Logos/ReadArticleLogo")
                        </a>
                        <div class="md:flex hidden flex-grow gap-M h-[48px] max-w-[272px]">
                            <img src="./img/profile/profile5.jpg" class="h-[48px] w-[48px] rounded-full">
                            <div class="flex flex-col justify-between lg:min-w-[208px] min-w-[200px]">
                                <span class="text-Bold text-headLines">Albert Flores</span>
                                <div class="flex justify-between items-end">
                                    <span class="text-Small text-bodyText">31 Dec 2023</span>
                                    <div class="flex items-center h-full">
                                        <svg width="4" height="5" viewBox="0 0 4 5" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M0.22168 3.06641V2.70605C0.22168 2.20215 0.379883 1.78613 0.696289 1.45801C1.01855 1.12988 1.45508 0.96582 2.00586 0.96582C2.5625 0.96582 3.00195 1.12988 3.32422 1.45801C3.64648 1.78613 3.80762 2.20215 3.80762 2.70605V3.06641C3.80762 3.56445 3.64648 3.97754 3.32422 4.30566C3.00781 4.62793 2.57129 4.78906 2.01465 4.78906C1.46387 4.78906 1.02734 4.62793 0.705078 4.30566C0.382812 3.97754 0.22168 3.56445 0.22168 3.06641Z"
                                                fill="#252532" />
                                        </svg>
                                    </div>
                                    <span class="text-Small text-bodyText">5 min read</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="h-[60px] flex items-end justify-end border-t border-neutralSecondary">
                <div class="flex items-center gap-[10px] show-more cursor-pointer" onClick="showMore(event)">
                    <h1 class="text-Regular text-headLines">
                        Show more
                    </h1>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="#252532" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M3.64645 5.64645C3.84171 5.45118 4.15829 5.45118 4.35355 5.64645L8 9.29289L11.6464 5.64645C11.8417 5.45118 12.1583 5.45118 12.3536 5.64645C12.5488 5.84171 12.5488 6.15829 12.3536 6.35355L8.35355 10.3536C8.15829 10.5488 7.84171 10.5488 7.64645 10.3536L3.64645 6.35355C3.45118 6.15829 3.45118 5.84171 3.64645 5.64645Z" />
                    </svg>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    function toggleActive(event) {
        event.currentTarget.classList.toggle('active-article-tab');
    }
    function toggleArticleNavigation(accordion) {
        var content = accordion.parentNode.nextElementSibling;
        var parentAccordian = document.getElementById('parent-accordian');
        if (content.style.display === "none" || content.style.display === "") {
            content.style.display = "block";
            accordion.querySelector('.accordion-icon').classList.remove('rotate-180');
            parentAccordian.classList.add('article-accordion-open');
            parentAccordian.classList.remove('article-accordion-closed');
        } else {
            content.style.display = "none";
            accordion.querySelector('.accordion-icon').classList.add('rotate-180');
            parentAccordian.classList.remove('article-accordion-open');
            parentAccordian.classList.add('article-accordion-closed');
        }
    }
    function showMore(event) {
        event.currentTarget.classList.toggle('show-more-focused')
        event.currentTarget.classList.toggle('show-more')
        event.currentTarget.children[1].classList.toggle('rotate-180')
    }
    function shareArticle(event) {
        event.currentTarget.classList.toggle('share-article-focused')
        event.currentTarget.classList.toggle('share-article')
    }
</script>