@page "/Blog"
@attribute [RenderStatic]
@inject MarkdownBlog Blog
@{
    ViewData["Title"] = "Unilake.Www Blog";
}

<div class="mx-auto bg-white">
    @await Html.PartialAsync("Subscribe")
    <section class="lg:max-w-8xl md:max-w-[800px] w-full px-L mx-auto md:py-XXXL py-XXL flex flex-col gap-M">
        <h1 class="xl:text-headline2 md:text-15 md:leading-[48px] text-headline3 text-brand">Blog</h1>
        <h3 class="xl:text-H3 md:text-large text-headLines">Describe what your blog is about</h3>
        <p class="md:block hidden text-Regular text-bodyText">Lorem ipsum dolor sit amet consectetur. Augue aliquam lacus enim luctus consectetur amet blandit. Eu eleifend ipsum quam quam nunc ligula at. </p>
        <div class="md:hidden block">
                 <ul class="flex overflow-x-auto gap-M h-fit tag-list">
                   <li onClick="toggleTag(event)" class="active-tag">All</li>
                   <li onClick="toggleTag(event)" class="inactive-tag">Auth</li>
                   <li onClick="toggleTag(event)" class="inactive-tag">Catching / Offline-First</li>
                   <li onClick="toggleTag(event)" class="inactive-tag">Data Platform</li>
                   <li onClick="toggleTag(event)" class="inactive-tag">DevTools</li>
                   <li onClick="toggleTag(event)" class="inactive-tag">Forreign Data Wrapper</li>
                   <li onClick="toggleTag(event)" class="inactive-tag">Low-Code</li>
                   <li onClick="toggleTag(event)" class="inactive-tag">Messaging</li>
                 </ul>
            </div>
    </section>

    <section class="lg:max-w-8xl md:max-w-[800px] w-full px-L mx-auto md:py-XXXL py-XXL flex flex-col">
        <div class="flex flex-col md:gap-XXL gap-XL">
            <div class="flex items-center justify-between">
                <h2 class="xl:headline2 md:text-15 md:leading-[48px] text-H3 leading-[24px] text-brand">Recent articles</h2>
                <span class="">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.25 6C2.25 5.58579 2.58579 5.25 3 5.25H21C21.4142 5.25 21.75 5.58579 21.75 6C21.75 6.41421 21.4142 6.75 21 6.75H3C2.58579 6.75 2.25 6.41421 2.25 6ZM5.25 12C5.25 11.5858 5.58579 11.25 6 11.25H18C18.4142 11.25 18.75 11.5858 18.75 12C18.75 12.4142 18.4142 12.75 18 12.75H6C5.58579 12.75 5.25 12.4142 5.25 12ZM9.25 18C9.25 17.5858 9.58579 17.25 10 17.25H14C14.4142 17.25 14.75 17.5858 14.75 18C14.75 18.4142 14.4142 18.75 14 18.75H10C9.58579 18.75 9.25 18.4142 9.25 18Z" fill="#252532" />
                    </svg>
                </span>
            </div>
            <div class="md:block hidden">
                 <ul class="flex overflow-x-auto gap-M h-fit tag-list">
                   <li onClick="toggleTag(event)" class="active-tag">All</li>
                   <li onClick="toggleTag(event)" class="inactive-tag">Auth</li>
                   <li onClick="toggleTag(event)" class="inactive-tag">Catching / Offline-First</li>
                   <li onClick="toggleTag(event)" class="inactive-tag">Data Platform</li>
                   <li onClick="toggleTag(event)" class="inactive-tag">DevTools</li>
                   <li onClick="toggleTag(event)" class="inactive-tag">Forreign Data Wrapper</li>
                   <li onClick="toggleTag(event)" class="inactive-tag">Low-Code</li>
                   <li onClick="toggleTag(event)" class="inactive-tag">Messaging</li>
                 </ul>
            </div>
            <div class="grid md:gap-L gap-SM md:grid-cols-2 lg:grid-cols-3 grid-cols-1">

                <div class="flex md:flex-col flex-row md:gap-L gap-M blog-card">
                    <div class="">
                        <a href="#">
                            <img class="w-full rounded-S object-cover xl:aspect-[220/139] md:aspect-[194/139] aspect-[116/137]" src="./img/card/img.jpg" alt="">
                        </a>
                    </div>
                    <div class="flex flex-col md:gap-L max-md:justify-between">
                        <button class="md:py-S md:px-SM py-XXS px-S rounded-[6px] bg-[#619DFF5C] text-bravo text-Small text-center w-fit">Category</button>
                        <h1 class="md:text-H3 text-Regular text-headLines blog-heading">Blog title heading</h1>
                        <h5 class="md:text-Regular text-Small text-bodyText md:line-clamp-none line-clamp-2">Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.</h5>
                        <a class="" href="about#">
                            @await Html.PartialAsync("Logos/ReadArticleLogo")
                        </a>
                        <div class="md:flex hidden flex-grow gap-M h-[48px] max-w-[272px]">
                            <img src="./img/profile/profile.jpg" class="h-[48px] w-[48px] rounded-full">
                            <div class="flex flex-col justify-between lg:min-w-[208px] min-w-[200px]">
                                <span class="text-Bold text-headLines">Jane Coper</span>
                                <div class="flex justify-between items-end">
                                    <span class="text-Small text-bodyText">31 Dec 2023</span>
                                    <div class="flex items-center h-full">
                                        <svg width="4" height="5" viewBox="0 0 4 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.22168 3.06641V2.70605C0.22168 2.20215 0.379883 1.78613 0.696289 1.45801C1.01855 1.12988 1.45508 0.96582 2.00586 0.96582C2.5625 0.96582 3.00195 1.12988 3.32422 1.45801C3.64648 1.78613 3.80762 2.20215 3.80762 2.70605V3.06641C3.80762 3.56445 3.64648 3.97754 3.32422 4.30566C3.00781 4.62793 2.57129 4.78906 2.01465 4.78906C1.46387 4.78906 1.02734 4.62793 0.705078 4.30566C0.382812 3.97754 0.22168 3.56445 0.22168 3.06641Z" fill="#252532" />
                                        </svg>
                                    </div>
                                    <span class="text-Small text-bodyText">5 min read</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex md:flex-col flex-row md:gap-L gap-M blog-card lg:px-SM lg:mx-[-12px] lg:border-x md:border-brNeutral">
                    <div class="">
                        <a href="#">
                            <img class="w-full rounded-S object-cover xl:aspect-[220/139] md:aspect-[194/139] aspect-[116/137]" src="./img/card/img1.jpg" alt="">
                        </a>
                    </div>
                    <div class="flex flex-col md:gap-L max-md:justify-between">
                        <button class="md:py-S md:px-SM py-XXS px-S rounded-[6px] bg-[#619DFF5C] text-bravo text-Small text-center w-fit">Category</button>
                        <h1 class="md:text-H3 text-Regular text-headLines blog-heading">Blog title heading </h1>
                        <h5 class="md:text-Regular text-Small text-bodyText md:line-clamp-none line-clamp-2">Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.</h5>
                        <a class="" href="about#">
                            @await Html.PartialAsync("Logos/ReadArticleLogo")
                        </a>
                        <div class="md:flex hidden flex-grow gap-M h-[48px] max-w-[272px]">
                            <img src="./img/profile/profile1.jpg" class="h-[48px] w-[48px] rounded-full">
                            <div class="flex flex-col justify-between lg:min-w-[208px] min-w-[200px]">
                                <span class="text-Bold text-headLines">Guy Hawkins</span>
                                <div class="flex justify-between items-end">
                                    <span class="text-Small text-bodyText">31 Dec 2023</span>
                                    <div class="flex items-center h-full">
                                        <svg width="4" height="5" viewBox="0 0 4 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.22168 3.06641V2.70605C0.22168 2.20215 0.379883 1.78613 0.696289 1.45801C1.01855 1.12988 1.45508 0.96582 2.00586 0.96582C2.5625 0.96582 3.00195 1.12988 3.32422 1.45801C3.64648 1.78613 3.80762 2.20215 3.80762 2.70605V3.06641C3.80762 3.56445 3.64648 3.97754 3.32422 4.30566C3.00781 4.62793 2.57129 4.78906 2.01465 4.78906C1.46387 4.78906 1.02734 4.62793 0.705078 4.30566C0.382812 3.97754 0.22168 3.56445 0.22168 3.06641Z" fill="#252532" />
                                        </svg>
                                    </div>
                                    <span class="text-Small text-bodyText">5 min read</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex md:flex-col flex-row md:gap-L gap-M blog-card">
                    <div class="">
                        <a href="#">
                            <img class="w-full rounded-S object-cover xl:aspect-[220/139] md:aspect-[194/139] aspect-[116/137]" src="./img/card/img2.jpg" alt="">
                        </a>
                    </div>
                    <div class="flex flex-col md:gap-L max-md:justify-between">
                        <button class="md:py-S md:px-SM py-XXS px-S rounded-[6px] bg-[#FF684940] text-onBrand text-Small text-center w-fit">Category</button>
                        <h1 class="md:text-H3 text-Regular text-headLines blog-heading">Blog title heading </h1>
                        <h5 class="md:text-Regular text-Small text-bodyText md:line-clamp-none line-clamp-2">Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.</h5>
                        <a class="" href="about#">
                            @await Html.PartialAsync("Logos/ReadArticleLogo")
                        </a>
                        <div class="md:flex hidden flex-grow gap-M h-[48px] max-w-[272px]">
                            <img src="./img/profile/profile2.jpg" class="h-[48px] w-[48px] rounded-full">
                            <div class="flex flex-col justify-between lg:min-w-[208px] min-w-[200px]">
                                <span class="text-Bold text-headLines">Jenny Wilson</span>
                                <div class="flex justify-between items-end">
                                    <span class="text-Small text-bodyText">31 Dec 2023</span>
                                    <div class="flex items-center h-full">
                                        <svg width="4" height="5" viewBox="0 0 4 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.22168 3.06641V2.70605C0.22168 2.20215 0.379883 1.78613 0.696289 1.45801C1.01855 1.12988 1.45508 0.96582 2.00586 0.96582C2.5625 0.96582 3.00195 1.12988 3.32422 1.45801C3.64648 1.78613 3.80762 2.20215 3.80762 2.70605V3.06641C3.80762 3.56445 3.64648 3.97754 3.32422 4.30566C3.00781 4.62793 2.57129 4.78906 2.01465 4.78906C1.46387 4.78906 1.02734 4.62793 0.705078 4.30566C0.382812 3.97754 0.22168 3.56445 0.22168 3.06641Z" fill="#252532" />
                                        </svg>
                                    </div>
                                    <span class="text-Small text-bodyText">5 min read</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex md:flex-col flex-row md:gap-L gap-M blog-card">
                    <div class="">
                        <a href="#">
                            <img class="w-full rounded-S object-cover xl:aspect-[220/139] md:aspect-[194/139] aspect-[116/137]" src="./img/card/img3.jpg" alt="">
                        </a>
                    </div>
                    <div class="flex flex-col md:gap-L max-md:justify-between">
                        <button class="md:py-S md:px-SM py-XXS px-S rounded-[6px] bg-[#619DFF5C] text-bravo text-Small text-center w-fit">Category</button>
                        <h1 class="md:text-H3 text-Regular text-headLines blog-heading">Blog title heading </h1>
                        <h5 class="md:text-Regular text-Small text-bodyText md:line-clamp-none line-clamp-2">Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.</h5>
                        <a class="" href="about#">
                            @await Html.PartialAsync("Logos/ReadArticleLogo")
                        </a>
                        <div class="md:flex hidden flex-grow gap-M h-[48px] max-w-[272px]">
                            <img src="./img/profile/profile3.jpg" class="h-[48px] w-[48px] rounded-full">
                            <div class="flex flex-col justify-between lg:min-w-[208px] min-w-[200px]">
                                <span class="text-Bold text-headLines">Robert Fox</span>
                                <div class="flex justify-between items-end">
                                    <span class="text-Small text-bodyText">31 Dec 2023</span>
                                    <div class="flex items-center h-full">
                                        <svg width="4" height="5" viewBox="0 0 4 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.22168 3.06641V2.70605C0.22168 2.20215 0.379883 1.78613 0.696289 1.45801C1.01855 1.12988 1.45508 0.96582 2.00586 0.96582C2.5625 0.96582 3.00195 1.12988 3.32422 1.45801C3.64648 1.78613 3.80762 2.20215 3.80762 2.70605V3.06641C3.80762 3.56445 3.64648 3.97754 3.32422 4.30566C3.00781 4.62793 2.57129 4.78906 2.01465 4.78906C1.46387 4.78906 1.02734 4.62793 0.705078 4.30566C0.382812 3.97754 0.22168 3.56445 0.22168 3.06641Z" fill="#252532" />
                                        </svg>
                                    </div>
                                    <span class="text-Small text-bodyText">5 min read</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex md:flex-col flex-row md:gap-L gap-M blog-card lg:px-SM lg:mx-[-12px] lg:border-x md:border-brNeutral">
                    <div class="">
                        <a href="#">
                            <img class="w-full rounded-S object-cover xl:aspect-[220/139] md:aspect-[194/139] aspect-[116/137]" src="./img/card/img4.jpg" alt="">
                        </a>
                    </div>
                    <div class="flex flex-col md:gap-L max-md:justify-between">
                        <button class="md:py-S md:px-SM py-XXS px-S rounded-[6px] bg-[#619DFF5C] text-bravo text-Small text-center w-fit">Category</button>
                        <h1 class="md:text-H3 text-Regular text-headLines blog-heading">Blog title heading </h1>
                        <h5 class="md:text-Regular text-Small text-bodyText md:line-clamp-none line-clamp-2">Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.</h5>
                        <a class="" href="about#">
                            @await Html.PartialAsync("Logos/ReadArticleLogo")
                        </a>
                        <div class="md:flex hidden flex-grow gap-M h-[48px] max-w-[272px]">
                            <img src="./img/profile/profile4.jpg" class="h-[48px] w-[48px] rounded-full">
                            <div class="flex flex-col justify-between lg:min-w-[208px] min-w-[200px]">
                                <span class="text-Bold text-headLines">Darlene Robertson</span>
                                <div class="flex justify-between items-end">
                                    <span class="text-Small text-bodyText">31 Dec 2023</span>
                                    <div class="flex items-center h-full">
                                        <svg width="4" height="5" viewBox="0 0 4 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.22168 3.06641V2.70605C0.22168 2.20215 0.379883 1.78613 0.696289 1.45801C1.01855 1.12988 1.45508 0.96582 2.00586 0.96582C2.5625 0.96582 3.00195 1.12988 3.32422 1.45801C3.64648 1.78613 3.80762 2.20215 3.80762 2.70605V3.06641C3.80762 3.56445 3.64648 3.97754 3.32422 4.30566C3.00781 4.62793 2.57129 4.78906 2.01465 4.78906C1.46387 4.78906 1.02734 4.62793 0.705078 4.30566C0.382812 3.97754 0.22168 3.56445 0.22168 3.06641Z" fill="#252532" />
                                        </svg>
                                    </div>
                                    <span class="text-Small text-bodyText">5 min read</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex md:flex-col flex-row md:gap-L gap-M blog-card">
                    <div class="">
                        <a href="#">
                            <img class="w-full rounded-S object-cover xl:aspect-[220/139] md:aspect-[194/139] aspect-[116/137]" src="./img/card/img5.jpg" alt="">
                        </a>
                    </div>
                    <div class="flex flex-col md:gap-L max-md:justify-between">
                        <button class="md:py-S md:px-SM py-XXS px-S rounded-[6px] bg-[#A4CD805C] text-success text-Small text-center w-fit">Category</button>
                        <h1 class="md:text-H3 text-Regular text-headLines blog-heading">Blog title heading </h1>
                        <h5 class="md:text-Regular text-Small text-bodyText md:line-clamp-none line-clamp-2">Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.</h5>
                        <a class="" href="about#">
                            @await Html.PartialAsync("Logos/ReadArticleLogo")
                        </a>
                        <div class="md:flex hidden flex-grow gap-M h-[48px] max-w-[272px]">
                            <img src="./img/profile/profile5.jpg" class="h-[48px] w-[48px] rounded-full">
                            <div class="flex flex-col justify-between lg:min-w-[208px] min-w-[200px]">
                                <span class="text-Bold text-headLines">Albert Flores</span>
                                <div class="flex justify-between items-end">
                                    <span class="text-Small text-bodyText">31 Dec 2023</span>
                                    <div class="flex items-center h-full">
                                        <svg width="4" height="5" viewBox="0 0 4 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.22168 3.06641V2.70605C0.22168 2.20215 0.379883 1.78613 0.696289 1.45801C1.01855 1.12988 1.45508 0.96582 2.00586 0.96582C2.5625 0.96582 3.00195 1.12988 3.32422 1.45801C3.64648 1.78613 3.80762 2.20215 3.80762 2.70605V3.06641C3.80762 3.56445 3.64648 3.97754 3.32422 4.30566C3.00781 4.62793 2.57129 4.78906 2.01465 4.78906C1.46387 4.78906 1.02734 4.62793 0.705078 4.30566C0.382812 3.97754 0.22168 3.56445 0.22168 3.06641Z" fill="#252532" />
                                        </svg>
                                    </div>
                                    <span class="text-Small text-bodyText">5 min read</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="h-[60px] flex items-end justify-end border-t border-brNeutral">
                <div class="flex items-center gap-[10px] show-more cursor-pointer"  onClick="showMore(event)">
                    <h1 class="text-Regular text-headLines">
                        Show more
                    </h1>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="#252532" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.64645 5.64645C3.84171 5.45118 4.15829 5.45118 4.35355 5.64645L8 9.29289L11.6464 5.64645C11.8417 5.45118 12.1583 5.45118 12.3536 5.64645C12.5488 5.84171 12.5488 6.15829 12.3536 6.35355L8.35355 10.3536C8.15829 10.5488 7.84171 10.5488 7.64645 10.3536L3.64645 6.35355C3.45118 6.15829 3.45118 5.84171 3.64645 5.64645Z" />
                    </svg>
                </div>
            </div>
        </div>
    </section>
    
    <section class="bg-backgroundSecondary border-b border-brNeutral blog-slider">
        <div class="lg:max-w-8xl md:max-w-[800px] w-full mx-auto xl:py-XXXL py-XXL gap-XL flex flex-col">
            <span class="text-brand lg:text-[40px] lg:leading-[44px] lg:font-[700] text-H3 leading-[40px] px-L">Featured articles</span>
            @await Html.PartialAsync("BlogSlider")
        </div>
    </section>

    <section class="lg:max-w-8xl md:max-w-[800px] w-full px-L mx-auto md:py-XXXL py-XXL flex flex-col">
        <div class="flex flex-col md:gap-XXL gap-XL">
            <div class="flex items-center justify-between">
                <h1 class="xl:headline2 md:text-15 md:leading-[48px] text-H3 leading-[24px] text-brand md:block hidden">Most popular articles</h1>
                <h1 class="xl:headline2 md:text-15 md:leading-[48px] text-H3 leading-[24px] text-brand md:hidden block" >Most popular</h1>
                <span class="">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.25 6C2.25 5.58579 2.58579 5.25 3 5.25H21C21.4142 5.25 21.75 5.58579 21.75 6C21.75 6.41421 21.4142 6.75 21 6.75H3C2.58579 6.75 2.25 6.41421 2.25 6ZM5.25 12C5.25 11.5858 5.58579 11.25 6 11.25H18C18.4142 11.25 18.75 11.5858 18.75 12C18.75 12.4142 18.4142 12.75 18 12.75H6C5.58579 12.75 5.25 12.4142 5.25 12ZM9.25 18C9.25 17.5858 9.58579 17.25 10 17.25H14C14.4142 17.25 14.75 17.5858 14.75 18C14.75 18.4142 14.4142 18.75 14 18.75H10C9.58579 18.75 9.25 18.4142 9.25 18Z" fill="#252532" />
                    </svg>
                </span>
            </div>
            <div class="md:block hidden">
                <ul class="flex overflow-x-auto gap-M h-fit tag-list">
                    <li onClick="toggleTag(event)" class="active-tag">All</li>
                    <li onClick="toggleTag(event)" class="inactive-tag">Auth</li>
                    <li onClick="toggleTag(event)" class="inactive-tag">Catching / Offline-First</li>
                    <li onClick="toggleTag(event)" class="inactive-tag">Data Platform</li>
                    <li onClick="toggleTag(event)" class="inactive-tag">DevTools</li>
                    <li onClick="toggleTag(event)" class="inactive-tag">Forreign Data Wrapper</li>
                    <li onClick="toggleTag(event)" class="inactive-tag">Low-Code</li>
                    <li onClick="toggleTag(event)" class="inactive-tag">Messaging</li>
                </ul>
            </div>

            <div class="grid md:gap-L gap-SM md:grid-cols-2 lg:grid-cols-3 grid-cols-1">

                <div class="flex md:flex-col flex-row md:gap-L gap-M blog-card">
                    <div class="">
                        <a href="#">
                            <img class="w-full rounded-S object-cover xl:aspect-[220/139] md:aspect-[194/139] aspect-[116/137]" src="./img/card/img.jpg" alt="">
                        </a>
                    </div>
                    <div class="flex flex-col md:gap-L max-md:justify-between">
                        <button class="md:py-S md:px-SM py-XXS px-S rounded-[6px] bg-[#619DFF5C] text-bravo text-Small text-center w-fit">Category</button>
                        <h1 class="md:text-H3 text-Regular text-headLines blog-heading">Blog title heading </h1>
                        <h5 class="md:text-Regular text-Small text-bodyText md:line-clamp-none line-clamp-2">Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.</h5>
                        <a class="" href="about#">
                            @await Html.PartialAsync("Logos/ReadArticleLogo")
                        </a>
                        <div class="md:flex hidden flex-grow gap-M h-[48px] max-w-[272px]">
                            <img src="./img/profile/profile.jpg" class="h-[48px] w-[48px] rounded-full">
                            <div class="flex flex-col justify-between lg:min-w-[208px] min-w-[200px]">
                                <span class="text-Bold text-headLines">Jane Coper</span>
                                <div class="flex justify-between items-end">
                                    <span class="text-Small text-bodyText">31 Dec 2023</span>
                                    <div class="flex items-center h-full">
                                        <svg width="4" height="5" viewBox="0 0 4 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.22168 3.06641V2.70605C0.22168 2.20215 0.379883 1.78613 0.696289 1.45801C1.01855 1.12988 1.45508 0.96582 2.00586 0.96582C2.5625 0.96582 3.00195 1.12988 3.32422 1.45801C3.64648 1.78613 3.80762 2.20215 3.80762 2.70605V3.06641C3.80762 3.56445 3.64648 3.97754 3.32422 4.30566C3.00781 4.62793 2.57129 4.78906 2.01465 4.78906C1.46387 4.78906 1.02734 4.62793 0.705078 4.30566C0.382812 3.97754 0.22168 3.56445 0.22168 3.06641Z" fill="#252532" />
                                        </svg>
                                    </div>
                                    <span class="text-Small text-bodyText">5 min read</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex md:flex-col flex-row md:gap-L gap-M blog-card lg:px-SM lg:mx-[-12px] lg:border-x md:border-brNeutral">
                    <div class="">
                        <a href="#">
                            <img class="w-full rounded-S object-cover xl:aspect-[220/139] md:aspect-[194/139] aspect-[116/137]" src="./img/card/img1.jpg" alt="">
                        </a>
                    </div>
                    <div class="flex flex-col md:gap-L max-md:justify-between">
                        <button class="md:py-S md:px-SM py-XXS px-S rounded-[6px] bg-[#619DFF5C] text-bravo text-Small text-center w-fit">Category</button>
                        <h1 class="md:text-H3 text-Regular text-headLines blog-heading">Blog title heading </h1>
                        <h5 class="md:text-Regular text-Small text-bodyText md:line-clamp-none line-clamp-2">Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.</h5>
                        <a class="" href="about#">
                            @await Html.PartialAsync("Logos/ReadArticleLogo")
                        </a>
                        <div class="md:flex hidden flex-grow gap-M h-[48px] max-w-[272px]">
                            <img src="./img/profile/profile1.jpg" class="h-[48px] w-[48px] rounded-full">
                            <div class="flex flex-col justify-between lg:min-w-[208px] min-w-[200px]">
                                <span class="text-Bold text-headLines">Guy Hawkins</span>
                                <div class="flex justify-between items-end">
                                    <span class="text-Small text-bodyText">31 Dec 2023</span>
                                    <div class="flex items-center h-full">
                                        <svg width="4" height="5" viewBox="0 0 4 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.22168 3.06641V2.70605C0.22168 2.20215 0.379883 1.78613 0.696289 1.45801C1.01855 1.12988 1.45508 0.96582 2.00586 0.96582C2.5625 0.96582 3.00195 1.12988 3.32422 1.45801C3.64648 1.78613 3.80762 2.20215 3.80762 2.70605V3.06641C3.80762 3.56445 3.64648 3.97754 3.32422 4.30566C3.00781 4.62793 2.57129 4.78906 2.01465 4.78906C1.46387 4.78906 1.02734 4.62793 0.705078 4.30566C0.382812 3.97754 0.22168 3.56445 0.22168 3.06641Z" fill="#252532" />
                                        </svg>
                                    </div>
                                    <span class="text-Small text-bodyText">5 min read</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex md:flex-col flex-row md:gap-L gap-M blog-card">
                    <div class="">
                        <a href="#">
                            <img class="w-full rounded-S object-cover xl:aspect-[220/139] md:aspect-[194/139] aspect-[116/137]" src="./img/card/img2.jpg" alt="">
                        </a>
                    </div>
                    <div class="flex flex-col md:gap-L max-md:justify-between">
                        <button class="md:py-S md:px-SM py-XXS px-S rounded-[6px] bg-[#FF684940] text-onBrand text-Small text-center w-fit">Category</button>
                        <h1 class="md:text-H3 text-Regular text-headLines blog-heading">Blog title heading </h1>
                        <h5 class="md:text-Regular text-Small text-bodyText md:line-clamp-none line-clamp-2">Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.</h5>
                        <a class="" href="about#">
                            @await Html.PartialAsync("Logos/ReadArticleLogo")
                        </a>
                        <div class="md:flex hidden flex-grow gap-M h-[48px] max-w-[272px]">
                            <img src="./img/profile/profile2.jpg" class="h-[48px] w-[48px] rounded-full">
                            <div class="flex flex-col justify-between lg:min-w-[208px] min-w-[200px]">
                                <span class="text-Bold text-headLines">Jenny Wilson</span>
                                <div class="flex justify-between items-end">
                                    <span class="text-Small text-bodyText">31 Dec 2023</span>
                                    <div class="flex items-center h-full">
                                        <svg width="4" height="5" viewBox="0 0 4 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.22168 3.06641V2.70605C0.22168 2.20215 0.379883 1.78613 0.696289 1.45801C1.01855 1.12988 1.45508 0.96582 2.00586 0.96582C2.5625 0.96582 3.00195 1.12988 3.32422 1.45801C3.64648 1.78613 3.80762 2.20215 3.80762 2.70605V3.06641C3.80762 3.56445 3.64648 3.97754 3.32422 4.30566C3.00781 4.62793 2.57129 4.78906 2.01465 4.78906C1.46387 4.78906 1.02734 4.62793 0.705078 4.30566C0.382812 3.97754 0.22168 3.56445 0.22168 3.06641Z" fill="#252532" />
                                        </svg>
                                    </div>
                                    <span class="text-Small text-bodyText">5 min read</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex md:flex-col flex-row md:gap-L gap-M blog-card">
                    <div class="">
                        <a href="#">
                            <img class="w-full rounded-S object-cover xl:aspect-[220/139] md:aspect-[194/139] aspect-[116/137]" src="./img/card/img3.jpg" alt="">
                        </a>
                    </div>
                    <div class="flex flex-col md:gap-L max-md:justify-between">
                        <button class="md:py-S md:px-SM py-XXS px-S rounded-[6px] bg-[#619DFF5C] text-bravo text-Small text-center w-fit">Category</button>
                        <h1 class="md:text-H3 text-Regular text-headLines blog-heading">Blog title heading </h1>
                        <h5 class="md:text-Regular text-Small text-bodyText md:line-clamp-none line-clamp-2">Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.</h5>
                        <a class="" href="about#">
                            @await Html.PartialAsync("Logos/ReadArticleLogo")
                        </a>
                        <div class="md:flex hidden flex-grow gap-M h-[48px] max-w-[272px]">
                            <img src="./img/profile/profile3.jpg" class="h-[48px] w-[48px] rounded-full">
                            <div class="flex flex-col justify-between lg:min-w-[208px] min-w-[200px]">
                                <span class="text-Bold text-headLines">Robert Fox</span>
                                <div class="flex justify-between items-end">
                                    <span class="text-Small text-bodyText">31 Dec 2023</span>
                                    <div class="flex items-center h-full">
                                        <svg width="4" height="5" viewBox="0 0 4 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.22168 3.06641V2.70605C0.22168 2.20215 0.379883 1.78613 0.696289 1.45801C1.01855 1.12988 1.45508 0.96582 2.00586 0.96582C2.5625 0.96582 3.00195 1.12988 3.32422 1.45801C3.64648 1.78613 3.80762 2.20215 3.80762 2.70605V3.06641C3.80762 3.56445 3.64648 3.97754 3.32422 4.30566C3.00781 4.62793 2.57129 4.78906 2.01465 4.78906C1.46387 4.78906 1.02734 4.62793 0.705078 4.30566C0.382812 3.97754 0.22168 3.56445 0.22168 3.06641Z" fill="#252532" />
                                        </svg>
                                    </div>
                                    <span class="text-Small text-bodyText">5 min read</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex md:flex-col flex-row md:gap-L gap-M blog-card lg:px-SM lg:mx-[-12px] lg:border-x md:border-brNeutral">
                    <div class="">
                        <a href="#">
                            <img class="w-full rounded-S object-cover xl:aspect-[220/139] md:aspect-[194/139] aspect-[116/137]" src="./img/card/img4.jpg" alt="">
                        </a>
                    </div>
                    <div class="flex flex-col md:gap-L max-md:justify-between">
                        <button class="md:py-S md:px-SM py-XXS px-S rounded-[6px] bg-[#619DFF5C] text-bravo text-Small text-center w-fit">Category</button>
                        <h1 class="md:text-H3 text-Regular text-headLines blog-heading">Blog title heading </h1>
                        <h5 class="md:text-Regular text-Small text-bodyText md:line-clamp-none line-clamp-2">Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.</h5>
                        <a class="" href="about#">
                            @await Html.PartialAsync("Logos/ReadArticleLogo")
                        </a>
                        <div class="md:flex hidden flex-grow gap-M h-[48px] max-w-[272px]">
                            <img src="./img/profile/profile4.jpg" class="h-[48px] w-[48px] rounded-full">
                            <div class="flex flex-col justify-between lg:min-w-[208px] min-w-[200px]">
                                <span class="text-Bold text-headLines">Darlene Robertson</span>
                                <div class="flex justify-between items-end">
                                    <span class="text-Small text-bodyText">31 Dec 2023</span>
                                    <div class="flex items-center h-full">
                                        <svg width="4" height="5" viewBox="0 0 4 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.22168 3.06641V2.70605C0.22168 2.20215 0.379883 1.78613 0.696289 1.45801C1.01855 1.12988 1.45508 0.96582 2.00586 0.96582C2.5625 0.96582 3.00195 1.12988 3.32422 1.45801C3.64648 1.78613 3.80762 2.20215 3.80762 2.70605V3.06641C3.80762 3.56445 3.64648 3.97754 3.32422 4.30566C3.00781 4.62793 2.57129 4.78906 2.01465 4.78906C1.46387 4.78906 1.02734 4.62793 0.705078 4.30566C0.382812 3.97754 0.22168 3.56445 0.22168 3.06641Z" fill="#252532" />
                                        </svg>
                                    </div>
                                    <span class="text-Small text-bodyText">5 min read</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex md:flex-col flex-row md:gap-L gap-M blog-card">
                    <div class="">
                        <a href="#">
                            <img class="w-full rounded-S object-cover xl:aspect-[220/139] md:aspect-[194/139] aspect-[116/137]" src="./img/card/img5.jpg" alt="">
                        </a>
                    </div>
                    <div class="flex flex-col md:gap-L max-md:justify-between">
                        <button class="md:py-S md:px-SM py-XXS px-S rounded-[6px] bg-[#A4CD805C] text-success text-Small text-center w-fit">Category</button>
                        <h1 class="md:text-H3 text-Regular text-headLines blog-heading">Blog title heading </h1>
                        <h5 class="md:text-Regular text-Small text-bodyText md:line-clamp-none line-clamp-2">Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.</h5>
                        <a class="" href="about#">
                            @await Html.PartialAsync("Logos/ReadArticleLogo")
                        </a>
                        <div class="md:flex hidden flex-grow gap-M h-[48px] max-w-[272px]">
                            <img src="./img/profile/profile5.jpg" class="h-[48px] w-[48px] rounded-full">
                            <div class="flex flex-col justify-between lg:min-w-[208px] min-w-[200px]">
                                <span class="text-Bold text-headLines">Albert Flores</span>
                                <div class="flex justify-between items-end">
                                    <span class="text-Small text-bodyText">31 Dec 2023</span>
                                    <div class="flex items-center h-full">
                                        <svg width="4" height="5" viewBox="0 0 4 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.22168 3.06641V2.70605C0.22168 2.20215 0.379883 1.78613 0.696289 1.45801C1.01855 1.12988 1.45508 0.96582 2.00586 0.96582C2.5625 0.96582 3.00195 1.12988 3.32422 1.45801C3.64648 1.78613 3.80762 2.20215 3.80762 2.70605V3.06641C3.80762 3.56445 3.64648 3.97754 3.32422 4.30566C3.00781 4.62793 2.57129 4.78906 2.01465 4.78906C1.46387 4.78906 1.02734 4.62793 0.705078 4.30566C0.382812 3.97754 0.22168 3.56445 0.22168 3.06641Z" fill="#252532" />
                                        </svg>
                                    </div>
                                    <span class="text-Small text-bodyText">5 min read</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="h-[60px] flex items-end justify-end border-t border-brNeutral">
                <div class="flex items-center gap-[10px] show-more cursor-pointer"  onClick="showMore(event)">
                    <h1 class="text-Regular text-headLines">
                        Show more
                    </h1>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="#252532" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.64645 5.64645C3.84171 5.45118 4.15829 5.45118 4.35355 5.64645L8 9.29289L11.6464 5.64645C11.8417 5.45118 12.1583 5.45118 12.3536 5.64645C12.5488 5.84171 12.5488 6.15829 12.3536 6.35355L8.35355 10.3536C8.15829 10.5488 7.84171 10.5488 7.64645 10.3536L3.64645 6.35355C3.45118 6.15829 3.45118 5.84171 3.64645 5.64645Z" />
                    </svg>
                </div>
            </div>
        </div>
    </section>


</div>
<script>
    function showMore(event){
        event.currentTarget.classList.toggle('show-more-focused')
        event.currentTarget.classList.toggle('show-more')
        event.currentTarget.children[1].classList.toggle('rotate-180')
    }
    function toggleTag(event) {
        const currentTag = event.currentTarget;
        if (currentTag.classList.contains('active-tag')) {
            currentTag.classList.remove('active-tag');
            currentTag.classList.add('inactive-tag');
        } else {
            currentTag.classList.remove('inactive-tag');
            currentTag.classList.add('active-tag');
        }
    }
</script>
