@page "/changelog"
@attribute [RenderStatic]
@model www.unilake.Pages.ChangelogModel
@{
}
<div class="2xl:container px-L md:py-XXXL py-XXL mx-auto font-inter">
    <div class="grid grid-cols-1 md:gap-[92px] gap-XL">
        <div class="flex flex-col gap-M">
            <span class="text-[48px] leading-[52px] font-[700] text-brand">Changelog</span>
            <span class="text-Regular text-[#525D61]">Updates, additions and improvements to unilake</span>
        </div>
        <div>
            <ul class="flex flex-wrap gap-M h-fit">
                <li class="active-tag text-Regular border border-brand text-[#252532] px-L py-SM rounded-L h-[52px]">All</li>
                <li class="inactive-tag text-Regular border border-[#DDDFDA] text-[#252532] bg-neutral px-L py-SM rounded-L h-[52px]">Auth</li>
                <li class="inactive-tag text-Regular border border-[#DDDFDA] text-[#252532] bg-neutral px-L py-SM rounded-L h-[52px]">Catching / Offline-First</li>
                <li class="inactive-tag text-Regular border border-[#DDDFDA] text-[#252532] bg-neutral px-L py-SM rounded-L h-[52px]">Data Platform</li>
                <li class="inactive-tag text-Regular border border-[#DDDFDA] text-[#252532] bg-neutral px-L py-SM rounded-L h-[52px]">DevTools</li>
                <li class="inactive-tag text-Regular border border-[#DDDFDA] text-[#252532] bg-neutral px-L py-SM rounded-L h-[52px]">Forreign Data Wrapper</li>
                <li class="inactive-tag text-Regular border border-[#DDDFDA] text-[#252532] bg-neutral px-L py-SM rounded-L h-[52px]">Low-Code</li>
                <li class="inactive-tag text-Regular border border-[#DDDFDA] text-[#252532] bg-neutral px-L py-SM rounded-L h-[52px]">Messaging</li>
            </ul>
        </div>
        <div class="flex flex-col gap-[5px]">
            <div class="col-span-3 min-h-[58px]">
                <div class="col-span-3 min-h-[58px] bg-backgroundTertiary rounded-r-[12px] flex items-center border-l-[6px] border-brand">
                    <h1 class="text-H4 text-[#252532] ml-[25px]">December 2023</h1>
                </div>
            </div>
            <div class="h-[80px] border-l-[6px] border-[#F1F1F1]">

            </div>
            <div class="grid grid-cols-3 gap-y-[5px] gap-x-[50px]">
                <div class="col-span-1 border-l-[6px] border-[#F1F1F1]">
                    <div class="pt-[36px] flex flex-col gap-[11px]">
                        <h4 class="ml-[27px] text-Regular text-info">18 Dec</h4>
                        <h2 class="ml-[27px] text-H2 font-[700] text-[#525D61]">Lorem ipsum dolor sit amet </h2>
                        <button class="ml-[27px] h-[32px] w-[55px] py-S px-SM rounded-[6px] bg-[#619DFF5C] text-bravo text-Small flex items-center text-center justify-center">
                            Label
                        </button>
                    </div>
                </div>
                <div class="col-span-2 bg-neutral flex p-L flex-col gap-L rounded-S h-95 mt-[-24px]">
                    <img src="./img/Pic.png" class="rounded-S">
                    <h2 class="text-[32px] leading-[36px] font-[700] text-[#252532]">Lorem ipsum dolor sit amet consectetur. A.</h2>
                    <h2 class="text-Regular text-[#525D61]">Lorem ipsum dolor sit amet consectetur. Risus facilisi vitae amet sed vehicula turpis. Amet in aliquam risus in donec feugiat nisl. Odio et senectus enim duis interdum. Posuere vulputate congue et euismod porttitor. Sit mollis vestibulum malesuada sit ipsum. Semper nec enim pretium nam turpis non. Tincidunt pellentesque amet risus viverra leo in in pellentesque. Viverra facilisi sociis feugiat egestas aliquam justo sit lorem. Purus mi orci suspendisse lectus sagittis congue. Molestie arcu mi malesuada felis mollis vitae ut nibh.</h2>
                    <a class="" href="about#">
                        <div class="flex items-center gap-S">
                            <span class="md:text-Regular text-14 text-brand">Read the article</span>
                            <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.97978 0.979457C8.17504 0.784193 8.49162 0.784191 8.68688 0.979452L13.3536 5.64605C13.4473 5.73982 13.5 5.867 13.5 5.99961C13.5 6.13222 13.4473 6.25939 13.3536 6.35316L8.68689 11.0198C8.49162 11.2151 8.17504 11.2151 7.97978 11.0198C7.78452 10.8246 7.78452 10.508 7.97978 10.3127L11.7929 6.49961H1C0.723858 6.49961 0.5 6.27575 0.5 5.99961C0.5 5.72347 0.723858 5.49961 1 5.49961H11.7929L7.97978 1.68656C7.78452 1.4913 7.78452 1.17472 7.97978 0.979457Z" fill="#FF6849" />
                            </svg>
                        </div>
                    </a>
                </div>
                <div class="col-span-1 border-l-[6px] border-[#F1F1F1]">
                    <div class="pt-[36px] flex flex-col gap-[11px]">
                        <h4 class="ml-[27px] text-Regular text-info">18 Dec</h4>
                        <h2 class="ml-[27px] text-H2 font-[700] text-[#525D61]">Lorem ipsum dolor sit amet </h2>
                        <button class="ml-[27px] h-[32px] w-[55px] py-S px-SM rounded-[6px] bg-[#619DFF5C] text-bravo text-Small flex items-center text-center justify-center">
                            Label
                        </button>
                    </div>
                </div>
                <div class="col-span-2 bg-neutral flex p-L flex-col gap-L rounded-S h-95">
                    <img src="./img/Pic.png" class="rounded-S">
                    <h2 class="text-[32px] leading-[36px] font-[700] text-[#252532]">Lorem ipsum dolor sit amet consectetur. A.</h2>
                    <h2 class="text-Regular text-[#525D61]">Lorem ipsum dolor sit amet consectetur. Risus facilisi vitae amet sed vehicula turpis. Amet in aliquam risus in donec feugiat nisl. Odio et senectus enim duis interdum. Posuere vulputate congue et euismod porttitor. Sit mollis vestibulum malesuada sit ipsum. Semper nec enim pretium nam turpis non. Tincidunt pellentesque amet risus viverra leo in in pellentesque. Viverra facilisi sociis feugiat egestas aliquam justo sit lorem. Purus mi orci suspendisse lectus sagittis congue. Molestie arcu mi malesuada felis mollis vitae ut nibh.</h2>
                    <a class="" href="about#">
                        <div class="flex items-center gap-S">
                            <span class="md:text-Regular text-14 text-brand">Read the article</span>
                            <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.97978 0.979457C8.17504 0.784193 8.49162 0.784191 8.68688 0.979452L13.3536 5.64605C13.4473 5.73982 13.5 5.867 13.5 5.99961C13.5 6.13222 13.4473 6.25939 13.3536 6.35316L8.68689 11.0198C8.49162 11.2151 8.17504 11.2151 7.97978 11.0198C7.78452 10.8246 7.78452 10.508 7.97978 10.3127L11.7929 6.49961H1C0.723858 6.49961 0.5 6.27575 0.5 5.99961C0.5 5.72347 0.723858 5.49961 1 5.49961H11.7929L7.97978 1.68656C7.78452 1.4913 7.78452 1.17472 7.97978 0.979457Z" fill="#FF6849" />
                            </svg>
                        </div>
                    </a>
                </div>
                <div class="col-span-1 border-l-[6px] border-[#F1F1F1]">
                    <div class="pt-[36px] flex flex-col gap-[11px]">
                        <h4 class="ml-[27px] text-Regular text-info">18 Dec</h4>
                        <h2 class="ml-[27px] text-H2 font-[700] text-[#525D61]">Lorem ipsum dolor sit amet </h2>
                        <button class="ml-[27px] h-[32px] w-[55px] py-S px-SM rounded-[6px] bg-[#619DFF5C] text-bravo text-Small flex items-center text-center justify-center">
                            Label
                        </button>
                    </div>
                </div>
                <div class="col-span-2 bg-neutral flex p-L flex-col gap-L rounded-S h-95">
                    <img src="./img/Pic.png" class="rounded-S">
                    <h2 class="text-[32px] leading-[36px] font-[700] text-[#252532]">Lorem ipsum dolor sit amet consectetur. A.</h2>
                    <h2 class="text-Regular text-[#525D61]">Lorem ipsum dolor sit amet consectetur. Risus facilisi vitae amet sed vehicula turpis. Amet in aliquam risus in donec feugiat nisl. Odio et senectus enim duis interdum. Posuere vulputate congue et euismod porttitor. Sit mollis vestibulum malesuada sit ipsum. Semper nec enim pretium nam turpis non. Tincidunt pellentesque amet risus viverra leo in in pellentesque. Viverra facilisi sociis feugiat egestas aliquam justo sit lorem. Purus mi orci suspendisse lectus sagittis congue. Molestie arcu mi malesuada felis mollis vitae ut nibh.</h2>
                    <a class="" href="about#">
                        <div class="flex items-center gap-S">
                            <span class="md:text-Regular text-14 text-brand">Read the article</span>
                            <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.97978 0.979457C8.17504 0.784193 8.49162 0.784191 8.68688 0.979452L13.3536 5.64605C13.4473 5.73982 13.5 5.867 13.5 5.99961C13.5 6.13222 13.4473 6.25939 13.3536 6.35316L8.68689 11.0198C8.49162 11.2151 8.17504 11.2151 7.97978 11.0198C7.78452 10.8246 7.78452 10.508 7.97978 10.3127L11.7929 6.49961H1C0.723858 6.49961 0.5 6.27575 0.5 5.99961C0.5 5.72347 0.723858 5.49961 1 5.49961H11.7929L7.97978 1.68656C7.78452 1.4913 7.78452 1.17472 7.97978 0.979457Z" fill="#FF6849" />
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
