@page "/changelog"
@attribute [RenderStatic]
@model www.unilake.Pages.ChangelogModel
@{
}
<div class="2xl:container px-L md:py-XXXL py-XXL mx-auto font-inter">
    <div class="grid grid-cols-1 md:gap-[92px] gap-XL">
        <div class="flex flex-col gap-M">
            <span class="text-[48px] leading-[52px] font-[700] text-brand">Changelog</span>
            <span class="text-Regular text-bodyText">Updates, additions and improvements to unilake</span>
        </div>
        <div>
            <ul class="flex flex-wrap gap-M h-fit">
                <li onClick="toggleTag(event)" class="active-tag">All</li>
                <li onClick="toggleTag(event)" class="inactive-tag flex gap-S items-center">
                        <span>Decemeber 2023</span>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.94 5.72656L8 8.7799L11.06 5.72656L12 6.66656L8 10.6666L4 6.66656L4.94 5.72656Z" fill="#070D0F" />
                        </svg>
                    </li>
                <li onClick="toggleTag(event)" class="inactive-tag">Data Platform</li>
                <li onClick="toggleTag(event)" class="inactive-tag">DevTools</li>
                <li onClick="toggleTag(event)" class="inactive-tag">Forreign Data Wrapper</li>
                <li onClick="toggleTag(event)" class="inactive-tag">Low-Code</li>
                <li onClick="toggleTag(event)" class="inactive-tag">Messaging</li>
            </ul>
        </div>
        <div class="flex flex-col gap-[5px]">
            <div class="grid grid-cols-1 gap-[6px] min-h-[58px] realative pr-[22px]">
                <div class="col-span-3 min-h-[58px] bg-backgroundTertiary rounded-r-[12px] flex items-center changelog-main-date">
                    <h1 class="text-H4 text-headLines ml-[25px]">December 2023</h1>
                </div>
                <div class="h-[80px] border-l-[6px] border-[#F1F1F1]">
                </div>
            </div>
            <div class="flex flex-col gap-[40px]">
                <div class="flex lg:flex-row flex-col lg:gap-[92px] gap-[26px] lg:px-0 px-[26px]">
                    <div class="md:w-[292px] relative flex flex-col gap-[11px] lg:mx-0 -mx-[26px]">
                        <div class="changelog-date">
                            <h4 class="ml-[27px] text-Regular text-info">18 Dec</h4>
                            <h2 class="ml-[27px] text-H2 font-[700] text-bodyText">Lorem ipsum dolor sit amet </h2>
                            <button class="ml-[27px] h-[32px] w-[55px] py-S px-SM rounded-[6px] bg-[#619DFF5C] text-bravo text-Small flex items-center text-center justify-center">
                                Label
                            </button>
                        </div>
                        <div class="lg:h-full changelog-date-bottom-div"></div>
                    </div>
                    <div class="bg-neutral p-L rounded-S h-95 w-full lg:-mt-XL lg:ml-0 relative">
                        <div class="flex flex-col change-log-card gap-L">
                            <img src="./img/Pic.png" class="rounded-S">
                            <h2 class="text-[32px] xl:leading-[36px] leading-[40px] font-[700] text-headLines">Lorem ipsum dolor sit amet consectetur. A.</h2>
                            <h3 class="text-Regular text-bodyText">Lorem ipsum dolor sit amet consectetur. Risus facilisi vitae amet sed vehicula turpis. Amet in aliquam risus in donec feugiat nisl. Odio et senectus enim duis interdum. Posuere vulputate congue et euismod porttitor. Sit mollis vestibulum malesuada sit ipsum. Semper nec enim pretium nam turpis non. Tincidunt pellentesque amet risus viverra leo in in pellentesque. Viverra facilisi sociis feugiat egestas aliquam justo sit lorem. Purus mi orci suspendisse lectus sagittis congue. Molestie arcu mi malesuada felis mollis vitae ut nibh.</h2>
                            <a class="" href="about#">
                                @await Html.PartialAsync("Logos/ReadArticleLogo")
                            </a>
                        </div>
                    </div>
                </div>
                <div class="flex lg:flex-row flex-col lg:gap-[92px] gap-[26px] lg:px-0 px-[26px]">
                    <div class="md:w-[292px] relative flex flex-col gap-[11px] lg:mx-0 -mx-[26px]">
                        <div class="changelog-date">
                            <h4 class="ml-[27px] text-Regular text-info">18 Dec</h4>
                            <h2 class="ml-[27px] text-H2 font-[700] text-bodyText">Lorem ipsum dolor sit amet </h2>
                            <button class="ml-[27px] h-[32px] w-[55px] py-S px-SM rounded-[6px] bg-[#619DFF5C] text-bravo text-Small flex items-center text-center justify-center">
                                Label
                            </button>
                        </div>
                        <div class="lg:h-full changelog-date-bottom-div"></div>
                    </div>
                    <div class="bg-neutral p-L rounded-S h-95 w-full lg:-mt-XL lg:ml-0 relative change-log-div">
                        <div class="flex flex-col change-log-card gap-L">
                            <img src="./img/Pic.png" class="rounded-S">
                            <h2 class="text-[32px] xl:leading-[36px] leading-[40px] font-[700] text-headLines">Lorem ipsum dolor sit amet consectetur. A.</h2>
                            <h3 class="text-Regular text-bodyText">Lorem ipsum dolor sit amet consectetur. Risus facilisi vitae amet sed vehicula turpis. Amet in aliquam risus in donec feugiat nisl. Odio et senectus enim duis interdum. Posuere vulputate congue et euismod porttitor. Sit mollis vestibulum malesuada sit ipsum. Semper nec enim pretium nam turpis non. Tincidunt pellentesque amet risus viverra leo in in pellentesque. Viverra facilisi sociis feugiat egestas aliquam justo sit lorem. Purus mi orci suspendisse lectus sagittis congue. Molestie arcu mi malesuada felis mollis vitae ut nibh.</h2>
                            <a class="" href="about#">
                                @await Html.PartialAsync("Logos/ReadArticleLogo")
                            </a>
                        </div>
                    </div>
                </div>
                <div class="flex lg:flex-row flex-col lg:gap-[92px] gap-[26px] lg:px-0 px-[26px]">
                    <div class="md:w-[292px] relative flex flex-col gap-[11px] lg:mx-0 -mx-[26px]">
                        <div class="changelog-date">
                            <h4 class="ml-[27px] text-Regular text-info">18 Dec</h4>
                            <h2 class="ml-[27px] text-H2 font-[700] text-bodyText">Lorem ipsum dolor sit amet </h2>
                            <button class="ml-[27px] h-[32px] w-[55px] py-S px-SM rounded-[6px] bg-[#619DFF5C] text-bravo text-Small flex items-center text-center justify-center">
                                Label
                            </button>
                        </div>
                        <div class="lg:h-full changelog-date-bottom-div"></div>
                    </div>
                    <div class="bg-neutral p-L rounded-S h-95 w-full lg:-mt-XL lg:ml-0 relative change-log-div">
                        <div class="flex flex-col change-log-card gap-L">
                            <img src="./img/Pic.png" class="rounded-S">
                            <h2 class="text-[32px] xl:leading-[36px] leading-[40px] font-[700] text-headLines">Lorem ipsum dolor sit amet consectetur. A.</h2>
                            <h3 class="text-Regular text-bodyText">Lorem ipsum dolor sit amet consectetur. Risus facilisi vitae amet sed vehicula turpis. Amet in aliquam risus in donec feugiat nisl. Odio et senectus enim duis interdum. Posuere vulputate congue et euismod porttitor. Sit mollis vestibulum malesuada sit ipsum. Semper nec enim pretium nam turpis non. Tincidunt pellentesque amet risus viverra leo in in pellentesque. Viverra facilisi sociis feugiat egestas aliquam justo sit lorem. Purus mi orci suspendisse lectus sagittis congue. Molestie arcu mi malesuada felis mollis vitae ut nibh.</h2>
                            <a class="" href="about#">
                                @await Html.PartialAsync("Logos/ReadArticleLogo")
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 gap-[6px] min-h-[58px] realative pr-[22px] mt-[36px]">
                <div class="col-span-3 min-h-[58px] bg-backgroundTertiary rounded-r-[12px] flex items-center changelog-main-date">
                    <h1 class="text-H4 text-headLines ml-[25px]">Janurary 2024</h1>
                </div>
                <div class="h-[80px] border-l-[6px] border-[#F1F1F1]">
                </div>
            </div>
            <div class="flex flex-col gap-[40px]">
                <div class="flex lg:flex-row flex-col lg:gap-[92px] gap-[26px] lg:px-0 px-[26px]">
                    <div class="md:w-[292px] relative flex flex-col gap-[11px] lg:mx-0 -mx-[26px]">
                        <div class="changelog-date">
                            <h4 class="ml-[27px] text-Regular text-info">18 Dec</h4>
                            <h2 class="ml-[27px] text-H2 font-[700] text-bodyText">Lorem ipsum dolor sit amet </h2>
                            <button class="ml-[27px] h-[32px] w-[55px] py-S px-SM rounded-[6px] bg-[#619DFF5C] text-bravo text-Small flex items-center text-center justify-center">
                                Label
                            </button>
                        </div>
                        <div class="lg:h-full changelog-date-bottom-div"></div>
                    </div>
                    <div class="bg-neutral p-L rounded-S h-95 w-full lg:-mt-XL lg:ml-0 relative change-log-div">
                        <div class="flex flex-col change-log-card gap-L">
                            <img src="./img/Pic.png" class="rounded-S">
                            <h2 class="text-[32px] xl:leading-[36px] leading-[40px] font-[700] text-headLines">Lorem ipsum dolor sit amet consectetur. A.</h2>
                            <h3 class="text-Regular text-bodyText">Lorem ipsum dolor sit amet consectetur. Risus facilisi vitae amet sed vehicula turpis. Amet in aliquam risus in donec feugiat nisl. Odio et senectus enim duis interdum. Posuere vulputate congue et euismod porttitor. Sit mollis vestibulum malesuada sit ipsum. Semper nec enim pretium nam turpis non. Tincidunt pellentesque amet risus viverra leo in in pellentesque. Viverra facilisi sociis feugiat egestas aliquam justo sit lorem. Purus mi orci suspendisse lectus sagittis congue. Molestie arcu mi malesuada felis mollis vitae ut nibh.</h2>
                            <a class="" href="about#">
                                @await Html.PartialAsync("Logos/ReadArticleLogo")
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-[60px] flex items-end justify-end border-t border-neutralSecondary mb:mt-[0px] mt-[24px]">
            <div class="flex items-center gap-[10px] show-more cursor-pointer"  onClick="showMore(event)">
                <h1 class="text-Regular text-headLines">
                    Show more
                </h1>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="#252532" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.64645 5.64645C3.84171 5.45118 4.15829 5.45118 4.35355 5.64645L8 9.29289L11.6464 5.64645C11.8417 5.45118 12.1583 5.45118 12.3536 5.64645C12.5488 5.84171 12.5488 6.15829 12.3536 6.35355L8.35355 10.3536C8.15829 10.5488 7.84171 10.5488 7.64645 10.3536L3.64645 6.35355C3.45118 6.15829 3.45118 5.84171 3.64645 5.64645Z" />
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="2xl:container mx-auto font-inter">
   @await Html.PartialAsync("Subscribe")
</div>

<script>
    function showMore(event){
        event.currentTarget.classList.toggle('show-more-focused')
        event.currentTarget.classList.toggle('show-more')
        event.currentTarget.children[1].classList.toggle('rotate-180')
    }
    function toggleTag(event) {
    const currentTag = event.currentTarget;
    if (currentTag.classList.contains('active-tag')) {
        currentTag.classList.remove('active-tag');
        currentTag.classList.add('inactive-tag');
    } else {
        currentTag.classList.remove('inactive-tag');
        currentTag.classList.add('active-tag');
    }
    console.log(event.currentTarget);
    console.log(event.target.classList);
}
</script>
