@page "/products/Data-Managment"
@attribute [RenderStatic]
@inject MarkdownBlog Blog
@{
ViewData["Title"] = "Unilake.Www Data Management";
}

<div class="2xl:container mx-auto font-inter bg-backgroundPrimary">
    <section class="mx-auto justify-center md:py-XXXL py-L px-L xl:gap-XXXL md:gap-XXL gap-L bg-neutral flex md:flex-row flex-col section-one">
        <div class="flex flex-col gap-L xl:max-w-[605px] md:max-w-[395px]">
            <svg class="xl:block hidden" width="88" height="89" viewBox="0 0 88 89" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 12.5C0.5 6.14873 5.64873 1 12 1H76C82.3513 1 87.5 6.14873 87.5 12.5V76.5C87.5 82.8513 82.3513 88 76 88H12C5.64873 88 0.5 82.8513 0.5 76.5V12.5Z" stroke="#E7E7E7" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M56.8573 31.9863C56.8573 35.3316 49.8218 38.0435 41.143 38.0435C32.4642 38.0435 25.4287 35.3316 25.4287 31.9863V51.3006C25.4287 54.5606 32.0593 57.1958 40.4971 57.3506C40.4908 57.1369 40.4951 56.9223 40.5103 56.7075C40.5853 55.6483 40.9214 54.628 41.4838 53.736C40.9214 52.8441 40.5853 51.8239 40.5103 50.7648C40.4196 49.4832 40.7154 48.2041 41.359 47.0929L41.9344 46.0859C42.5722 44.9839 43.5233 44.0964 44.6667 43.5361C45.6267 43.0657 46.6859 42.8438 47.7477 42.8861C48.2305 41.9668 48.931 41.1748 49.7925 40.582C50.8581 39.8486 52.1203 39.4542 53.4139 39.4504L53.4287 39.4504H54.615C55.3853 39.4527 56.1441 39.5934 56.8573 39.8616V31.9863Z" fill="#FFE9E4" />
                <path d="M41.143 38.043C49.8218 38.043 56.8573 35.3311 56.8573 31.9859C56.8573 28.6406 49.8218 25.9287 41.143 25.9287C32.4642 25.9287 25.4287 28.6406 25.4287 31.9859C25.4287 35.3311 32.4642 38.043 41.143 38.043Z" fill="white" />
                <path d="M41.143 38.043C49.8218 38.043 56.8573 35.3311 56.8573 31.9859C56.8573 28.6406 49.8218 25.9287 41.143 25.9287C32.4642 25.9287 25.4287 28.6406 25.4287 31.9859C25.4287 35.3311 32.4642 38.043 41.143 38.043Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M25.4287 31.9863V51.3006C25.4287 54.436 31.609 57.0149 39.5301 57.3263" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M56.8574 38.7863V31.9863" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M25.4287 41.6426C25.4287 44.7452 31.4808 47.303 39.2827 47.6577" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M51.458 46.9138L52.0756 45.3196C52.1797 45.0496 52.363 44.8175 52.6013 44.6535C52.8396 44.4894 53.1218 44.4012 53.4113 44.4004H54.589C54.8784 44.4012 55.1607 44.4894 55.399 44.6535C55.6373 44.8175 55.8204 45.0496 55.9247 45.3196L56.5424 46.9138L58.6393 48.1203L60.3338 47.8617C60.6161 47.8235 60.9033 47.8699 61.159 47.9952C61.415 48.1205 61.6276 48.319 61.7701 48.5655L62.3447 49.5709C62.4918 49.8213 62.5598 50.1104 62.5393 50.4002C62.5187 50.6899 62.411 50.9666 62.2298 51.1938L61.1813 52.5295V54.9424L62.2584 56.2781C62.4396 56.5053 62.5476 56.7821 62.5678 57.0718C62.5884 57.3616 62.5207 57.6507 62.3736 57.901L61.799 58.9064C61.6564 59.153 61.4436 59.3516 61.1878 59.4767C60.9321 59.6021 60.645 59.6484 60.3627 59.6101L58.6678 59.3519L56.571 60.5581L55.9536 62.1524C55.8493 62.4224 55.6661 62.6544 55.4276 62.8184C55.1893 62.9824 54.907 63.0707 54.6178 63.0716H53.4113C53.1218 63.0707 52.8396 62.9824 52.6013 62.8184C52.363 62.6544 52.1797 62.4224 52.0756 62.1524L51.458 60.5581L49.361 59.3519L47.6663 59.6101C47.3841 59.6484 47.0969 59.6021 46.8411 59.4767C46.5854 59.3516 46.3727 59.153 46.23 58.9064L45.6555 57.901C45.5083 57.6507 45.4405 57.3616 45.461 57.0718C45.4815 56.7821 45.5894 56.5053 45.7704 56.2781L46.8189 54.9424V52.5295L45.7417 51.1938C45.5607 50.9666 45.4528 50.6899 45.4323 50.4002C45.4118 50.1104 45.4796 49.8213 45.6268 49.5709L46.2013 48.5655C46.344 48.319 46.5567 48.1205 46.8124 47.9952C47.0682 47.8699 47.3554 47.8235 47.6376 47.8617L49.3323 48.1203L51.458 46.9138Z" fill="white" />
                <path d="M51.458 46.9138L52.0756 45.3196C52.1797 45.0496 52.363 44.8175 52.6013 44.6535C52.8396 44.4894 53.1218 44.4012 53.4113 44.4004H54.589C54.8784 44.4012 55.1607 44.4894 55.399 44.6535C55.6373 44.8175 55.8204 45.0496 55.9247 45.3196L56.5424 46.9138L58.6393 48.1203L60.3338 47.8617C60.6161 47.8235 60.9033 47.8699 61.159 47.9952C61.415 48.1205 61.6276 48.319 61.7701 48.5655L62.3447 49.5709C62.4918 49.8213 62.5598 50.1104 62.5393 50.4002C62.5187 50.6899 62.411 50.9666 62.2298 51.1938L61.1813 52.5295V54.9424L62.2584 56.2781C62.4396 56.5053 62.5476 56.7821 62.5678 57.0719C62.5884 57.3616 62.5207 57.6507 62.3736 57.901L61.799 58.9064C61.6564 59.153 61.4436 59.3516 61.1878 59.4767C60.9321 59.6021 60.645 59.6484 60.3627 59.6101L58.6678 59.3519L56.571 60.5581L55.9536 62.1524C55.8493 62.4224 55.6661 62.6544 55.4276 62.8184C55.1893 62.9824 54.907 63.0707 54.6178 63.0716H53.4113C53.1218 63.0707 52.8396 62.9824 52.6013 62.8184C52.363 62.6544 52.1797 62.4224 52.0756 62.1524L51.458 60.5581L49.361 59.3519L47.6663 59.6101C47.3841 59.6484 47.0969 59.6021 46.8411 59.4767C46.5854 59.3516 46.3727 59.153 46.23 58.9064L45.6555 57.901C45.5083 57.6507 45.4405 57.3616 45.461 57.0719C45.4815 56.7821 45.5894 56.5053 45.7704 56.2781L46.8189 54.9424V52.5295L45.7417 51.1938C45.5607 50.9666 45.4528 50.6899 45.4323 50.4002C45.4118 50.1104 45.4796 49.8213 45.6268 49.5709L46.2013 48.5655C46.344 48.319 46.5567 48.1205 46.8124 47.9952C47.0682 47.8699 47.3554 47.8235 47.6376 47.8617L49.3323 48.1203L51.458 46.9138Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M52.5713 53.7342C52.5713 54.1131 52.7218 54.4765 52.9897 54.7444C53.2576 55.0123 53.621 55.1628 53.9999 55.1628C54.3787 55.1628 54.7421 55.0123 55.01 54.7444C55.2779 54.4765 55.4284 54.1131 55.4284 53.7342C55.4284 53.3554 55.2779 52.992 55.01 52.7241C54.7421 52.4562 54.3787 52.3057 53.9999 52.3057C53.621 52.3057 53.2576 52.4562 52.9897 52.7241C52.7218 52.992 52.5713 53.3554 52.5713 53.7342Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <div class="flex flex-col gap-SM">
                <div class="flex md:gap-M gap-SM">
                    <h3 class="text-brand text-Regular">Data Management</h3>
                    <button class="xl:block hidden py-XXS px-S bg-[#FF684940] text-onBrand text-Small rounded-[6px]">Badge</button>
                </div>
                <h1 class="text-headLines xl:text-[48px] xl:leading-[52px] text-[32px] leading-[40px] font-[700]">
                    Elevate your data quality, visibility,reliability and access
                </h1>
            </div>
            <h4 class="text-Regular text-bodyText">Lorem ipsum dolor sit amet consectetur. Augue aliquam lacus enim
                luctus consectetur amet blandit. Eu eleifend ipsum quam quam nunc ligula at. </h4>
            <div class="flex md:flex-row flex-col w-full gap-M">
                <button
                    class="bg-brand brand-color-button xl:px-L xl:py-SM px-M py-S rounded-S xl:text-14 text-Small md:font-[600] text-neutral">Book
                    a Demo</button>
                <button
                    class="bg-neutral bg-less-logo-button border border-bgNeutarl xl:px-L xl:py-SM px-M py-S rounded-S flex justify-center items-center gap-S">
                    <h4 class="xl:text-14 text-Small font-[600] text-headLines">
                        View documentation
                    </h4>
                    <svg width="16" height="17" viewBox="0 0 16 17" fill="#252532" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.31344 4.14645C6.5087 3.95118 6.82528 3.95118 7.02055 4.14645L11.0205 8.14645C11.2158 8.34171 11.2158 8.65829 11.0205 8.85355L7.02055 12.8536C6.82528 13.0488 6.5087 13.0488 6.31344 12.8536C6.11818 12.6583 6.11818 12.3417 6.31344 12.1464L9.95989 8.5L6.31344 4.85355C6.11818 4.65829 6.11818 4.34171 6.31344 4.14645Z" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="">
            @await Html.PartialAsync("Logos/DataManagement/2D")
        </div>
    </section>
    <section class="mx-auto md:justify-center px-L flex">
        <div class="flex md:flex-row flex-col border-b border-neutralSecondary md:gap-XXL gap-XL xl:py-XXXL md:py-XXL py-XL">
            <div class="flex flex-col gap-M rounded-L md:max-w-[438px]">
                <svg class="xl:block hidden" width="104" height="104" viewBox="0 0 104 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 8C0.5 3.85786 3.85786 0.5 8 0.5H96C100.142 0.5 103.5 3.85786 103.5 8V96C103.5 100.142 100.142 103.5 96 103.5H8C3.85786 103.5 0.5 100.142 0.5 96V8Z" stroke="#E7E7E7"/>
                <g clip-path="url(#clip0_3801_38808)">
                <path d="M66.4218 29.7394L65.701 31.5993L63.2212 33.0068L61.244 32.7052C60.9147 32.6606 60.5797 32.7148 60.2813 32.861C59.9829 33.0072 59.7348 33.2387 59.5683 33.5263L58.8981 34.6992C58.7264 34.9914 58.6472 35.3287 58.6712 35.6668C58.6951 36.0048 58.821 36.3276 59.0322 36.5927L60.2889 38.151V40.966L59.0657 42.5244C58.8545 42.7894 58.7286 43.1122 58.7047 43.4503C58.6807 43.7883 58.7599 44.1257 58.9316 44.4178L59.6019 45.5908C59.7683 45.8783 60.0165 46.1099 60.3148 46.2561C60.6132 46.4023 60.9483 46.4565 61.2775 46.4118L63.2547 46.1102L65.701 47.5177L66.4218 49.3777C66.543 49.6926 66.757 49.9634 67.035 50.1548C67.313 50.3462 67.6426 50.4491 67.9798 50.4501H69.3874C69.725 50.4491 70.0546 50.3462 70.3326 50.1548C70.6106 49.9634 70.8242 49.6926 70.9458 49.3777L71.6662 47.5177L74.1126 46.1102L76.0902 46.4118C76.4194 46.4565 76.7542 46.4023 77.0526 46.2561C77.351 46.1099 77.599 45.8783 77.7658 45.5908L78.4358 44.4178C78.6078 44.1257 78.6866 43.7883 78.663 43.4503C78.639 43.1122 78.513 42.7894 78.3018 42.5244L77.045 40.966V38.151L78.2682 36.5927C78.4794 36.3276 78.6054 36.0048 78.6294 35.6668C78.6534 35.3287 78.5742 34.9914 78.4022 34.6992L77.7322 33.5263C77.5658 33.2387 77.3174 33.0072 77.019 32.861C76.721 32.7148 76.3858 32.6606 76.0566 32.7052L74.0794 33.0068L71.633 31.5993L70.9122 29.7394C70.791 29.4245 70.577 29.1536 70.299 28.9623C70.021 28.7709 69.6914 28.668 69.3542 28.667H67.9798C67.6426 28.668 67.313 28.7709 67.035 28.9623C66.757 29.1536 66.543 29.4245 66.4218 29.7394Z" fill="#FFE9E4"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M39.9216 48.5052L41.0745 45.5293C41.2689 45.0255 41.611 44.5921 42.0558 44.2859C42.5008 43.9798 43.0277 43.8151 43.5678 43.8135H45.7662C46.3063 43.8151 46.8332 43.9798 47.2782 44.2859C47.723 44.5921 48.0651 45.0255 48.2595 45.5293L49.4124 48.5052L53.3266 50.7572L56.4902 50.2747C57.017 50.2032 57.5531 50.2899 58.0305 50.5238C58.5078 50.7577 58.9049 51.1283 59.1712 51.5884L60.2436 53.4651C60.5184 53.9325 60.645 54.4722 60.6067 55.0131C60.5684 55.554 60.367 56.0705 60.0291 56.4946L58.072 58.9879V63.492L60.0827 65.9854C60.4206 66.4094 60.622 66.9258 60.6603 67.4666C60.6986 68.0078 60.572 68.5474 60.2972 69.015L59.2248 70.8914C58.9585 71.3518 58.5614 71.7222 58.0841 71.9562C57.6067 72.1898 57.0706 72.2766 56.5438 72.2054L53.3802 71.7226L49.466 73.9746L48.3132 76.9506C48.1187 77.4546 47.7767 77.8878 47.3318 78.1938C46.8869 78.5002 46.3599 78.665 45.8198 78.6662H43.5678C43.0277 78.665 42.5008 78.5002 42.0558 78.1938C41.611 77.8878 41.2689 77.4546 41.0745 76.9506L39.9216 73.9746L36.0074 71.7226L32.8438 72.2054C32.317 72.2766 31.7809 72.1898 31.3036 71.9562C30.8262 71.7222 30.4291 71.3518 30.1628 70.8914L29.0904 69.015C28.8156 68.5474 28.689 68.0078 28.7273 67.4666C28.7656 66.9258 28.967 66.4094 29.3049 65.9854L31.262 63.492V58.9879L29.2513 56.4946C28.9134 56.0705 28.712 55.554 28.6737 55.0131C28.6354 54.4722 28.762 53.9325 29.0368 53.4651L30.1092 51.5884C30.3755 51.1283 30.7726 50.7577 31.2499 50.5238C31.7273 50.2899 32.2634 50.2032 32.7902 50.2747L35.9538 50.7572L39.9216 48.5052ZM39.667 61.2412C39.667 62.2301 39.9602 63.1968 40.5096 64.0191C41.059 64.8414 41.84 65.4822 42.7536 65.8606C43.6672 66.239 44.6726 66.3382 45.6424 66.145C46.6124 65.9522 47.5033 65.4762 48.2025 64.7766C48.9018 64.0775 49.378 63.1866 49.5709 62.2167C49.7638 61.2468 49.6648 60.2414 49.2864 59.3278C48.908 58.4142 48.2671 57.6333 47.4448 57.0839C46.6226 56.5345 45.6559 56.2412 44.667 56.2412C43.3409 56.2412 42.0692 56.768 41.1315 57.7057C40.1938 58.6434 39.667 59.9151 39.667 61.2412Z" fill="#FFE9E4"/>
                <path d="M41.0745 45.5293L39.9216 48.5052L35.9538 50.7572L32.7902 50.2747C32.2634 50.2032 31.7273 50.2899 31.2499 50.5238C30.7726 50.7577 30.3755 51.1283 30.1092 51.5884L29.0368 53.4651C28.762 53.9325 28.6354 54.4722 28.6737 55.0131C28.712 55.554 28.9134 56.0705 29.2513 56.4946L31.262 58.9879V63.492L29.3049 65.9854C28.967 66.4094 28.7656 66.9258 28.7273 67.4666C28.689 68.0078 28.8156 68.5474 29.0904 69.015L30.1628 70.8914C30.4291 71.3518 30.8262 71.7222 31.3036 71.9562C31.7809 72.1898 32.317 72.2766 32.8438 72.2054L36.0074 71.7226L39.9216 73.9746L41.0745 76.9506C41.2689 77.4546 41.611 77.8878 42.0558 78.1938C42.5008 78.5002 43.0277 78.665 43.5678 78.6662H45.8198C46.3599 78.665 46.8869 78.5002 47.3318 78.1938C47.7767 77.8878 48.1187 77.4546 48.3132 76.9506L49.466 73.9746L53.3802 71.7226L56.5438 72.2054C57.0706 72.2766 57.6067 72.1898 58.0841 71.9562C58.5614 71.7222 58.9585 71.3518 59.2248 70.8914L60.2972 69.015C60.572 68.5474 60.6986 68.0078 60.6603 67.4666C60.622 66.9258 60.4206 66.4094 60.0827 65.9854L58.072 63.492V58.9879L60.0291 56.4946C60.367 56.0705 60.5684 55.554 60.6067 55.0131C60.645 54.4722 60.5184 53.9325 60.2436 53.4651L59.1712 51.5884C58.9049 51.1283 58.5078 50.7577 58.0305 50.5238C57.5531 50.2899 57.017 50.2032 56.4902 50.2747L53.3266 50.7572L49.4124 48.5052L48.2595 45.5293C48.0651 45.0255 47.723 44.5921 47.2782 44.2859C46.8332 43.9798 46.3063 43.8151 45.7662 43.8135H43.5678C43.0277 43.8151 42.5008 43.9798 42.0558 44.2859C41.611 44.5921 41.2689 45.0255 41.0745 45.5293Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M40.5096 64.0181C39.9602 63.1958 39.667 62.2292 39.667 61.2402C39.667 59.9142 40.1938 58.6424 41.1315 57.7047C42.0692 56.767 43.3409 56.2402 44.667 56.2402C45.6559 56.2402 46.6226 56.5335 47.4448 57.0829C48.2671 57.6323 48.908 58.4132 49.2864 59.3268C49.6648 60.2404 49.7638 61.2458 49.5709 62.2157C49.378 63.1856 48.9018 64.0765 48.2025 64.7758C47.5033 65.475 46.6124 65.9514 45.6424 66.1442C44.6726 66.337 43.6672 66.2382 42.7536 65.8598C41.84 65.481 41.059 64.8402 40.5096 64.0181Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M66.4218 29.7394L65.701 31.5993L63.2212 33.0068L61.244 32.7052C60.9147 32.6606 60.5797 32.7148 60.2813 32.861C59.9829 33.0072 59.7348 33.2387 59.5683 33.5263L58.8981 34.6992C58.7264 34.9914 58.6472 35.3287 58.6712 35.6668C58.6951 36.0048 58.821 36.3276 59.0322 36.5927L60.2889 38.151V40.966L59.0657 42.5244C58.8545 42.7894 58.7286 43.1122 58.7047 43.4503C58.6807 43.7883 58.7599 44.1257 58.9316 44.4178L59.6019 45.5908C59.7683 45.8783 60.0165 46.1099 60.3148 46.2561C60.6132 46.4023 60.9483 46.4565 61.2775 46.4118L63.2547 46.1102L65.701 47.5177L66.4218 49.3777C66.543 49.6926 66.757 49.9634 67.035 50.1548C67.313 50.3462 67.6426 50.4491 67.9798 50.4501H69.3874C69.725 50.4491 70.0546 50.3462 70.3326 50.1548C70.6106 49.9634 70.8242 49.6926 70.9458 49.3777L71.6662 47.5177L74.1126 46.1102L76.0902 46.4118C76.4194 46.4565 76.7542 46.4023 77.0526 46.2561C77.351 46.1099 77.599 45.8783 77.7658 45.5908L78.4358 44.4178C78.6078 44.1257 78.6866 43.7883 78.663 43.4503C78.639 43.1122 78.513 42.7894 78.3018 42.5244L77.045 40.966V38.151L78.2682 36.5927C78.4794 36.3276 78.6054 36.0048 78.6294 35.6668C78.6534 35.3287 78.5742 34.9914 78.4022 34.6992L77.7322 33.5263C77.5658 33.2387 77.3174 33.0072 77.019 32.861C76.721 32.7148 76.3858 32.6606 76.0566 32.7052L74.0794 33.0068L71.633 31.5993L70.9122 29.7394C70.791 29.4245 70.577 29.1536 70.299 28.9623C70.021 28.7709 69.6914 28.668 69.3542 28.667H67.9798C67.6426 28.668 67.313 28.7709 67.035 28.9623C66.757 29.1536 66.543 29.4245 66.4218 29.7394Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M68.667 40.5576C68.1146 40.5576 67.667 40.1099 67.667 39.5576C67.667 39.0053 68.1146 38.5576 68.667 38.5576" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M68.667 40.5576C69.2194 40.5576 69.667 40.1099 69.667 39.5576C69.667 39.0053 69.2194 38.5576 68.667 38.5576" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M70.4424 65.2432L74.7814 61.1127" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M66.9723 68.5445L67.1392 61.7689L73.7479 68.7113L66.9723 68.5445Z" fill="#FFE9E4"/>
                <path d="M78.2521 57.8046L71.4766 57.6377L78.0853 64.5801L78.2521 57.8046Z" fill="#FFE9E4"/>
                <path d="M66.9723 68.5445L67.1392 61.7689L73.7479 68.7113L66.9723 68.5445Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M78.2521 57.8046L71.4766 57.6377L78.0853 64.5801L78.2521 57.8046Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_3801_38808">
                <rect width="56" height="56" fill="white" transform="translate(24 24)"/>
                </clipPath>
                </defs>
                </svg>
                <h3 class="text-headLines xl:text-H2 md:text-Regular text-H2">Intergrated</h3>
                <p class="text-bodyText xl:text-Regular md:text-Small text-Regular">UniLake provides a data management toolset that is included in the product. Well integrated and ready to use from day one.</p>
            </div>
            <div class="flex flex-col gap-M rounded-L md:max-w-[438px]">
                 <svg class="xl:block hidden" width="105" height="104" viewBox="0 0 105 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M0.833008 8C0.833008 3.85786 4.19087 0.5 8.33301 0.5H96.333C100.475 0.5 103.833 3.85786 103.833 8V96C103.833 100.142 100.475 103.5 96.333 103.5H8.33301C4.19087 103.5 0.833008 100.142 0.833008 96V8Z" stroke="#E7E7E7"/>
                 <path d="M33.2637 32.9306C33.2637 34.2382 33.7831 35.4923 34.7078 36.417C35.6325 37.3416 36.8866 37.8611 38.1942 37.8611C39.5019 37.8611 40.756 37.3416 41.6807 36.417C42.6053 35.4923 43.1248 34.2382 43.1248 32.9306C43.1248 31.6229 42.6053 30.3688 41.6807 29.4441C40.756 28.5195 39.5019 28 38.1942 28C36.8866 28 35.6325 28.5195 34.7078 29.4441C33.7831 30.3688 33.2637 31.6229 33.2637 32.9306Z" fill="#FFE9E4"/>
                 <path d="M60.875 54.6249C60.875 55.9326 61.3945 57.1867 62.3191 58.1113C63.2438 59.036 64.4979 59.5555 65.8056 59.5555C67.1132 59.5555 68.3673 59.036 69.292 58.1113C70.2166 57.1867 70.7361 55.9326 70.7361 54.6249C70.7361 53.3172 70.2166 52.0631 69.292 51.1385C68.3673 50.2138 67.1132 49.6943 65.8056 49.6943C64.4979 49.6943 63.2438 50.2138 62.3191 51.1385C61.3945 52.0631 60.875 53.3172 60.875 54.6249Z" fill="#FFE9E4"/>
                 <path d="M38.1941 43.7773C32.748 43.7773 28.333 48.1923 28.333 53.6385H48.0552C48.0552 48.1923 43.6403 43.7773 38.1941 43.7773Z" fill="#FFE9E4"/>
                 <path d="M65.8054 65.4727C60.3593 65.4727 55.9443 69.8877 55.9443 75.3338H75.6666C75.6666 69.8877 71.2515 65.4727 65.8054 65.4727Z" fill="#FFE9E4"/>
                 <path d="M48.0552 53.6385C48.0552 48.1923 43.6403 43.7773 38.1941 43.7773C32.748 43.7773 28.333 48.1923 28.333 53.6385" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                 <path d="M75.6666 75.3338C75.6666 69.8877 71.2515 65.4727 65.8054 65.4727C60.3593 65.4727 55.9443 69.8877 55.9443 75.3338" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                 <path d="M33.2637 32.9306C33.2637 34.2382 33.7831 35.4923 34.7078 36.417C35.6325 37.3416 36.8866 37.8611 38.1942 37.8611C39.5019 37.8611 40.756 37.3416 41.6807 36.417C42.6053 35.4923 43.1248 34.2382 43.1248 32.9306C43.1248 31.6229 42.6053 30.3688 41.6807 29.4441C40.756 28.5195 39.5019 28 38.1942 28C36.8866 28 35.6325 28.5195 34.7078 29.4441C33.7831 30.3688 33.2637 31.6229 33.2637 32.9306Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                 <path d="M60.875 54.6249C60.875 55.9326 61.3945 57.1867 62.3191 58.1113C63.2438 59.036 64.4979 59.5555 65.8056 59.5555C67.1132 59.5555 68.3673 59.036 69.292 58.1113C70.2166 57.1867 70.7361 55.9326 70.7361 54.6249C70.7361 53.3172 70.2166 52.0631 69.292 51.1385C68.3673 50.2138 67.1132 49.6943 65.8056 49.6943C64.4979 49.6943 63.2438 50.2138 62.3191 51.1385C61.3945 52.0631 60.875 53.3172 60.875 54.6249Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                 <path d="M53.9717 31.9443H61.8606C66.2176 31.9443 69.7495 35.4763 69.7495 39.8332V41.8055" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                 <path d="M34.25 61.5273V63.4996C34.25 67.8566 37.782 71.3885 42.1389 71.3885H46.0833" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                 </svg>
                <h3 class="text-headLines xl:text-H2 md:text-Regular text-H2">Collaborative</h3>
                <p class="text-bodyText xl:text-Regular md:text-Small text-Regular">Signal and communicate data changes, discrepancies, requests or quality to collectively improve your data estate.</p>
            </div>
            <div class="flex flex-col gap-M rounded-L md:max-w-[438px]">
                 <svg class="xl:block hidden" width="105" height="104" viewBox="0 0 105 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M1.16602 8C1.16602 3.85786 4.52388 0.5 8.66602 0.5H96.666C100.808 0.5 104.166 3.85786 104.166 8V96C104.166 100.142 100.808 103.5 96.666 103.5H8.66602C4.52388 103.5 1.16602 100.142 1.16602 96V8Z" stroke="#E7E7E7"/>
                 <path d="M38.666 61.3337V42.667" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                 <path d="M64.3327 42.667V44.417C64.3327 46.2735 63.5601 48.054 62.1848 49.3667C60.8095 50.6795 58.9443 51.417 56.9993 51.417H44.166C42.7073 51.417 41.3084 51.9701 40.2769 52.9547C39.2455 53.9392 38.666 55.2746 38.666 56.667" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                 <path d="M31.666 40.917V30.417C31.666 29.4505 32.4495 28.667 33.416 28.667H43.916C44.8825 28.667 45.666 29.4505 45.666 30.417V40.917C45.666 41.8835 44.8825 42.667 43.916 42.667H33.416C32.4495 42.667 31.666 41.8835 31.666 40.917Z" fill="#FFE9E4"/>
                 <path d="M57.333 40.917V30.417C57.333 29.4505 58.1165 28.667 59.083 28.667H69.583C70.5494 28.667 71.333 29.4505 71.333 30.417V40.917C71.333 41.8835 70.5494 42.667 69.583 42.667H59.083C58.1165 42.667 57.333 41.8835 57.333 40.917Z" fill="#FFE9E4"/>
                 <path d="M31.666 73.584V63.084C31.666 62.1175 32.4495 61.334 33.416 61.334H43.916C44.8825 61.334 45.666 62.1175 45.666 63.084V73.584C45.666 74.5503 44.8825 75.334 43.916 75.334H33.416C32.4495 75.334 31.666 74.5503 31.666 73.584Z" fill="#FFE9E4"/>
                 <path d="M31.666 40.917V30.417C31.666 29.4505 32.4495 28.667 33.416 28.667H43.916C44.8825 28.667 45.666 29.4505 45.666 30.417V40.917C45.666 41.8835 44.8825 42.667 43.916 42.667H33.416C32.4495 42.667 31.666 41.8835 31.666 40.917Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                 <path d="M57.333 40.917V30.417C57.333 29.4505 58.1165 28.667 59.083 28.667H69.583C70.5494 28.667 71.333 29.4505 71.333 30.417V40.917C71.333 41.8835 70.5494 42.667 69.583 42.667H59.083C58.1165 42.667 57.333 41.8835 57.333 40.917Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                 <path d="M31.666 73.584V63.084C31.666 62.1175 32.4495 61.334 33.416 61.334H43.916C44.8825 61.334 45.666 62.1175 45.666 63.084V73.584C45.666 74.5503 44.8825 75.334 43.916 75.334H33.416C32.4495 75.334 31.666 74.5503 31.666 73.584Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                 </svg>
                <h3 class="text-headLines xl:text-H2 md:text-Regular text-H2">Git</h3>
                <p class="text-bodyText xl:text-Regular md:text-Small text-Regular">Use either the webinterface or code to adjus technical and business metadata. All changes are tracked and accounted for.</p>
            </div>
        </div>
    </section>
    <section class="mx-auto justify-center xl:py-XXXL md:py-XXL py-XL px-L flex md:flex-row flex-col xl:gap-XXXL gap-XXL items-center">
        <div class="fit">
            @await Html.PartialAsync("Logos/DataManagement/Illustration_Easily_Find")
        </div>
        <div class="flex flex-col gap-M h-fit xl:max-w-[605px] md:max-w-[395px]">
            <h1 class="xl:text-15 text-H3 leading-[40px] xl:text-textPrimary text-headLines">Easily find your need</h1>
            <h4 class="xl:text-Regular md:text-Small text-Regular text-textSecodary">
                All data sources and data products in UniLake are cataloged automatically. Whatever data lands in your UniLake it can be searched,  documented and researched from a single tool. 
            </h4>
        </div>
    </section>
    <section class="mx-auto justify-center xl:py-XXXL md:py-XXL py-XL px-L flex md:flex-row flex-col-reverse xl:gap-XXXL gap-XXL items-center" style="background: linear-gradient(99.17deg, #F4F3EB 7.24%, #F8F8F8 86.39%);">
        <div class="flex flex-col gap-M h-fit xl:max-w-[605px] md:max-w-[395px]">
            <h1 class="xl:text-15 text-H3 leading-[40px] xl:text-textPrimary text-headLines">
                Data Domains
            </h1>
            <h4 class="xl:text-Regular md:text-Small text-Regular text-bodyText">
                At the heart of the UniLake is the concept of working in domains, so called data domains. As data can be scattered in different domains and even different clouds, within UniLake you are given one overview of all the data in different 
                domains and how they are connected and use between the domains. 
            </h4>
        </div>
        <div class="fit">
            @await Html.PartialAsync("Logos/DataManagement/Illustration_Data_Domains")
        </div>
    </section>
    <section class="mx-auto justify-center xl:py-XXXL md:py-XXL py-XL px-L flex md:flex-row flex-col xl:gap-XXXL gap-XXL items-center">
        <div class="h-fit">
            @await Html.PartialAsync("Logos/DataManagement/Illustration_End-to-End")
        </div>
        <div class="flex flex-col gap-M h-fit xl:max-w-[605px] md:max-w-[395px]">
            <button class="py-S px-SM bg-[#619DFF5C] rounded-[6px] text-Small text-bravo w-fit flex items-center">
                On Roadmap
            </button>
            <h1 class="xl:text-15 text-H3 leading-[40px] text-headLines">
                End-to-End Data Lineage
            </h1>
            <h4 class="xl:text-Regular md:text-Small text-Regular text-bodyText">
                The moment data is made available inside of the UniLake, data lineage is 
                registered. Making use of SQLMesh as its transformation engine, any transformations done on the data is tracked and lineage is stored. This allows for an end-to-end overview of all sources and data flows within your data
                estate. Whether this is within a single domain or crossing multiple domains. 
            </h4>
        </div>
    </section>
    <section class="mx-auto md:justify-center px-L flex">
        <div class="flex md:flex-row flex-col border-t border-neutralSecondary md:gap-XXL md:gap-XL gap-XL xl:py-XXXL md:py-XXL py-XL">
            <div class="flex flex-col gap-M rounded-L md:max-w-[438px]">
                <svg class="xl:block hidden" width="104" height="104" viewBox="0 0 104 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.5 8C0.5 3.85786 3.85786 0.5 8 0.5H96C100.142 0.5 103.5 3.85786 103.5 8V96C103.5 100.142 100.142 103.5 96 103.5H8C3.85786 103.5 0.5 100.142 0.5 96V8Z" stroke="#E7E7E7" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M68.875 35.5742C68.875 39.9649 59.6409 43.5242 48.25 43.5242C36.8591 43.5242 27.625 39.9649 27.625 35.5742V60.9242C27.625 65.2266 36.4242 68.6998 47.5864 68.8682C47.8022 68.1463 48.1469 67.4496 48.6254 66.8113C50.8 63.9118 54.9134 63.3242 57.8129 65.4988L60.2244 67.3075L68.875 56.4943V35.5742Z" fill="#FFE9E4" />
                    <path d="M48.25 43.525C59.6409 43.525 68.875 39.9656 68.875 35.575C68.875 31.1843 59.6409 27.625 48.25 27.625C36.8591 27.625 27.625 31.1843 27.625 35.575C27.625 39.9656 36.8591 43.525 48.25 43.525Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M76.375 57.625L61.375 76.375L53.875 70.75" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M68.875 54.8117V35.5742" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M68.875 48.25C68.875 52.6407 59.6409 56.2 48.25 56.2C36.8591 56.2 27.625 52.6407 27.625 48.25" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M27.625 35.5742V60.9242C27.625 65.0466 35.7024 68.4073 46.1963 68.8296" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <button class="py-S px-SM bg-[#619DFF5C] rounded-[6px] text-Small text-bravo w-fit flex items-center">
                    On Roadmap
                </button>
                <h1 class="text-headLines xl:text-H2 md:text-Regular text-H2">Data Quality Checks</h1>
                <p class="text-bodyText xl:text-Regular md:text-Small text-Regular">Write tests to check if the data quality of a data product is correct. Notify any downstream users of your data in case data quality is below a certain threshold.</p>
            </div>
            <div class="flex flex-col gap-M rounded-L md:max-w-[438px]">
                <svg class="xl:block hidden" width="105" height="104" viewBox="0 0 105 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.833008 8C0.833008 3.85786 4.19087 0.5 8.33301 0.5H96.333C100.475 0.5 103.833 3.85786 103.833 8V96C103.833 100.142 100.475 103.5 96.333 103.5H8.33301C4.19087 103.5 0.833008 100.142 0.833008 96V8Z" stroke="#E7E7E7" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M69.208 35.5742C69.208 39.9649 59.9739 43.5242 48.583 43.5242C37.1921 43.5242 27.958 39.9649 27.958 35.5742V60.9242C27.958 64.9228 35.5579 68.2048 45.5913 68.7838L55.9383 50.1241C57.3573 47.1855 60.3748 45.2641 63.6745 45.2641C65.7359 45.2641 67.6878 46.0143 69.208 47.2941V35.5742Z" fill="#FFE9E4" />
                    <path d="M48.583 43.525C59.9739 43.525 69.208 39.9656 69.208 35.575C69.208 31.1843 59.9739 27.625 48.583 27.625C37.1921 27.625 27.958 31.1843 27.958 35.575C27.958 39.9656 37.1921 43.525 48.583 43.525Z" fill="#F9F8F6" />
                    <path d="M48.583 43.525C59.9739 43.525 69.208 39.9656 69.208 35.575C69.208 31.1843 59.9739 27.625 48.583 27.625C37.1921 27.625 27.958 31.1843 27.958 35.575C27.958 39.9656 37.1921 43.525 48.583 43.525Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M27.958 35.5742V60.9242C27.958 64.696 34.772 67.8542 43.9138 68.6695" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M27.958 48.25C27.958 52.6407 37.1921 56.2 48.583 56.2C49.2131 56.2 49.8365 56.1891 50.4522 56.1678" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M76.4276 73.0382C76.6114 73.378 76.7074 73.7582 76.7074 74.1445C76.7074 74.5307 76.6114 74.9109 76.4276 75.2507C76.2547 75.5893 75.9915 75.8736 75.6675 76.0723C75.3431 76.2707 74.9704 76.3757 74.5901 76.3757H52.5775C52.1973 76.3757 51.8244 76.2707 51.5002 76.0723C51.1759 75.8736 50.9128 75.5893 50.74 75.2507C50.5562 74.9109 50.46 74.5307 50.46 74.1445C50.46 73.7582 50.5562 73.378 50.74 73.0382L61.8025 53.0883C61.9545 52.7157 62.214 52.3969 62.5479 52.1724C62.8819 51.948 63.2751 51.8281 63.6776 51.8281C64.08 51.8281 64.473 51.948 64.8071 52.1724C65.1409 52.3969 65.4004 52.7157 65.5526 53.0883L76.4276 73.0382Z" fill="#F9F8F6" />
                    <path d="M76.4276 73.0382C76.6114 73.378 76.7074 73.7582 76.7074 74.1445C76.7074 74.5307 76.6114 74.9109 76.4276 75.2507C76.2547 75.5893 75.9915 75.8736 75.6675 76.0723C75.3431 76.2707 74.9704 76.3757 74.5901 76.3757H52.5775C52.1973 76.3757 51.8244 76.2707 51.5002 76.0723C51.1759 75.8736 50.9128 75.5893 50.74 75.2507C50.5562 74.9109 50.46 74.5307 50.46 74.1445C50.46 73.7582 50.5562 73.378 50.74 73.0382L61.8025 53.0883C61.9545 52.7157 62.214 52.3969 62.5479 52.1724C62.8819 51.948 63.2751 51.8281 63.6776 51.8281C64.08 51.8281 64.473 51.948 64.8071 52.1724C65.1409 52.3969 65.4004 52.7157 65.5526 53.0883L76.4276 73.0382Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M63.6035 65.1251V61.375" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M63.5854 71.2195C63.3262 71.2195 63.1162 71.0095 63.1162 70.7504C63.1162 70.4913 63.3262 70.2812 63.5854 70.2812" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M63.585 71.2191C63.8441 71.2191 64.0541 71.0091 64.0541 70.7504C64.0541 70.4913 63.8441 70.2812 63.585 70.2812" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M69.208 45.4367V35.5742" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <button class="py-S px-SM bg-[#619DFF5C] rounded-[6px] text-Small text-bravo w-fit flex items-center">
                    On Roadmap
                </button>
                <h1 class="text-headLines xl:text-H2 md:text-Regular text-H2">Shift Left Warnings</h1>
                <p class="text-bodyText xl:text-Regular md:text-Small text-Regular">Whenever you make changes to your data, you are given an overview of the impact this change has to any downstream users.</p>
            </div>
            <div class="flex flex-col gap-M rounded-L md:max-w-[438px]">
                <svg class="xl:block hidden" width="105" height="104" viewBox="0 0 105 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.16602 8C1.16602 3.85786 4.52388 0.5 8.66602 0.5H96.666C100.808 0.5 104.166 3.85786 104.166 8V96C104.166 100.142 100.808 103.5 96.666 103.5H8.66602C4.52388 103.5 1.16602 100.142 1.16602 96V8Z" stroke="#E7E7E7" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M75.9426 75.2766C76.6458 74.5735 77.041 73.6195 77.041 72.625V40.75L63.916 27.625H39.541C38.5464 27.625 37.5926 28.0201 36.8894 28.7233C36.1861 29.4266 35.791 30.3804 35.791 31.375V48.3442L38.6506 45.4846C39.8813 44.2539 41.5505 43.5625 43.291 43.5625H54.541C58.1654 43.5625 61.1035 46.5006 61.1035 50.125V61.375C61.1035 63.1155 60.4121 64.7845 59.1814 66.0153L48.8218 76.375H73.291C74.2855 76.375 75.2395 75.9798 75.9426 75.2766Z" fill="#FFE9E4" />
                    <path d="M35.791 46.375V31.375C35.791 30.3804 36.1861 29.4266 36.8894 28.7233C37.5926 28.0201 38.5464 27.625 39.541 27.625H63.916L77.041 40.75V72.625C77.041 73.6195 76.6458 74.5735 75.9426 75.2766C75.2395 75.9798 74.2855 76.375 73.291 76.375H50.791" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M39.541 76.375L28.291 65.125L43.291 50.125H54.541V61.375L39.541 76.375Z" fill="#F9F8F6" />
                    <path d="M47.041 58.5625C46.5233 58.5625 46.1035 58.1428 46.1035 57.625C46.1035 57.1072 46.5233 56.6875 47.041 56.6875" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M47.041 58.5625C47.5588 58.5625 47.9785 58.1428 47.9785 57.625C47.9785 57.1072 47.5588 56.6875 47.041 56.6875" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M39.541 76.375L28.291 65.125L43.291 50.125H54.541V61.375L39.541 76.375Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <button class="py-S px-SM bg-[#619DFF5C] rounded-[6px] text-Small text-bravo w-fit flex items-center">
                    On Roadmap
                </button>
                <h1 class="text-headLines xl:text-H2 md:text-Regular text-H2">Automated Data Classification</h1>
                <p class="text-bodyText xl:text-Regular md:text-Small text-Regular">Let UniLake auto classify your datasets so that no data is kept unclassified, to prevent unauthorized data access on newly introduced data products. </p>
            </div>
        </div>
    </section>
</div>