@page "/"
@attribute [RenderStatic]
@inject MarkdownBlog Blog
@{
    ViewData["Title"] = "Unilake";
}
<main class="mx-auto font-inter">
    <!-- HERO SECTION  -->
    <section
        class="max-w-full 2xl:min-h-[calc(100vh-96px)] mx-auto overflow-hidden xl:overflow-visible bg-headLines font-inter">
        <div
            class="flex flex-col items-center justify-between w-full mx-auto lg:max-w-8xl md:max-w-5xl xl:flex-row pt-XXL h-fit">
            <div class="flex-1 px-L 2xl:pl-5 2xl:pr-10">
                <p class="mb-6 text-subtitle">
                    The open source and cloud independent data lake analytics platform
                </p>
                <h1 class="max-w-3xl mb-4 text-4xl font-bold tracking-[-3%] leading-none md:text-5xl text-neutral">
                    Unified data lake analytics for your data and AI ambitions
                </h1>
                <p class="max-w-3xl mb-6 text-base text-body leading-[28px] lg:mb-8">
                    Accelerate your data ambitions with a fully integrated and unified
                    data analytics and AI platform on any data lake (Azure, AWS, GCP,
                    S3, Kubernetes). Use public cloud, private cloud or a hybrid
                    setup. Unilake, the fully integrated, open source data lake
                    analytics platform at scale, from megabytes to petabytes of data
                </p>

                <div class="relative z-10 flex flex-col w-full md:flex-row gap-M md:w-fit">
                    <a href="https://cal.com/mrhamburg"
                        class="flex items-center justify-center w-full gap-S md:px-L md:py-SM px-M py-S bg-brand rounded-S md:w-fit brand-color-button">
                        <h5 class="text-neutral md:text-14 text-Small font-[600]">
                            Book demo
                        </h5>
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                            <path
                                d="M6.22668 11.9545L9.28002 8.89447L6.22668 5.83447L7.16668 4.89447L11.1667 8.89447L7.16668 12.8945L6.22668 11.9545Z"
                                fill="#E6EFF4" />
                        </svg>
                    </a>
                    <a href="https://github.com/unilakehq/unilake"
                        class="text-center flex justify-center items-center gap-S md:px-L md:py-SM px-M py-S text-neutral md:text-14 text-Small hover:text-brand font-[600] border border-[#3F4952] rounded-S md:w-fit w-full bg-less-button">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.00065 1.33301C4.31732 1.33301 1.33399 4.31634 1.33399 7.99967C1.33318 9.39911 1.77305 10.7633 2.59119 11.8986C3.40933 13.034 4.56421 13.8829 5.89199 14.325C6.22532 14.383 6.35065 14.183 6.35065 14.0077C6.35065 13.8497 6.34199 13.325 6.34199 12.7663C4.66732 13.075 4.23399 12.3583 4.10065 11.983C4.02532 11.791 3.70065 11.1997 3.41732 11.041C3.18399 10.9163 2.85065 10.6077 3.40865 10.5997C3.93399 10.591 4.30865 11.083 4.43399 11.283C5.03399 12.291 5.99199 12.0077 6.37532 11.833C6.43399 11.3997 6.60865 11.1083 6.80065 10.9417C5.31732 10.775 3.76732 10.1997 3.76732 7.64967C3.76732 6.92434 4.02532 6.32501 4.45065 5.85834C4.38399 5.69167 4.15065 5.00834 4.51732 4.09167C4.51732 4.09167 5.07532 3.91634 6.35065 4.77434C6.89339 4.62394 7.45413 4.54835 8.01732 4.54967C8.58399 4.54967 9.15065 4.62434 9.68399 4.77434C10.9593 3.90767 11.5173 4.09167 11.5173 4.09167C11.884 5.00834 11.6507 5.69167 11.584 5.85834C12.0087 6.32501 12.2673 6.91634 12.2673 7.64967C12.2673 10.2083 10.7093 10.775 9.22599 10.9417C9.46732 11.1497 9.67599 11.5497 9.67599 12.175C9.67599 13.0663 9.66732 13.783 9.66732 14.0083C9.66732 14.183 9.79265 14.391 10.126 14.3243C11.4492 13.8774 12.599 13.0268 13.4135 11.8923C14.2281 10.7577 14.6663 9.39634 14.6667 7.99967C14.6667 4.31634 11.6833 1.33301 7.99999 1.33301"
                                fill="currentColor" />
                        </svg>
                        <h5 class="md:text-14 text-Small font-[600]">
                            Checkout Platform
                        </h5>
                    </a>
                </div>
            </div>
            <div class="flex-1 relative px-M max-w-full lg:max-w-[85%] 2xl:max-w-full -mt-8 md:-mt-24 xl:mt-0">
                <!-- Hero Image -->
                <img src="./img/landing/glowing-hero.png" alt="Application Query Result" class=" pointers-events-none" />
            </div>
        </div>
    </section>

    <!-- TABS SECTION -->
    <section
        class="flex flex-col items-center justify-between w-full max-w-xl mx-auto 2xl:max-w-7xl md:max-w-5xl h-fit">
        <!-- Tabs -->
        <div
            class="flex flex-wrap justify-center w-full md:justify-between sm:mx-auto md:flex-nowrap gap-L mb-XL mt-XXL sm:mt-XXXL">
            <button
                class="tab-button flex sm:flex-col md:min-w-[300px] md:min-h-[194px] items-center sm:items-start border h-fit border-gray-200 rounded-S sm:rounded-XL shadow-md p-M sm:p-L gap-2.5 hover:bg-gray-200"
                data-tab="connect">
                <svg class="w-6 h-6 sm:w-8 sm:h-8" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0 8C0 3.58172 3.58172 0 8 0H40C44.4183 0 48 3.58172 48 8V40C48 44.4183 44.4183 48 40 48H8C3.58172 48 0 44.4183 0 40V8Z"
                        fill="#FF6849" fill-opacity="0.25" />
                    <path d="M14.3574 33.6431L16.7681 31.2324" stroke="#FF6849" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M33.6431 14.3574L31.2324 16.7681" stroke="#FF6849" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" />
                    <path
                        d="M24.8027 29.6249L23.1955 31.232C21.4203 33.0073 18.5422 33.0073 16.7669 31.232C14.9917 29.4568 14.9917 26.5786 16.7669 24.8034L18.3741 23.1963L24.8027 29.6249Z"
                        stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                        d="M29.6258 24.8036L31.233 23.1965C33.0082 21.4213 33.0082 18.5431 31.233 16.7679C29.4577 14.9927 26.5796 14.9927 24.8044 16.7679L23.1973 18.3751L29.6258 24.8036Z"
                        stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M19.9824 24.8043L22.3931 22.3936" stroke="#FF6849" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M23.1973 28.0181L25.608 25.6074" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
                <div class="sm:mt-2 text-left gap-2.5 flex flex-col">
                    <h3 class="font-bold text-headLines text-Regular sm:text-H5 xl:text-H4">
                        Connect
                    </h3>
                    <p class="hidden text-Regular text-bodyText 2xl:block">
                        Connect with over 350+ sources
                    </p>
                </div>
            </button>
            <button
                class="tab-button flex sm:flex-col md:min-w-[300px] md:min-h-[194px] items-center sm:items-start border h-fit border-gray-200 rounded-S sm:rounded-XL shadow-md p-M sm:p-L gap-2.5 hover:bg-gray-200"
                data-tab="discover">
                <svg class="w-6 h-6 sm:w-8 sm:h-8" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0 8C0 3.58172 3.58172 0 8 0H40C44.4183 0 48 3.58172 48 8V40C48 44.4183 44.4183 48 40 48H8C3.58172 48 0 44.4183 0 40V8Z"
                        fill="#FF6849" fill-opacity="0.25" />
                    <g clip-path="url(#clip0_4788_26950)">
                        <path d="M18.0488 26.7119L21.0749 22.5288L25.4959 24.3979L28.344 19.6807" stroke="#FF6849"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M23.1966 32.8394C28.5222 32.8394 32.8394 28.5222 32.8394 23.1966C32.8394 17.871 28.5222 13.5537 23.1966 13.5537C17.871 13.5537 13.5537 17.871 13.5537 23.1966C13.5537 28.5222 17.871 32.8394 23.1966 32.8394Z"
                            stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M30.0107 30.0107L34.4465 34.4465" stroke="#FF6849" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </g>
                    <defs>
                        <clipPath id="clip0_4788_26950">
                            <rect width="24" height="24" fill="white" transform="translate(12 12)" />
                        </clipPath>
                    </defs>
                </svg>
                <div class="sm:mt-2 text-left gap-2.5 flex flex-col">
                    <h3 class="font-bold text-headLines text-Regular sm:text-H5 xl:text-H4">
                        Discover
                    </h3>
                    <p class="hidden text-Regular text-bodyText 2xl:block">
                        Explore and discover your organization's data
                    </p>
                </div>
            </button>
            <button
                class="tab-button flex sm:flex-col md:min-w-[300px] md:min-h-[194px] items-center sm:items-start border h-fit border-gray-200 rounded-S sm:rounded-XL shadow-md p-M sm:p-L gap-2.5 hover:bg-gray-200"
                data-tab="productize">
                <svg class="w-6 h-6 sm:w-8 sm:h-8" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0 8C0 3.58172 3.58172 0 8 0H40C44.4183 0 48 3.58172 48 8V40C48 44.4183 44.4183 48 40 48H8C3.58172 48 0 44.4183 0 40V8Z"
                        fill="#FF6849" fill-opacity="0.25" />
                    <path
                        d="M19.4999 21.5L28.5 16M24 24.5L33 19M24 24.5L15 19M24 24.5V34.5M14 21.7177V26.2823C14 27.2733 14 27.7688 14.1422 28.2141C14.268 28.6081 14.474 28.9718 14.7471 29.2824C15.0557 29.6334 15.4806 29.8884 16.3304 30.3983L21.5304 33.5183C22.4283 34.057 22.8773 34.3264 23.3565 34.4316C23.7805 34.5247 24.2195 34.5247 24.6435 34.4316C25.1227 34.3264 25.5717 34.057 26.4696 33.5183L31.6696 30.3983C32.5194 29.8884 32.9443 29.6334 33.2529 29.2824C33.526 28.9718 33.732 28.6081 33.8578 28.2141C34 27.7688 34 27.2733 34 26.2823V21.7177C34 20.7267 34 20.2312 33.8578 19.7859C33.732 19.3919 33.526 19.0282 33.2529 18.7176C32.9443 18.3666 32.5194 18.1116 31.6696 17.6017L26.4696 14.4817C25.5717 13.943 25.1227 13.6736 24.6435 13.5684C24.2195 13.4753 23.7805 13.4753 23.3565 13.5684C22.8773 13.6736 22.4283 13.943 21.5304 14.4817L16.3304 17.6017C15.4806 18.1116 15.0557 18.3666 14.7471 18.7176C14.474 19.0282 14.268 19.3919 14.1422 19.7859C14 20.2312 14 20.7267 14 21.7177Z"
                        stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <div class="sm:mt-2 text-left gap-2.5 flex flex-col">
                    <h3 class="font-bold text-headLines text-Regular sm:text-H5 xl:text-H4">
                        Productize
                    </h3>
                    <p class="hidden text-Regular text-bodyText 2xl:block">
                        Create data products to accelerate data use cases
                    </p>
                </div>
            </button>
            <button
                class="tab-button flex sm:flex-col md:min-w-[300px] md:min-h-[194px] items-center sm:items-start border h-fit border-gray-200 rounded-S sm:rounded-XL shadow-md p-M sm:p-L gap-2.5 hover:bg-gray-200"
                data-tab="govern">
                <svg class="w-6 h-6 sm:w-8 sm:h-8" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0 8C0 3.58172 3.58172 0 8 0H40C44.4183 0 48 3.58172 48 8V40C48 44.4183 44.4183 48 40 48H8C3.58172 48 0 44.4183 0 40V8Z"
                        fill="#FF6849" fill-opacity="0.25" />
                    <path
                        d="M19.4999 21.5L28.5 16M24 24.5L33 19M24 24.5L15 19M24 24.5V34.5M14 21.7177V26.2823C14 27.2733 14 27.7688 14.1422 28.2141C14.268 28.6081 14.474 28.9718 14.7471 29.2824C15.0557 29.6334 15.4806 29.8884 16.3304 30.3983L21.5304 33.5183C22.4283 34.057 22.8773 34.3264 23.3565 34.4316C23.7805 34.5247 24.2195 34.5247 24.6435 34.4316C25.1227 34.3264 25.5717 34.057 26.4696 33.5183L31.6696 30.3983C32.5194 29.8884 32.9443 29.6334 33.2529 29.2824C33.526 28.9718 33.732 28.6081 33.8578 28.2141C34 27.7688 34 27.2733 34 26.2823V21.7177C34 20.7267 34 20.2312 33.8578 19.7859C33.732 19.3919 33.526 19.0282 33.2529 18.7176C32.9443 18.3666 32.5194 18.1116 31.6696 17.6017L26.4696 14.4817C25.5717 13.943 25.1227 13.6736 24.6435 13.5684C24.2195 13.4753 23.7805 13.4753 23.3565 13.5684C22.8773 13.6736 22.4283 13.943 21.5304 14.4817L16.3304 17.6017C15.4806 18.1116 15.0557 18.3666 14.7471 18.7176C14.474 19.0282 14.268 19.3919 14.1422 19.7859C14 20.2312 14 20.7267 14 21.7177Z"
                        stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <div class="sm:mt-2 text-left gap-2.5 flex flex-col">
                    <h3 class="font-bold text-headLines text-Regular sm:text-H5 xl:text-H4">
                        Govern
                    </h3>
                    <p class="hidden text-Regular text-bodyText 2xl:block">
                        Automate data security and access
                    </p>
                </div>
            </button>
        </div>

        <!-- Tab Content -->
        <div class="w-full tab-content" id="connect-content">
            <div
                class="flex flex-col gap-8 mx-L sm:mx-0 lg:flex-row py-M sm:py-XXL sm:px-L bg-backgroundFaded rounded-S sm:rounded-XL">
                <!-- Left side - Accordion -->
                <div class="self-start w-full 2xl:w-[562px] space-y-4">
                    <div class="rounded-lg shadow-sm bg-backgroundFaded accordion-item">
                        <button class="flex items-center justify-between w-full px-6 py-4 text-left accordion-trigger">
                            <span class="font-bold text-headLines text-H5 lg:text-H4">Integrate</span>
                            <svg class="w-5 h-5 transition-transform duration-200 transform" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                        <div class="hidden px-6 pb-4 accordion-content">
                            <p class="text-bodyText text-Small lg:text-Regular">
                                Connect to over 350+ datasources without touching a single line of code
                            </p>
                            <button
                                class="inline-flex items-center gap-2 px-4 py-2 mt-4 font-semibold border rounded-lg text-Small text-headLines border-brNeutral bg-backgroundPrimary hover:bg-gray-100">
                                Explore Integrations
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M6.73483 2.68796C6.88128 2.54151 7.11872 2.54151 7.26516 2.68796L10.7652 6.18791C10.8355 6.25823 10.875 6.35362 10.875 6.45307C10.875 6.55253 10.8355 6.64791 10.7652 6.71824L7.26516 10.2182C7.11872 10.3647 6.88128 10.3647 6.73484 10.2182C6.58839 10.0718 6.58839 9.83436 6.73484 9.68791L9.59467 6.82807H1.5C1.29289 6.82807 1.125 6.66018 1.125 6.45307C1.125 6.24597 1.29289 6.07807 1.5 6.07807H9.59466L6.73484 3.21829C6.58839 3.07185 6.58839 2.83441 6.73483 2.68796Z"
                                        fill="#252532" />
                                </svg>
                            </button>
                            <img id="feature-image-small-connect-integrate" src="./img/landing/hero.png"
                                alt="Example Image" class="object-contain mx-auto my-M 2xl:hidden" />
                        </div>
                    </div>
                    <div class="rounded-lg shadow-sm bg-backgroundFaded accordion-item">
                        <button class="flex items-center justify-between w-full px-6 py-4 text-left accordion-trigger">
                            <span class="font-bold text-headLines text-H5 lg:text-H4">Metalake</span>
                            <svg class="w-5 h-5 transition-transform duration-200 transform" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                        <div class="hidden px-6 pb-4 accordion-content">
                            <p class="text-bodyText text-Small lg:text-Regular">
                                Connect and manage your data lakes efficiently with our
                                metalake solution.
                            </p>
                            <button
                                class="inline-flex items-center gap-2 px-4 py-2 mt-4 font-semibold border rounded-lg text-Small text-headLines border-brNeutral bg-backgroundPrimary hover:bg-gray-100">
                                Explore Metalake
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M6.73483 2.68796C6.88128 2.54151 7.11872 2.54151 7.26516 2.68796L10.7652 6.18791C10.8355 6.25823 10.875 6.35362 10.875 6.45307C10.875 6.55253 10.8355 6.64791 10.7652 6.71824L7.26516 10.2182C7.11872 10.3647 6.88128 10.3647 6.73484 10.2182C6.58839 10.0718 6.58839 9.83436 6.73484 9.68791L9.59467 6.82807H1.5C1.29289 6.82807 1.125 6.66018 1.125 6.45307C1.125 6.24597 1.29289 6.07807 1.5 6.07807H9.59466L6.73484 3.21829C6.58839 3.07185 6.58839 2.83441 6.73483 2.68796Z"
                                        fill="#252532" />
                                </svg>
                            </button>
                            <img id="feature-image-small-connect-metalake" src="./img/landing/hero.png"
                                alt="Example Image" class="object-contain mx-auto my-M 2xl:hidden" />
                        </div>
                    </div>
                    <div class="rounded-lg shadow-sm bg-backgroundFaded accordion-item">
                        <button class="flex items-center justify-between w-full px-6 py-4 text-left accordion-trigger">
                            <span class="font-bold text-headLines text-H5 lg:text-H4">Quality Controls</span>
                            <svg class="w-5 h-5 transition-transform duration-200 transform" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                        <div class="hidden px-6 pb-4 accordion-content">
                            <p class="text-bodyText text-Small lg:text-Regular">
                                Ensure data quality with our comprehensive control
                                mechanisms.
                            </p>
                            <button
                                class="inline-flex items-center gap-2 px-4 py-2 mt-4 font-semibold border rounded-lg text-Small text-headLines border-brNeutral bg-backgroundPrimary hover:bg-gray-100">
                                Explore Data Quality
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M6.73483 2.68796C6.88128 2.54151 7.11872 2.54151 7.26516 2.68796L10.7652 6.18791C10.8355 6.25823 10.875 6.35362 10.875 6.45307C10.875 6.55253 10.8355 6.64791 10.7652 6.71824L7.26516 10.2182C7.11872 10.3647 6.88128 10.3647 6.73484 10.2182C6.58839 10.0718 6.58839 9.83436 6.73484 9.68791L9.59467 6.82807H1.5C1.29289 6.82807 1.125 6.66018 1.125 6.45307C1.125 6.24597 1.29289 6.07807 1.5 6.07807H9.59466L6.73484 3.21829C6.58839 3.07185 6.58839 2.83441 6.73483 2.68796Z"
                                        fill="#252532" />
                                </svg>
                            </button>
                            <img id="feature-image-small-connect-quality-controls" src="./img/landing/hero.png"
                                alt="Example Image" class="object-contain mx-auto my-M 2xl:hidden" />
                        </div>
                    </div>
                    <div class="rounded-lg shadow-sm bg-backgroundFaded accordion-item">
                        <button class="flex items-center justify-between w-full px-6 py-4 text-left accordion-trigger">
                            <span class="font-bold text-headLines text-H5 lg:text-H4">Version Control</span>
                            <svg class="w-5 h-5 transition-transform duration-200 transform" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                        <div class="hidden px-6 pb-4 accordion-content">
                            <p class="text-bodyText text-Small lg:text-Regular">
                                Track and manage changes with built-in version control
                                features.
                            </p>
                            <button
                                class="inline-flex items-center gap-2 px-4 py-2 mt-4 font-semibold border rounded-lg text-Small text-headLines border-brNeutral bg-backgroundPrimary hover:bg-gray-100">
                                Explore Version Control
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M6.73483 2.68796C6.88128 2.54151 7.11872 2.54151 7.26516 2.68796L10.7652 6.18791C10.8355 6.25823 10.875 6.35362 10.875 6.45307C10.875 6.55253 10.8355 6.64791 10.7652 6.71824L7.26516 10.2182C7.11872 10.3647 6.88128 10.3647 6.73484 10.2182C6.58839 10.0718 6.58839 9.83436 6.73484 9.68791L9.59467 6.82807H1.5C1.29289 6.82807 1.125 6.66018 1.125 6.45307C1.125 6.24597 1.29289 6.07807 1.5 6.07807H9.59466L6.73484 3.21829C6.58839 3.07185 6.58839 2.83441 6.73483 2.68796Z"
                                        fill="#252532" />
                                </svg>
                            </button>
                            <img id="feature-image-small-connect-version-control" src="./img/landing/hero.png"
                                alt="Example Image" class="object-contain mx-auto my-M 2xl:hidden" />
                        </div>
                    </div>
                </div>
                <!-- Right side - Image -->
                <div class="relative flex-1 overflow-hidden bg-white shadow-lg rounded-xl">
                    <img id="feature-image" src="./img/landing/app-result.png" alt="Feature illustration"
                        class="hidden object-cover w-full h-full transition-opacity duration-300 2xl:block"
                        style="min-height: 400px" />
                </div>
            </div>
        </div>

        <div class="hidden tab-content" id="discover-content">
            <div
                class="flex flex-col gap-8 mx-L sm:mx-0 lg:flex-row py-M sm:py-XXL sm:px-L bg-backgroundFaded rounded-S sm:rounded-XL">
                <!-- Left side - Accordion -->
                <div class="self-start w-full 2xl:w-[562px] space-y-4">
                    <div class="rounded-lg shadow-sm bg-backgroundFaded accordion-item">
                        <button class="flex items-center justify-between w-full px-6 py-4 text-left accordion-trigger">
                            <span class="font-bold text-headLines text-H5 lg:text-H4">Catalog</span>
                            <svg class="w-5 h-5 transition-transform duration-200 transform" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                        <div class="hidden px-6 pb-4 accordion-content">
                            <p class="text-bodyText text-Small lg:text-Regular">
                                Catalog and explore the availability of data from different domains and workspaces
                            </p>
                            <button
                                class="inline-flex items-center gap-2 px-4 py-2 mt-4 font-semibold border rounded-lg text-Small text-headLines border-brNeutral bg-backgroundPrimary hover:bg-gray-100">
                                Explore Catalog
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M6.73483 2.68796C6.88128 2.54151 7.11872 2.54151 7.26516 2.68796L10.7652 6.18791C10.8355 6.25823 10.875 6.35362 10.875 6.45307C10.875 6.55253 10.8355 6.64791 10.7652 6.71824L7.26516 10.2182C7.11872 10.3647 6.88128 10.3647 6.73484 10.2182C6.58839 10.0718 6.58839 9.83436 6.73484 9.68791L9.59467 6.82807H1.5C1.29289 6.82807 1.125 6.66018 1.125 6.45307C1.125 6.24597 1.29289 6.07807 1.5 6.07807H9.59466L6.73484 3.21829C6.58839 3.07185 6.58839 2.83441 6.73483 2.68796Z"
                                        fill="#252532" />
                                </svg>
                            </button>
                            <img id="feature-image-small-discover-data-exploration" src="./img/landing/hero.png"
                                alt="Example Image" class="object-contain mx-auto my-M 2xl:hidden" />
                        </div>
                    </div>
                    <div class="rounded-lg shadow-sm bg-backgroundFaded accordion-item">
                        <button class="flex items-center justify-between w-full px-6 py-4 text-left accordion-trigger">
                            <span class="font-bold text-headLines text-H5 lg:text-H4">Lineage</span>
                            <svg class="w-5 h-5 transition-transform duration-200 transform" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                        <div class="hidden px-6 pb-4 accordion-content">
                            <p class="text-bodyText text-Small lg:text-Regular">
                                Identify data lineage and trace back to its origins, supporting advanced lineage
                                analysis
                            </p>
                            <button
                                class="inline-flex items-center gap-2 px-4 py-2 mt-4 font-semibold border rounded-lg text-Small text-headLines border-brNeutral bg-backgroundPrimary hover:bg-gray-100">
                                Explore Lineage
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M6.73483 2.68796C6.88128 2.54151 7.11872 2.54151 7.26516 2.68796L10.7652 6.18791C10.8355 6.25823 10.875 6.35362 10.875 6.45307C10.875 6.55253 10.8355 6.64791 10.7652 6.71824L7.26516 10.2182C7.11872 10.3647 6.88128 10.3647 6.73484 10.2182C6.58839 10.0718 6.58839 9.83436 6.73484 9.68791L9.59467 6.82807H1.5C1.29289 6.82807 1.125 6.66018 1.125 6.45307C1.125 6.24597 1.29289 6.07807 1.5 6.07807H9.59466L6.73484 3.21829C6.58839 3.07185 6.58839 2.83441 6.73483 2.68796Z"
                                        fill="#252532" />
                                </svg>
                            </button>
                            <img id="feature-image-small-discover-pattern-recognition" src="./img/landing/hero.png"
                                alt="Example Image" class="object-contain mx-auto my-M 2xl:hidden" />
                        </div>
                    </div>
                    <div class="rounded-lg shadow-sm bg-backgroundFaded accordion-item">
                        <button class="flex items-center justify-between w-full px-6 py-4 text-left accordion-trigger">
                            <span class="font-bold text-headLines text-H5 lg:text-H4">Search</span>
                            <svg class="w-5 h-5 transition-transform duration-200 transform" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                        <div class="hidden px-6 pb-4 accordion-content">
                            <p class="text-bodyText text-Small lg:text-Regular">
                                Search for specific data products, tables, models across your data-estate
                            </p>
                            <button
                                class="inline-flex items-center gap-2 px-4 py-2 mt-4 font-semibold border rounded-lg text-Small text-headLines border-brNeutral bg-backgroundPrimary hover:bg-gray-100">
                                Explore Search
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M6.73483 2.68796C6.88128 2.54151 7.11872 2.54151 7.26516 2.68796L10.7652 6.18791C10.8355 6.25823 10.875 6.35362 10.875 6.45307C10.875 6.55253 10.8355 6.64791 10.7652 6.71824L7.26516 10.2182C7.11872 10.3647 6.88128 10.3647 6.73484 10.2182C6.58839 10.0718 6.58839 9.83436 6.73484 9.68791L9.59467 6.82807H1.5C1.29289 6.82807 1.125 6.66018 1.125 6.45307C1.125 6.24597 1.29289 6.07807 1.5 6.07807H9.59466L6.73484 3.21829C6.58839 3.07185 6.58839 2.83441 6.73483 2.68796Z"
                                        fill="#252532" />
                                </svg>
                            </button>
                            <img id="feature-image-small-discover-anomaly-detection" src="./img/landing/hero.png"
                                alt="Example Image" class="object-contain mx-auto my-M 2xl:hidden" />
                        </div>
                    </div>
                    <div class="rounded-lg shadow-sm bg-backgroundFaded accordion-item">
                        <button class="flex items-center justify-between w-full px-6 py-4 text-left accordion-trigger">
                            <span class="font-bold text-headLines text-H5 lg:text-H4">Chat</span>
                            <svg class="w-5 h-5 transition-transform duration-200 transform" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                        <div class="hidden px-6 pb-4 accordion-content">
                            <p class="text-bodyText text-Small lg:text-Regular">
                                Chat with your data and models in real-time
                            </p>
                            <button
                                class="inline-flex items-center gap-2 px-4 py-2 mt-4 font-semibold border rounded-lg text-Small text-headLines border-brNeutral bg-backgroundPrimary hover:bg-gray-100">
                                Explore Chat
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M6.73483 2.68796C6.88128 2.54151 7.11872 2.54151 7.26516 2.68796L10.7652 6.18791C10.8355 6.25823 10.875 6.35362 10.875 6.45307C10.875 6.55253 10.8355 6.64791 10.7652 6.71824L7.26516 10.2182C7.11872 10.3647 6.88128 10.3647 6.73484 10.2182C6.58839 10.0718 6.58839 9.83436 6.73484 9.68791L9.59467 6.82807H1.5C1.29289 6.82807 1.125 6.66018 1.125 6.45307C1.125 6.24597 1.29289 6.07807 1.5 6.07807H9.59466L6.73484 3.21829C6.58839 3.07185 6.58839 2.83441 6.73483 2.68796Z"
                                        fill="#252532" />
                                </svg>
                            </button>
                            <img id="feature-image-small-discover-anomaly-detection-todo" src="./img/landing/hero.png"
                                alt="Example Image" class="object-contain mx-auto my-M 2xl:hidden" />
                        </div>
                    </div>
                </div>
                <!-- Right side - Image -->
                <div class="relative flex-1 overflow-hidden bg-white shadow-lg rounded-xl">
                    <img id="discover-image" src="./img/landing/app-result.png" alt="Discover feature illustration"
                        class="hidden object-cover w-full h-full transition-opacity duration-300 2xl:block"
                        style="min-height: 400px" />
                </div>
            </div>
        </div>

        <div class="hidden tab-content" id="productize-content">
            <div
                class="flex flex-col gap-8 mx-L sm:mx-0 lg:flex-row py-M sm:py-XXL sm:px-L bg-backgroundFaded rounded-S sm:rounded-XL">
                <!-- Left side - Accordion -->
                <div class="self-start w-full 2xl:w-[562px] space-y-4">
                    <div class="rounded-lg shadow-sm bg-backgroundFaded accordion-item">
                        <button class="flex items-center justify-between w-full px-6 py-4 text-left accordion-trigger">
                            <span class="font-bold text-headLines text-H5 lg:text-H4">Model</span>
                            <svg class="w-5 h-5 transition-transform duration-200 transform" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                        <div class="hidden px-6 pb-4 accordion-content">
                            <p class="text-bodyText text-Small lg:text-Regular">
                                Create your data models using SQL (multi-dialect) or Python
                            </p>
                            <button
                                class="inline-flex items-center gap-2 px-4 py-2 mt-4 font-semibold border rounded-lg text-Small text-headLines border-brNeutral bg-backgroundPrimary hover:bg-gray-100">
                                Explore Data Modeling
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M6.73483 2.68796C6.88128 2.54151 7.11872 2.54151 7.26516 2.68796L10.7652 6.18791C10.8355 6.25823 10.875 6.35362 10.875 6.45307C10.875 6.55253 10.8355 6.64791 10.7652 6.71824L7.26516 10.2182C7.11872 10.3647 6.88128 10.3647 6.73484 10.2182C6.58839 10.0718 6.58839 9.83436 6.73484 9.68791L9.59467 6.82807H1.5C1.29289 6.82807 1.125 6.66018 1.125 6.45307C1.125 6.24597 1.29289 6.07807 1.5 6.07807H9.59466L6.73484 3.21829C6.58839 3.07185 6.58839 2.83441 6.73483 2.68796Z"
                                        fill="#252532" />
                                </svg>
                            </button>
                            <img id="feature-image-small-productize-data-packaging" src="./img/landing/hero.png"
                                alt="Example Image" class="object-contain mx-auto my-M 2xl:hidden" />
                        </div>
                    </div>
                    <div class="rounded-lg shadow-sm bg-backgroundFaded accordion-item">
                        <button class="flex items-center justify-between w-full px-6 py-4 text-left accordion-trigger">
                            <span class="font-bold text-headLines text-H5 lg:text-H4">AI/ML</span>
                            <svg class="w-5 h-5 transition-transform duration-200 transform" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                        <div class="hidden px-6 pb-4 accordion-content">
                            <p class="text-bodyText text-Small lg:text-Regular">
                                Accelerate your AI/ML initiatives and workflows from local development to petabyte-scale
                                workloads
                            </p>
                            <button
                                class="inline-flex items-center gap-2 px-4 py-2 mt-4 font-semibold border rounded-lg text-Small text-headLines border-brNeutral bg-backgroundPrimary hover:bg-gray-100">
                                Explore AI/ML
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M6.73483 2.68796C6.88128 2.54151 7.11872 2.54151 7.26516 2.68796L10.7652 6.18791C10.8355 6.25823 10.875 6.35362 10.875 6.45307C10.875 6.55253 10.8355 6.64791 10.7652 6.71824L7.26516 10.2182C7.11872 10.3647 6.88128 10.3647 6.73484 10.2182C6.58839 10.0718 6.58839 9.83436 6.73484 9.68791L9.59467 6.82807H1.5C1.29289 6.82807 1.125 6.66018 1.125 6.45307C1.125 6.24597 1.29289 6.07807 1.5 6.07807H9.59466L6.73484 3.21829C6.58839 3.07185 6.58839 2.83441 6.73483 2.68796Z"
                                        fill="#252532" />
                                </svg>
                            </button>
                            <img id="feature-image-small-productize-api-generation" src="./img/landing/hero.png"
                                alt="Example Image" class="object-contain mx-auto my-M 2xl:hidden" />
                        </div>
                    </div>
                    <div class="rounded-lg shadow-sm bg-backgroundFaded accordion-item">
                        <button class="flex items-center justify-between w-full px-6 py-4 text-left accordion-trigger">
                            <span class="font-bold text-headLines text-H5 lg:text-H4">Package</span>
                            <svg class="w-5 h-5 transition-transform duration-200 transform" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                        <div class="hidden px-6 pb-4 accordion-content">
                            <p class="text-bodyText text-Small lg:text-Regular">
                                Package your data and AI/ML models into production-ready, scalable, and secure solutions
                            </p>
                            <button
                                class="inline-flex items-center gap-2 px-4 py-2 mt-4 font-semibold border rounded-lg text-Small text-headLines border-brNeutral bg-backgroundPrimary hover:bg-gray-100">
                                Explore Data Products
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M6.73483 2.68796C6.88128 2.54151 7.11872 2.54151 7.26516 2.68796L10.7652 6.18791C10.8355 6.25823 10.875 6.35362 10.875 6.45307C10.875 6.55253 10.8355 6.64791 10.7652 6.71824L7.26516 10.2182C7.11872 10.3647 6.88128 10.3647 6.73484 10.2182C6.58839 10.0718 6.58839 9.83436 6.73484 9.68791L9.59467 6.82807H1.5C1.29289 6.82807 1.125 6.66018 1.125 6.45307C1.125 6.24597 1.29289 6.07807 1.5 6.07807H9.59466L6.73484 3.21829C6.58839 3.07185 6.58839 2.83441 6.73483 2.68796Z"
                                        fill="#252532" />
                                </svg>
                            </button>
                            <img id="feature-image-small-productize-monetization" src="./img/landing/hero.png"
                                alt="Example Image" class="object-contain mx-auto my-M 2xl:hidden" />
                        </div>
                    </div>
                    <div class="rounded-lg shadow-sm bg-backgroundFaded accordion-item">
                        <button class="flex items-center justify-between w-full px-6 py-4 text-left accordion-trigger">
                            <span class="font-bold text-headLines text-H5 lg:text-H4">Automation</span>
                            <svg class="w-5 h-5 transition-transform duration-200 transform" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                        <div class="hidden px-6 pb-4 accordion-content">
                            <p class="text-bodyText text-Small lg:text-Regular">
                                Automatically process your data based on lineage and triggers
                            </p>
                            <button
                                class="inline-flex items-center gap-2 px-4 py-2 mt-4 font-semibold border rounded-lg text-Small text-headLines border-brNeutral bg-backgroundPrimary hover:bg-gray-100">
                                Explore Automation
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M6.73483 2.68796C6.88128 2.54151 7.11872 2.54151 7.26516 2.68796L10.7652 6.18791C10.8355 6.25823 10.875 6.35362 10.875 6.45307C10.875 6.55253 10.8355 6.64791 10.7652 6.71824L7.26516 10.2182C7.11872 10.3647 6.88128 10.3647 6.73484 10.2182C6.58839 10.0718 6.58839 9.83436 6.73484 9.68791L9.59467 6.82807H1.5C1.29289 6.82807 1.125 6.66018 1.125 6.45307C1.125 6.24597 1.29289 6.07807 1.5 6.07807H9.59466L6.73484 3.21829C6.58839 3.07185 6.58839 2.83441 6.73483 2.68796Z"
                                        fill="#252532" />
                                </svg>
                            </button>
                            <img id="feature-image-small-productize-monetization" src="./img/landing/hero.png"
                                alt="Example Image" class="object-contain mx-auto my-M 2xl:hidden" />
                        </div>
                    </div>
                </div>
                <!-- Right side - Image -->
                <div class="relative flex-1 overflow-hidden bg-white shadow-lg rounded-xl">
                    <img id="productize-image" src="./img/landing/app-result.png" alt="Productize feature illustration"
                        class="hidden object-cover w-full h-full transition-opacity duration-300 2xl:block"
                        style="min-height: 400px" />
                </div>
            </div>
        </div>

        <div class="hidden tab-content" id="govern-content">
            <div
                class="flex flex-col gap-8 mx-L sm:mx-0 lg:flex-row py-M sm:py-XXL sm:px-L bg-backgroundFaded rounded-S sm:rounded-XL">
                <!-- Left side - Accordion -->
                <div class="self-start w-full 2xl:w-[562px] space-y-4">
                    <div class="rounded-lg shadow-sm bg-backgroundFaded accordion-item">
                        <button class="flex items-center justify-between w-full px-6 py-4 text-left accordion-trigger">
                            <span class="font-bold text-headLines text-H5 lg:text-H4">Computational Governance</span>
                            <svg class="w-5 h-5 transition-transform duration-200 transform" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                        <div class="hidden px-6 pb-4 accordion-content">
                            <p class="text-bodyText text-Small lg:text-Regular">
                                Implement robust data governance policies and procedures
                            </p>
                            <button
                                class="inline-flex items-center gap-2 px-4 py-2 mt-4 font-semibold border rounded-lg text-Small text-headLines border-brNeutral bg-backgroundPrimary hover:bg-gray-100">
                                Explore Govern
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M6.73483 2.68796C6.88128 2.54151 7.11872 2.54151 7.26516 2.68796L10.7652 6.18791C10.8355 6.25823 10.875 6.35362 10.875 6.45307C10.875 6.55253 10.8355 6.64791 10.7652 6.71824L7.26516 10.2182C7.11872 10.3647 6.88128 10.3647 6.73484 10.2182C6.58839 10.0718 6.58839 9.83436 6.73484 9.68791L9.59467 6.82807H1.5C1.29289 6.82807 1.125 6.66018 1.125 6.45307C1.125 6.24597 1.29289 6.07807 1.5 6.07807H9.59466L6.73484 3.21829C6.58839 3.07185 6.58839 2.83441 6.73483 2.68796Z"
                                        fill="#252532" />
                                </svg>
                            </button>
                            <img id="feature-image-small-govern-data-governance"
                                src="./img/landing/application_security_posture.png" alt="Example Image"
                                class="object-contain mx-auto my-M 2xl:hidden" />
                        </div>
                    </div>
                    <div class="rounded-lg shadow-sm bg-backgroundFaded accordion-item">
                        <button class="flex items-center justify-between w-full px-6 py-4 text-left accordion-trigger">
                            <span class="font-bold text-headLines text-H5 lg:text-H4">Access Requests</span>
                            <svg class="w-5 h-5 transition-transform duration-200 transform" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                        <div class="hidden px-6 pb-4 accordion-content">
                            <p class="text-bodyText text-Small lg:text-Regular">
                                Ensure compliance with industry regulations and standards with manual or automated
                                access requests
                            </p>
                            <button
                                class="inline-flex items-center gap-2 px-4 py-2 mt-4 font-semibold border rounded-lg text-Small text-headLines border-brNeutral bg-backgroundPrimary hover:bg-gray-100">
                                Explore Access Requests
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M6.73483 2.68796C6.88128 2.54151 7.11872 2.54151 7.26516 2.68796L10.7652 6.18791C10.8355 6.25823 10.875 6.35362 10.875 6.45307C10.875 6.55253 10.8355 6.64791 10.7652 6.71824L7.26516 10.2182C7.11872 10.3647 6.88128 10.3647 6.73484 10.2182C6.58839 10.0718 6.58839 9.83436 6.73484 9.68791L9.59467 6.82807H1.5C1.29289 6.82807 1.125 6.66018 1.125 6.45307C1.125 6.24597 1.29289 6.07807 1.5 6.07807H9.59466L6.73484 3.21829C6.58839 3.07185 6.58839 2.83441 6.73483 2.68796Z"
                                        fill="#252532" />
                                </svg>
                            </button>
                            <img id="feature-image-small-govern-compliance-management"
                                src="./img/landing/access-requests.png" alt="Example Image"
                                class="object-contain mx-auto my-M 2xl:hidden" />
                        </div>
                    </div>
                    <div class="rounded-lg shadow-sm bg-backgroundFaded accordion-item">
                        <button class="flex items-center justify-between w-full px-6 py-4 text-left accordion-trigger">
                            <span class="font-bold text-headLines text-H5 lg:text-H4">AI Data Scanner</span>
                            <svg class="w-5 h-5 transition-transform duration-200 transform" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                        <div class="hidden px-6 pb-4 accordion-content">
                            <p class="text-bodyText text-Small lg:text-Regular">
                                Manage user access and permissions for data security using AI, scanning your data and
                                identify potential security risks
                            </p>
                            <button
                                class="inline-flex items-center gap-2 px-4 py-2 mt-4 font-semibold border rounded-lg text-Small text-headLines border-brNeutral bg-backgroundPrimary hover:bg-gray-100">
                                Explore Data Scanner
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M6.73483 2.68796C6.88128 2.54151 7.11872 2.54151 7.26516 2.68796L10.7652 6.18791C10.8355 6.25823 10.875 6.35362 10.875 6.45307C10.875 6.55253 10.8355 6.64791 10.7652 6.71824L7.26516 10.2182C7.11872 10.3647 6.88128 10.3647 6.73484 10.2182C6.58839 10.0718 6.58839 9.83436 6.73484 9.68791L9.59467 6.82807H1.5C1.29289 6.82807 1.125 6.66018 1.125 6.45307C1.125 6.24597 1.29289 6.07807 1.5 6.07807H9.59466L6.73484 3.21829C6.58839 3.07185 6.58839 2.83441 6.73483 2.68796Z"
                                        fill="#252532" />
                                </svg>
                            </button>
                            <img id="feature-image-small-govern-access-control" src="./img/landing/hero.png"
                                alt="Example Image" class="object-contain mx-auto my-M 2xl:hidden" />
                        </div>
                    </div>
                    <div class="rounded-lg shadow-sm bg-backgroundFaded accordion-item">
                        <button class="flex items-center justify-between w-full px-6 py-4 text-left accordion-trigger">
                            <span class="font-bold text-headLines text-H5 lg:text-H4">Audit Logs</span>
                            <svg class="w-5 h-5 transition-transform duration-200 transform" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                        <div class="hidden px-6 pb-4 accordion-content">
                            <p class="text-bodyText text-Small lg:text-Regular">
                                Monitor and analyse user activity and access logs, helping you identify and resolve
                                security issues
                            </p>
                            <button
                                class="inline-flex items-center gap-2 px-4 py-2 mt-4 font-semibold border rounded-lg text-Small text-headLines border-brNeutral bg-backgroundPrimary hover:bg-gray-100">
                                Explore Audit Logs
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M6.73483 2.68796C6.88128 2.54151 7.11872 2.54151 7.26516 2.68796L10.7652 6.18791C10.8355 6.25823 10.875 6.35362 10.875 6.45307C10.875 6.55253 10.8355 6.64791 10.7652 6.71824L7.26516 10.2182C7.11872 10.3647 6.88128 10.3647 6.73484 10.2182C6.58839 10.0718 6.58839 9.83436 6.73484 9.68791L9.59467 6.82807H1.5C1.29289 6.82807 1.125 6.66018 1.125 6.45307C1.125 6.24597 1.29289 6.07807 1.5 6.07807H9.59466L6.73484 3.21829C6.58839 3.07185 6.58839 2.83441 6.73483 2.68796Z"
                                        fill="#252532" />
                                </svg>
                            </button>
                            <img id="feature-image-small-govern-access-control" src="./img/landing/hero.png"
                                alt="Example Image" class="object-contain mx-auto my-M 2xl:hidden" />
                        </div>
                    </div>
                </div>
                <!-- Right side - Image -->
                <div class="relative flex-1 overflow-hidden bg-white shadow-lg rounded-xl">
                    <img id="govern-image" src="./img/landing/access-requests.png" alt="Govern feature illustration"
                        class="hidden object-cover w-full h-full transition-opacity duration-300 2xl:block"
                        style="min-height: 400px" />
                </div>
            </div>
        </div>
    </section>

    <!-- CLOUD SECTION -->
    <section>
        <div
            class="flex flex-col items-center justify-center m-L md:m-0 py-XXL md:py-XXXL gap-XXL md:gap-XXXL bg-backgroundPrimary">
            <h2 class="font-bold text-center text-15 md:text-headline2  text-headLines max-w-[708px] text-brPrimary">
                Access, Combine, and Scale Your Data on Any Cloud
            </h2>
            <img src="./img/landing/cloud.png" alt="Cloud Unilake">
        </div>
    </section>

    <!-- FEATURES SECTION -->
    <section class="mx-auto py-XXL md:py-XXXL px-L md:px-40 2xl:pr-40 2xl:pl-0 bg-neutral">
        <div class="relative">
            <div class="absolute top-[-5%] bottom-[-5%] hidden w-0.5 lg:block left-1/2">
                <div class="w-full h-full bg-neutral" style="
                background-image: linear-gradient(to bottom, transparent 20%, orange 20%, orange 50%, transparent 50%);
                background-size: 1px 32px;
                mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
                -webkit-mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
            "></div>
            </div>
            <div class="absolute hidden md:block lg:hidden left-[-80px] top-0 bottom-0 w-0.5">
                <div class="w-full h-full bg-neutral" style="
                background-image: linear-gradient(to bottom, transparent 20%, orange 20%, orange 50%, transparent 50%);
                background-size: 1px 32px;
                mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
                -webkit-mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
            "></div>
            </div>

            <!-- Features Container -->
            <div class="space-y-24">
                <!-- Open Source Feature -->
                <div
                    class="relative grid md:grid-cols-1 md:ml-20 lg:ml-0 lg:grid-cols-[2fr,1fr,2fr] gap-8 items-center">
                    <div
                        class="absolute hidden w-8 h-8 -translate-x-1/2 -translate-y-1/2 rounded-full shadow-md bg-brand lg:block left-1/2 top-1/2">
                    </div>
                    <div
                        class="absolute hidden md:block lg:hidden left-[-175px] top-1/2 -translate-y-1/2 w-8 h-8 bg-brand rounded-full shadow-md">
                    </div>

                    <div class="mx-auto ">
                        <img class="w-[70%] 2xl:ml-auto 2xl:-mr-10 mx-auto" src="./img/landing/open-source.png" alt="">
                    </div>
                    <div class="hidden w-px h-full bg-transparent lg:block"></div>
                    <div class="space-y-4 md:mt-8 lg:mt-0">
                        <h2 class="font-bold text-headline3 md:text-15 text-textPrimary tracking-[-1.2px]">Open Source
                        </h2>
                        <p class="text-textPrimary text-Regular">Unilake is a fully open source data and AI platform
                            licensed under the AGPL 3.0 and EUPL license. Giving full freedom to audit and adapt the
                            platform to your needs. Both control plane and compute plane are open source, you can run
                            Unilake fully isolated on an environment of your choice.</p>
                    </div>
                </div>

                <!-- At Scale Feature -->
                <div
                    class="relative grid md:grid-cols-1 md:ml-20 lg:ml-0 lg:grid-cols-[2fr,1fr,2fr] gap-8 items-center">
                    <div
                        class="absolute hidden w-8 h-8 -translate-x-1/2 -translate-y-1/2 rounded-full shadow-md bg-brand lg:block left-1/2 top-1/2">
                    </div>
                    <div
                        class="absolute hidden md:block lg:hidden left-[-175px] top-1/2 -translate-y-1/2 w-8 h-8 bg-brand rounded-full shadow-md">
                    </div>

                    <div class="mx-auto ">
                        <img class="w-[70%] 2xl:ml-auto 2xl:mr-0 mx-auto" src="./img/landing/at-scale.png" alt="">
                    </div>
                    <div class="hidden w-px h-full bg-transparent lg:block"></div>
                    <div class="space-y-4 md:mt-8 lg:mt-0">
                        <h2 class="font-bold text-headline3 md:text-15 text-textPrimary tracking-[-1.2px]">At Scale</h2>
                        <p class="text-textPrimary text-Regular">Whether you have gigabytes or petabytes of data,
                            Unilake is battle tested for both large and small datasets. Analyse vast amounts of data in
                            subseconds securely using our scalable and unified security approach with dynamic ABAC
                            policies.
                            Create branches on your environments, allowing different workspaces and teams to work on
                            data securely and instantly.</p>
                    </div>
                </div>

                <!-- Fully Integrated Feature -->
                <div
                    class="relative grid md:grid-cols-1 md:ml-20 lg:ml-0 lg:grid-cols-[2fr,1fr,2fr] gap-8 items-center">
                    <div
                        class="absolute hidden w-8 h-8 -translate-x-1/2 -translate-y-1/2 rounded-full shadow-md bg-brand lg:block left-1/2 top-1/2">
                    </div>
                    <div
                        class="absolute hidden md:block lg:hidden left-[-175px] top-1/2 -translate-y-1/2 w-8 h-8 bg-brand rounded-full shadow-md">
                    </div>

                    <div class="mx-auto ">
                        <img class="w-[70%] 2xl:ml-auto 2xl:mr-0 mx-auto" src="./img/landing/fully-integrated.png"
                            alt="">
                    </div>
                    <div class="hidden w-px h-full bg-transparent lg:block"></div>
                    <div class="space-y-4 md:mt-8 lg:mt-0">
                        <h2 class="font-bold text-headline3 md:text-15 text-textPrimary tracking-[-1.2px]"">Fully Integrated</h2>
                    <p class=" text-textPrimary text-Regular">Unilake integrates with over 300+ source
                            connectors, from databases to APIs. Latest technologies like Daft (dataframes), SqlMesh
                            (data models), StarRocks (SQL Lakehouse), Gravitino (metalake) and Ray (distributed compute)
                            create the foundation of Unilake</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- CTA SECTION -->
    @* <section class=""> *@
    @*     <div *@
    @*         class="relative flex flex-col items-center justify-center overflow-hidden bg-neutral px-M py-XXL md:py-XXXL"> *@
    @*         <div class="absolute top-0 right-0 z-10"> *@
    @*             <svg xmlns="http://www.w3.org/2000/svg" width="541" height="401" viewBox="0 0 541 401" fill="none"> *@
    @*                 <path *@
    @*                     d="M100.065 -299.948C230.992 -428.711 441.512 -426.956 570.274 -296.03L803.42 -58.9654L329.292 407.326L96.146 170.261C-32.6167 39.3345 -30.8622 -171.186 100.065 -299.948Z" *@
    @*                     fill="url(#paint0_linear_4653_35971)" /> *@
    @*                 <defs> *@
    @*                     <linearGradient id="paint0_linear_4653_35971" x1="108.757" y1="-314.434" x2="580.824" *@
    @*                         y2="166.042" gradientUnits="userSpaceOnUse"> *@
    @*                         <stop stop-color="#EFEEEB" /> *@
    @*                         <stop offset="1" stop-color="#F9F8F6" /> *@
    @*                     </linearGradient> *@
    @*                 </defs> *@
    @*             </svg> *@
    @* *@
    @*         </div> *@
    @*         <div class="absolute bottom-0 left-0 z-10"> *@
    @*             <svg xmlns="http://www.w3.org/2000/svg" width="587" height="182" viewBox="0 0 587 182" fill="none"> *@
    @*                 <path *@
    @*                     d="M-126.864 275.284C-94.7567 94.4785 77.8437 -26.0656 258.65 6.04178L586.028 64.1773L469.757 718.934L142.379 660.798C-38.4273 628.691 -158.971 456.09 -126.864 275.284Z" *@
    @*                     fill="url(#paint0_linear_4653_35970)" /> *@
    @*                 <defs> *@
    @*                     <linearGradient id="paint0_linear_4653_35970" x1="-128.173" y1="258.442" x2="534.97" y2="376.54" *@
    @*                         gradientUnits="userSpaceOnUse"> *@
    @*                         <stop stop-color="#EFEEEB" /> *@
    @*                         <stop offset="1" stop-color="#F9F8F6" /> *@
    @*                     </linearGradient> *@
    @*                 </defs> *@
    @*             </svg> *@
    @*         </div> *@
    @*         <div class="z-20 flex flex-col items-center gap-XL"> *@
    @*             <div class="flex flex-col gap-4"> *@
    @*                 <h2 *@
    @*                     class="font-bold text-center text-headline3 md:text-headline2  text-headLines max-w-[708px] tracking-[-1.44px] text-brPrimary"> *@
    @*                     Ready? Let's Connect *@
    @*                 </h2> *@
    @*                 <p class="text-center px-L font-inter text-bodyText text-Regular">Check out our current development *@
    @*                     at github or book a call with us</p> *@
    @*             </div> *@
    @*             <button *@
    @*                 class="flex items-center justify-center w-full gap-S px-L py-SM bg-brand rounded-S md:w-fit brand-color-button"> *@
    @*                 <h5 class="font-semibold text-neutral md:text-14 text-Small"> *@
    @*                     Book demo *@
    @*                 </h5> *@
    @*                 <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none"> *@
    @*                     <path *@
    @*                         d="M6.22668 11.9545L9.28002 8.89447L6.22668 5.83447L7.16668 4.89447L11.1667 8.89447L7.16668 12.8945L6.22668 11.9545Z" *@
    @*                         fill="#E6EFF4" /> *@
    @*                 </svg> *@
    @*             </button> *@
    @*         </div> *@
    @*     </div> *@
    @* </section> *@

</main>



<script>
    // Tab switching functionality
    const tabButtons = document.querySelectorAll('.tab-button')
    const tabContents = document.querySelectorAll('.tab-content')

    tabButtons.forEach((button) => {
        button.addEventListener('click', () => {
            const tabId = button.getAttribute('data-tab')

            tabButtons.forEach((btn) =>
                btn.classList.remove('bg-backgroundFaded', 'hover:bg-backgroundFaded')
            )
            tabContents.forEach((content) => content.classList.add('hidden'))

            button.classList.add('bg-backgroundFaded', 'hover:bg-backgroundFaded')
            document.getElementById(`${tabId}-content`).classList.remove('hidden')

            // Open first accordion item in the newly selected tab
            const firstAccordionTrigger = document.querySelector(
                `#${tabId}-content .accordion-trigger`
            )
            if (firstAccordionTrigger) {
                openAccordion(firstAccordionTrigger)
            }
        })
    })

    // Accordion functionality
    const accordionTriggers = document.querySelectorAll('.accordion-trigger')

    function closeAllAccordions(excludeTrigger = null) {
        accordionTriggers.forEach((trigger) => {
            if (trigger !== excludeTrigger) {
                const content = trigger.nextElementSibling
                const arrow = trigger.querySelector('svg')
                content.classList.add('hidden')
                arrow.classList.remove('rotate-180')
            }
        })
    }

    function openAccordion(trigger) {
        const content = trigger.nextElementSibling
        const arrow = trigger.querySelector('svg')
        content.classList.remove('hidden')
        arrow.classList.add('rotate-180')
        updateImage(trigger)
    }

    accordionTriggers.forEach((trigger) => {
        trigger.addEventListener('click', () => {
            const content = trigger.nextElementSibling
            const isOpen = !content.classList.contains('hidden')

            if (!isOpen) {
                // Close all except the current trigger
                closeAllAccordions(trigger)
                // Open the current accordion
                openAccordion(trigger)
            }
        })
    })

    // Image update functionality
    const images = {
        connect: {
            'Integrate': './img/landing/app-result.png',
            'Metalake': './img/landing/application_query_result.png',
            'Quality Controls': './img/landing/application_tableview_dataquality.png',
            'Version Control': './img/landing/file_changes.png',
        },
        discover: {
            'Catalog': './img/landing/application_catalog_initial_advanced_search.png',
            'Lineage': './img/landing/application_tableview_lineage_secondcolumnselected.png',
            'Search': './img/landing/application_catalog_initial_advanced_search.png',
            'Chat': './img/landing/application_catalog_chat.png',
        },
        productize: {
            'Model': './img/landing/application_query_lineage.png',
            'AI/ML': './img/landing/application_query_lineage.png',
            'Package': './img/landing/application_data products_overview.png',
            'Automation': './img/landing/app-result.png',
        },
        govern: {
            'Computational Governance': './img/landing/application_security_posture.png',
            'Access Requests': './img/landing/access-requests.png',
            'AI Data Scanner': './img/landing/application_table_view_schema.png',
            'Audit Logs': './img/landing/application_auditlog.png',
        },
    }

    function updateImage(trigger) {
        const tabId = trigger.closest('.tab-content').id.replace('-content', '')
        const accordionTitle = trigger.querySelector('span').textContent
        const imageElement =
            document.getElementById(`${tabId}-image`) ||
            document.getElementById('feature-image')
        const smallImageElement = document.getElementById(
            `feature-image-small-${tabId}-${accordionTitle
                .toLowerCase()
                .replace(/\s+/g, '-')}`
        )

        if (images[tabId] && images[tabId][accordionTitle]) {
            if (imageElement) {
                imageElement.style.opacity = '0'
                setTimeout(() => {
                    imageElement.src = images[tabId][accordionTitle]
                    imageElement.style.opacity = '1'
                }, 100)
            }

            if (smallImageElement) {
                smallImageElement.style.opacity = '0'
                setTimeout(() => {
                    smallImageElement.src = images[tabId][accordionTitle]
                    smallImageElement.style.opacity = '1'
                }, 100)
            }
        }
    }

    tabButtons[0].click()
</script>