@page "/Products/Lakehouse-analytics"
@attribute [RenderStatic]
@inject MarkdownBlog Blog
@{
    ViewData["Title"] = "Unilake.Www Lakehouse-analytics";
}

<div class="2xl:container mx-auto font-inter">
    <section class="xl:py-XXXL px-L xl:gap-XXXL bg-backgroundPrimary flex">
        <div class="flex flex-col gap-L">
            <svg></svg>
            <div class="flex gap-SM">
                <div class="flex gap-M">
                    <h3>Lakehouse analytics</h3>
                    <button class="">Badge</button>
                </div>
                <h1></h1>
            </div>

        </div>
        <div></div>
    </section>
<div>