@page "/404"
@attribute [RenderStatic]
@{
    Layout = "";
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Not Found</title>
    <base href="@(RazorSsg.GetBaseHref() ?? "/")"/>
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    <main role="main">
        @await Html.PartialAsync("Header")
        <section class="bg-neutral not-found-main">
            <div class="lg:max-w-8xl md:max-w-[800px] w-full px-L mx-auto md:py-XXXL py-XXL lg mx-auto px-L flex md:flex-row flex-col md:justify-between justify-center items-center ">
                <div class="flex flex-col gap-L font-inter md:items-start items-center lg:max-w-[605px] md:max-w-[410px]">
                    <div class="flex flex-col gap-SM md:items-start items-center">
                        <h1 class="lg:font-[80px] lg:leading-[80px] font-[700] text-[64px] leading-[76px] text-brand">404</h1>
                        <div class="md:hidden block">
                            @await Html.PartialAsync("Logos/NotFoundPage/NotFoundLogoMobile")
                        </div>
                        <h2 class="lg:text-headline2 text-headline3 text-headLines max-md:text-center">The page you looking for could not be found!</h2>
                    </div>
                    <h5 class="text-Regular text-bodyText max-md:text-center">We are sorry, but you may have mistyped the address or the page have moved!</h5>
                    <a href="/" type="button" class="py-SM px-L rounded-lg bg-brand text-14 text-neutral w-fit brand-color-button">Back to Homepage</a>
                </div>
                <div class="xl:block hidden">
                    @await Html.PartialAsync("Logos/NotFoundPage/NotFoundLogo")
                </div>
                <div class="md:max-xl:block hidden">
                    @await Html.PartialAsync("Logos/NotFoundPage/NotFoundLogoTablet")
                </div>
            </div>
        </section>
        @await Html.PartialAsync("Footer")
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>