@page "/404"
@attribute [RenderStatic]
@{
    Layout = "";
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Not Found</title>
    <base href="@(RazorSsg.GetBaseHref() ?? "/")"/>
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    @await Html.PartialAsync("Header")
    <div class="2xl:container not-found-main bg-neutral xl:py-XXXL lg mx-auto px-L flex md:flex-row flex-col  xl:gap-XXXL lg:gap-XXL items-center justify-center">
        <div class="max-w-[605px] flex flex-col gap-L font-inter">
            <div class="flex flex-col gap-SM">
                <h1 class="md:text-[80px] md:leading-[92px] text-[64px] leading-[77.45px] font-[700] text-brand">404</h1>
                 <div class="md:hidden block">
                   @await Html.PartialAsync("Logos/notFoundLogo")
                 </div>
                <h2 class="md:text-[48px] text-[40px] md:leading-[52px] leading-[48px] font-[700] text-headLines">The page you looking for could not be found!</h2>
            </div>
            <h5 class="text-Regular text-bodyText">We are sorry, but you may have mistyped the address or the page have moved!</h5>
            <button class="py-SM px-L rounded-lg bg-brand text-14 text-neutral w-fit">Back to Homepage</button>
        </div>
        <div class="md:block hidden">
            </div>
              @await Html.PartialAsync("Logos/notFoundLogo")
            </div>
        </div>
    </div>
    @await Html.PartialAsync("Footer")
</body>
</html>