@page "/Support"
@attribute [RenderStatic]
@inject MarkdownBlog Blog
@{
    ViewData["Title"] = "Unilake.Www Support";
}
<div class="bg-white border-b border-brNeutral">
    <div class="lg:max-w-8xl md:max-w-5xl w-full px-L mx-auto md:py-XXXL md:gap-XXL py-XXL gap-XL grid grid-cols-1">
        <div class="flex flex-col gap-M max-w-[800px]">
            <h1 class="xl:text-headline2 md:text-15 md:leading-[48px] text-headline3 text-brand">Support</h1>
            <div class="flex flex-col gap-S">
                <p class="text-Regular text-bodyText">
                    Lorem ipsum dolor sit amet consectetur. Augue aliquam lacus enim luctus
                    consectetur amet blandit. Eu eleifend ipsum quam quam nunc ligula at.
                </p>
            </div>
        </div>
        <div class="grid md:grid-cols-3 grid-cols-1 xl:gap-XXL gap-L">
            <div class="rounded-L p-L bg-neutral support-page-card">
                <div class="xl:h-[104px] xl:w-[104px] md:h-[84px] md:w-[84px] h-[65px] w-[65px] border border-brNeutral rounded-S md:p-[24px] p-[12px]">
                    <svg class="xl:h-[56px] xl:w-[56px] h-[36px] w-[36px]" viewBox="0 0 37 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.7549 5.25L11.8241 14.2984C10.5898 16.3403 10.918 18.5854 11.708 20.0809C12.5512 21.6774 14.3555 23.2516 16.899 23.2515H31.7196C32.2397 23.2515 34.2549 23.25 35.0049 23.25"
                              stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M16.3052 28.6543H20.7051L22.8436 34.0005H14.1667L16.3052 28.6543Z" fill="#FFE9E4"
                              stroke="#FF6849" />
                        <path d="M17.6789 5.30859H3.27411C2.57314 5.30859 2.00488 5.87685 2.00488 6.57782V26.8855C2.00488 27.5864 2.57314 28.1547 3.27411 28.1547H33.7357C34.4365 28.1547 35.0049 27.5864 35.0049 26.8855V23.4168"
                              stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M15.9667 28.1543L13.4282 34.5005" stroke="#FF6849" stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path d="M21.0435 28.1543L23.5819 34.5005" stroke="#FF6849" stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path d="M10.8896 34.5H26.1204" stroke="#FF6849" stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path d="M34.3756 17.1175L34.3754 17.1174L34.37 17.128C34.295 17.2751 34.1806 17.3986 34.0398 17.485C33.8988 17.5713 33.7368 17.6169 33.5716 17.6169H33.5715H18.6707H18.6706C18.5054 17.6169 18.3434 17.5713 18.2025 17.485C18.0617 17.3988 17.9473 17.2752 17.8722 17.128L17.8724 17.128L17.8667 17.1174C17.7818 16.9605 17.7373 16.7849 17.7373 16.6065C17.7373 16.4289 17.7814 16.254 17.8655 16.0976L25.3526 2.59549L25.367 2.56946L25.3783 2.54189C25.4437 2.38166 25.5553 2.24456 25.6988 2.14805C25.8425 2.05154 26.0116 2 26.1846 2C26.3577 2 26.5268 2.05158 26.6702 2.14798L26.6704 2.14812C26.814 2.24461 26.9255 2.38166 26.9908 2.54177L27.0014 2.56772L27.0148 2.59233L34.3756 16.0955C34.3757 16.0957 34.3758 16.0959 34.3759 16.0961C34.4606 16.253 34.505 16.4284 34.505 16.6065C34.505 16.7848 34.4605 16.9604 34.3756 17.1175Z"
                              fill="#FFE9E4" stroke="#FF6849" />
                        <path d="M34.8154 15.8576C34.9397 16.0876 35.005 16.345 35.005 16.6065C35.005 16.868 34.9397 17.1253 34.8154 17.3553C34.6983 17.5846 34.5201 17.777 34.3008 17.9114C34.0812 18.0458 33.8289 18.1169 33.5715 18.1169H18.6707C18.4133 18.1169 18.1609 18.0458 17.9414 17.9114C17.7219 17.777 17.5439 17.5846 17.4269 17.3553C17.3025 17.1253 17.2373 16.868 17.2373 16.6065C17.2373 16.345 17.3025 16.0876 17.4269 15.8576L24.9153 2.35302C25.0182 2.10083 25.1939 1.885 25.4199 1.73307C25.646 1.58114 25.9122 1.5 26.1846 1.5C26.457 1.5 26.7233 1.58114 26.9492 1.73307C27.1754 1.885 27.351 2.10083 27.4538 2.35302L34.8154 15.8576Z"
                              stroke="#FF6849" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M26.1338 10.8607V8.32227" stroke="#FF6849" stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path d="M26.1213 14.6272C25.9459 14.6272 25.8037 14.4851 25.8037 14.3097C25.8037 14.1343 25.9459 13.9922 26.1213 13.9922"
                              stroke="#FF6849" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M26.1206 14.6272C26.296 14.6272 26.4382 14.4851 26.4382 14.3097C26.4382 14.1343 26.296 13.9922 26.1206 13.9922"
                              stroke="#FF6849" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <div class="grid gap-M pt-M">
                    <div class="gap-S flex flex-col h-full">
                        <span class="text-[20px] leading-[32px] font-[400] text-headLines">Issues</span>
                        <span class="xl:text-Regular md:text-Small text-Regular text-bodyText dark:bg-black dark:text-neutral h-[84px]">
                            Found
                            a bug? We’d love to hear about it in our GitHub issues.
                        </span>
                    </div>
                    <a href="https://github.com/unilakehq/unilake/issues/new?template=bug-report.md" class="bg-neutral support-logo-button-t1 border border-brNeutral xl:px-L xl:py-SM md:px-M md:py-S px-L py-SM rounded-S flex gap-S flex items-center justify-center lg:w-fit w-full xl:h-[48px] lg:h-[40px] h-[48px]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13"
                             class="bg-neutral dark:bg-black dark:text-neutral" viewBox="0 0 12 13" fill="#252532">
                            <path d="M6 0.5C5.21207 0.5 4.43185 0.659048 3.7039 0.968062C2.97595 1.27708 2.31451 1.73001 1.75736 2.30099C0.632141 3.45414 0 5.01816 0 6.64896C0 9.3668 1.722 11.6727 4.104 12.4905C4.404 12.5397 4.5 12.349 4.5 12.183V11.1439C2.838 11.5128 2.484 10.3199 2.484 10.3199C2.208 9.60661 1.818 9.41599 1.818 9.41599C1.272 9.03476 1.86 9.04706 1.86 9.04706C2.46 9.0901 2.778 9.6804 2.778 9.6804C3.3 10.615 4.182 10.3383 4.524 10.1908C4.578 9.79108 4.734 9.52053 4.902 9.3668C3.57 9.21308 2.172 8.68427 2.172 6.34151C2.172 5.65898 2.4 5.11172 2.79 4.67515C2.73 4.52142 2.52 3.88193 2.85 3.05182C2.85 3.05182 3.354 2.8858 4.5 3.67901C4.974 3.54374 5.49 3.4761 6 3.4761C6.51 3.4761 7.026 3.54374 7.5 3.67901C8.646 2.8858 9.15 3.05182 9.15 3.05182C9.48 3.88193 9.27 4.52142 9.21 4.67515C9.6 5.11172 9.828 5.65898 9.828 6.34151C9.828 8.69042 8.424 9.20693 7.086 9.36065C7.302 9.55127 7.5 9.92636 7.5 10.4982V12.183C7.5 12.349 7.596 12.5458 7.902 12.4905C10.284 11.6665 12 9.3668 12 6.64896C12 5.84147 11.8448 5.04188 11.5433 4.29586C11.2417 3.54983 10.7998 2.87197 10.2426 2.30099C9.68549 1.73001 9.02405 1.27708 8.2961 0.968062C7.56815 0.659048 6.78793 0.5 6 0.5Z" />
                        </svg>
                        <h4 class="xl:text-[14px] md:text-[12px] text-[14px] leading-[24px] font-[600]">
                            Open GitHub Issue
                        </h4>
                    </a>
                </div>
            </div>

            <div class="rounded-L p-L bg-neutral support-page-card">
                <div class="xl:h-[104px] xl:w-[104px] md:h-[84px] md:w-[84px] h-[65px] w-[65px] border border-brNeutral rounded-S md:p-L p-SM">
                    <svg class="xl:h-[56px] xl:w-[56px] h-[36px] w-[36px]" viewBox="0 0 37 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M32.335 30.9545C32.335 31.6055 32.0763 32.2299 31.616 32.6902C31.1558 33.1504 30.5314 33.4091 29.8804 33.4091H7.78951C7.13851 33.4091 6.5142 33.1504 6.05387 32.6902C5.59357 32.2299 5.33496 31.6055 5.33496 30.9545V3.95455C5.33496 3.30355 5.59357 2.67924 6.05387 2.21892C6.5142 1.7586 7.13851 1.5 7.78951 1.5H23.7441L32.335 10.0909V30.9545Z"
                              fill="#FFE9E4" />
                        <path d="M32.335 30.9545C32.335 31.6055 32.0763 32.2299 31.616 32.6902C31.1558 33.1504 30.5314 33.4091 29.8804 33.4091H7.78951C7.13851 33.4091 6.5142 33.1504 6.05387 32.6902C5.59357 32.2299 5.33496 31.6055 5.33496 30.9545V3.95455C5.33496 3.30355 5.59357 2.67924 6.05387 2.21892C6.5142 1.7586 7.13851 1.5 7.78951 1.5H23.7441L32.335 10.0909V30.9545Z"
                              stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M11.4712 19.9082V27.2718H18.8348" stroke="#FF6849" stroke-width="1.5"
                              stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M11.4712 27.2725L20.0621 18.6816" stroke="#FF6849" stroke-width="1.5"
                              stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <div class="grid gap-M pt-M">
                    <div class="gap-S flex flex-col h-full">
                        <span class="text-[20px] leading-[32px] font-[400] text-headLines">Feature Requests</span>
                        <span class="xl:text-Regular md:text-Small text-Regular text-bodyText dark:bg-black dark:text-neutral h-[84px]">
                            Want
                            to suggest a new feature? Share it with us and the community.
                        </span>
                    </div>
                    <a href="https://github.com/unilakehq/unilake/issues/new?template=feature-request.md" class="bg-neutral support-logo-button-t1 border border-brNeutral xl:px-L xl:py-SM md:px-M md:py-S px-L py-SM rounded-S flex gap-S flex items-center justify-center lg:w-fit w-full xl:h-[48px] lg:h-[40px] h-[48px]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13"
                             class="bg-neutral dark:bg-black dark:text-neutral" fill="#252532">
                            <path d="M6 0.5C5.21207 0.5 4.43185 0.659048 3.7039 0.968062C2.97595 1.27708 2.31451 1.73001 1.75736 2.30099C0.632141 3.45414 0 5.01816 0 6.64896C0 9.3668 1.722 11.6727 4.104 12.4905C4.404 12.5397 4.5 12.349 4.5 12.183V11.1439C2.838 11.5128 2.484 10.3199 2.484 10.3199C2.208 9.60661 1.818 9.41599 1.818 9.41599C1.272 9.03476 1.86 9.04706 1.86 9.04706C2.46 9.0901 2.778 9.6804 2.778 9.6804C3.3 10.615 4.182 10.3383 4.524 10.1908C4.578 9.79108 4.734 9.52053 4.902 9.3668C3.57 9.21308 2.172 8.68427 2.172 6.34151C2.172 5.65898 2.4 5.11172 2.79 4.67515C2.73 4.52142 2.52 3.88193 2.85 3.05182C2.85 3.05182 3.354 2.8858 4.5 3.67901C4.974 3.54374 5.49 3.4761 6 3.4761C6.51 3.4761 7.026 3.54374 7.5 3.67901C8.646 2.8858 9.15 3.05182 9.15 3.05182C9.48 3.88193 9.27 4.52142 9.21 4.67515C9.6 5.11172 9.828 5.65898 9.828 6.34151C9.828 8.69042 8.424 9.20693 7.086 9.36065C7.302 9.55127 7.5 9.92636 7.5 10.4982V12.183C7.5 12.349 7.596 12.5458 7.902 12.4905C10.284 11.6665 12 9.3668 12 6.64896C12 5.84147 11.8448 5.04188 11.5433 4.29586C11.2417 3.54983 10.7998 2.87197 10.2426 2.30099C9.68549 1.73001 9.02405 1.27708 8.2961 0.968062C7.56815 0.659048 6.78793 0.5 6 0.5Z" />
                        </svg>
                        <h4 class="xl:text-[14px] md:text-[12px] text-[14px] leading-[24px] font-[600]">
                            Request Feature
                        </h4>
                    </a>
                </div>
            </div>

            <div class="rounded-L p-L bg-neutral support-page-card">
                <div class="xl:h-[104px] xl:w-[104px] md:h-[84px] md:w-[84px] h-[65px] w-[65px] border border-brNeutral rounded-S md:p-[24px] p-[12px]">
                    <svg class="xl:h-[56px] xl:w-[56px] h-[36px] w-[36px]" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19 15C21.2091 15 23 16.7909 23 19V21H21M16 10.874C17.7252 10.4299 19 8.86383 19 6.99999C19 5.13615 17.7252 3.57005 16 3.12601M13 7C13 9.20914 11.2091 11 9 11C6.79086 11 5 9.20914 5 7C5 4.79086 6.79086 3 9 3C11.2091 3 13 4.79086 13 7ZM5 15H13C15.2091 15 17 16.7909 17 19V21H1V19C1 16.7909 2.79086 15 5 15Z"
                              stroke="#FF6849" fill="#FFE9E4" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg>
                </div>
                <div class="grid gap-M pt-M">
                    <div class="gap-S flex flex-col h-full">
                        <span class="text-[20px] leading-[32px] font-[400] text-headLines">Issues</span>
                        <span class="xl:text-Regular md:text-Small text-Regular text-bodyText dark:bg-black dark:text-neutral h-[84px]">
                            Join our GitHub discussions or our Zulip server to browse for help and best practices.
                        </span>
                    </div>
                    <div class="flex lg:flex-row flex-col xl:gap-L gap-M lg:w-fit w-full">
                        <a href="https://chat.unilake.com" class="border border-brand charly-button xl:px-L xl:py-SM md:px-M md:py-S px-L py-SM rounded-S flex gap-S items-center justify-center lg:w-fit w-full xl:h-[48px] lg:h-[40px] h-[48px]">
                            <svg width="12" height="13" viewBox="0 0 12 13" fill="#FF6849" xmlns="http://www.w3.org/2000/svg">
                                <g id="Group">
                                    <path id="Vector" d="M5.32479 5.60357L1.34561 9.15675C0.935705 9.47929 0.666748 10.0117 0.666748 10.6105C0.666748 11.5884 1.38414 12.3887 2.26095 12.3887H9.73921C10.616 12.3887 11.3334 11.5884 11.3334 10.6105C11.3334 9.63237 10.616 8.83237 9.73921 8.83237H4.07793C3.99399 8.83237 3.94094 8.73181 3.98185 8.64998L5.44145 5.72762C5.49477 5.64237 5.39869 5.54023 5.32479 5.60357ZM9.73921 0.5H2.26095C1.38414 0.5 0.666748 1.30001 0.666748 2.27817C0.666748 3.25608 1.38414 4.05635 2.26095 4.05635H7.92224C8.00617 4.05635 8.05922 4.15691 8.01831 4.23873L6.55871 7.16109C6.5054 7.24634 6.60147 7.34849 6.67538 7.28514L10.6546 3.73144C11.0645 3.40864 11.3334 2.87653 11.3334 2.27765C11.3334 1.29974 10.616 0.499473 9.73921 0.5Z" />
                                </g>
                            </svg>
                            <h4 class="text-brand xl:text-[14px] md:text-[12px] text-[14px] leading-[24px] font-[600]">
                                Join Zulip
                            </h4>
                        </a>
                        <a href="https://github.com/unilakehq/unilake/discussions/new?category=q-a" class="bg-neutral bg-less-button text-headLines border border-brNeutral xl:px-L xl:py-SM md:px-M md:py-S px-L py-SM rounded-S xl:text-[14px] md:text-[12px] text-[14px] leading-[24px] font-[600] lg:w-fit w-full xl:h-[48px] lg:h-[40px] h-[48px]">
                            Ask Questions
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-neutral border-b border-brNeutral">
    <div class="lg:max-w-8xl md:max-w-5xl w-full px-L mx-auto grid md:py-XXXL md:gap-XXL py-XXL gap-XL font-inter">
        @await Html.PartialAsync("support/FAQ")
    </div>
</div>
@await Html.PartialAsync("support/ContactEnterpriseSales")
<div class="bg-white">
    <div class="lg:max-w-8xl md:max-w-5xl w-full px-L mx-auto grid md:py-XXXL md:gap-XXL py-XL gap-XL grid-cols-1">
        @await Html.PartialAsync("support/ContactUs")
    </div>
</div>

