@page "/Products/Datalake"
@attribute [RenderStatic]
@model www.unilake.Pages.Products.DatalakeModel
@{
    ViewData["Title"] = "Unilake.Www Data Management";
}

<div class="bg-white">
    <section class="section-one bg-neutral">
        <div class="lg:max-w-8xl md:max-w-5xl w-full px-L mx-auto flex md:flex-row flex-col md:justify-between items-center xl:gap-XXXL md:gap-XXL gap-L md:py-XXXL py-L">
            <div class="flex flex-col gap-L xl:max-w-[605px] md:max-w-[395px]">
                <img class="lg:block hidden h-[88px] w-[88px]" src="~/img/DataLake/section1Desktop.svg" alt="Alternate Text" />
                <img class="max-lg:md:block hidden h-[64px] w-[64px]" src="~/img/DataLake/section1Tablet.svg" alt="Alternate Text" />
                <img class="max-md:block hidden h-[54px] w-[54px]" src="~/img/DataLake/section1Mobile.svg" alt="Alternate Text" />
                <div class="flex flex-col gap-SM">
                    <div class="flex gap-M items-center">
                        <h4 class="text-Regular text-brand">Datalake</h4>
                        <button class="xl:py-XXS xl:px-S py-S px-SM bg-[#619DFF5C] text-bravo rounded-[6px] text-Small">Cloud Only</button>
                    </div>
                    <h1 class="xl:text-headline2 text-headline3 text-headLines">
                        The unified data lake for all your data, anywhere!
                    </h1>
                </div>
                <p class="text-Regular text-bodyText">Lorem ipsum dolor sit amet consectetur. Augue aliquam lacus enim luctus consectetur amet blandit. Eu eleifend ipsum quam quam nunc ligula at. </p>
                <div class="flex md:flex-row flex-col gap-M">
                    <button class="bg-brand xl:py-SM xl:px-L py-S px-M xl:text-14 text-small text-neutral rounded-S brand-color-button">Book a Demo</button>
                    <button class="flex gap-S items-center justify-center bg-neutral xl:py-SM xl:px-L py-S px-M border border-brNeutral bg-neutral rounded-S bg-less-input">
                        <h4 class="xl:text-14 text-small text-headLines">
                            View documentation
                        </h4>
                        <svg width="16" height="17" viewBox="0 0 16 17" fill="#252532" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.31344 4.14645C6.5087 3.95118 6.82528 3.95118 7.02055 4.14645L11.0205 8.14645C11.2158 8.34171 11.2158 8.65829 11.0205 8.85355L7.02055 12.8536C6.82528 13.0488 6.5087 13.0488 6.31344 12.8536C6.11818 12.6583 6.11818 12.3417 6.31344 12.1464L9.95989 8.5L6.31344 4.85355C6.11818 4.65829 6.11818 4.34171 6.31344 4.14645Z" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="w-fit h-fit">
                <img class="xl:block hidden" src="~/img/DataLake/Desktop/Illustration_Datalake_hero.svg" alt="not found">
                <img class="xl:hidden block" src="~/img/DataLake/Tablet/Illustration_Datalake_hero.svg" alt="not found">
            </div>
        </div>
    </section>
    <section class="lg:max-w-8xl md:max-w-5xl w-full px-L mx-auto flex">
        <div class="flex md:flex-row flex-col border-b border-brNeutral md:justify-between md:gap-XXL gap-XL xl:py-XXXL md:py-XXL py-XL w-full">
            <div class="flex flex-col gap-M rounded-L">
                <svg class="xl:block hidden" width="104" height="104" viewBox="0 0 104 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.5 8C0.5 3.85786 3.85786 0.5 8 0.5H96C100.142 0.5 103.5 3.85786 103.5 8V96C103.5 100.142 100.142 103.5 96 103.5H8C3.85786 103.5 0.5 100.142 0.5 96V8Z" stroke="#DDDFDA" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M68.0335 41.3098C68.1486 41.4432 68.2994 41.5407 68.4681 41.5911C70.912 42.1669 73.0596 43.6187 74.5049 45.6717C75.9501 47.7247 76.5921 50.2363 76.3098 52.7311C76.0274 55.2258 74.8401 57.5304 72.9726 59.2085C71.1055 60.8866 68.6875 61.8217 66.1769 61.8367H63.4308V55.75C63.4308 52.1256 60.4927 49.1875 56.8683 49.1875C54.9373 49.1875 53.201 50.0215 52.0002 51.3491C51.3857 50.6691 50.6244 50.1129 49.7505 49.7326C47.3555 48.6904 44.5705 49.1676 42.6592 50.9479L35.2779 57.8229C34.5254 58.5238 33.9745 59.3601 33.6279 60.2592C32.956 59.8717 32.3186 59.4172 31.726 58.8992C29.3306 56.8052 27.8651 53.8454 27.652 50.6709C27.4388 47.4963 28.4955 44.3672 30.5895 41.9717C31.6263 40.7856 32.8867 39.8154 34.2985 39.1163C35.7103 38.4173 37.246 38.0032 38.8179 37.8976C38.981 37.9012 39.1417 37.858 39.2811 37.7732C39.4205 37.6884 39.5326 37.5654 39.6044 37.4189C40.6888 34.2762 42.8177 31.6002 45.6362 29.8371C48.4548 28.0741 51.7926 27.3306 55.093 27.7306C58.3933 28.1307 61.4568 29.6501 63.7724 32.0355C66.0884 34.4208 67.5164 37.528 67.8182 40.8387C67.8438 41.0131 67.918 41.1765 68.0335 41.3098Z" fill="#FFE9E4" />
                    <path d="M39.751 62.625L47.1322 55.75V76.375" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M64.2492 69.5001L56.8682 76.375V55.75" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M65.125 61.8367H66.1769C68.6875 61.8217 71.1055 60.8866 72.9726 59.2085C74.8401 57.5304 76.0274 55.2258 76.3098 52.7311C76.5921 50.2364 75.9501 47.7247 74.5049 45.6717C73.0596 43.6187 70.912 42.1669 68.4681 41.5911C68.2994 41.5407 68.1486 41.4432 68.0335 41.3098C67.918 41.1765 67.8438 41.0131 67.8183 40.8387C67.5164 37.528 66.0884 34.4208 63.7724 32.0355C61.4568 29.6501 58.3933 28.1307 55.093 27.7306C51.7926 27.3306 48.4548 28.0741 45.6363 29.8371C42.8177 31.6002 40.6888 34.2762 39.6044 37.4189C39.5326 37.5654 39.4205 37.6884 39.2811 37.7732C39.1417 37.858 38.981 37.9012 38.8179 37.8976C37.246 38.0032 35.7103 38.4173 34.2985 39.1163C32.8867 39.8154 31.6263 40.7856 30.5895 41.9717C28.4955 44.3672 27.4388 47.4963 27.652 50.6709C27.8651 53.8454 29.3306 56.8052 31.726 58.8992C31.8801 59.0339 32.0372 59.1643 32.1972 59.2903" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

                <svg class="xl:hidden block" width="66" height="65" viewBox="0 0 66 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 8C1 3.85786 4.35786 0.5 8.5 0.5H57.5C61.6421 0.5 65 3.85786 65 8V57C65 61.1421 61.6421 64.5 57.5 64.5H8.5C4.35786 64.5 1 61.1421 1 57V8Z" stroke="#DDDFDA" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M42.1619 26.3922C42.2276 26.4684 42.3138 26.5241 42.4102 26.5529C43.8067 26.8819 45.0339 27.7115 45.8598 28.8847C46.6856 30.0578 47.0525 31.493 46.8911 32.9186C46.7298 34.3442 46.0514 35.6611 44.9842 36.62C43.9173 37.5789 42.5356 38.1132 41.1009 38.1218H39.5317V34.6437C39.5317 32.5726 37.8528 30.8937 35.7818 30.8937C34.6783 30.8937 33.6862 31.3703 33 32.1289C32.6488 31.7403 32.2138 31.4225 31.7144 31.2052C30.3459 30.6096 28.7544 30.8823 27.6622 31.8996L23.4444 35.8282C23.0144 36.2287 22.6996 36.7066 22.5015 37.2204C22.1176 36.9989 21.7533 36.7392 21.4147 36.4432C20.0459 35.2467 19.2085 33.5553 19.0867 31.7413C18.9649 29.9273 19.5687 28.1392 20.7653 26.7704C21.3578 26.0926 22.078 25.5382 22.8847 25.1387C23.6915 24.7393 24.569 24.5027 25.4672 24.4423C25.5604 24.4444 25.6523 24.4197 25.7319 24.3712C25.8116 24.3228 25.8757 24.2525 25.9167 24.1688C26.5363 22.3729 27.7528 20.8438 29.3634 19.8363C30.974 18.8289 32.8813 18.404 34.7673 18.6326C36.6532 18.8612 38.4038 19.7295 39.7269 21.0925C41.0504 22.4556 41.8664 24.2311 42.0389 26.123C42.0534 26.2226 42.0959 26.316 42.1619 26.3922Z" fill="#FFE9E4" />
                    <path d="M26.0005 38.5731L30.2183 34.6445V46.4302" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M39.9995 42.5017L35.7817 46.4302V34.6445" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M40.4999 38.1218H41.1009C42.5356 38.1132 43.9173 37.5789 44.9842 36.62C46.0514 35.6611 46.7298 34.3442 46.8911 32.9186C47.0525 31.4931 46.6856 30.0578 45.8598 28.8847C45.0339 27.7115 43.8067 26.8819 42.4102 26.5529C42.3138 26.5241 42.2276 26.4684 42.1619 26.3922C42.0959 26.316 42.0534 26.2226 42.0389 26.123C41.8664 24.2311 41.0504 22.4556 39.7269 21.0925C38.4038 19.7295 36.6532 18.8612 34.7673 18.6326C32.8813 18.404 30.974 18.8289 29.3634 19.8363C27.7528 20.8438 26.5363 22.3729 25.9167 24.1688C25.8757 24.2525 25.8116 24.3228 25.7319 24.3712C25.6523 24.4197 25.5604 24.4444 25.4672 24.4423C24.569 24.5027 23.6915 24.7393 22.8847 25.1387C22.078 25.5382 21.3578 26.0926 20.7653 26.7704C19.5687 28.1392 18.9649 29.9273 19.0867 31.7413C19.2085 33.5553 20.0459 35.2467 21.4147 36.4432C21.5028 36.5202 21.5926 36.5947 21.684 36.6667" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <h3 class="text-headLines xl:text-H2 md:text-Regular text-H2">Cross Cloud</h3>
                <p class="text-bodyText xl:text-Regular md:text-Small text-Regular xl:max-w-[438px] md:max-w-[245px]">Connect data lakes from different cloud providers without needing to copy the data. Directly query your data as if it is local.</p>
            </div>
            <div class="flex flex-col gap-M rounded-L">
                <svg class="xl:block hidden" width="105" height="104" viewBox="0 0 105 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.833008 8C0.833008 3.85786 4.19087 0.5 8.33301 0.5H96.333C100.475 0.5 103.833 3.85786 103.833 8V96C103.833 100.142 100.475 103.5 96.333 103.5H8.33301C4.19087 103.5 0.833008 100.142 0.833008 96V8Z" stroke="#DDDFDA" />
                    <path d="M63.583 37H44.833C42.762 37 41.083 38.6789 41.083 40.75V72.625C41.083 74.6961 42.762 76.375 44.833 76.375H69.208C71.2791 76.375 72.958 74.6961 72.958 72.625V46.375L63.583 37Z" fill="#FFE9E4" />
                    <path d="M61.708 48.25V37H63.583L72.958 46.375V48.25H61.708Z" fill="#F9F8F6" />
                    <path d="M63.583 37H44.833C42.762 37 41.083 38.6789 41.083 40.75V72.625C41.083 74.6961 42.762 76.375 44.833 76.375H69.208C71.2791 76.375 72.958 74.6961 72.958 72.625V46.375L63.583 37Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M54.208 27.625H35.458C33.387 27.625 31.708 29.3039 31.708 31.375V63.25" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M61.708 37V48.25H72.958" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg class="xl:hidden block" width="66" height="65" viewBox="0 0 66 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 8C1 3.85786 4.35786 0.5 8.5 0.5H57.5C61.6421 0.5 65 3.85786 65 8V57C65 61.1421 61.6421 64.5 57.5 64.5H8.5C4.35786 64.5 1 61.1421 1 57V8Z" stroke="#DDDFDA" />
                    <path d="M39.4284 23.9297H28.7141C27.5307 23.9297 26.5713 24.8891 26.5713 26.0725V44.2868C26.5713 45.4703 27.5307 46.4297 28.7141 46.4297H42.6427C43.8262 46.4297 44.7856 45.4703 44.7856 44.2868V29.2868L39.4284 23.9297Z" fill="#FFE9E4" />
                    <path d="M38.3574 30.3583V23.9297H39.4288L44.786 29.2868V30.3583H38.3574Z" fill="#F9F8F6" />
                    <path d="M39.4284 23.9297H28.7141C27.5307 23.9297 26.5713 24.8891 26.5713 26.0725V44.2868C26.5713 45.4703 27.5307 46.4297 28.7141 46.4297H42.6427C43.8262 46.4297 44.7856 45.4703 44.7856 44.2868V29.2868L39.4284 23.9297Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M34.0715 18.5723H23.3572C22.1738 18.5723 21.2144 19.5317 21.2144 20.7151V38.9294" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M38.3574 23.9297V30.3583H44.786" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <h3 class="text-headLines xl:text-H2 md:text-Regular text-H2">Any Datatype</h3>
                <p class="text-bodyText xl:text-Regular md:text-Small text-Regular xl:max-w-[438px] md:max-w-[245px]">Store structured data, unstructured data in any size and format. Once data is  made available query the data or use it for AI/ML workloads.</p>
            </div>
            <div class="flex flex-col gap-M rounded-L">
                <svg class="xl:block hidden" width="105" height="104" viewBox="0 0 105 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.16602 8C1.16602 3.85786 4.52388 0.5 8.66602 0.5H96.666C100.808 0.5 104.166 3.85786 104.166 8V96C104.166 100.142 100.808 103.5 96.666 103.5H8.66602C4.52388 103.5 1.16602 100.142 1.16602 96V8Z" stroke="#DDDFDA" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M69.7684 40.5972C69.8912 40.7394 70.052 40.8434 70.232 40.8972C72.8388 41.5113 75.1296 43.0599 76.6712 45.2498C78.2128 47.4397 78.8976 50.1188 78.5964 52.7798C78.2952 55.4409 77.0288 57.8991 75.0368 59.6891C73.9708 60.6471 72.7364 61.3781 71.4088 61.8531C71.478 61.4967 71.526 61.1351 71.552 60.7702C71.6788 58.976 71.2648 57.1854 70.364 55.6297L69.5776 54.2533L69.558 54.22C68.6652 52.6771 67.3336 51.4345 65.7328 50.6502C64.4016 49.9977 62.933 49.6862 61.4588 49.7384C60.7829 48.4521 59.8025 47.344 58.597 46.5144C57.1051 45.4877 55.338 44.9355 53.527 44.9302H51.866L51.8452 44.9302C50.0343 44.9356 48.2671 45.4877 46.7753 46.5144C45.5692 47.3443 44.5885 48.4531 43.9126 49.7402C42.4261 49.681 40.9432 49.9916 39.5993 50.6502C37.9985 51.4345 36.6669 52.677 35.774 54.2199L34.9684 55.6296C34.0674 57.1854 33.6533 58.976 33.7803 60.7702C33.7907 60.9179 33.8048 61.065 33.8225 61.2114C32.8266 60.7224 31.8903 60.102 31.0405 59.3592C28.4853 57.1256 26.9221 53.9684 26.6948 50.5822C26.4674 47.1961 27.5945 43.8583 29.8281 41.3032C30.9341 40.038 32.2785 39.003 33.7844 38.2574C35.2903 37.5118 36.9284 37.0701 38.6051 36.9575C38.7791 36.9613 38.9505 36.9152 39.0992 36.8248C39.2479 36.7342 39.3675 36.6031 39.4441 36.4468C40.6007 33.0946 42.8716 30.2402 45.878 28.3596C48.8845 26.479 52.4448 25.686 55.9652 26.1127C59.4856 26.5394 62.7533 28.1601 65.2232 30.7045C67.6936 33.2489 69.2168 36.5632 69.5388 40.0946C69.566 40.2806 69.6452 40.455 69.7684 40.5972Z" fill="#FFE9E4" />
                    <path d="M73.3792 60.9174C73.9656 60.5633 74.5208 60.1528 75.0368 59.6891C77.0288 57.8991 78.2952 55.4409 78.5964 52.7798C78.8976 50.1188 78.2128 47.4397 76.6712 45.2498C75.1296 43.0599 72.8388 41.5113 70.232 40.8972C70.052 40.8434 69.8912 40.7394 69.7684 40.5972C69.6452 40.455 69.566 40.2806 69.5388 40.0946C69.2168 36.5632 67.6936 33.2489 65.2232 30.7045C62.7533 28.1601 59.4856 26.5394 55.9652 26.1127C52.4448 25.686 48.8845 26.479 45.878 28.3596C42.8716 30.2402 40.6007 33.0946 39.4441 36.4468C39.3675 36.6031 39.2479 36.7342 39.0992 36.8248C38.9505 36.9152 38.7791 36.9613 38.6051 36.9575C36.9284 37.0701 35.2903 37.5118 33.7844 38.2574C32.2785 39.003 30.9341 40.038 29.8281 41.3032C27.5945 43.8583 26.4674 47.1961 26.6948 50.5822C26.9221 53.9684 28.4853 57.1256 31.0405 59.3592C31.442 59.7101 31.8628 60.0338 32.3001 60.3292" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M55.4352 67.2305L48.666 67.2305L48.666 73.9997L55.4352 73.9997L55.4352 67.2305Z" fill="#FFE9E4" />
                    <path d="M55.4352 67.2305L48.666 67.2305L48.666 73.9997L55.4352 73.9997L55.4352 67.2305Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M52.0508 52L52.0508 67.2308" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M71.4352 71.2305L64.666 71.2305L64.666 77.9997L71.4352 77.9997L71.4352 71.2305Z" fill="#FFE9E4" />
                    <path d="M71.4352 71.2305L64.666 71.2305L64.666 77.9997L71.4352 77.9997L71.4352 71.2305Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M64.666 56L64.666 64L68.0508 71.2308" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M32.6663 71.2305L39.4355 71.2305L39.4355 77.9997L32.6663 77.9997L32.6663 71.2305Z" fill="#FFE9E4" />
                    <path d="M32.6663 71.2305L39.4355 71.2305L39.4355 77.9997L32.6663 77.9997L32.6663 71.2305Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M39.4355 56L39.4355 64L36.0508 71.2308" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg class="xl:hidden block" width="66" height="65" viewBox="0 0 66 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 8C1 3.85786 4.35786 0.5 8.5 0.5H57.5C61.6421 0.5 65 3.85786 65 8V57C65 61.1421 61.6421 64.5 57.5 64.5H8.5C4.35786 64.5 1 61.1421 1 57V8Z" stroke="#DDDFDA" />
                    <g clip-path="url(#clip0_3941_19487)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M42.7728 25.9858C42.843 26.067 42.9349 26.1265 43.0377 26.1572C44.5273 26.5081 45.8363 27.3931 46.7173 28.6444C47.5982 29.8958 47.9895 31.4267 47.8174 32.9473C47.6453 34.4679 46.9216 35.8726 45.7833 36.8954C45.1742 37.4429 44.4688 37.8606 43.7102 38.132C43.7497 37.9284 43.7771 37.7217 43.792 37.5132C43.8645 36.488 43.6279 35.4648 43.1131 34.5758L42.6638 33.7893L42.6526 33.7702C42.1424 32.8886 41.3815 32.1785 40.4667 31.7303C39.706 31.3575 38.8668 31.1795 38.0244 31.2094C37.6382 30.4743 37.078 29.8411 36.3891 29.367C35.5366 28.7804 34.5268 28.4648 33.492 28.4618H32.5428L32.531 28.4618C31.4961 28.4649 30.4863 28.7804 29.6338 29.367C28.9447 29.8413 28.3843 30.4749 27.998 31.2103C27.1486 31.1765 26.3012 31.354 25.5333 31.7303C24.6185 32.1785 23.8577 32.8886 23.3474 33.7702L22.8871 34.5758C22.3722 35.4648 22.1356 36.488 22.2081 37.5132C22.2141 37.5976 22.2222 37.6817 22.2322 37.7653C21.6632 37.4859 21.1281 37.1314 20.6425 36.7069C19.1825 35.4306 18.2892 33.6265 18.1593 31.6915C18.0294 29.7566 18.6734 27.8493 19.9498 26.3892C20.5818 25.6662 21.35 25.0748 22.2105 24.6488C23.071 24.2227 24.0071 23.9703 24.9652 23.9059C25.0646 23.9081 25.1626 23.8818 25.2475 23.8301C25.3325 23.7784 25.4008 23.7035 25.4446 23.6141C26.1055 21.6986 27.4032 20.0675 29.1211 18.9929C30.8391 17.9183 32.8736 17.4651 34.8852 17.7089C36.8969 17.9528 38.7642 18.8789 40.1755 20.3328C41.5872 21.7867 42.4576 23.6806 42.6416 25.6986C42.6571 25.8049 42.7024 25.9045 42.7728 25.9858Z" fill="#FFE9E4" />
                        <path d="M44.8361 37.5973C45.1712 37.395 45.4885 37.1604 45.7833 36.8954C46.9216 35.8726 47.6453 34.4679 47.8174 32.9473C47.9895 31.4267 47.5982 29.8958 46.7173 28.6444C45.8363 27.3931 44.5273 26.5081 43.0377 26.1572C42.9349 26.1265 42.843 26.067 42.7728 25.9858C42.7024 25.9045 42.6571 25.8049 42.6416 25.6986C42.4576 23.6806 41.5872 21.7867 40.1755 20.3328C38.7642 18.8789 36.8969 17.9528 34.8852 17.7089C32.8736 17.4651 30.8391 17.9183 29.1211 18.9929C27.4032 20.0675 26.1055 21.6986 25.4446 23.6141C25.4008 23.7035 25.3325 23.7784 25.2475 23.8301C25.1626 23.8818 25.0646 23.9081 24.9652 23.9059C24.0071 23.9703 23.071 24.2227 22.2105 24.6488C21.35 25.0748 20.5818 25.6662 19.9498 26.3892C18.6734 27.8493 18.0294 29.7566 18.1593 31.6915C18.2892 33.6265 19.1825 35.4306 20.6425 36.7069C20.872 36.9075 21.1124 37.0924 21.3623 37.2612" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M34.5824 41.2031L30.7143 41.2031L30.7143 45.0713L34.5824 45.0713L34.5824 41.2031Z" fill="#FFE9E4" />
                        <path d="M34.5824 41.2031L30.7143 41.2031L30.7143 45.0713L34.5824 45.0713L34.5824 41.2031Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M32.6484 32.5L32.6484 41.2033" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M43.7253 43.4883L39.8571 43.4883L39.8571 47.3564L43.7253 47.3564L43.7253 43.4883Z" fill="#FFE9E4" />
                        <path d="M43.7253 43.4883L39.8571 43.4883L39.8571 47.3564L43.7253 47.3564L43.7253 43.4883Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M39.8571 34.7852L39.8571 39.3566L41.7913 43.4885" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M21.5716 43.4883L25.4397 43.4883L25.4397 47.3564L21.5716 47.3564L21.5716 43.4883Z" fill="#FFE9E4" />
                        <path d="M21.5716 43.4883L25.4397 43.4883L25.4397 47.3564L21.5716 47.3564L21.5716 43.4883Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M25.4398 34.7852L25.4398 39.3566L23.5056 43.4885" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </g>
                    <defs>
                        <clipPath id="clip0_3941_19487">
                            <rect width="32" height="32" fill="white" transform="translate(17 16.5)" />
                        </clipPath>
                    </defs>
                </svg>
                <h3 class="text-headLines xl:text-H2 md:text-Regular text-H2">Hybrid Cloud</h3>
                <p class="text-bodyText xl:text-Regular md:text-Small text-Regular xl:max-w-[438px] md:max-w-[245px]">Using UniLakes cloud platform gives access to advanced capalibities such as connecting multiple data lakes and combining an on-prem deployment with your UniLake cloud solution.</p>
            </div>
        </div>
    </section>
    <section class="bg-white">
        <div class="lg:max-w-8xl md:max-w-5xl w-full px-L mx-auto flex md:flex-row flex-col md:justify-between max-md:items-center xl:py-XXXL md:py-XXL py-XL xl:gap-XXXL gap-XXL items-center">
            <div class="w-fit">
                <img class="xl:block hidden" src="~/img/DataLake/Desktop/Illustration_Unified_Data_Lake.svg" alt="not found">
                <img class="xl:hidden block" src="~/img/DataLake/Tablet/Illustration_Unified_Data_Lake.svg" alt="not found">
            </div>
            <div class="flex flex-col gap-M h-fit xl:max-w-[605px] md:max-w-[395px]">
                <h2 class="xl:text-15 text-H3 leading-[40px] text-headLines">Unified Data Lake</h2>
                <p class="xl:text-Regular md:text-Small text-Regular text-bodyText">Whether you store your data in the cloud or locally, UniLake provides a unified data access layer for your data. Use the self-hosted option to connect to local data and scale-out or combine data from different cloud environments by leveraging the unified data lake pending to be offered as a cloud solution.</p>
            </div>
        </div>
    </section>
    <section class="linear-gradient-4">
        <div class="lg:max-w-8xl md:max-w-5xl w-full px-L mx-auto flex md:flex-row flex-col-reverse md:justify-between max-md:items-center xl:py-XXXL md:py-XXL py-XL xl:gap-XXXL gap-XXL items-center">
            <div class="flex flex-col gap-M h-fit xl:max-w-[605px] md:max-w-[395px]">
                <h2 class="xl:text-15 text-H3 leading-[40px] text-headLines">Single Point of Entry</h2>
                <p class="xl:text-Regular md:text-Small text-Regular text-bodyText">Wherever your data lives on the planet, using the UniLake cloud offering you can connect to your data from a single endpoint. Your data can be stored at AWS, Google Cloud, Azure and locally. Connecting to your data can be done using a single point of entry, no need to move data between clouds yourself, the hosted UniLake has you covered.</p>
            </div>
            <div class="w-fit">
                <img class="xl:block hidden" src="~/img/DataLake/Desktop/Illustration_Single_Point_Entry.svg" alt="not found">
                <img class="xl:hidden block" src="~/img/DataLake/Tablet/Illustration_Single_Point_Entry.svg" alt="not found">
            </div>
        </div>
    </section>
    <section class="bg-white">
        <div class="lg:max-w-8xl md:max-w-5xl w-full px-L mx-auto flex md:flex-row flex-col md:justify-between max-md:items-center xl:py-XXXL md:py-XXL py-XL xl:gap-XXXL md:gap-XL">
            <div class="flex flex-col items-center gap-XL">
                <div class="flex justify-center">
                    <img class="xl:block hidden h-[482px]" src="~/img/DataLake/Desktop/Illustration_Zero_Copy_Principle.svg" alt="not found">
                    <img class="xl:hidden block h-[218px]" src="~/img/DataLake/Tablet/Illustration_Zero_Copy_Principle.svg" alt="not found">
                </div>
                <div class="flex flex-col xl:gap-L gap-M xl:max-w-[664px] md:max-w-[600px]">
                    <h2 class="text-headLines text-H3 leading-[40px]">Integrated IDE</h2>
                    <p class="text-Regular text-bodyText">Develop your data products using an integrated and optimized development environment. No need to setup a local IDE, start coding using a cloud driven machine.</p>
                </div>
            </div>
            <div class="flex flex-col items-center gap-XL">
                <div class="flex justify-center">
                    <img class="xl:block hidden h-[482px]" src="~/img/DataLake/Desktop/Illustration_S3_Protocol.svg" alt="not found">
                    <img class="xl:hidden block h-[218px]" src="~/img/DataLake/Tablet/Illustration_S3_Protocol.svg" alt="not found">
                </div>
                <div class="flex flex-col xl:gap-L gap-M xl:max-w-[664px] md:max-w-[600px]">
                    <h2 class="text-headLines text-H3 leading-[40px]">Multiple Endpoints</h2>
                    <p class="text-Regular text-bodyText">Make use of different connection types, supporting SQL, S3 and rest API to access and query your data in an ecosystem of your choice. Governance and security is applied universally to any of these endpoints.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="lg:max-w-8xl md:max-w-5xl w-full px-L mx-auto flex">
        <div class="flex md:flex-row flex-col border-t border-brNeutral md:justify-between md:gap-XXL gap-XL xl:py-XXXL md:py-XXL py-XL w-full">
            <div class="flex flex-col gap-M rounded-L">
                <svg class="xl:block hidden" width="104" height="105" viewBox="0 0 104 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.5 8.92187C0.5 4.77974 3.85786 1.42188 8 1.42188H96C100.142 1.42188 103.5 4.77974 103.5 8.92188V96.9219C103.5 101.064 100.142 104.422 96 104.422H8C3.85786 104.422 0.5 101.064 0.5 96.9219V8.92187Z" stroke="#DDDFDA" />
                    <path d="M42.3081 36.4084L35.4875 29.5879L28.667 36.4084L35.4875 43.229L42.3081 36.4084Z" fill="#FFE9E4" />
                    <path d="M67.0324 30.4414C70.3284 30.4414 73.0004 33.1133 73.0004 36.4094C73.0004 39.7054 70.3284 42.3773 67.0324 42.3773C63.7364 42.3773 61.0645 39.7054 61.0645 36.4094C61.0645 33.1133 63.7364 30.4414 67.0324 30.4414Z" fill="#FFE9E4" />
                    <path d="M67.0324 30.4414C70.3284 30.4414 73.0004 33.1134 73.0004 36.4094C73.0004 39.7054 70.3284 42.3773 67.0324 42.3773C63.7364 42.3773 61.0645 39.7054 61.0645 36.4094C61.0645 33.1134 63.7364 30.4414 67.0324 30.4414Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M67.0324 61.9844C70.3284 61.9844 73.0004 64.6563 73.0004 67.9523C73.0004 71.2484 70.3284 73.9203 67.0324 73.9203C63.7364 73.9203 61.0645 71.2484 61.0645 67.9523C61.0645 64.6563 63.7364 61.9844 67.0324 61.9844Z" fill="#FFE9E4" />
                    <path d="M67.0324 61.9844C70.3284 61.9844 73.0004 64.6563 73.0004 67.9523C73.0004 71.2484 70.3284 73.9203 67.0324 73.9203C63.7364 73.9203 61.0645 71.2484 61.0645 67.9523C61.0645 64.6563 63.7364 61.9844 67.0324 61.9844Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M29.5195 70.51V65.3946C29.5195 63.5112 31.0464 61.9844 32.9298 61.9844H38.0452C39.9286 61.9844 41.4555 63.5112 41.4555 65.3946V70.51C41.4555 72.3935 39.9286 73.9203 38.0452 73.9203H32.9298C31.0464 73.9203 29.5195 72.3935 29.5195 70.51Z" fill="#FFE9E4" />
                    <path d="M29.5195 70.51V65.3946C29.5195 63.5112 31.0464 61.9844 32.9298 61.9844H38.0452C39.9286 61.9844 41.4555 63.5112 41.4555 65.3946V70.51C41.4555 72.3935 39.9286 73.9203 38.0452 73.9203H32.9298C31.0464 73.9203 29.5195 72.3935 29.5195 70.51Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M52.5391 62.8379L57.6545 67.9533L52.5391 73.0687" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M35.4873 58.5747V43.2285" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M45.7178 36.4082H61.064" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M42.3081 36.4084L35.4875 29.5879L28.667 36.4084L35.4875 43.229L42.3081 36.4084Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M50.8332 31.293L45.7178 36.4084L50.8332 41.5238" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M30.3721 53.459L35.4875 58.5744L40.6029 53.459" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M41.4551 67.9531H57.6538" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg class="xl:hidden block" width="66" height="65" viewBox="0 0 66 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 8C1 3.85786 4.35786 0.5 8.5 0.5H57.5C61.6421 0.5 65 3.85786 65 8V57C65 61.1421 61.6421 64.5 57.5 64.5H8.5C4.35786 64.5 1 61.1421 1 57V8Z" stroke="#DDDFDA" />
                    <path d="M27.4614 23.0635L23.564 19.166L19.6665 23.0635L23.564 26.9609L27.4614 23.0635Z" fill="#FFE9E4" />
                    <path d="M41.5895 19.6523C43.4729 19.6523 44.9997 21.1792 44.9997 23.0626C44.9997 24.9461 43.4729 26.4729 41.5895 26.4729C39.706 26.4729 38.1792 24.9461 38.1792 23.0626C38.1792 21.1792 39.706 19.6523 41.5895 19.6523Z" fill="#FFE9E4" />
                    <path d="M41.5895 19.6523C43.4729 19.6523 44.9997 21.1792 44.9997 23.0626C44.9997 24.9461 43.4729 26.4729 41.5895 26.4729C39.706 26.4729 38.1792 24.9461 38.1792 23.0626C38.1792 21.1792 39.706 19.6523 41.5895 19.6523Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M41.5895 37.6797C43.4729 37.6797 44.9997 39.2065 44.9997 41.09C44.9997 42.9734 43.4729 44.5002 41.5895 44.5002C39.706 44.5002 38.1792 42.9734 38.1792 41.09C38.1792 39.2065 39.706 37.6797 41.5895 37.6797Z" fill="#FFE9E4" />
                    <path d="M41.5895 37.6797C43.4729 37.6797 44.9997 39.2065 44.9997 41.09C44.9997 42.9734 43.4729 44.5002 41.5895 44.5002C39.706 44.5002 38.1792 42.9734 38.1792 41.09C38.1792 39.2065 39.706 37.6797 41.5895 37.6797Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M20.1538 42.5515V39.6284C20.1538 38.5521 21.0263 37.6797 22.1025 37.6797H25.0256C26.1019 37.6797 26.9743 38.5521 26.9743 39.6284V42.5515C26.9743 43.6278 26.1019 44.5002 25.0256 44.5002H22.1025C21.0263 44.5002 20.1538 43.6278 20.1538 42.5515Z" fill="#FFE9E4" />
                    <path d="M20.1538 42.5515V39.6284C20.1538 38.5521 21.0263 37.6797 22.1025 37.6797H25.0256C26.1019 37.6797 26.9743 38.5521 26.9743 39.6284V42.5515C26.9743 43.6278 26.1019 44.5002 25.0256 44.5002H22.1025C21.0263 44.5002 20.1538 43.6278 20.1538 42.5515Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M33.3076 38.166L36.2307 41.0891L33.3076 44.0122" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M23.564 35.7302V26.9609" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M29.4102 23.0645H38.1794" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M27.4614 23.0635L23.564 19.166L19.6665 23.0635L23.564 26.9609L27.4614 23.0635Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M32.3332 20.1406L29.4102 23.0637L32.3332 25.9868" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M20.6406 32.8066L23.5637 35.7297L26.4868 32.8066" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M26.9741 41.0898H36.2306" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <h3 class="text-headLines xl:text-H2 md:text-Regular text-H2">Any Workload</h3>
                <p class="text-bodyText xl:text-Regular md:text-Small text-Regular xl:max-w-[438px] md:max-w-[245px]">Whether you are applying new AI/ML workloads, need to ingest data or analyze petabytes of structured data, any workload will do.</p>
            </div>
            <div class="flex flex-col gap-M rounded-L">
                <svg class="xl:block hidden" width="105" height="105" viewBox="0 0 105 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.833008 8.92187C0.833008 4.77974 4.19087 1.42188 8.33301 1.42188H96.333C100.475 1.42188 103.833 4.77974 103.833 8.92188V96.9219C103.833 101.064 100.475 104.422 96.333 104.422H8.33301C4.19087 104.422 0.833008 101.064 0.833008 96.9219V8.92187Z" stroke="#DDDFDA" />
                    <path d="M70.6663 30.9219H33.9997C31.9746 30.9219 30.333 32.5635 30.333 34.5885V44.3985C30.333 58.2474 39.1948 70.5424 52.333 74.9219C65.471 70.5424 74.333 58.2474 74.333 44.3985V34.5885C74.333 32.5635 72.6914 30.9219 70.6663 30.9219Z" fill="#FFE9E4" />
                    <path d="M43.166 60.2559V51.0892C43.166 50.0767 43.9868 49.2559 44.9993 49.2559H59.666C60.6785 49.2559 61.4993 50.0767 61.4993 51.0892V60.2559C61.4993 61.2684 60.6785 62.0892 59.666 62.0892H44.9993C43.9868 62.0892 43.166 61.2684 43.166 60.2559Z" fill="#F9F8F6" />
                    <path d="M70.6663 30.9219H33.9997C31.9746 30.9219 30.333 32.5635 30.333 34.5885V44.3985C30.333 58.2474 39.1948 70.5424 52.333 74.9219C65.471 70.5424 74.333 58.2474 74.333 44.3985V34.5885C74.333 32.5635 72.6914 30.9219 70.6663 30.9219Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M43.166 60.2559V51.0892C43.166 50.0767 43.9868 49.2559 44.9993 49.2559H59.666C60.6785 49.2559 61.4994 50.0767 61.4994 51.0892V60.2559C61.4994 61.2684 60.6785 62.0892 59.666 62.0892H44.9993C43.9868 62.0892 43.166 61.2684 43.166 60.2559Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M45.916 49.2559V44.6725C45.916 41.1287 48.7888 38.2559 52.3327 38.2559C55.8765 38.2559 58.7493 41.1287 58.7493 44.6725V49.2559" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg class="xl:hidden block" width="66" height="65" viewBox="0 0 66 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 8C1 3.85786 4.35786 0.5 8.5 0.5H57.5C61.6421 0.5 65 3.85786 65 8V57C65 61.1421 61.6421 64.5 57.5 64.5H8.5C4.35786 64.5 1 61.1421 1 57V8Z" stroke="#DDDFDA" />
                    <path d="M43.4763 19.9277H22.5239C21.3668 19.9277 20.4287 20.8658 20.4287 22.023V27.6287C20.4287 35.5423 25.4926 42.568 33.0001 45.0706C40.5076 42.568 45.5716 35.5423 45.5716 27.6287V22.023C45.5716 20.8658 44.6335 19.9277 43.4763 19.9277Z" fill="#FFE9E4" />
                    <path d="M27.7622 36.69V31.4519C27.7622 30.8733 28.2312 30.4043 28.8098 30.4043H37.1908C37.7694 30.4043 38.2384 30.8733 38.2384 31.4519V36.69C38.2384 37.2686 37.7694 37.7376 37.1908 37.7376H28.8098C28.2312 37.7376 27.7622 37.2686 27.7622 36.69Z" fill="#F9F8F6" />
                    <path d="M43.4763 19.9277H22.5239C21.3668 19.9277 20.4287 20.8658 20.4287 22.023V27.6287C20.4287 35.5423 25.4926 42.568 33.0001 45.0706C40.5076 42.568 45.5716 35.5423 45.5716 27.6287V22.023C45.5716 20.8658 44.6335 19.9277 43.4763 19.9277Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M27.7622 36.69V31.4519C27.7622 30.8733 28.2312 30.4043 28.8098 30.4043H37.1908C37.7694 30.4043 38.2384 30.8733 38.2384 31.4519V36.69C38.2384 37.2686 37.7694 37.7376 37.1908 37.7376H28.8098C28.2312 37.7376 27.7622 37.2686 27.7622 36.69Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M29.3335 30.4049V27.7858C29.3335 25.7608 30.9751 24.1191 33.0002 24.1191C35.0252 24.1191 36.6668 25.7608 36.6668 27.7858V30.4049" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <h3 class="text-headLines xl:text-H2 md:text-Regular text-H2">Encryption at Rest</h3>
                <p class="text-bodyText xl:text-Regular md:text-Small text-Regular xl:max-w-[438px] md:max-w-[245px]">Data stored in the UniLake cloud platform is encrypted at rest using 512 bit encryption.</p>
            </div>
            <div class="flex flex-col gap-M rounded-L">
                <svg class="xl:block hidden" width="105" height="105" viewBox="0 0 105 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.16602 8.92187C1.16602 4.77974 4.52388 1.42188 8.66602 1.42188H96.666C100.808 1.42188 104.166 4.77974 104.166 8.92188V96.9219C104.166 101.064 100.808 104.422 96.666 104.422H8.66602C4.52388 104.422 1.16602 101.064 1.16602 96.9219V8.92187Z" stroke="#DDDFDA" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M28.666 38.9219V73.2295C28.666 75.2687 30.3191 76.9219 32.3583 76.9219H72.9736C75.0128 76.9219 76.666 75.2687 76.666 73.2295V38.9219H28.666Z" fill="#F9F8F6" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M76.666 38.9954H28.666V32.6142C28.666 30.575 30.3191 28.9219 32.3583 28.9219H72.9736C75.0128 28.9219 76.666 30.575 76.666 32.6142V38.9954Z" fill="#FFE9E4" />
                    <path d="M72.9736 28.9219H32.3583C30.3191 28.9219 28.666 30.575 28.666 32.6142V73.2295C28.666 75.2687 30.3191 76.9219 32.3583 76.9219H72.9736C75.0128 76.9219 76.666 75.2687 76.666 73.2295V32.6142C76.666 30.575 75.0128 28.9219 72.9736 28.9219Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M28.666 38.9219H76.6664" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M45.6005 68.6659C49.3613 68.6659 52.4101 65.6171 52.4101 61.8564C52.4101 58.0956 49.3613 55.0469 45.6005 55.0469C41.8397 55.0469 38.791 58.0956 38.791 61.8564C38.791 65.6171 41.8397 68.6659 45.6005 68.6659Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M50.5254 57.1497L59.8746 47.6166C60.0105 47.4775 60.1721 47.3671 60.3499 47.2918C60.5278 47.2165 60.7185 47.1777 60.9111 47.1777C61.1037 47.1777 61.2944 47.2165 61.4722 47.2918C61.6501 47.3671 61.8116 47.4775 61.9476 47.6166L66.5407 52.3829" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M55.377 52.207L59.5711 56.4012" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg class="xl:hidden block" width="66" height="65" viewBox="0 0 66 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 8C1 3.85786 4.35786 0.5 8.5 0.5H57.5C61.6421 0.5 65 3.85786 65 8V57C65 61.1421 61.6421 64.5 57.5 64.5H8.5C4.35786 64.5 1 61.1421 1 57V8Z" stroke="#DDDFDA" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.2856 24.5V44.1043C19.2856 45.2696 20.2303 46.2143 21.3955 46.2143H44.6043C45.7695 46.2143 46.7142 45.2696 46.7142 44.1043V24.5H19.2856Z" fill="#F9F8F6" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M46.7142 24.5415H19.2856V20.8951C19.2856 19.7298 20.2303 18.7852 21.3955 18.7852H44.6043C45.7695 18.7852 46.7142 19.7298 46.7142 20.8951V24.5415Z" fill="#FFE9E4" />
                    <path d="M44.6043 18.7852H21.3955C20.2303 18.7852 19.2856 19.7298 19.2856 20.8951V44.1038C19.2856 45.269 20.2303 46.2137 21.3955 46.2137H44.6043C45.7695 46.2137 46.7142 45.269 46.7142 44.1038V20.8951C46.7142 19.7298 45.7695 18.7852 44.6043 18.7852Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M19.2856 24.5H46.7144" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M28.9629 41.4972C31.112 41.4972 32.8541 39.755 32.8541 37.606C32.8541 35.457 31.112 33.7148 28.9629 33.7148C26.8139 33.7148 25.0718 35.457 25.0718 37.606C25.0718 39.755 26.8139 41.4972 28.9629 41.4972Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M31.7769 34.915L37.1193 29.4676C37.1969 29.3881 37.2892 29.325 37.3909 29.282C37.4925 29.2389 37.6015 29.2168 37.7115 29.2168C37.8216 29.2168 37.9305 29.2389 38.0322 29.282C38.1338 29.325 38.2261 29.3881 38.3038 29.4676L40.9284 32.1912" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M34.5493 32.0918L36.946 34.4885" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <h3 class="text-headLines xl:text-H2 md:text-Regular text-H2">Bring your own KMS</h3>
                <p class="text-bodyText xl:text-Regular md:text-Small text-Regular xl:max-w-[438px] md:max-w-[245px]">Choose between using a platform managed key for encryption or connect your own KMS. Key-rotation is supported on-demand.</p>
            </div>
        </div>
    </section>
</div>