@page "/Products/Governance"
@attribute [RenderStatic]
@model www.unilake.Pages.Products.GovernanceModel
@{
    ViewData["Title"] = "Unilake.Www Governance";
}
<div class="bg-backgroundPrimary">
    <section class="xl:bg-neutral bg-backgroundSecondary section-one">
        <div class="lg:max-w-8xl md:max-w-[800px] w-full px-L mx-auto flex md:flex-row flex-col md:justify-between items-center xl:gap-XXXL md:gap-XXL gap-L md:py-XXXL py-L">
            <div class="flex flex-col gap-L xl:max-w-[605px] md:max-w-[395px]">
                <svg class="xl:block hidden" width="88" height="89" viewBox="0 0 88 89" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.5 12.5C0.5 6.14873 5.64873 1 12 1H76C82.3513 1 87.5 6.14873 87.5 12.5V76.5C87.5 82.8513 82.3513 88 76 88H12C5.64873 88 0.5 82.8513 0.5 76.5V12.5Z" stroke="#E7E7E7" />
                    <path d="M30.1445 45.8196V60.3334H57.8529V45.8196C57.8529 44.3621 56.6714 43.1807 55.214 43.1807H32.7834C31.326 43.1807 30.1445 44.3621 30.1445 45.8196Z" fill="#FFE9E4" />
                    <path d="M33.4434 37.9035V43.1813H54.5545V37.9035C54.5545 36.4461 53.373 35.2646 51.9156 35.2646H36.0822C34.6248 35.2646 33.4434 36.4461 33.4434 37.9035Z" fill="#FFE9E4" />
                    <path d="M30.1445 45.8196V60.3334H57.8529V45.8196C57.8529 44.3621 56.6714 43.1807 55.214 43.1807H32.7834C31.326 43.1807 30.1445 44.3621 30.1445 45.8196Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M33.4434 37.9035V43.1813H54.5545V37.9035C54.5545 36.4461 53.373 35.2646 51.9156 35.2646H36.0822C34.6248 35.2646 33.4434 36.4461 33.4434 37.9035Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M44 35.2642V28.667H46.6389" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M28.166 60.334H59.8327" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M44 49.7783V60.3339" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M51.2559 49.7783V60.3339" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M36.7422 49.7783V60.3339" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

                <div class="flex flex-col gap-SM">
                    <div class="flex gap-M items-center">
                        <h4 class="text-Regular text-brand">Governance</h4>
                        <button class="xl:block hidden xl:py-XXS xl:px-S py-S px-SM bg-[#FF684940] text-onBrand rounded-[6px] text-Small">Badge</button>
                    </div>
                    <h1 class="xl:text-headline2 text-headline3 text-headLines">
                        Unified data governance for data and AI workloads
                    </h1>
                </div>
                <p class="text-Regular text-bodyText">Lorem ipsum dolor sit amet consectetur. Augue aliquam lacus enim luctus consectetur amet blandit. Eu eleifend ipsum quam quam nunc ligula at. </p>
                <div class="flex md:flex-row flex-col gap-M">
                    <button class="bg-brand xl:py-SM xl:px-L py-S px-M xl:text-14 text-small text-neutral rounded-S brand-color-button">Book a Demo</button>
                    <button class="flex gap-S items-center justify-center bg-neutral xl:py-SM xl:px-L py-S px-M border border-brNeutral bg-neutral rounded-S bg-less-input">
                        <h4 class="xl:text-14 text-small text-headLines">
                            View documentation
                        </h4>
                        <svg width="16" height="17" viewBox="0 0 16 17" fill="#252532" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.31344 4.14645C6.5087 3.95118 6.82528 3.95118 7.02055 4.14645L11.0205 8.14645C11.2158 8.34171 11.2158 8.65829 11.0205 8.85355L7.02055 12.8536C6.82528 13.0488 6.5087 13.0488 6.31344 12.8536C6.11818 12.6583 6.11818 12.3417 6.31344 12.1464L9.95989 8.5L6.31344 4.85355C6.11818 4.65829 6.11818 4.34171 6.31344 4.14645Z" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="w-fit h-fit">
                <img class="xl:block hidden" src="~/img/Governance/Desktop/Illustration_Governance_Hero.svg" alt="not found">
                <img class="xl:hidden block" src="~/img/Governance/Tablet/Illustration_Governance_Hero.svg" alt="not found">
            </div>
        </div>
    </section>
    <section class="bg-[#fffff]">
        <div class="lg:max-w-8xl md:max-w-[800px] w-full px-L mx-auto flex md:flex-row flex-col md:justify-between max-md:items-center xl:py-XXXL md:py-XXL py-XL xl:gap-XXXL gap-XXL items-center">
            <div class="w-fit">
                <img class="xl:block hidden" src="~/img/Governance/Desktop/Illustration_Unified_Data_Security.svg" alt="not found">
                <img class="xl:hidden block" src="~/img/Governance/Tablet/Illustration_Unified_Data_Security.svg" alt="not found">
            </div>
            <div class="flex flex-col gap-M h-fit xl:max-w-[605px] md:max-w-[395px]">
                <h2 class="xl:text-15 text-H3 leading-[40px] text-headLines">Unified Data Security</h2>
                <p class="xl:text-Regular md:text-Small text-Regular text-bodyText">Regardless of how you access your data (rest, SQL or via S3), or where you are accessing your data (AWS, Azure, GCP or Locally) UniLake adheres to the same set of security policies as set on the platform. This allows you to scale your security rules to any corner of the organisation without the overhead of different usage patterns.</p>
            </div>
        </div>
    </section>
    <section class="linear-gradient-governance">
        <div class="lg:max-w-8xl md:max-w-[800px] w-full px-L mx-auto flex md:flex-row flex-col-reverse md:justify-between max-md:items-center xl:py-XXXL md:py-XXL py-XL xl:gap-XXXL gap-XXL items-center">
            <div class="flex flex-col gap-M h-fit xl:max-w-[605px] md:max-w-[395px]">
                <h2 class="xl:text-15 text-H3 leading-[40px] text-headLines">Unified Catalog</h2>
                <p class="xl:text-Regular md:text-Small text-Regular text-bodyText">Data stored in UniLake is cataloged and accessible via a single metastore, so you can query and combine data from different domains and different storage systems allowing you to leverage existing investments in your data estate.</p>
            </div>
            <div class="w-fit">
                <img class="xl:block hidden" src="~/img/Governance/Desktop/Illustration_Unified_Catalog.svg" alt="not found">
                <img class="xl:hidden block" src="~/img/Governance/Tablet/Illustration_Unified_Catalog.svg" alt="not found">
            </div>
        </div>
    </section>
    <section class="bg-[#ffffff]">
        <div class="bg-[#ffffff] lg:max-w-8xl lg:px-L mx-auto flex flex-col lg:py-XXXL md:py-XXL xl:gap-XXXL gap-XXL items-center">
            <h2 class="xl:text-15 text-headline3 md:block hidden">Data acces at scale</h2>
            <div class="max-lg:bg-backgroundPrimary w-full">
                <div class="max-lg:max-w-[800px] w-full px-L mx-auto lg:py-XXXL lg:px-XXL md:py-XXL md:gap-XXL grid grid-cols-1 lg:border border-y border-neutralSecondary lg:rounded-L">
                    <div class="grid md:grid-cols-3 grid-cols-1 xl:gap-XXL gap-XL max-md:py-XL">
                        <div class="flex lg:flex-row flex-col items-start lg:gap-L gap-M">
                            <img class="xl:block hidden" src="~/img/Governance/Section4/Desktop/Frame 3171.svg" />
                            <img class="xl:hidden block" src="~/img/Governance/Section4/Tablet/Frame 3171.svg" />
                            <div class="flex flex-col gap-S">
                                <h3 class="text-large text-headLines">Global and Local policies</h3>
                                <p class="text-Regular text-bodyText">Policies can be managed globally as well as locally (on domain level). Unless exceptions apply, global policies overule local policies, allowing data governance teams to enforce company wide data access policies.</p>
                            </div>
                        </div>
                        <div class="flex lg:flex-row flex-col items-start lg:gap-L gap-M">
                            <img class="xl:block hidden" src="~/img/Governance/Section4/Desktop/Frame 3171-1.svg" />
                            <img class="xl:hidden block" src="~/img/Governance/Section4/Tablet/Frame 3171-1.svg" />
                            <div class="flex flex-col gap-S">
                                <h3 class="text-large text-headLines">Attribute Based (ABAC)</h3>
                                <p class="text-Regular text-bodyText">Set data attributes to provide context to data and build an inventory of your most sensitive data. Attributes can be specified manually or automatically in case no attributes are set, leaving no data untouched.</p>
                            </div>
                        </div>
                        <div class="flex lg:flex-row flex-col items-start lg:gap-L gap-M">
                            <img class="xl:block hidden" src="~/img/Governance/Section4/Desktop/Frame 3171-2.svg" />
                            <img class="xl:hidden block" src="~/img/Governance/Section4/Tablet/Frame 3171-2.svg" />
                            <div class="flex flex-col gap-S">
                                <h3 class="text-large text-headLines">Policies as Code</h3>
                                <p class="text-Regular text-bodyText">Either use the webinterface manage your data access policies or make use of the powerful scripting language to come up with new policies, covering numerous edge cases and create policies specific your industry and compliance needs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid md:grid-cols-3 grid-cols-1 xl:gap-XXL gap-XL max-md:py-XL">
                        <div class="flex lg:flex-row flex-col items-start lg:gap-L gap-M">
                            <img class="xl:block hidden" src="~/img/Governance/Section4/Desktop/Frame 3171-3.svg" />
                            <img class="xl:hidden block" src="~/img/Governance/Section4/Tablet/Frame 3171-3.svg" />
                            <div class="flex flex-col gap-S">
                                <button class="py-S px-SM bg-[#619DFF5C] text-bravo rounded-[6px] text-Small w-fit">On Roadmap</button>
                                <h3 class="text-large text-headLines">Self-Service Data Access</h3>
                                <p class="text-Regular text-bodyText">Simplify data access by using the embedded integration with the data catalog of UniLake so users can find and request data access in minutes instead of weeks.</p>
                            </div>
                        </div>
                        <div class="flex lg:flex-row flex-col items-start lg:gap-L gap-M">
                            <img class="xl:block hidden" src="~/img/Governance/Section4/Desktop/Frame 3171-4.svg" />
                            <img class="xl:hidden block" src="~/img/Governance/Section4/Tablet/Frame 3171-4.svg" />
                            <div class="flex flex-col gap-S">
                                <h3 class="text-large text-headLines">Context Aware Security</h3>
                                <p class="text-Regular text-bodyText">Combine access attributes (time, location, user specifics) to set rules on what data can be access in what context.</p>
                            </div>
                        </div>
                        <div class="flex lg:flex-row flex-col items-start lg:gap-L gap-M">
                            <img class="xl:block hidden" src="~/img/Governance/Section4/Desktop/Frame 3171-5.svg" />
                            <img class="xl:hidden block" src="~/img/Governance/Section4/Tablet/Frame 3171-5.svg" />
                            <div class="flex flex-col gap-S">
                                <button class="py-S px-SM bg-[#619DFF5C] text-bravo rounded-[6px] text-Small w-fit">On Roadmap</button>
                                <h3 class="text-large text-headLines">Just in Time Access</h3>
                                <p class="text-Regular text-bodyText">Provide frictionless, just-in-time access to data to limit the time and context in which data can be used for a specific use case. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="lg:linear-gradient-governance max-md:linear-gradient-governance">
        <div class="lg:max-w-8xl md:max-w-[800px] w-full px-L mx-auto flex md:flex-row flex-col-reverse md:justify-between max-md:items-center xl:py-XXXL md:py-XXL py-XL xl:gap-XXXL gap-XXL items-center">
            <div class="flex flex-col gap-M h-fit xl:max-w-[605px] md:max-w-[395px]">
                <h2 class="xl:text-15 text-H3 leading-[40px] text-headLines">SSO/SCIM for all Access</h2>
                <p class="xl:text-Regular md:text-Small text-Regular text-bodyText">UniLake only supports SSO authentication for security reasons. Use any SAML 2.0 or OpenID identity provider such as Microsoft Entra ID, KeyCloak, Okta, Auth0, OneLogin, JumpCloud and many more to allow your users to authenticate and make use of your data platform. In order to accelerate the onboarding of data teams, SCIM is supported as well.</p>
            </div>
            <div class="w-fit">
                <img class="xl:block hidden" src="~/img/Governance/Desktop/SCIM.svg" alt="not found">
                <img class="xl:hidden block" src="~/img/Governance/Tablet/SCIM.svg" alt="not found">
            </div>
        </div>
    </section>
    <section class="max-lg:md:linear-gradient-governance">
        <div class="lg:max-w-8xl md:max-w-[800px] w-full px-L mx-auto md:justify-between max-md:items-center xl:py-XXXL md:py-XXL py-XL flex md:flex-row flex-col xl:gap-XXXL gap-XXL items-center">
            <div class="w-fit h-fit">
                <img class="xl:block hidden" src="~/img/Governance/Desktop/Illustration_Audit_Logs.svg" alt="not found">
                <img class="xl:hidden block" src="~/img/Governance/Tablet/Illustration_Audit_Logs.svg" alt="not found">
            </div>
            <div class="flex flex-col gap-M h-fit xl:max-w-[605px] md:max-w-[395px]">
                <button class="py-S px-SM bg-[#619DFF5C] rounded-[6px] text-Small text-bravo w-fit flex items-center">
                    On Roadmap
                </button>
                <h1 class="xl:text-15 text-H3 leading-[40px] text-headLines">
                    Audit Logs
                </h1>
                <h4 class="xl:text-Regular md:text-Small text-Regular text-bodyText">
                    Actions performed on the UniLake platform are logged in an immutable, exportable, time synced and searchable audit logging environment. Easily browse and export audit loggings to see which actions have taken place
                    on the platform and which data is accessed when, by who and from where.
                </h4>
            </div>
        </div>
    </section>
    <section class="lg:linear-gradient-governance max-md:linear-gradient-governance">
        <div class="lg:max-w-8xl md:max-w-[800px] w-full px-L mx-auto flex md:flex-row flex-col-reverse md:justify-between max-md:items-center xl:py-XXXL md:py-XXL py-XL xl:gap-XXXL gap-XXL items-center">
            <div class="flex flex-col gap-M h-fit xl:max-w-[605px] md:max-w-[395px]">
                <h2 class="xl:text-15 text-H3 leading-[40px] text-headLines">Customer Managed Keys</h2>
                <p class="xl:text-Regular md:text-Small text-Regular text-bodyText">Whenever a connection is made to a data source sensitive information on how to authenticate is needed. In order to protect this sensitive information, you can connect your own Key Management System and use those details to connect to your sources. In case you don't manage your secrets yourself, UniLake comes with a built-in solution.</p>
            </div>
            <div class="w-fit">
                <img class="xl:block hidden" src="~/img/Governance/Desktop/Illustration_Customer_Managed_Keys.svg" alt="not found">
                <img class="xl:hidden block" src="~/img/Governance/Tablet/Illustration_Customer_Managed_Keys.svg" alt="not found">
            </div>
        </div>
    </section>
</div>