@page "/Products/Integration"
@attribute [RenderStatic]
@model www.unilake.Pages.Products.IntegrationModel
@{
    ViewData["Title"] = "Integration | Unilake";
}
<div class="bg-white">
    <section class="section-one bg-neutral">
        <div class="lg:max-w-8xl md:max-w-5xl w-full px-L mx-auto flex md:flex-row flex-col md:justify-between items-center xl:gap-XXXL md:gap-XXL gap-L md:py-XXXL py-L">
            <div class="flex flex-col gap-L xl:max-w-[605px] md:max-w-[395px]">
                <img class="lg:block hidden h-[88px] w-[88px]" src="~/img/Integration/section1Desktop.svg" alt="Alternate Text" />
                <img class="max-lg:md:block hidden h-[64px] w-[64px]" src="~/img/Integration/section1Tablet.svg" alt="Alternate Text" />
                <img class="max-md:block hidden h-[54px] w-[54px]" src="~/img/Integration/section1Mobile.svg" alt="Alternate Text" />

                <div class="flex flex-col gap-SM">
                    <div class="flex gap-M items-center">
                        <h4 class="text-Regular text-brand">Integration</h4>
                    </div>
                    <h1 class="xl:text-headline2 text-headline3 text-headLines">
                        Store and analyze any data from any source
                    </h1>
                </div>
                <p class="text-Regular text-bodyText">
                    Unilake offers a wide range of connectors and plugins to connect your data sources, store it securely, and analyse it in real-time. Whether you're collecting data from IoT devices, social media platforms, or databases, Unilake can help you streamline your data management and improve your business processes.
                </p>
                <div class="flex md:flex-row flex-col w-full gap-M">
                    <a href="https://cal.com/mrhamburg" class="bg-brand brand-color-button xl:px-L xl:py-SM px-M py-S rounded-S xl:text-14 text-Small text-center font-[600] text-neutral">Book a Demo</a>
                    <a href="https://docs.unilake.com" class="bg-neutral bg-less-logo-button border border-brNeutral xl:px-L xl:py-SM px-M py-S rounded-S flex justify-center items-center gap-S">
                        <h4 class="xl:text-14 text-Small font-[600] text-headLines">
                            View documentation
                        </h4>
                        <svg width="16" height="17" viewBox="0 0 16 17" fill="#252532" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.31344 4.14645C6.5087 3.95118 6.82528 3.95118 7.02055 4.14645L11.0205 8.14645C11.2158 8.34171 11.2158 8.65829 11.0205 8.85355L7.02055 12.8536C6.82528 13.0488 6.5087 13.0488 6.31344 12.8536C6.11818 12.6583 6.11818 12.3417 6.31344 12.1464L9.95989 8.5L6.31344 4.85355C6.11818 4.65829 6.11818 4.34171 6.31344 4.14645Z" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="w-fit h-fit">
                <img class="xl:block hidden" src="~/img/Integration/Desktop/Illustration_Integration_HeroV1.svg" alt="not found">
                <img class="xl:hidden block" src="~/img/Integration/Tablet/Illustration_Integration_Hero.svg" alt="not found">
            </div>
        </div>
    </section>
    <section class="bg-white">
        <div class="lg:max-w-8xl md:max-w-5xl w-full px-L mx-auto flex">
            <div class="flex md:flex-row flex-col border-b border-brNeutral md:justify-between md:gap-XXL gap-XL xl:py-XXXL md:py-XXL py-XL w-full">
                <div class="flex flex-col gap-M rounded-L">
                    <img class="xl:block hidden h-[104px] w-[104px]" src="~/img/Integration/Desktop/Frame 3171.svg" alt="not found">
                    <img class="xl:hidden block h-[65px] w-[65px]" src="~/img/Integration/Tablet/Frame 3171.svg" alt="not found">
                    <h3 class="text-headLines xl:text-H2 md:text-Regular text-H2">350+ Sources</h3>
                    <p class="text-bodyText xl:text-Regular md:text-Small text-Regular xl:max-w-[438px] md:max-w-[245px]">By integrating with the singer protocol and well known projects such as Airbyte and Meltano, Unilake offers over 350 pre-built connectors.</p>
                </div>
                <div class="flex flex-col gap-M rounded-L">
                    <img class="xl:block hidden h-[104px] w-[104px]" src="~/img/Integration/Desktop/Frame 3171-1.svg" alt="not found">
                    <img class="xl:hidden block h-[65px] w-[65px]" src="~/img/Integration/Tablet/Frame 3171-1.svg" alt="not found">
                    <h3 class="text-headLines xl:text-H2 md:text-Regular text-H2">Custom Sources</h3>
                    <p class="text-bodyText xl:text-Regular md:text-Small text-Regular xl:max-w-[438px] md:max-w-[245px]">In case you are missing integration with a source you can make use of one of the different SDK's, including a low-code solution, to create new integrations in minutes.</p>
                </div>
                <div class="flex flex-col gap-M rounded-L">
                    <img class="xl:block hidden h-[104px] w-[104px]" src="~/img/Integration/Desktop/Frame 3171-2.svg" alt="not found">
                    <img class="xl:hidden block h-[65px] w-[65px]" src="~/img/Integration/Tablet/Frame 3171-2.svg" alt="not found">
                    <h3 class="text-headLines xl:text-H2 md:text-Regular text-H2">KMS Enabled</h3>
                    <p class="text-bodyText xl:text-Regular md:text-Small text-Regular xl:max-w-[438px] md:max-w-[245px]">Use your existing KMS to secure authentication details with your sources. Once these details are shared with Unilake you can use RBAC to specify who can use them.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-white">
        <div class="lg:max-w-8xl md:max-w-5xl w-full px-L mx-auto flex md:flex-row flex-col md:justify-between max-md:items-center xl:py-XXXL md:py-XXL py-XL xl:gap-XXXL gap-XXL items-center">
            <div class="w-fit">
                <img class="xl:block hidden" src="~/img/Integration/Desktop/Illustration_Open_Protocol.svg" alt="not found">
                <img class="xl:hidden block" src="~/img/Integration/Tablet/Illustration_Open_Protocol.svg" alt="not found">
            </div>
            <div class="flex flex-col gap-M h-fit xl:max-w-[605px] md:max-w-[395px]">
                <h2 class="xl:text-15 text-H3 leading-[40px] text-headLines">Open Protocol</h2>
                <p class="xl:text-Regular md:text-Small text-Regular text-bodyText">
                    At the foundation of every integration is the Singer protocol, whether
                    a source integration makes use of a spin-off version like Airbyte and
                    Meltano, Unilake supports all of them. Make use of any of the SDK's
                    provided by Airbyte, Meltano or Unilake to create new integrations
                    when the one you are using is missing. All integrations offered by Unilake
                    out of the box are open source and offer friendly OSS licenses. Integrations
                    you create yourselve can be shared with the community or kept internal.
                </p>
            </div>
        </div>
    </section>
    <section class="linear-gradient-4">
        <div class="lg:max-w-8xl md:max-w-5xl w-full px-L mx-auto flex md:flex-row flex-col-reverse md:justify-between max-md:items-center xl:py-XXXL md:py-XXL py-XL xl:gap-XXXL gap-XXL items-center">
            <div class="flex flex-col gap-M h-fit xl:max-w-[605px] md:max-w-[395px]">
                <h2 class="xl:text-15 text-H3 leading-[40px] text-headLines">Integrated Load Patterns</h2>
                <p class="xl:text-Regular md:text-Small text-Regular text-bodyText">
                    Unilake simplifies data integration, supporting both full and incremental loads.
                    It automatically flattens data from APIs and prepares it for use by creating SCD
                    type 2 tables. Eliminate the need for external data frameworks and
                    efficiently manage your data at scale. Raw data is always stored alongside the
                    transformations in storing data to type 2, allowing you to customize its behavior and apply additional logic for storing and retaining data so you can build the
                    medallion architecture that you need for your use cases.
                </p>
            </div>
            <div class="w-fit">
                <img class="xl:block hidden" src="~/img/Integration/Desktop/Illustration_Integrated_Load_Patternsl.svg" alt="not found">
                <img class="xl:hidden block" src="~/img/Integration/Tablet/Illustration_Integrated_Load_Patternsl.svg" alt="not found">
            </div>
        </div>
    </section>
    <section class="bg-white">
        <div class="lg:max-w-8xl md:max-w-5xl w-full px-L mx-auto flex md:flex-row flex-col md:justify-between max-md:items-center xl:py-XXXL md:py-XXL py-XL xl:gap-XXXL gap-XXL items-center">
            <div class="w-fit">
                <img class="xl:block hidden" src="~/img/Integration/Desktop/Illustration_Integrated_Orchestration.svg" alt="not found">
                <img class="xl:hidden block" src="~/img/Integration/Tablet/Illustration_Integrated_Orchestration.svg" alt="not found">
            </div>
            <div class="flex flex-col gap-M h-fit xl:max-w-[605px] md:max-w-[395px]">
                <h2 class="xl:text-15 text-H3 leading-[40px] text-headLines">Integrated Orchestration</h2>
                <p class="xl:text-Regular md:text-Small text-Regular text-bodyText">
                    Create data pipelines without leaving UniLake with its integrated orchestration capabilities. Leveraging UniLake's integrated lineage overview, you can gain a birds-eye view on your pipelines and how changes in your pipeline can affect
                    downstream usage. Have the confidence of a production ready deployment by validating data contracts and spotting the impact of your changes. UniLake automatically makes sure every data consumer is up to date with the latest changes in your data product.
                </p>
            </div>
        </div>
    </section>
    <section class="bg-white">
        <div class="lg:max-w-8xl md:max-w-5xl w-full px-L mx-auto flex">
            <div class="flex md:flex-row flex-col border-t border-brNeutral md:justify-between md:gap-XXL gap-XL xl:py-XXXL md:py-XXL py-XL w-full">
                <div class="flex flex-col gap-M rounded-L">
                    <img class="xl:block hidden h-[104px] w-[104px]" src="~/img/Integration/Desktop/Frame 3171-3.svg" alt="not found">
                    <img class="xl:hidden block h-[65px] w-[65px]" src="~/img/Integration/Tablet/Frame 3171-3.svg" alt="not found">
                    <h3 class="text-headLines xl:text-H2 md:text-Regular text-H2">Streaming Data</h3>
                    <p class="text-bodyText xl:text-Regular md:text-Small text-Regular xl:max-w-[438px] md:max-w-[245px]">Push data to UniLake from operational systems or IoT via an API to generate real-time insights on your operational data.</p>
                </div>
                <div class="flex flex-col gap-M rounded-L">
                    <img class="xl:block hidden h-[104px] w-[104px]" src="~/img/Integration/Desktop/Frame 3171-4.svg" alt="not found">
                    <img class="xl:hidden block h-[65px] w-[65px]" src="~/img/Integration/Tablet/Frame 3171-4.svg" alt="not found">
                    <h3 class="text-headLines xl:text-H2 md:text-Regular text-H2">Privacy Filtered</h3>
                    <p class="text-bodyText xl:text-Regular md:text-Small text-Regular xl:max-w-[438px] md:max-w-[245px]">Enable privacy based transformations before the data enters your data platform through replacing, hashing or masking datapoints.</p>
                </div>
                <div class="flex flex-col gap-M rounded-L">
                    <img class="xl:block hidden h-[104px] w-[104px]" src="~/img/Integration/Desktop/Frame 3171-5.svg" alt="not found">
                    <img class="xl:hidden block h-[65px] w-[65px]" src="~/img/Integration/Tablet/Frame 3171-5.svg" alt="not found">
                    <h3 class="text-headLines xl:text-H2 md:text-Regular text-H2">Zero Code Integration</h3>
                    <p class="text-bodyText xl:text-Regular md:text-Small text-Regular xl:max-w-[438px] md:max-w-[245px]">Instead of developing yet another integration pattern, make use of off-the-shelf integrations without needing to develop a single line of code. Don't let data integration be a show stopper.</p>
                </div>
            </div>
        </div>
    </section>
</div>    
