@page "/Products/Lakehouse-analytics"
@attribute [RenderStatic]
@model www.unilake.Pages.Products.LakehouseAnalyticsModel
@{
    ViewData["Title"] = "Unilake.Www Lakehouse Analytics";
}

<div class="mx-auto font-inter bg-white">
    <section class="bg-neutral section-one">
        <div class="lg:max-w-8xl md:max-w-5xl w-full px-L mx-auto md:justify-between items-center md:py-XXXL py-L xl:gap-XXXL md:gap-XXL gap-L flex md:flex-row flex-col">
           <div class="flex flex-col gap-L xl:max-w-[605px] md:max-w-[395px]">
            <img class="lg:block hidden h-[88px] w-[88px]" src="~/img/lakeAnalytics/section1Desktop.svg" alt="Alternate Text" />
            <img class="max-lg:md:block hidden h-[64px] w-[64px]" src="~/img/lakeAnalytics/section1Tablet.svg" alt="Alternate Text" />
            <img class="max-md:block hidden h-[54px] w-[54px]"  src="~/img/lakeAnalytics/section1Mobile.svg" alt="Alternate Text" />
            <div class="flex flex-col gap-SM">
                <div class="flex md:gap-M gap-SM">
                    <h3 class="text-brand text-Regular">Lakehouse analytics</h3>
                    <button class="xl:block hidden py-XXS px-S bg-[#FF684940] text-onBrand text-Small rounded-[6px]">Badge</button>
                </div>
                <h1 class="text-headLines xl:text-headline2 text-headline3">Billions of records analysed in milliseconds</h1>
            </div>
            <h4 class="text-Regular text-bodyText">Lorem ipsum dolor sit amet consectetur. Augue aliquam lacus enim luctus consectetur amet blandit. Eu eleifend ipsum quam quam nunc ligula at. </h4>
            <div class="flex md:flex-row flex-col w-full gap-M">
                <button class="bg-brand brand-color-button xl:px-L xl:py-SM px-M py-S rounded-S xl:text-14 text-Small font-[600] text-neutral">Book a Demo</button>
                <button class="bg-neutral bg-less-logo-button border border-brNeutral xl:px-L xl:py-SM px-M py-S rounded-S flex justify-center items-center gap-S">
                    <h4 class="xl:text-14 text-Small font-[600] text-headLines">
                        View documentation
                    </h4>
                    <svg width="16" height="17" viewBox="0 0 16 17" fill="#252532" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.31344 4.14645C6.5087 3.95118 6.82528 3.95118 7.02055 4.14645L11.0205 8.14645C11.2158 8.34171 11.2158 8.65829 11.0205 8.85355L7.02055 12.8536C6.82528 13.0488 6.5087 13.0488 6.31344 12.8536C6.11818 12.6583 6.11818 12.3417 6.31344 12.1464L9.95989 8.5L6.31344 4.85355C6.11818 4.65829 6.11818 4.34171 6.31344 4.14645Z" />
                    </svg>
                </button>
            </div>
        </div>
           <div class="w-fit h-fit">
            @await Html.PartialAsync("Logos/LakeAnalyticsPage/LakeAnalyticsLogo")
        </div>
        </div>
    </section>
    <section class="bg-white">
        <div class="lg:max-w-8xl md:max-w-5xl w-full px-L mx-auto flex md:flex-row flex-col border-b border-brNeutral md:justify-between md:gap-XXL gap-XL xl:py-XXXL md:py-XXL py-XL w-full">
            <div class="flex flex-col gap-M rounded-L">
                <svg class="xl:block hidden" width="104" height="104" viewBox="0 0 104 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.5 8C0.5 3.85786 3.85786 0.5 8 0.5H96C100.142 0.5 103.5 3.85786 103.5 8V96C103.5 100.142 100.142 103.5 96 103.5H8C3.85786 103.5 0.5 100.142 0.5 96V8Z" stroke="#DDDFDA" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M43.5035 48.9886C40.429 46.4631 37.0388 43.6768 35.2407 42.1807C34.5819 41.6317 34.129 41.2611 33.978 41.1513C33.1133 40.4239 32.427 39.1611 33.8956 38.2827C34.5407 37.8984 45.5074 31.6121 49.5564 29.2788C50.9839 28.4553 52.727 28.4553 54.1544 29.2788C56.0897 30.4043 61.9093 33.7533 61.9093 33.7533C62.527 34.1102 62.527 34.9886 61.9093 35.3317L43.7642 45.7219C42.5564 46.4219 42.4192 48.0964 43.4897 48.9886H43.5035Z" fill="#FACCBB" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M48.0333 56.3591L40.649 67.614C40.1137 68.4238 39.0431 68.6846 38.2059 68.1905L33.3059 65.363C31.8922 64.5395 31 63.0297 31 61.3826V42.6062C31 41.1513 31.7 39.7924 32.8529 38.9277C31.5353 39.9434 32.0569 41.0689 32.9353 41.7964C33.0588 41.8924 43.9157 50.8277 47.6765 53.9297C48.4039 54.5199 48.5549 55.563 48.0471 56.3454L48.0333 56.3591Z" fill="#F37441" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M60.2353 55C63.3098 57.5255 66.7 60.3118 68.4981 61.8078C69.1569 62.3569 69.6098 62.7274 69.7608 62.8373C70.6255 63.5647 71.3118 64.8274 69.8432 65.7059C69.1981 66.0902 58.2314 72.3765 54.1824 74.7098C52.7549 75.5333 51.0118 75.5333 49.5843 74.7098C47.6491 73.5843 41.8294 70.2353 41.8294 70.2353C41.2118 69.8784 41.2118 69 41.8294 68.6569L59.9745 58.2667C61.1824 57.5667 61.3196 55.8922 60.2491 55H60.2353Z" fill="#F37441" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M55.6921 47.6295L63.0764 36.3746C63.6117 35.5648 64.6823 35.304 65.5196 35.7982L70.4196 38.6256C71.8333 39.4491 72.7254 40.959 72.7254 42.606V61.3825C72.7254 62.8374 72.0254 64.1962 70.8725 65.0609C72.1901 64.0452 71.6686 62.9197 70.7901 62.1923C70.6666 62.0962 59.8097 53.1609 56.049 50.059C55.3215 49.4688 55.1705 48.4256 55.6784 47.6433L55.6921 47.6295Z" fill="#F37441" />
                </svg>
                <svg class="max-xl:block hidden" width="66" height="65" viewBox="0 0 66 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 8C1 3.85786 4.35786 0.5 8.5 0.5H57.5C61.6421 0.5 65 3.85786 65 8V57C65 61.1421 61.6421 64.5 57.5 64.5H8.5C4.35786 64.5 1 61.1421 1 57V8Z" stroke="#DDDFDA" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M28.1451 30.7797C26.3882 29.3366 24.4509 27.7445 23.4235 26.8896C23.047 26.5758 22.7882 26.3641 22.7019 26.3013C22.2078 25.8856 21.8157 25.1641 22.6549 24.6621C23.0235 24.4425 29.2902 20.8503 31.6039 19.517C32.4196 19.0464 33.4157 19.0464 34.2313 19.517C35.3372 20.1601 38.6627 22.0739 38.6627 22.0739C39.0157 22.2778 39.0157 22.7797 38.6627 22.9758L28.2941 28.9131C27.6039 29.3131 27.5255 30.2699 28.1372 30.7797H28.1451Z" fill="#FACCBB" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M30.7333 34.992L26.5137 41.4234C26.2078 41.8862 25.5961 42.0352 25.1176 41.7528L22.3176 40.1371C21.5098 39.6665 21 38.8038 21 37.8626V27.1332C21 26.3018 21.4 25.5254 22.0588 25.0312C21.3059 25.6116 21.6039 26.2548 22.1059 26.6705C22.1765 26.7254 28.3804 31.8313 30.5294 33.6038C30.9451 33.9411 31.0314 34.5371 30.7412 34.9842L30.7333 34.992Z" fill="#F37441" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7059 34.2148C39.4628 35.658 41.4001 37.2501 42.4275 38.105C42.804 38.4188 43.0628 38.6305 43.1491 38.6933C43.6432 39.109 44.0353 39.8305 43.1961 40.3325C42.8275 40.5521 36.5608 44.1443 34.2471 45.4776C33.4314 45.9482 32.4353 45.9482 31.6197 45.4776C30.5138 44.8344 27.1883 42.9207 27.1883 42.9207C26.8353 42.7168 26.8353 42.2148 27.1883 42.0188L37.5569 36.0815C38.2471 35.6815 38.3255 34.7246 37.7138 34.2148H37.7059Z" fill="#F37441" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M35.1098 30.0034L39.3294 23.5721C39.6353 23.1093 40.2471 22.9603 40.7255 23.2426L43.5255 24.8583C44.3333 25.3289 44.8431 26.1917 44.8431 27.1328V37.8623C44.8431 38.6936 44.4431 39.4701 43.7843 39.9642C44.5373 39.3838 44.2392 38.7407 43.7373 38.325C43.6667 38.2701 37.4627 33.1642 35.3137 31.3917C34.898 31.0544 34.8118 30.4583 35.102 30.0113L35.1098 30.0034Z" fill="#F37441" />
                </svg>
                <h3 class="text-headLines xl:text-H2 md:text-Regular text-H2">StarRocks™ Engine</h3>
                <p class="text-bodyText xl:text-Regular md:text-Small text-Regular xl:max-w-[438px] md:max-w-[245px]">Every domain in UniLake is connected to StarRocks cluster of your needs. Set resource groups when assigning domains.</p>
            </div>
            <div class="flex flex-col gap-M rounded-L">
                <svg class="xl:block hidden" width="105" height="104" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.833008 8C0.833008 3.85786 4.19087 0.5 8.33301 0.5H96.333C100.475 0.5 103.833 3.85786 103.833 8V96C103.833 100.142 100.475 103.5 96.333 103.5H8.33301C4.19087 103.5 0.833008 100.142 0.833008 96V8Z" stroke="#DDDFDA" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M30.333 30C28.1239 30 26.333 31.7909 26.333 34V50C26.333 52.2091 28.1239 54 30.333 54H54.3682C54.8809 46.7347 60.9372 41 68.333 41C69.0122 41 69.6798 41.0484 70.333 41.1418V34C70.333 31.7909 68.5422 30 66.333 30H30.333Z" fill="#FFE9E4" />
                    <path d="M38.333 43C37.7807 43 37.333 42.5523 37.333 42C37.333 41.4477 37.7807 41 38.333 41" stroke="#FF6849" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M38.333 43C38.8853 43 39.333 42.5523 39.333 42C39.333 41.4477 38.8853 41 38.333 41" stroke="#FF6849" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M58.333 43C57.7807 43 57.333 42.5523 57.333 42C57.333 41.4477 57.7807 41 58.333 41" stroke="#FF6849" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M58.333 43C58.8853 43 59.333 42.5523 59.333 42C59.333 41.4477 58.8853 41 58.333 41" stroke="#FF6849" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M48.333 43C47.7807 43 47.333 42.5523 47.333 42C47.333 41.4477 47.7807 41 48.333 41" stroke="#FF6849" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M48.333 43C48.8853 43 49.333 42.5523 49.333 42C49.333 41.4477 48.8853 41 48.333 41" stroke="#FF6849" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M58.333 72V62C58.333 60.8954 59.2284 60 60.333 60H76.333C77.4374 60 78.333 60.8954 78.333 62V72C78.333 73.1044 77.4374 74 76.333 74H60.333C59.2284 74 58.333 73.1044 58.333 72Z" fill="#FFE9E4" />
                    <path d="M61.333 60V55C61.333 51.134 64.467 48 68.333 48C72.199 48 75.333 51.134 75.333 55V60" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M58.333 72V62C58.333 60.8954 59.2284 60 60.333 60H76.333C77.4374 60 78.333 60.8954 78.333 62V72C78.333 73.1044 77.4374 74 76.333 74H60.333C59.2284 74 58.333 73.1044 58.333 72Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M70.333 39.625V34C70.333 31.7909 68.5422 30 66.333 30H30.333C28.1239 30 26.333 31.7909 26.333 34V50C26.333 52.2091 28.1239 54 30.333 54H52.833" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg class="max-xl:block hidden" width="66" height="65" viewBox="0 0 66 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 8C1 3.85786 4.35786 0.5 8.5 0.5H57.5C61.6421 0.5 65 3.85786 65 8V57C65 61.1421 61.6421 64.5 57.5 64.5H8.5C4.35786 64.5 1 61.1421 1 57V8Z" stroke="#DDDFDA" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.4285 19.9277C19.1662 19.9277 18.1428 20.9511 18.1428 22.2134V31.3563C18.1428 32.6187 19.1662 33.642 20.4285 33.642H34.1629C34.4559 29.4904 37.9167 26.2134 42.1428 26.2134C42.5309 26.2134 42.9124 26.2411 43.2857 26.2945V22.2134C43.2857 20.9511 42.2624 19.9277 41 19.9277H20.4285Z" fill="#FFE9E4" />
                    <path d="M25 27.3557C24.6844 27.3557 24.4286 27.0999 24.4286 26.7843C24.4286 26.4687 24.6844 26.2129 25 26.2129" stroke="#FF6849" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M25 27.3557C25.3156 27.3557 25.5714 27.0999 25.5714 26.7843C25.5714 26.4687 25.3156 26.2129 25 26.2129" stroke="#FF6849" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M36.4285 27.3557C36.1129 27.3557 35.8571 27.0999 35.8571 26.7843C35.8571 26.4687 36.1129 26.2129 36.4285 26.2129" stroke="#FF6849" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M36.4285 27.3557C36.7441 27.3557 36.9999 27.0999 36.9999 26.7843C36.9999 26.4687 36.7441 26.2129 36.4285 26.2129" stroke="#FF6849" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M30.7143 27.3557C30.3987 27.3557 30.1428 27.0999 30.1428 26.7843C30.1428 26.4687 30.3987 26.2129 30.7143 26.2129" stroke="#FF6849" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M30.7142 27.3557C31.0298 27.3557 31.2857 27.0999 31.2857 26.7843C31.2857 26.4687 31.0298 26.2129 30.7142 26.2129" stroke="#FF6849" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M36.4286 43.9275V38.2132C36.4286 37.582 36.9403 37.0703 37.5714 37.0703H46.7143C47.3454 37.0703 47.8572 37.582 47.8572 38.2132V43.9275C47.8572 44.5585 47.3454 45.0703 46.7143 45.0703H37.5714C36.9403 45.0703 36.4286 44.5585 36.4286 43.9275Z" fill="#FFE9E4" />
                    <path d="M38.1428 37.07V34.2129C38.1428 32.0037 39.9337 30.2129 42.1428 30.2129C44.352 30.2129 46.1428 32.0037 46.1428 34.2129V37.07" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M36.4286 43.9275V38.2132C36.4286 37.582 36.9403 37.0703 37.5714 37.0703H46.7143C47.3454 37.0703 47.8572 37.582 47.8572 38.2132V43.9275C47.8572 44.5585 47.3454 45.0703 46.7143 45.0703H37.5714C36.9403 45.0703 36.4286 44.5585 36.4286 43.9275Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M43.2857 25.4277V22.2134C43.2857 20.9511 42.2624 19.9277 41 19.9277H20.4285C19.1662 19.9277 18.1428 20.9511 18.1428 22.2134V31.3563C18.1428 32.6187 19.1662 33.642 20.4285 33.642H33.2857" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <h3 class="text-headLines xl:text-H2 md:text-Regular text-H2">SSO+SCIM</h3>
                <p class="text-bodyText xl:text-Regular md:text-Small text-Regular xl:max-w-[438px] md:max-w-[245px]">Connect to your data using SSO (SAML or OIDC). Easily manage groups at scale using SCIM.</p>
            </div>
            <div class="flex flex-col gap-M rounded-L">
                <svg class="xl:block hidden" width="105" height="104" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.16602 8C1.16602 3.85786 4.52388 0.5 8.66602 0.5H96.666C100.808 0.5 104.166 3.85786 104.166 8V96C104.166 100.142 100.808 103.5 96.666 103.5H8.66602C4.52388 103.5 1.16602 100.142 1.16602 96V8Z" stroke="#DDDFDA" />
                    <path d="M42.666 62V70C42.666 72.2092 44.4569 74 46.666 74H74.666C76.8752 74 78.666 72.2092 78.666 70V62C78.666 59.7908 76.8752 58 74.666 58H46.666C44.4569 58 42.666 59.7909 42.666 62Z" fill="#FFE9E4" />
                    <path d="M42.666 34V42C42.666 44.2091 44.4569 46 46.666 46H74.666C76.8752 46 78.666 44.2091 78.666 42V34C78.666 31.7908 76.8752 30 74.666 30H46.666C44.4569 30 42.666 31.7909 42.666 34Z" fill="#FFE9E4" />
                    <path d="M42.666 62V70C42.666 72.2092 44.4569 74 46.666 74H74.666C76.8752 74 78.666 72.2092 78.666 70V62C78.666 59.7908 76.8752 58 74.666 58H46.666C44.4569 58 42.666 59.7909 42.666 62Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M42.666 34V42C42.666 44.2091 44.4569 46 46.666 46H74.666C76.8752 46 78.666 44.2091 78.666 42V34C78.666 31.7908 76.8752 30 74.666 30H46.666C44.4569 30 42.666 31.7909 42.666 34Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M26.666 60L34.666 52L26.666 44" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg class="max-xl:block hidden" width="66" height="65" viewBox="0 0 66 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 8C1 3.85786 4.35786 0.5 8.5 0.5H57.5C61.6421 0.5 65 3.85786 65 8V57C65 61.1421 61.6421 64.5 57.5 64.5H8.5C4.35786 64.5 1 61.1421 1 57V8Z" stroke="#DDDFDA" />
                    <path d="M27.2856 38.2154V42.7868C27.2856 44.0492 28.309 45.0725 29.5714 45.0725H45.5714C46.8338 45.0725 47.8571 44.0492 47.8571 42.7868V38.2154C47.8571 36.953 46.8338 35.9297 45.5714 35.9297H29.5714C28.309 35.9297 27.2856 36.953 27.2856 38.2154Z" fill="#FFE9E4" />
                    <path d="M27.2856 22.2154V26.7868C27.2856 28.0492 28.309 29.0725 29.5714 29.0725H45.5714C46.8338 29.0725 47.8571 28.0492 47.8571 26.7868V22.2154C47.8571 20.953 46.8338 19.9297 45.5714 19.9297H29.5714C28.309 19.9297 27.2856 20.953 27.2856 22.2154Z" fill="#FFE9E4" />
                    <path d="M27.2856 38.2154V42.7868C27.2856 44.0492 28.309 45.0725 29.5714 45.0725H45.5714C46.8338 45.0725 47.8571 44.0492 47.8571 42.7868V38.2154C47.8571 36.953 46.8338 35.9297 45.5714 35.9297H29.5714C28.309 35.9297 27.2856 36.953 27.2856 38.2154Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M27.2856 22.2154V26.7868C27.2856 28.0492 28.309 29.0725 29.5714 29.0725H45.5714C46.8338 29.0725 47.8571 28.0492 47.8571 26.7868V22.2154C47.8571 20.953 46.8338 19.9297 45.5714 19.9297H29.5714C28.309 19.9297 27.2856 20.953 27.2856 22.2154Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M18.1428 37.0725L22.7143 32.5011L18.1428 27.9297" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <h3 class="text-headLines xl:text-H2 md:text-Regular text-H2">Realtime Endpoint</h3>
                <p class="text-bodyText xl:text-Regular md:text-Small text-Regular xl:max-w-[438px] md:max-w-[245px]">Push data to UniLake and analyze in realtime with sub-second latency. Stay up to date. </p>
            </div>
        </div>
    </section>
    <section class="bg-white">
        <div class="lg:max-w-8xl md:max-w-5xl w-full px-L mx-auto md:justify-between max-md:items-center xl:py-XXXL md:py-XXL py-XL flex md:flex-row flex-col xl:gap-XXXL gap-XXL items-center">
            <div class="w-fit h-fit">
                @await Html.PartialAsync("Logos/LakeAnalyticsPage/Illustration_Unparalleled_Performance")
            </div>
            <div class="flex flex-col gap-M h-fit xl:max-w-[605px] md:max-w-[395px]">
                <h1 class="xl:text-15 text-H3 leading-[40px] text-headLines">Unparalleled Performance</h1>
                <h4 class="xl:text-Regular md:text-Small text-Regular text-bodyText">
                    Make use of a next-gen, high performance analytical data lakehouse engine that enables real-time, multi-dimensional, and highly concurrent data analysis. At the core of UniLake's query engine you'll find StarRocks™ an open source,
                    high performance analytical database. 
                </h4>
            </div>
        </div>
    </section>
    <section class="linear-gradient-4">
        <div class="lg:max-w-8xl md:max-w-5xl w-full px-L mx-auto md:justify-between max-md:items-center xl:py-XXXL md:py-XXL py-XL flex md:flex-row flex-col-reverse xl:gap-XXXL gap-XXL items-center">
            <div class="flex flex-col gap-M h-fit xl:max-w-[605px] md:max-w-[395px]">
            <h1 class="xl:text-15 text-H3 leading-[40px] text-headLines">
                Analyze data
                in real-time
            </h1>
            <h4 class="xl:text-Regular md:text-Small text-Regular text-bodyText">
                Analyze your data in real-time and gain the edge in making business
                decisions at the right time. From fraud detection, supply chain analysis and
                operational analytics, stream your data into UniLake and analyse with sub-second performance. 
            </h4>
        </div>
            <div class="w-fit h-fit">
            @await Html.PartialAsync("Logos/LakeAnalyticsPage/Illustration_Analyze_Data_Real-time")
        </div>
        </div>
    </section>
    <section class="bg-white">
        <div class="lg:max-w-8xl md:max-w-5xl w-full px-L mx-auto md:justify-between max-md:items-center xl:py-XXXL md:py-XXL py-XL flex md:flex-row flex-col xl:gap-XXXL gap-XXL items-center">
            <div class="w-fit h-fit">
                @await Html.PartialAsync("Logos/LakeAnalyticsPage/Illustration_Data_Products_Code")
            </div>
            <div class="flex flex-col gap-M h-fit xl:max-w-[605px] md:max-w-[395px]">
                <button class="py-S px-SM bg-[#619DFF5C] rounded-[6px] text-Small text-bravo w-fit h-fit flex items-center">
                    Coming Soon
                </button>
                <h1 class="xl:text-15 text-H3 leading-[40px] text-headLines">
                    Data Products as Code
                </h1>
                <h4 class="xl:text-Regular md:text-Small text-Regular text-bodyText">
                    Develop your data products on UniLake to allow for an integrated data integration, tranformation, security and documentation experience. UniLake's data product as code semantics allow for universal development of data products, maintained in git. 
                </h4>
            </div>
        </div>
    </section>
    <section class="linear-gradient-4">
        <div class="lg:max-w-8xl md:max-w-5xl w-full px-L mx-auto md:justify-between max-md:items-center xl:py-XXXL md:py-XXL py-XL flex md:flex-row flex-col-reverse xl:gap-XXXL gap-XXL items-center">
            <div class="flex flex-col gap-M h-fit xl:max-w-[605px] md:max-w-[395px]">
                <h1 class="xl:text-15 text-H3 leading-[40px] text-headLines">
                    Unified format
                </h1>
                <h4 class="xl:text-Regular md:text-Small text-Regular text-bodyText">
                    Access different file formats from a single unified platform. Whether your data is stored in Iceberg, Delta or Hudi format, UniLake allows you to query and combine your data in a single interface. 
                </h4>
            </div>
            <div class="w-fit h-fit">
                @await Html.PartialAsync("Logos/LakeAnalyticsPage/Illustration_Unified_Format")
            </div>
        </div>
    </section>
    <section class="bg-white">
        <div class="lg:max-w-8xl md:max-w-5xl w-full px-L mx-auto md:justify-between max-md:items-center xl:py-XXXL md:py-XXL py-XL flex md:flex-row flex-col xl:gap-XXXL md:gap-XL">
            <div class="flex flex-col items-center gap-XL max-xl:md:py-XL max-md:py-L">
                <div class="flex justify-center max-md:w-full max-md:h-full">
                    @await Html.PartialAsync("Logos/LakeAnalyticsPage/Illustration_Integrated_IDE")
                </div>
                <div class="flex flex-col xl:gap-L gap-M xl:max-w-[664px] md:max-w-[600px]">
                    <h2 class="text-headLines text-H3 leading-[40px]">Integrated IDE</h2>
                    <p class="text-Regular text-bodyText">Develop your data products using an integrated and optimized development environment. No need to setup a local IDE, start coding using a cloud driven machine.</p>
                </div>
            </div>
            <div class="flex flex-col items-center gap-XL max-xl:md:py-XL max-md:py-L">
                <div class="flex justify-center max-md:w-full max-md:h-full">
                    @await Html.PartialAsync("Logos/LakeAnalyticsPage/Illustration_Multiple_Endpoints")
                </div>
                <div class="flex flex-col xl:gap-L gap-M xl:max-w-[664px] md:max-w-[600px]">
                    <h2 class="text-headLines text-H3 leading-[40px]">Multiple Endpoints</h2>
                    <p class="text-Regular text-bodyText">Make use of different connection types, supporting SQL, S3 and rest API to access and query your data in an ecosystem of your choice. Governance and security is applied universally to any of these endpoints.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="lg:max-w-8xl md:max-w-5xl w-full px-L mx-auto flex">
        <div class="flex md:flex-row flex-col border-t border-brNeutral md:justify-between md:gap-XXL gap-XL xl:py-XXXL md:py-XXL py-XL w-full">
            <div class="flex flex-col gap-M rounded-L">
                <svg class="xl:block hidden" width="104" height="105" viewBox="0 0 104 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.500244 8.77246C0.500244 4.63032 3.85811 1.27246 8.00024 1.27246H96.0002C100.142 1.27246 103.5 4.63033 103.5 8.77246V96.7725C103.5 100.915 100.142 104.272 96.0002 104.272H8.00024C3.85811 104.272 0.500244 100.915 0.500244 96.7725V8.77246Z" stroke="#DDDFDA" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M68.0337 42.0823C68.1489 42.2156 68.2996 42.3132 68.4684 42.3636C70.9122 42.9393 73.0599 44.3911 74.5051 46.4441C75.9504 48.4972 76.5924 51.0088 76.31 53.5035C76.0276 55.9983 74.8404 58.3029 72.9729 59.981C71.1057 61.6591 68.6877 62.5942 66.1771 62.6092H63.431V56.5225C63.431 52.8981 60.4929 49.96 56.8686 49.96C54.9375 49.96 53.2013 50.794 52.0004 52.1215C51.386 51.4415 50.6247 50.8853 49.7508 50.505C47.3558 49.4628 44.5707 49.9401 42.6594 51.7203L35.2782 58.5953C34.5257 59.2962 33.9748 60.1326 33.6282 61.0317C32.9562 60.6441 32.3188 60.1896 31.7263 59.6717C29.3309 57.5777 27.8654 54.6178 27.6522 51.4433C27.4391 48.2688 28.4957 45.1396 30.5897 42.7442C31.6266 41.5581 32.8869 40.5878 34.2987 39.8888C35.7105 39.1898 37.2462 38.7757 38.8181 38.6701C38.9812 38.6737 39.1419 38.6305 39.2813 38.5457C39.4207 38.4608 39.5329 38.3379 39.6047 38.1913C40.689 35.0486 42.818 32.3726 45.6365 30.6095C48.4551 28.8465 51.7928 28.1031 55.0932 28.5031C58.3936 28.9031 61.4571 30.4225 63.7726 32.8079C66.0886 35.1933 67.5166 38.3004 67.8185 41.6112C67.844 41.7855 67.9182 41.949 68.0337 42.0823Z" fill="#FFE9E4" />
                    <path d="M39.7509 63.3974L47.1322 56.5225V77.1475" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M64.2496 70.2726L56.8686 77.1475V56.5225" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M65.1252 62.6092H66.1771C68.6877 62.5942 71.1057 61.6591 72.9729 59.981C74.8404 58.3029 76.0276 55.9983 76.31 53.5036C76.5924 51.0088 75.9504 48.4972 74.5051 46.4441C73.0599 44.3911 70.9122 42.9393 68.4684 42.3636C68.2996 42.3132 68.1489 42.2156 68.0337 42.0823C67.9182 41.949 67.844 41.7855 67.8185 41.6112C67.5166 38.3004 66.0886 35.1933 63.7726 32.8079C61.4571 30.4225 58.3936 28.9031 55.0932 28.5031C51.7928 28.1031 48.4551 28.8465 45.6365 30.6095C42.818 32.3726 40.689 35.0486 39.6047 38.1913C39.5329 38.3379 39.4207 38.4608 39.2813 38.5457C39.1419 38.6305 38.9812 38.6737 38.8181 38.6701C37.2462 38.7757 35.7105 39.1898 34.2987 39.8888C32.8869 40.5878 31.6266 41.5581 30.5897 42.7442C28.4957 45.1396 27.4391 48.2688 27.6522 51.4433C27.8654 54.6178 29.3309 57.5777 31.7263 59.6717C31.8804 59.8064 32.0375 59.9368 32.1974 60.0628" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg class="max-xl:block hidden" width="66" height="66" viewBox="0 0 66 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 8.26758C1 4.12544 4.35786 0.767578 8.5 0.767578H57.5C61.6421 0.767578 65 4.12544 65 8.26758V57.2676C65 61.4097 61.6421 64.7676 57.5 64.7676H8.5C4.35786 64.7676 1 61.4097 1 57.2676V8.26758Z" stroke="#DDDFDA" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M42.162 26.6598C42.2278 26.7359 42.3139 26.7917 42.4103 26.8205C43.8068 27.1495 45.0341 27.9791 45.8599 29.1522C46.6858 30.3254 47.0526 31.7606 46.8913 33.1862C46.7299 34.6117 46.0515 35.9287 44.9843 36.8876C43.9174 37.8465 42.5357 38.3808 41.1011 38.3894H39.5318V34.9113C39.5318 32.8402 37.853 31.1613 35.7819 31.1613C34.6784 31.1613 33.6863 31.6379 33.0001 32.3965C32.649 32.0079 32.2139 31.69 31.7146 31.4727C30.346 30.8772 28.7545 31.1499 27.6624 32.1672L23.4445 36.0958C23.0145 36.4963 22.6997 36.9742 22.5017 37.488C22.1177 37.2665 21.7535 37.0068 21.4149 36.7108C20.046 35.5143 19.2086 33.8229 19.0868 32.0089C18.965 30.1949 19.5688 28.4068 20.7654 27.038C21.3579 26.3602 22.0781 25.8058 22.8848 25.4063C23.6916 25.0069 24.5691 24.7702 25.4673 24.7099C25.5605 24.712 25.6524 24.6873 25.732 24.6388C25.8117 24.5903 25.8758 24.5201 25.9168 24.4363C26.5364 22.6405 27.753 21.1114 29.3636 20.1039C30.9742 19.0965 32.8815 18.6716 34.7674 18.9002C36.6533 19.1288 38.4039 19.997 39.7271 21.3601C41.0505 22.7232 41.8665 24.4987 42.039 26.3905C42.0536 26.4902 42.096 26.5836 42.162 26.6598Z" fill="#FFE9E4" />
                    <path d="M26.0004 38.8407L30.2182 34.9121V46.6978" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M39.9996 42.7693L35.7819 46.6978V34.9121" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M40.5 38.3894H41.1011C42.5357 38.3808 43.9174 37.8465 44.9843 36.8876C46.0515 35.9287 46.7299 34.6117 46.8913 33.1862C47.0526 31.7606 46.6858 30.3254 45.8599 29.1522C45.0341 27.9791 43.8068 27.1495 42.4103 26.8205C42.3139 26.7917 42.2278 26.7359 42.162 26.6598C42.096 26.5836 42.0536 26.4902 42.039 26.3905C41.8665 24.4987 41.0505 22.7232 39.7271 21.3601C38.4039 19.997 36.6533 19.1288 34.7674 18.9002C32.8815 18.6716 30.9742 19.0965 29.3636 20.1039C27.753 21.1114 26.5364 22.6405 25.9168 24.4363C25.8758 24.5201 25.8117 24.5903 25.732 24.6388C25.6524 24.6873 25.5605 24.712 25.4673 24.7099C24.5691 24.7702 23.6916 25.0069 22.8848 25.4063C22.0781 25.8058 21.3579 26.3602 20.7654 27.038C19.5688 28.4068 18.965 30.1949 19.0868 32.0089C19.2086 33.8229 20.046 35.5143 21.4149 36.7108C21.5029 36.7878 21.5927 36.8623 21.6841 36.9343" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <h1 class="text-headLines xl:text-H2 md:text-Regular text-H2">Cross Clouds</h1>
                <p class="text-bodyText xl:text-Regular md:text-Small text-Regular xl:max-w-[438px] md:max-w-[245px]">UnilLake is cloud native and can run on any cloud. It supports S3, Azure and Google as storage backends for connecting your data.</p>
            </div>
            <div class="flex flex-col gap-M rounded-L">
                <svg class="xl:block hidden" width="105" height="105" viewBox="0 0 105 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.833374 8.77246C0.833374 4.63032 4.19124 1.27246 8.33337 1.27246H96.3334C100.476 1.27246 103.833 4.63033 103.833 8.77246V96.7725C103.833 100.915 100.476 104.272 96.3334 104.272H8.33337C4.19124 104.272 0.833374 100.915 0.833374 96.7725V8.77246Z" stroke="#DDDFDA" />
                    <path d="M67.1111 61.0846V53.6956H74.5V61.0846H67.1111Z" fill="#FFE9E4" />
                    <path d="M67.1111 61.0846V53.6956H74.5V61.0846H67.1111Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M61.5693 57.3892H67.1111" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M37.5557 40.7658V33.3769H30.1667V40.7658H37.5557Z" fill="#FFE9E4" />
                    <path d="M37.5557 40.7658V33.3769H30.1667V40.7658H37.5557Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M43.0974 37.0705H37.5557" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M41.2499 68.4745V61.0855H33.8609V68.4745H41.2499Z" fill="#FFE9E4" />
                    <path d="M41.2499 68.4745V61.0855H33.8609V68.4745H41.2499Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M46.7916 64.7791H41.2499" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M63.4169 48.1557V40.7668H70.8058V48.1557H63.4169Z" fill="#FFE9E4" />
                    <path d="M63.4169 48.1557V40.7668H70.8058V48.1557H63.4169Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M57.8751 44.4603H63.4168" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M57.8751 72.168V64.7791H65.2641V72.168H57.8751Z" fill="#FFE9E4" />
                    <path d="M57.8751 72.168V64.7791H65.2641V72.168H57.8751Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M52.3334 55.5429V48.1539H59.7223V55.5429H52.3334Z" fill="#FFE9E4" />
                    <path d="M52.3334 55.5429V48.1539H59.7223V55.5429H52.3334Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M35.7081 51.8475H52.3333" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M46.7916 64.7791L61.5696 57.3901" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M57.8751 44.4604L43.0972 37.0714" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M32.0139 55.5429V48.1539H39.4029V55.5429H32.0139Z" fill="#FFE9E4" />
                    <path d="M32.0139 55.5429V48.1539H39.4029V55.5429H32.0139Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg class="max-xl:block hidden" width="66" height="66" viewBox="0 0 66 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 8.26758C1 4.12544 4.35786 0.767578 8.5 0.767578H57.5C61.6421 0.767578 65 4.12544 65 8.26758V57.2676C65 61.4097 61.6421 64.7676 57.5 64.7676H8.5C4.35786 64.7676 1 61.4097 1 57.2676V8.26758Z" stroke="#DDDFDA" />
                    <path d="M41.4443 37.5172V33.2949H45.6666V37.5172H41.4443Z" fill="#FFE9E4" />
                    <path d="M41.4443 37.5172V33.2949H45.6666V37.5172H41.4443Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M38.2777 35.4062H41.4444" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M24.5555 25.9059V21.6836H20.3333V25.9059H24.5555Z" fill="#FFE9E4" />
                    <path d="M24.5555 25.9059V21.6836H20.3333V25.9059H24.5555Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M27.7223 23.7949H24.5556" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M26.6666 41.7398V37.5176H22.4444V41.7398H26.6666Z" fill="#FFE9E4" />
                    <path d="M26.6666 41.7398V37.5176H22.4444V41.7398H26.6666Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M29.8334 39.6289H26.6667" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M39.3335 30.1285V25.9062H43.5558V30.1285H39.3335Z" fill="#FFE9E4" />
                    <path d="M39.3335 30.1285V25.9062H43.5558V30.1285H39.3335Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M36.1667 28.0176H39.3334" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M36.1667 43.8492V39.627H40.389V43.8492H36.1667Z" fill="#FFE9E4" />
                    <path d="M36.1667 43.8492V39.627H40.389V43.8492H36.1667Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M33 34.3492V30.127H37.2223V34.3492H33Z" fill="#FFE9E4" />
                    <path d="M33 34.3492V30.127H37.2223V34.3492H33Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M23.4999 32.2383H33" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M29.8334 39.627L38.2779 35.4047" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M36.1667 28.0176L27.7222 23.7953" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M21.3889 34.3492V30.127H25.6112V34.3492H21.3889Z" fill="#FFE9E4" />
                    <path d="M21.3889 34.3492V30.127H25.6112V34.3492H21.3889Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <h1 class="text-headLines xl:text-H2 md:text-Regular text-H2">Batch and Streaming</h1>
                <p class="text-bodyText xl:text-Regular md:text-Small text-Regular xl:max-w-[438px] md:max-w-[245px]">Whether you want to analyze your data in batches or use micro-batch streaming to ingest your data, we support both. Add your local sources with ease.</p>
            </div>
            <div class="flex flex-col gap-M rounded-L">
                <svg class="xl:block hidden" width="105" height="105" viewBox="0 0 105 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.16638 8.77246C1.16638 4.63032 4.52425 1.27246 8.66638 1.27246H96.6664C100.809 1.27246 104.166 4.63033 104.166 8.77246V96.7725C104.166 100.915 100.809 104.272 96.6664 104.272H8.66638C4.52425 104.272 1.16638 100.915 1.16638 96.7725V8.77246Z" stroke="#DDDFDA" />
                    <path d="M38.5604 39.6739V57.8102C38.5604 62.8183 40.3649 66.8783 42.5907 66.8783H70.8026C73.0286 66.8783 74.8329 62.8183 74.8329 57.8102V39.6739C74.8329 34.6657 73.0286 30.6058 70.8026 30.6058H42.5907C40.3649 30.6058 38.5604 34.6658 38.5604 39.6739Z" fill="#FFE9E4" />
                    <path d="M38.5604 39.6739V57.8102C38.5604 62.8183 40.3649 66.8783 42.5907 66.8783H70.8026C73.0286 66.8783 74.8329 62.8183 74.8329 57.8102V39.6739C74.8329 34.6657 73.0286 30.6058 70.8026 30.6058H42.5907C40.3649 30.6058 38.5604 34.6658 38.5604 39.6739Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M30.4999 62.8483V70.9089C30.4999 73.1348 31.3018 74.9391 32.2911 74.9391H44.8298C45.8191 74.9391 46.621 73.1348 46.621 70.9089V62.8483C46.621 60.6224 45.8191 58.818 44.8298 58.818H32.2911C31.3018 58.818 30.4999 60.6225 30.4999 62.8483Z" fill="#FFE9E4" />
                    <path d="M30.4999 62.8483V70.9089C30.4999 73.1348 31.3018 74.9391 32.2911 74.9391H44.8298C45.8191 74.9391 46.621 73.1348 46.621 70.9089V62.8483C46.621 60.6224 45.8191 58.818 44.8298 58.818H32.2911C31.3018 58.818 30.4999 60.6225 30.4999 62.8483Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M66.7725 49.751V38.6678H55.6892" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M66.7724 38.6664L59.7194 45.7193L52.6664 52.7723" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg class="max-xl:block hidden" width="66" height="66" viewBox="0 0 66 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 8.26758C1 4.12544 4.35786 0.767578 8.5 0.767578H57.5C61.6421 0.767578 65 4.12544 65 8.26758V57.2676C65 61.4097 61.6421 64.7676 57.5 64.7676H8.5C4.35786 64.7676 1 61.4097 1 57.2676V8.26758Z" stroke="#DDDFDA" />
                    <path d="M24.9395 25.2833V35.6469C24.9395 38.5087 25.9706 40.8287 27.2425 40.8287H43.3636C44.6355 40.8287 45.6666 38.5087 45.6666 35.6469V25.2833C45.6666 22.4215 44.6355 20.1016 43.3636 20.1016H27.2425C25.9706 20.1016 24.9395 22.4216 24.9395 25.2833Z" fill="#FFE9E4" />
                    <path d="M24.9395 25.2833V35.6469C24.9395 38.5087 25.9706 40.8287 27.2425 40.8287H43.3636C44.6355 40.8287 45.6666 38.5087 45.6666 35.6469V25.2833C45.6666 22.4215 44.6355 20.1016 43.3636 20.1016H27.2425C25.9706 20.1016 24.9395 22.4216 24.9395 25.2833Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M20.3335 38.5257V43.1317C20.3335 44.4037 20.7918 45.4347 21.3571 45.4347H28.522C29.0873 45.4347 29.5456 44.4037 29.5456 43.1317V38.5257C29.5456 37.2537 29.0873 36.2227 28.522 36.2227H21.3571C20.7918 36.2227 20.3335 37.2538 20.3335 38.5257Z" fill="#FFE9E4" />
                    <path d="M20.3335 38.5257V43.1317C20.3335 44.4037 20.7918 45.4347 21.3571 45.4347H28.522C29.0873 45.4347 29.5456 44.4037 29.5456 43.1317V38.5257C29.5456 37.2537 29.0873 36.2227 28.522 36.2227H21.3571C20.7918 36.2227 20.3335 37.2538 20.3335 38.5257Z" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M41.0608 31.041V24.7077H34.7275" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M41.0606 24.707L37.0303 28.7373L33 32.7676" stroke="#FF6849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <h1 class="text-headLines xl:text-H2 md:text-Regular text-H2">Elastic Compute</h1>
                <p class="text-bodyText xl:text-Regular md:text-Small text-Regular xl:max-w-[438px] md:max-w-[245px]">Need more compute? Scale your deployment to meet your needs. Compute is assigned dynamically, so no compute will stay idle.</p>
            </div>
        </div>
    </section>
</div>