@section FlowbiteCSS {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
}

@section FlowbiteJS {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
}
<div id="default-carousel" class="relative w-full" data-carousel="slide">
    <div class="relative h-56 overflow-hidden rounded-lg xl:h-[560px] md:h-[460px] h-[600px]">
        <!-- Item 1 -->
        <div class="hidden absolute duration-2000 ease-in-out items-center flex xl:h-[560px] md:h-[460px] h-[600px] w-auto" data-carousel-item>
            <div class="xl:px-[32px] xl:mx-[32px] md:px-[16px] md:mx-[16px] md:border-x md:border-bgNeutarl px-L">
                <div class="inner-slide blog-card grid xl:gap-XXL md:gap-XL gap-M md:grid-cols-2 grid-cols-1 bg-[#FFFFFF] rounded-L">
                    <div class="">
                        <div class="sm:mx-0">
                            <a href="#">
                                <img src="./img/slider.jpg" alt="Cover Image for" class="rounded-S object-cover">
                            </a>
                        </div>
                    </div>
                    <div class=" grid grid-cols-1 justify-between items-center md:py-[0px] md:px-[0px] py-M px-M md:max-w-[440px]">
                        <div class="flex flex-col xl:gap-L md:gap-XS gap-XS h-fit">
                            <button class="md:h-[32px] h-[24px] w-[77px] py-S px-SM rounded-[6px] bg-[#619DFF5C] text-bravo text-Small flex items-center text-center justify-center">Category</button>
                            <span class="md:text-H3 text-Regular text-headLines blog-heading">Blog title heading </span>
                            <span class="md:text-Medium text-Small text-bodyText md:line-clamp-none line-clamp-2">Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.</span>
                            <a class="" href="about#">
                                @await Html.PartialAsync("Logos/ReadArticleLogo")
                            </a>
                            <div class="flex gap-M h-[48px] max-w-[272px]">
                                <img src="./img/profile/profile.jpg" class="h-[48px] w-[48px] rounded-full">
                                <div class="flex flex-col justify-between lg:min-w-[208px] md:min-w-[200px] min-w-[180px]">
                                    <span class="text-Bold text-headLines">Jane Coper</span>
                                    <div class="flex justify-between items-end">
                                        <span class="text-Small text-textSecondary">31 Dec 2023</span>
                                        <div class="flex items-center h-full">
                                            <svg width="4" height="5" viewBox="0 0 4 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0.22168 3.06641V2.70605C0.22168 2.20215 0.379883 1.78613 0.696289 1.45801C1.01855 1.12988 1.45508 0.96582 2.00586 0.96582C2.5625 0.96582 3.00195 1.12988 3.32422 1.45801C3.64648 1.78613 3.80762 2.20215 3.80762 2.70605V3.06641C3.80762 3.56445 3.64648 3.97754 3.32422 4.30566C3.00781 4.62793 2.57129 4.78906 2.01465 4.78906C1.46387 4.78906 1.02734 4.62793 0.705078 4.30566C0.382812 3.97754 0.22168 3.56445 0.22168 3.06641Z" fill="#252532" />
                                            </svg>
                                        </div>
                                        <span class="text-Small text-textSecondary">5 min read</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Item 2 -->
        <div class="hidden absolute duration-2000 ease-in-out items-center flex xl:h-[560px] md:h-[460px] h-[600px] w-auto" data-carousel-item>
            <div class="xl:px-[32px] xl:mx-[32px] md:px-[16px] md:mx-[16px] md:border-x md:border-bgNeutarl px-L">
                <div class="inner-slide blog-card grid xl:gap-XXL md:gap-XL gap-M md:grid-cols-2 grid-cols-1 bg-[#FFFFFF] rounded-L">
                    <div class="">
                        <div class="sm:mx-0">
                            <a href="#">
                                <img src="./img/slider.jpg" alt="Cover Image for" class="rounded-S object-cover">
                            </a>
                        </div>
                    </div>
                    <div class=" grid grid-cols-1 justify-between items-center md:py-[0px] md:px-[0px] py-M px-M md:max-w-[440px]">
                        <div class="flex flex-col xl:gap-L md:gap-XS gap-XS h-fit">
                            <button class="md:h-[32px] h-[24px] w-[77px] py-S px-SM rounded-[6px] bg-[#FF684940] text-onBrand text-Small flex items-center text-center justify-center">Category</button>
                            <span class="md:text-H3 text-Regular text-headLines blog-heading">Blog title heading </span>
                            <span class="md:text-Medium text-Small text-bodyText md:line-clamp-none line-clamp-2">Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.</span>
                            <a class="" href="about#">
                                @await Html.PartialAsync("Logos/ReadArticleLogo")
                            </a>
                            <div class="flex gap-M h-[48px] max-w-[272px]">
                                <img src="./img/profile/profile.jpg" class="h-[48px] w-[48px] rounded-full">
                                <div class="flex flex-col justify-between lg:min-w-[208px] md:min-w-[200px] min-w-[180px]">
                                    <span class="text-Bold text-headLines">Jane Coper</span>
                                    <div class="flex justify-between items-end">
                                        <span class="text-Small text-textSecondary">31 Dec 2023</span>
                                        <div class="flex items-center h-full">
                                            <svg width="4" height="5" viewBox="0 0 4 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0.22168 3.06641V2.70605C0.22168 2.20215 0.379883 1.78613 0.696289 1.45801C1.01855 1.12988 1.45508 0.96582 2.00586 0.96582C2.5625 0.96582 3.00195 1.12988 3.32422 1.45801C3.64648 1.78613 3.80762 2.20215 3.80762 2.70605V3.06641C3.80762 3.56445 3.64648 3.97754 3.32422 4.30566C3.00781 4.62793 2.57129 4.78906 2.01465 4.78906C1.46387 4.78906 1.02734 4.62793 0.705078 4.30566C0.382812 3.97754 0.22168 3.56445 0.22168 3.06641Z" fill="#252532" />
                                            </svg>
                                        </div>
                                        <span class="text-Small text-textSecondary">5 min read</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Item 3 -->
        <div class="hidden absolute duration-2000 ease-in-out items-center flex xl:h-[560px] md:h-[460px] h-[600px] w-auto" data-carousel-item>
            <div class="xl:px-[32px] xl:mx-[32px] md:px-[16px] md:mx-[16px] md:border-x md:border-bgNeutarl px-L">
                <div class="inner-slide blog-card grid xl:gap-XXL md:gap-XL gap-M md:grid-cols-2 grid-cols-1 bg-[#FFFFFF] rounded-L">
                    <div class="">
                        <div class="sm:mx-0">
                            <a href="#">
                                <img src="./img/slider.jpg" alt="Cover Image for" class="rounded-S object-cover">
                            </a>
                        </div>
                    </div>
                    <div class=" grid grid-cols-1 justify-between items-center md:py-[0px] md:px-[0px] py-M px-M md:max-w-[440px]">
                        <div class="flex flex-col xl:gap-L md:gap-XS gap-XS h-fit">
                            <button class="md:h-[32px] h-[24px] w-[77px] py-S px-SM rounded-[6px] bg-[#619DFF5C] text-bravo text-Small flex items-center text-center justify-center">Category</button>
                            <span class="md:text-H3 text-Regular text-headLines blog-heading">Blog title heading </span>
                            <span class="md:text-Medium text-Small text-bodyText md:line-clamp-none line-clamp-2">Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.</span>
                            <a class="" href="about#">
                                @await Html.PartialAsync("Logos/ReadArticleLogo")
                            </a>
                            <div class="flex gap-M h-[48px] max-w-[272px]">
                                <img src="./img/profile/profile.jpg" class="h-[48px] w-[48px] rounded-full">
                                <div class="flex flex-col justify-between lg:min-w-[208px] md:min-w-[200px] min-w-[180px]">
                                    <span class="text-Bold text-headLines">Jane Coper</span>
                                    <div class="flex justify-between items-end">
                                        <span class="text-Small text-textSecondary">31 Dec 2023</span>
                                        <div class="flex items-center h-full">
                                            <svg width="4" height="5" viewBox="0 0 4 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0.22168 3.06641V2.70605C0.22168 2.20215 0.379883 1.78613 0.696289 1.45801C1.01855 1.12988 1.45508 0.96582 2.00586 0.96582C2.5625 0.96582 3.00195 1.12988 3.32422 1.45801C3.64648 1.78613 3.80762 2.20215 3.80762 2.70605V3.06641C3.80762 3.56445 3.64648 3.97754 3.32422 4.30566C3.00781 4.62793 2.57129 4.78906 2.01465 4.78906C1.46387 4.78906 1.02734 4.62793 0.705078 4.30566C0.382812 3.97754 0.22168 3.56445 0.22168 3.06641Z" fill="#252532" />
                                            </svg>
                                        </div>
                                        <span class="text-Small text-textSecondary">5 min read</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="xl:flex justify-center gap-L mt-XL hidden">
        <button type="button" class="w-[24px] h-[24px] rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
        <button type="button" class="w-[24px] h-[24px] rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
        <button type="button" class="w-[24px] h-[24px] rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
    </div>
</div>
