<footer class="bg-headLines border-b border-[#3F4952]">
    <div class="lg:max-w-8xl md:max-w-5xl w-full px-L mx-auto">
        <div class="flex flex-col md:py-XXXL py-XXL mx-auto gap-XL">
            <div class="flex flex-col gap-M">
                <h2 class="text-[40px] leading-[44px] font-[700] text-neutral">Ready to try Unilake?</h2>
                <p class="text-Regular text-body">
                    Unilake is a powerful, cloud-based platform that helps businesses create and manage their <br/>
                    digital experiences. Discover the benefits, features, and tools that make Unilake the perfect <br/>
                    solution for your business.
                </p>
            </div>
            <div class="flex md:flex-row flex-col gap-M md:w-fit w-full">
                <a href="https://cal.com/mrhamburg"
                    class="flex items-center justify-center gap-S md:px-L md:py-SM px-M py-S bg-brand rounded-S md:w-fit w-full brand-color-button">
                    <h5 class="text-neutral md:text-14 text-Small font-[600]">Book demo</h5>
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                        <path
                            d="M6.22668 11.9545L9.28002 8.89447L6.22668 5.83447L7.16668 4.89447L11.1667 8.89447L7.16668 12.8945L6.22668 11.9545Z"
                            fill="#E6EFF4" />
                    </svg>
                </a>
                <a href="mailto:oss@unilake.com?subject=Contact"
                    class="text-center md:px-L md:py-SM px-M py-S text-neutral md:text-14 text-Small font-[600] border border-[#3F4952] rounded-S md:w-fit w-full bg-less-button">
                    Contact us
                </a>
            </div>
        </div>
        <div class="flex xl:flex-row flex-col md:py-XXXL py-XL xl:gap-XXXL md:gap-XXL gap-XL border-t border-[#3F4952]">
            <div class="flex flex-col gap-XXL items-start">
                <svg xmlns="http://www.w3.org/2000/svg" width="214" height="40" viewBox="0 0 214 40" fill="none">
                    <path
                        d="M64.4632 26.0619C64.4632 31.6344 61.876 34.8316 57.3659 34.8316C53.2796 34.8316 50.9459 31.7757 50.9459 26.4439V12.1851H45.6976V26.5883C45.6976 36.4783 51.7966 39.9869 57.0417 39.9869C59.9596 39.9869 62.4794 39.1779 64.4728 37.6468V39.5086H69.7244V12.1851H64.4728L64.4632 26.0619Z"
                        fill="white" />
                    <path
                        d="M87.6586 11.7068C84.7408 11.7068 82.2016 12.5157 80.2243 14.0469V12.1851H74.9759V39.5086H80.2243V25.6318C80.2243 20.056 82.8115 16.8588 87.3216 16.8588C91.4079 16.8588 93.7416 19.918 93.7416 25.2498V39.5086H98.9931V25.1053C98.9931 15.2153 92.8941 11.7068 87.649 11.7068"
                        fill="white" />
                    <path d="M109.13 12.1851H103.882V39.5086H109.13V12.1851Z" fill="white" />
                    <path
                        d="M106.53 4.20509C105.704 4.20308 104.91 4.52377 104.317 5.09881C103.724 5.67385 103.379 6.45777 103.356 7.28348C103.357 8.12494 103.692 8.93144 104.287 9.52645C104.882 10.1214 105.689 10.4565 106.53 10.4582C107.365 10.4505 108.164 10.1121 108.75 9.51698C109.336 8.92189 109.662 8.1187 109.657 7.28348C109.64 6.46396 109.304 5.6834 108.72 5.10831C108.136 4.53322 107.35 4.2091 106.53 4.20509Z"
                        fill="white" />
                    <path
                        d="M124.391 34.5491C123.922 34.7334 123.424 34.8292 122.92 34.8316C122.375 34.8316 121.46 34.8316 121.46 32.7515V0.00952148H116.208V32.8574C116.208 37.2648 118.69 39.9997 122.68 39.9997C123.909 40.0092 125.124 39.7427 126.236 39.2196L127.414 38.629L126.692 33.4031L124.391 34.5491Z"
                        fill="white" />
                    <path
                        d="M150.311 14.766C147.885 12.7617 144.83 11.6783 141.683 11.7068C134.062 11.7068 128.095 17.9278 128.095 25.8694C128.095 33.8109 134.062 39.9934 141.683 39.9934C144.836 40.0002 147.891 38.8967 150.311 36.8765V39.5086H155.56V12.1851H150.311V14.766ZM141.827 34.8317C137.07 34.8317 133.343 30.8962 133.343 25.8694C133.343 20.8425 137.07 16.8589 141.827 16.8589C146.665 16.8589 150.311 20.7334 150.311 25.8694C150.311 30.8962 146.585 34.8317 141.827 34.8317Z"
                        fill="white" />
                    <path
                        d="M188.289 12.1851H181.259L171.321 23.0799H167.899V0H162.651V39.5086H167.899V28.2801H171.215L181.249 39.5086H188.212L175.94 25.696L188.289 12.1851Z"
                        fill="white" />
                    <path
                        d="M200.227 11.7069C192.372 11.7069 186.446 17.8059 186.446 25.8694C186.446 33.7853 192.603 39.9934 200.468 39.9934C204.981 39.9934 208.993 38.1445 211.773 34.7868L212.836 33.5028L209.176 29.8434L207.892 31.4003C206.997 32.4995 205.863 33.3806 204.577 33.9768C203.29 34.573 201.885 34.8687 200.468 34.8414C198.539 34.8514 196.662 34.2206 195.131 33.0481C193.6 31.8757 192.502 30.2279 192.009 28.3636H213.057L213.353 26.887C213.452 26.3754 213.497 25.8545 213.484 25.3334C213.484 17.6839 207.661 11.6941 200.227 11.6941M192.016 23.2501C193.049 19.4398 196.259 16.8301 200.227 16.8301C204.047 16.8301 207.144 19.4783 208.034 23.2501H192.016Z"
                        fill="white" />
                    <path
                        d="M0.00963708 20.7333V39.5086H5.54046V37.2616C2.00946 34.0227 0.00642395 26.9414 0.00642395 20.7205"
                        fill="#F37441" />
                    <path d="M33.6729 20.7333V39.5086H28.1389V37.2616C31.6699 34.0227 33.6729 26.9414 33.6729 20.7205"
                        fill="#F37441" />
                    <path
                        d="M28.1388 6.96247V21.4267C28.1388 26.0074 26.8163 29.5544 24.4152 31.795V17.4945H18.7014V34.3758C18.0816 34.4652 17.4563 34.5113 16.83 34.5139C16.2048 34.5112 15.5806 34.4651 14.9618 34.3758V1.86499H9.25764V31.795C6.85656 29.548 5.53403 26.017 5.53403 21.4267V12.1691H0V21.4267C0 32.7002 6.60617 39.9869 16.83 39.9869C27.0539 39.9869 33.6632 32.7002 33.6632 21.4267V6.96247H28.1388Z"
                        fill="#F37441" />
                </svg>
                <div class="flex flex-col md:w-fit w-full items-start gap-M">
                    <h3 class="text-large text-neutral">Join Our Newsletter</h3>
                    <div class="flex md:flex-row flex-col md:w-fit w-full gap-M">
                        <div
                            class="flex py-S px-M border border-[#3F4952] rounded-S items-center rounded-md md:w-[364px] h-[40px] bg-less-input">
                            <svg width="16" height="15" viewBox="0 0 16 15" fill="#F9F8F6"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M6.91117 0.833008H10.4218C11.1499 0.833004 11.7269 0.833001 12.192 0.871C12.6676 0.909857 13.07 0.990929 13.4375 1.17815C14.0333 1.48175 14.5178 1.96619 14.8214 2.56204C15.0086 2.92949 15.0897 3.3319 15.1285 3.8075C15.1665 4.27258 15.1665 4.84957 15.1665 5.57766V7.75502C15.1665 8.48311 15.1665 9.06011 15.1285 9.52519C15.0897 10.0008 15.0086 10.4032 14.8214 10.7706C14.5178 11.3665 14.0333 11.8509 13.4375 12.1545C13.3445 12.2019 13.2493 12.2425 13.1513 12.2773C13.0132 13.5273 11.9534 14.4997 10.6665 14.4997H7.04386C5.94291 14.4997 5.08598 14.4997 4.3986 14.4435C3.70067 14.3865 3.1336 14.2691 2.62355 14.0092C1.77682 13.5778 1.0884 12.8894 0.656975 12.0426C0.397087 11.5326 0.279684 10.9655 0.222661 10.2676C0.166499 9.58019 0.166501 8.72326 0.166504 7.6223V4.66634C0.166504 4.3902 0.390362 4.16634 0.666504 4.16634C0.942646 4.16634 1.1665 4.3902 1.1665 4.66634V7.59967C1.1665 8.72803 1.16689 9.54423 1.21934 10.1862C1.27131 10.8222 1.37189 11.2431 1.54798 11.5886C1.88354 12.2472 2.41897 12.7826 3.07754 13.1182C3.42313 13.2943 3.84394 13.3949 4.48003 13.4468C5.12195 13.4993 5.93815 13.4997 7.0665 13.4997H10.6665C11.3309 13.4997 11.8945 13.0677 12.0916 12.4692C11.6445 12.4997 11.0984 12.4997 10.4219 12.4997H6.91116C6.18307 12.4997 5.60607 12.4997 5.14099 12.4617C4.6654 12.4228 4.26298 12.3418 3.89553 12.1545C3.29969 11.8509 2.81525 11.3665 2.51165 10.7706C2.32443 10.4032 2.24335 10.0008 2.2045 9.52519C2.1665 9.0601 2.1665 8.4831 2.1665 7.755V5.57768C2.1665 4.84958 2.1665 4.27258 2.2045 3.8075C2.24335 3.3319 2.32443 2.92949 2.51165 2.56204C2.81525 1.96619 3.29969 1.48175 3.89553 1.17815C4.26298 0.990929 4.6654 0.909857 5.14099 0.871C5.60607 0.833001 6.18307 0.833004 6.91117 0.833008ZM5.22243 1.86768C4.80867 1.90148 4.55251 1.96574 4.34952 2.06916C3.94184 2.27689 3.61038 2.60834 3.40266 3.01603C3.29923 3.21901 3.23498 3.47518 3.20117 3.88893C3.16689 4.30852 3.1665 4.84469 3.1665 5.59967V7.73301C3.1665 8.488 3.16689 9.02416 3.20117 9.44375C3.23498 9.85751 3.29923 10.1137 3.40266 10.3167C3.61038 10.7243 3.94184 11.0558 4.34952 11.2635C4.55251 11.3669 4.80867 11.4312 5.22243 11.465C5.64201 11.4993 6.17818 11.4997 6.93317 11.4997H10.3998C11.1548 11.4997 11.691 11.4993 12.1106 11.465C12.5243 11.4312 12.7805 11.3669 12.9835 11.2635C13.3912 11.0558 13.7226 10.7243 13.9304 10.3167C14.0338 10.1137 14.098 9.85751 14.1318 9.44375C14.1661 9.02417 14.1665 8.488 14.1665 7.73301V5.59967C14.1665 4.84469 14.1661 4.30852 14.1318 3.88893C14.098 3.47518 14.0338 3.21901 13.9304 3.01603C13.7226 2.60834 13.3912 2.27689 12.9835 2.06916C12.7805 1.96574 12.5243 1.90148 12.1106 1.86768C11.691 1.8334 11.1548 1.83301 10.3998 1.83301H6.93317C6.17818 1.83301 5.64201 1.8334 5.22243 1.86768ZM4.94274 3.68733C5.11524 3.4717 5.42989 3.43674 5.64552 3.60924L6.31349 4.14361C6.79477 4.52865 7.13504 4.80046 7.42018 4.99618C7.70013 5.18833 7.89913 5.2871 8.0888 5.33957C8.46684 5.44415 8.86617 5.44415 9.24421 5.33957C9.43388 5.2871 9.63288 5.18833 9.91283 4.99618C10.198 4.80046 10.5382 4.52865 11.0195 4.14361L11.6875 3.60924C11.9031 3.43674 12.2178 3.4717 12.3903 3.68733C12.5628 3.90296 12.5278 4.2176 12.3122 4.39011L11.6292 4.93648C11.1663 5.30682 10.7976 5.60175 10.4787 5.82065C10.1512 6.04547 9.84864 6.20992 9.51084 6.30337C8.95833 6.45622 8.37468 6.45622 7.82217 6.30337C7.48437 6.20992 7.18182 6.04547 6.85427 5.82065C6.53536 5.60175 6.16671 5.30682 5.7038 4.93649L5.02082 4.39011C4.80519 4.2176 4.77023 3.90296 4.94274 3.68733Z" />
                            </svg>
                            <input type="email"
                                class="ml-[10px] bg-transparent text-body placeholder-body border-none no-outline p-0 focus:outline-0 focus:ring-0 focus:border-none placeholder:text-14 placeholder:font-[400] placeholder:text-body"
                                placeholder="Email">
                        </div>
                        <button
                            class="bg-brand px-M py-S flex items-center text-Small text-neutral justify-center rounded-S md:w-[91px] w-full h-[40px] brand-color-button">
                            Subscribe
                        </button>
                    </div>
                    <h4 class="text-Regular text-faded">You can easily unsubscribe at any time.</h4>
                </div>
            </div>
            <div class="grid lg:gap-M lg:grid-cols-5 md:grid-cols-3 grid-cols-2 gap-y-L justify-between w-full">

                <div class="grid md:gap-L gap-M h-fit">
                    <span class="text-large text-neutral">Products</span>
                    <ul class="list-unstyled  grid gap-L">
                        <li class="text-Regular text-neutral footer-item">
                            <a href="/products/lakehouse-analytics">
                                Lakehouse
                            </a>
                        </li>
                        <li class="text-Regular text-neutral footer-item">
                            <a href="/products/data-management">
                                Data Management
                            </a>
                        </li>
                        <li class="text-Regular text-neutral footer-item">
                            <a href="/products/datalake">
                                Datalake
                            </a>
                        </li>
                        <li class="text-Regular text-neutral footer-item">
                            <a href="/products/integration">
                                Integration
                            </a>
                        </li>
                        <li class="text-Regular text-neutral footer-item">
                            <a href="/products/governance">
                                Governance
                            </a>
                        </li>
                        <li class="text-Regular text-neutral footer-item">
                            <a href="/products/ai/ml">
                                AI/ML
                            </a>
                        </li>
                        <li class="text-Regular text-neutral footer-item">
                            <a href="/products/data-sovereignty">
                                Data Sovereignty
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="grid md:gap-L gap-M h-fit">
                    <span class="text-large text-neutral">Developers</span>
                    <ul class="list-unstyled grid gap-L">
                        <li class="text-Regular text-neutral footer-item">
                            <a href="https://docs.unilake.com/">
                                Documentation
                            </a>
                        </li>
                        <li class="text-Regular text-neutral footer-item">
                            <a href="/integrations">
                                Integrations
                            </a>
                        </li>
                        <li class="text-Regular text-neutral footer-item">
                            <a href="/changelog">
                                Changelog
                            </a>
                        </li>
                        <li class="text-Regular text-neutral footer-item">
                            <a href="https://chat.unilake.com/">
                                Community
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="grid md:gap-L gap-M h-fit">
                    <span class="text-large text-neutral">Resources</span>
                    <ul class="list-unstyled grid gap-L">
                        <li class="text-Regular text-neutral footer-item">
                            <a href="https://github.com/unilakehq/unilake">
                                Open Source
                            </a>
                        </li>
                        <li class="text-Regular text-neutral footer-item">
                            <a href="https://github.com/unilakehq/unilake/discussions">
                                GitHub Discussions
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="grid md:gap-L gap-M h-fit">
                    <span class="text-large text-neutral">Company</span>
                    <ul class="list-unstyled grid gap-L">
                        <li class="text-Regular text-neutral footer-item">
                            <a href="/support">
                                Support
                            </a>
                        </li>
                        <li class="text-Regular text-neutral footer-item">
                            <a href="https://docs.unilake.com/blog">
                                Blog
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex justify-items-start border-t border-[#3F4952] py-M">
            <h4 class="text-Regular text-neutral flex items-center gap-[8px]">
                Unilake
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M4.02283 9C4.02283 8.06818 4.2501 7.21875 4.70465 6.4517C5.15919 5.68466 5.76999 5.07386 6.53703 4.61932C7.30408 4.16477 8.15351 3.9375 9.08533 3.9375C9.89215 3.9375 10.6365 4.1108 11.3183 4.45739C12.0058 4.80398 12.574 5.27841 13.0228 5.88068C13.4717 6.47727 13.7501 7.15341 13.8581 7.90909H11.7956C11.6819 7.32386 11.3666 6.84659 10.8495 6.47727C10.3325 6.10227 9.74442 5.91477 9.08533 5.91477C8.51715 5.91477 8.0001 6.05398 7.53419 6.33239C7.06828 6.6108 6.69613 6.98295 6.41772 7.44886C6.13931 7.91477 6.0001 8.43182 6.0001 9C6.0001 9.56818 6.13931 10.0852 6.41772 10.5511C6.69613 11.017 7.06828 11.3892 7.53419 11.6676C8.0001 11.946 8.51715 12.0852 9.08533 12.0852C9.74442 12.0852 10.3012 11.9006 10.7558 11.5312C11.216 11.1562 11.5058 10.6761 11.6251 10.0909H13.6876C13.5796 10.8466 13.3154 11.5256 12.895 12.1278C12.4745 12.7244 11.9348 13.196 11.2757 13.5426C10.6223 13.8892 9.89215 14.0625 9.08533 14.0625C8.15351 14.0625 7.30408 13.8352 6.53703 13.3807C5.76999 12.9261 5.15919 12.3153 4.70465 11.5483C4.2501 10.7812 4.02283 9.93182 4.02283 9ZM9.0001 18C7.76147 18 6.59669 17.767 5.50578 17.3011C4.42056 16.8352 3.46317 16.1903 2.63363 15.3665C1.80976 14.5369 1.16203 13.5795 0.690444 12.4943C0.224534 11.4091 -0.00557919 10.2443 0.000102685 9C0.00578444 7.75568 0.24158 6.59091 0.707489 5.50568C1.17908 4.42045 1.82681 3.46591 2.65067 2.64205C3.47453 1.8125 4.42908 1.16477 5.51431 0.698864C6.59953 0.232955 7.76147 0 9.0001 0C10.2444 0 11.4092 0.232955 12.4944 0.698864C13.5853 1.16477 14.5399 1.8125 15.3581 2.64205C16.1819 3.46591 16.8268 4.42045 17.2927 5.50568C17.7586 6.59091 17.9944 7.75568 18.0001 9C18.0058 10.2443 17.7757 11.4091 17.3098 12.4943C16.8439 13.5795 16.199 14.5369 15.3751 15.3665C14.5512 16.1903 13.5939 16.8352 12.5029 17.3011C11.412 17.767 10.2444 18 9.0001 18ZM9.0001 16.0227C9.97169 16.0227 10.8836 15.8409 11.7359 15.4773C12.5882 15.1136 13.3353 14.6108 13.9774 13.9688C14.6194 13.3267 15.1223 12.5824 15.4859 11.7358C15.8495 10.8835 16.0285 9.97443 16.0228 9.00852C16.0171 8.03693 15.8325 7.125 15.4689 6.27273C15.1052 5.42045 14.6024 4.6733 13.9603 4.03125C13.3183 3.3892 12.574 2.88636 11.7274 2.52273C10.8808 2.15909 9.97169 1.97727 9.0001 1.97727C8.03419 1.97727 7.12794 2.15909 6.28135 2.52273C5.43476 2.88636 4.69044 3.39205 4.0484 4.03977C3.40635 4.68182 2.90067 5.42898 2.53135 6.28125C2.16772 7.12784 1.98306 8.03693 1.97738 9.00852C1.97169 9.96875 2.15067 10.875 2.51431 11.7273C2.87794 12.5739 3.38078 13.3182 4.02283 13.9602C4.67056 14.6023 5.41772 15.108 6.26431 15.4773C7.11658 15.8409 8.02851 16.0227 9.0001 16.0227Z"
                        fill="#F9F8F6" />
                </svg>
                @DateTime.UtcNow.Year
            </h4>
        </div>
    </div>
</footer>
