<footer class="2xl:container mx-auto px-L font-inter bg-[#252532]">
    <div class="2xl:container px-L md:py-XXL py-[80px] mx-auto grid grid-cols-1 md:gap-XL gap-XL font-inter">
        @{

            <div class="flex flex-col gap-S">
                <span class="text-[40px] text-headingPrimary font-bold">Ready to try Unilake?</span>
                <span class="text-H5 text-spanPrimary">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                <span class="text-H5 text-spanPrimary">Aliquam pretium velit in efficitur tempus. Aenean ut massa ut nunc.</span>
            </div>

            <div class="">
                <ul class="flex flex-wrap gap-M h-fit">
                    <li class="bg-[#FF6849] text-[14px] rounded-S md:w-[122px]  w-full">
                        <button class="md:w-[145px] w-full h-[48px] py-3 md:px-4 px-3 gap-2  flex items-center justify-center text-white">
                            Book demo
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                                <path d="M6.22668 11.9545L9.28002 8.89447L6.22668 5.83447L7.16668 4.89447L11.1667 8.89447L7.16668 12.8945L6.22668 11.9545Z" fill="#E6EFF4" />
                            </svg>
                        </button>
                    </li>



                    <li class="text-Medium flex border border-borderPrimary text-textPrimary justify-center px-L py-SM text-[14px] rounded-S md:w-[122px] w-full h-[48px]">Contact us</li>
                </ul>
            </div>



        }
    </div>
    <div class="md:pt-XXL pt-[64px]  pb-XL  lg:gap-[275px] md:gap-[120px] gap-XL grid lg:grid-cols-3 md:grid-cols-1 grid-cols-1 border-t border-borderSecondary">
        <div class="col-span-1 flex flex-col gap-XXL items-start">
            <svg xmlns="http://www.w3.org/2000/svg" width="214" height="40" viewBox="0 0 214 40" fill="none">
                <path d="M64.4632 26.0619C64.4632 31.6344 61.876 34.8316 57.3659 34.8316C53.2796 34.8316 50.9459 31.7757 50.9459 26.4439V12.1851H45.6976V26.5883C45.6976 36.4783 51.7966 39.9869 57.0417 39.9869C59.9596 39.9869 62.4794 39.1779 64.4728 37.6468V39.5086H69.7244V12.1851H64.4728L64.4632 26.0619Z" fill="white" />
                <path d="M87.6586 11.7068C84.7408 11.7068 82.2016 12.5157 80.2243 14.0469V12.1851H74.9759V39.5086H80.2243V25.6318C80.2243 20.056 82.8115 16.8588 87.3216 16.8588C91.4079 16.8588 93.7416 19.918 93.7416 25.2498V39.5086H98.9931V25.1053C98.9931 15.2153 92.8941 11.7068 87.649 11.7068" fill="white" />
                <path d="M109.13 12.1851H103.882V39.5086H109.13V12.1851Z" fill="white" />
                <path d="M106.53 4.20509C105.704 4.20308 104.91 4.52377 104.317 5.09881C103.724 5.67385 103.379 6.45777 103.356 7.28348C103.357 8.12494 103.692 8.93144 104.287 9.52645C104.882 10.1214 105.689 10.4565 106.53 10.4582C107.365 10.4505 108.164 10.1121 108.75 9.51698C109.336 8.92189 109.662 8.1187 109.657 7.28348C109.64 6.46396 109.304 5.6834 108.72 5.10831C108.136 4.53322 107.35 4.2091 106.53 4.20509Z" fill="white" />
                <path d="M124.391 34.5491C123.922 34.7334 123.424 34.8292 122.92 34.8316C122.375 34.8316 121.46 34.8316 121.46 32.7515V0.00952148H116.208V32.8574C116.208 37.2648 118.69 39.9997 122.68 39.9997C123.909 40.0092 125.124 39.7427 126.236 39.2196L127.414 38.629L126.692 33.4031L124.391 34.5491Z" fill="white" />
                <path d="M150.311 14.766C147.885 12.7617 144.83 11.6783 141.683 11.7068C134.062 11.7068 128.095 17.9278 128.095 25.8694C128.095 33.8109 134.062 39.9934 141.683 39.9934C144.836 40.0002 147.891 38.8967 150.311 36.8765V39.5086H155.56V12.1851H150.311V14.766ZM141.827 34.8317C137.07 34.8317 133.343 30.8962 133.343 25.8694C133.343 20.8425 137.07 16.8589 141.827 16.8589C146.665 16.8589 150.311 20.7334 150.311 25.8694C150.311 30.8962 146.585 34.8317 141.827 34.8317Z" fill="white" />
                <path d="M188.289 12.1851H181.259L171.321 23.0799H167.899V0H162.651V39.5086H167.899V28.2801H171.215L181.249 39.5086H188.212L175.94 25.696L188.289 12.1851Z" fill="white" />
                <path d="M200.227 11.7069C192.372 11.7069 186.446 17.8059 186.446 25.8694C186.446 33.7853 192.603 39.9934 200.468 39.9934C204.981 39.9934 208.993 38.1445 211.773 34.7868L212.836 33.5028L209.176 29.8434L207.892 31.4003C206.997 32.4995 205.863 33.3806 204.577 33.9768C203.29 34.573 201.885 34.8687 200.468 34.8414C198.539 34.8514 196.662 34.2206 195.131 33.0481C193.6 31.8757 192.502 30.2279 192.009 28.3636H213.057L213.353 26.887C213.452 26.3754 213.497 25.8545 213.484 25.3334C213.484 17.6839 207.661 11.6941 200.227 11.6941M192.016 23.2501C193.049 19.4398 196.259 16.8301 200.227 16.8301C204.047 16.8301 207.144 19.4783 208.034 23.2501H192.016Z" fill="white" />
                <path d="M0.00963708 20.7333V39.5086H5.54046V37.2616C2.00946 34.0227 0.00642395 26.9414 0.00642395 20.7205" fill="#F37441" />
                <path d="M33.6729 20.7333V39.5086H28.1389V37.2616C31.6699 34.0227 33.6729 26.9414 33.6729 20.7205" fill="#F37441" />
                <path d="M28.1388 6.96247V21.4267C28.1388 26.0074 26.8163 29.5544 24.4152 31.795V17.4945H18.7014V34.3758C18.0816 34.4652 17.4563 34.5113 16.83 34.5139C16.2048 34.5112 15.5806 34.4651 14.9618 34.3758V1.86499H9.25764V31.795C6.85656 29.548 5.53403 26.017 5.53403 21.4267V12.1691H0V21.4267C0 32.7002 6.60617 39.9869 16.83 39.9869C27.0539 39.9869 33.6632 32.7002 33.6632 21.4267V6.96247H28.1388Z" fill="#F37441" />
            </svg>
            <div class="grid gap-M items-end w-[374px]">
                <h3 class="text-Medium flex gap-S text-[20px] text-headingPrimary font-bold">
                    Join Our Newsletter
                </h3>
                <div class="md:text-Medium md:text-textPrimary md:flex grid md:gap-S gap-M">
                    <div class="flex items-center md:w-[371px] w-[370px] h-[40px] border border-gray-600 rounded-md p-1.5 px-2">
                        <svg class="flex-shrink-0 mr-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M20 4H4C2.9 4 2.01 4.9 2.01 6L2 18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6C22 4.9 21.1 4 20 4ZM20 18H4V8L12 13L20 8V18ZM12 11L4 6H20L12 11Z" fill="#E6EFF4" />
                        </svg>
                        <input type="email" class="md:w-[332px]  bg-transparent w-[280px] text-white placeholder-gray-400 border-none no-outline p-0" placeholder="Email">
                    </div>
                    <div class="bg-[#FF6849] text-[14px] rounded-S flex justify-center">
                        <button class="w-[91px] h-[40px] py-2 px-4 gap-2  flex items-center text-XS  text-white">
                            Subscribe
                        </button>
                    </div>
                </div>
                <span class="w-[223px] text-xs text-gray-400 font-inter  font-normal leading-6 text-left">
                    You can easily unsubscribe at any time.
                </span>
            </div>
        </div>

        <div class="col-span-2 grid 2xl:grid-cols-5 xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 grid-cols-2 justify-between gap-y-L">

            <div class="grid md:gap-L gap-M h-fit">
                <span class="text-H2 text-textPrimary">Products</span>
                <ul class="list-unstyled  grid gap-L">
                    <li>
                        <span class="text-Medium text-textSecondary">Lakehouse</span>
                    </li>
                    <li>
                        <span class="text-Medium text-textSecondary">Data Management</span>
                    </li>
                    <li>
                        <span class="text-Medium text-textSecondary">Datalake</span>
                    </li>
                    <li>
                        <span class="text-Medium text-textSecondary">Integration</span>
                    </li>
                    <li>
                        <span class="text-Medium text-textSecondary">Discovery</span>
                    </li>
                    <li>
                        <span class="text-Medium text-textSecondary">AI/Ml</span>
                    </li>
                </ul>
            </div>

            <div class="grid md:gap-L gap-M h-fit">
                <span class="text-H2 text-textPrimary">Developers</span>
                <ul class="list-unstyled grid gap-L">
                    <li>
                        <span class="text-Medium text-textSecondary">Documentation</span>
                    </li>
                    <li>
                        <span class="text-Medium text-textSecondary">Integrations</span>
                    </li>
                    <li>
                        <span class="text-Medium text-textSecondary">Changelog</span>
                    </li>
                    <li>
                        <span class="text-Medium text-textSecondary">Community</span>
                    </li>
                </ul>
            </div>

            <div class="grid md:gap-L gap-M h-fit">
                <span class="text-H2 text-textPrimary">Resources</span>
                <ul class="list-unstyled grid gap-L">
                    <li>
                        <span class="text-Medium text-textSecondary">Open Source</span>
                    </li>
                    <li>
                        <span class="text-Medium text-textSecondary">GitHub Discussions</span>
                    </li>
                </ul>
            </div>

            <div class="grid md:gap-L gap-M h-fit">
                <span class="text-H2 text-textPrimary">Company</span>
                <ul class="list-unstyled grid gap-L">
                    <li>
                        <span class="text-Medium text-textSecondary">Support</span>
                    </li>
                    <li>
                        <span class="text-Medium text-textSecondary">Blog</span>
                    </li>
                    <li>
                        <span class="text-Medium text-textSecondary">FAQ</span>
                    </li>
                </ul>
            </div>

            <div class="grid md:gap-L gap-M h-fit">
                <span class="text-H2 text-textPrimary">Legal</span>
                <ul class="list-unstyled grid gap-L">
                    <li>
                        <span class="text-Medium text-textSecondary">Terms of Conditions</span>
                    </li>
                    <li>
                        <span class="text-Medium text-textSecondary">Privacy Policy</span>
                    </li>
                    <li>
                        <span class="text-Medium text-textSecondary">Privacy Settings</span>
                    </li>

                </ul>
            </div>

        </div>
    </div>
    <div class="flex justify-between border-t border-borderSecondary py-M">
        <div class="flex">
            Unilake
            <span class="ms-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M7.02283 12C7.02283 11.0682 7.2501 10.2188 7.70465 9.4517C8.15919 8.68466 8.76999 8.07386 9.53703 7.61932C10.3041 7.16477 11.1535 6.9375 12.0853 6.9375C12.8921 6.9375 13.6365 7.1108 14.3183 7.45739C15.0058 7.80398 15.574 8.27841 16.0228 8.88068C16.4717 9.47727 16.7501 10.1534 16.8581 10.9091H14.7956C14.6819 10.3239 14.3666 9.84659 13.8495 9.47727C13.3325 9.10227 12.7444 8.91477 12.0853 8.91477C11.5171 8.91477 11.0001 9.05398 10.5342 9.33239C10.0683 9.6108 9.69613 9.98295 9.41772 10.4489C9.13931 10.9148 9.0001 11.4318 9.0001 12C9.0001 12.5682 9.13931 13.0852 9.41772 13.5511C9.69613 14.017 10.0683 14.3892 10.5342 14.6676C11.0001 14.946 11.5171 15.0852 12.0853 15.0852C12.7444 15.0852 13.3012 14.9006 13.7558 14.5312C14.216 14.1562 14.5058 13.6761 14.6251 13.0909H16.6876C16.5796 13.8466 16.3154 14.5256 15.895 15.1278C15.4745 15.7244 14.9348 16.196 14.2757 16.5426C13.6223 16.8892 12.8921 17.0625 12.0853 17.0625C11.1535 17.0625 10.3041 16.8352 9.53703 16.3807C8.76999 15.9261 8.15919 15.3153 7.70465 14.5483C7.2501 13.7812 7.02283 12.9318 7.02283 12ZM12.0001 21C10.7615 21 9.59669 20.767 8.50578 20.3011C7.42056 19.8352 6.46317 19.1903 5.63363 18.3665C4.80976 17.5369 4.16203 16.5795 3.69044 15.4943C3.22453 14.4091 2.99442 13.2443 3.0001 12C3.00578 10.7557 3.24158 9.59091 3.70749 8.50568C4.17908 7.42045 4.82681 6.46591 5.65067 5.64205C6.47453 4.8125 7.42908 4.16477 8.51431 3.69886C9.59953 3.23295 10.7615 3 12.0001 3C13.2444 3 14.4092 3.23295 15.4944 3.69886C16.5853 4.16477 17.5399 4.8125 18.3581 5.64205C19.1819 6.46591 19.8268 7.42045 20.2927 8.50568C20.7586 9.59091 20.9944 10.7557 21.0001 12C21.0058 13.2443 20.7757 14.4091 20.3098 15.4943C19.8439 16.5795 19.199 17.5369 18.3751 18.3665C17.5512 19.1903 16.5939 19.8352 15.5029 20.3011C14.412 20.767 13.2444 21 12.0001 21ZM12.0001 19.0227C12.9717 19.0227 13.8836 18.8409 14.7359 18.4773C15.5882 18.1136 16.3353 17.6108 16.9774 16.9688C17.6194 16.3267 18.1223 15.5824 18.4859 14.7358C18.8495 13.8835 19.0285 12.9744 19.0228 12.0085C19.0171 11.0369 18.8325 10.125 18.4689 9.27273C18.1052 8.42045 17.6024 7.6733 16.9603 7.03125C16.3183 6.3892 15.574 5.88636 14.7274 5.52273C13.8808 5.15909 12.9717 4.97727 12.0001 4.97727C11.0342 4.97727 10.1279 5.15909 9.28135 5.52273C8.43476 5.88636 7.69044 6.39205 7.0484 7.03977C6.40635 7.68182 5.90067 8.42898 5.53135 9.28125C5.16772 10.1278 4.98306 11.0369 4.97738 12.0085C4.97169 12.9688 5.15067 13.875 5.51431 14.7273C5.87794 15.5739 6.38078 16.3182 7.02283 16.9602C7.67056 17.6023 8.41772 18.108 9.26431 18.4773C10.1166 18.8409 11.0285 19.0227 12.0001 19.0227Z" fill="#E6EFF4" />
                </svg>
            </span>
            2023
        </div>
        <div data-component="DarkModeToggle" class="toggle-button ml-2 w-10" id="toggle-button"></div>
    </div>
</footer>


<script type="module">
//TODO: Replace with local and production URLs of CreatorKit .NET App or Remove if not using CreatorKit
@{ var components = HostContext.DebugMode ? "https://localhost:5001/mjs/components" : "https://creatorkit.netcore.io/mjs/components"; }
import { mail } from '@components/mail.mjs'
import { post } from '@components/post.mjs'

mail('[data-mail]', { 
    mailingLists: ['MonthlyNewsletter'] 
})

post('[data-post]', {
    commentLink: { 
        href: '/community-rules',
        label: 'read the community rules'
    } 
})
</script>
