<header class="bg-neutral">
    <div class="2xl:container flex items-center justify-between py-L mx-auto h-fit bg-neutral px-L border-b border-brNeutral">
        <a class="cursor-pointer navbar-brand flex items-center" href="./">
            @await Html.PartialAsync("Logos/BrandLogo")
        </a>
        <nav class="lg:flex hidden items-center justify-center mx-auto">
            <ul class="flex gap-XL items-center">
                <li class="flex items-center header-link-menu">
                    <a class="flex items-center justify-start text-Regular" id="dropdownDefaultButton"
                        data-dropdown-toggle="products-dropdown">
                        Products
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17"
                            fill="#252532">
                            <path
                                d="M5.83447 6.22668L8.89447 9.28002L11.9545 6.22668L12.8945 7.16668L8.89447 11.1667L4.89447 7.16668L5.83447 6.22668Z" />
                        </svg>
                    </a>
                    <div id="products-dropdown" class="z-10 hidden rounded-lg shadow">
                        <div class="flex">
                            <div class="grid grid-cols-1 h-auto items-center p-XL max-w-[346px] bg-neutral"
                                aria-labelledby="dropdownDefaultButton">
                                <a href="Products/Lakehouse-analytics"
                                    class="flex items-center gap-SM rounded-S w-full py-M px-L menu-tab rounded-S max-h-[88px]">
                                    @await Html.PartialAsync("Logos/ProductMenu/LakehouseAnalytics")
                                    <div class="flex flex-col gap-XS items-center">
                                        <span class="text-headLines w-full text-Regular">Lakehouse Analytics</span>
                                        <span class="text-[#525D61] w-full text-Small">Real time OLAP</span>
                                    </div>
                                </a>
                                <a href="Products/Data-Management"
                                    class="flex items-center gap-SM rounded-S w-full py-M px-L menu-tab rounded-S max-h-[88px]">
                                    @await Html.PartialAsync("Logos/ProductMenu/DataManagement")
                                    <div class="flex flex-col gap-XS items-center">
                                        <span class="text-headLines w-full text-Regular">Data Management</span>
                                        <span class="text-[#525D61] w-full text-Small">Complete data security
                                            suite</span>
                                    </div>
                                </a>
                                <a href="Products/Datalake"
                                    class="flex items-center gap-SM rounded-S w-full py-M px-L menu-tab rounded-S max-h-[88px]">
                                    @await Html.PartialAsync("Logos/ProductMenu/Datalake")
                                    <div class="flex flex-col gap-XS items-center">
                                        <span class="text-headLines w-full text-Regular">Datalake</span>
                                        <span class="text-[#525D61] w-full text-Small">
                                            Unified datalake for distributed
                                            teams
                                        </span>
                                    </div>
                                </a>
                                <a href="Products/Governance" class="flex items-center gap-SM rounded-S w-full py-M px-L menu-tab rounded-S max-h-[88px]">
                                    @await Html.PartialAsync("Logos/ProductMenu/Governance")
                                    <div class="flex flex-col gap-XS items-center">
                                        <span class="text-headLines w-full text-Regular">Governance</span>
                                        <span class="text-[#525D61] w-full text-Small">
                                            Birds eye view of all your data
                                            assets
                                        </span>
                                    </div>
                                </a>
                                <div
                                    class="flex items-center gap-SM rounded-S w-full py-M px-L menu-tab rounded-S max-h-[88px]">
                                    @await Html.PartialAsync("Logos/ProductMenu/AiML")
                                    <div class="flex flex-col gap-XS items-center">
                                        <span class="text-headLines w-full text-Regular">AI/ML</span>
                                        <span class="text-[#525D61] w-full text-Small">Launch AI/ML initiatives
                                            instantly</span>
                                    </div>
                                </div>
                                <div
                                    class="flex items-center gap-SM rounded-S w-full py-M px-L menu-tab rounded-S max-h-[88px]">
                                    @await Html.PartialAsync("Logos/ProductMenu/Integration")
                                    <div class="flex flex-col gap-XS items-center">
                                        <span class="text-headLines w-full text-Regular">Integration</span>
                                        <span class="text-[#525D61] w-full text-Small">Access data from over 300
                                            sources</span>
                                    </div>
                                </div>
                                <div
                                    class="flex items-center gap-SM rounded-S w-full py-M px-L menu-tab rounded-S max-h-[88px]">
                                    @await Html.PartialAsync("Logos/ProductMenu/DataSovereignty")
                                    <div class="flex flex-col gap-XS items-center">
                                        <span class="text-headLines w-full text-Regular">Data Sovereignty</span>
                                        <span class="text-[#525D61] w-full text-Small">Access data from over 300
                                            sources</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-neutral p-XL">
                                <div class="flex flex-col gap-XL">
                                    <h1 class="text-large font-[700] text-headLines">Cross Clouds</h1>
                                    @await Html.PartialAsync("Logos/ProductMenu/DesktopMenuMap")
                                    <div class="flex flex-col gap-[16px]">
                                        <h1 class="text-large font-[700] text-headLines">
                                            Run on any cloud or on-perm
                                        </h1>
                                        <ul class="list-disc menu-products-list marker:bodyText pl-[15px]">
                                            <li class="text-small text-bodyText">Think bid start small</li>
                                            <li class="text-small text-bodyText">Host and run your terms</li>
                                            <li class="text-small text-bodyText">
                                                Mix and match data between clouds and
                                                on-prem
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="flex items-center header-link-menu">
                    <a class="flex items-center justify-start text-Regular" id="dropdownDefaultButton"
                        data-dropdown-toggle="developers-dropdown">
                        Developers
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17"
                            fill="#252532">
                            <path
                                d="M5.83447 6.22668L8.89447 9.28002L11.9545 6.22668L12.8945 7.16668L8.89447 11.1667L4.89447 7.16668L5.83447 6.22668Z" />
                        </svg>
                    </a>
                    <div id="developers-dropdown" class="z-10 hidden rounded-lg shadow">
                        <div class="flex">
                            <div class="flex flex-col gap-L p-XL w-[346px] bg-neutral">
                                <div class="flex flex-col gap-M">
                                    <h1 class="text-H5 font-[400]">Developers</h1>
                                    <div>
                                        <div class="menu-tab flex gap-SM w-full rounded-S py-M px-L max-h-[72px]">
                                            @await Html.PartialAsync("Logos/DeveloperMenu/Documentation")
                                            <span
                                                class="flex items-center text-[#070D0F] text-Regular leading-[19.36px]">Documentation</span>
                                        </div>
                                        <a href="integrations"
                                            class="menu-tab flex gap-SM w-full   rounded-S py-M px-L max-h-[72px]">
                                            @await Html.PartialAsync("Logos/DeveloperMenu/Integrations")
                                            <span
                                                class="flex items-center text-[#070D0F] text-Regular leading-[19.36px]">Integrations</span>
                                        </a>
                                        <a href="changelog"
                                            class="menu-tab flex gap-SM w-full  rounded-S py-M px-L max-h-[72px]">
                                            @await Html.PartialAsync("Logos/DeveloperMenu/Changelog")
                                            <span
                                                class="flex items-center text-[#070D0F] text-Regular leading-[19.36px]">Changelog</span>
                                        </a>
                                        <div class="menu-tab flex gap-SM w-full rounded-S py-M px-L max-h-[72px]">
                                            @await Html.PartialAsync("Logos/DeveloperMenu/Community")
                                            <span
                                                class="flex items-center text-[#070D0F] text-Regular leading-[19.36px]">Community</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col gap-M">
                                    <h1 class="text-H5 font-[400]">Resources</h1>
                                    <div>
                                        <div class="menu-tab flex gap-SM w-full rounded-S py-M px-L max-h-[72px]">
                                            @await Html.PartialAsync("Logos/ResourceMenu/OpenSource")
                                            <span
                                                class="flex items-center text-[#070D0F] text-Regular leading-[19.36px]">Open
                                                Source</span>
                                        </div>
                                        <div class="menu-tab flex gap-SM w-full rounded-S py-M px-L max-h-[72px]">
                                            @await Html.PartialAsync("Logos/ResourceMenu/GitHubDiscussions")
                                            <span
                                                class="flex items-center text-[#070D0F] text-Regular leading-[19.36px]">GitHub
                                                Discussions</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="z-10 bg-backgroundFaded shadow w-[464px]">
                                <div class="flex flex-col gap-L p-XL">
                                    <h1 class="text-H5 font-[400]">Blog</h1>
                                    <div class="flex flex-col">
                                        <div class="rounded py-M px-L rounded-S gap-SM blog-menu-tab">
                                            <h1 class="text-Regular text-headLines">Supabase Beta August 2023</h1>
                                            <h2 class="text-small text-bodyText">Launch Week 8 review and more things we
                                                shipped</h2>
                                        </div>
                                        <div class="rounded py-M px-L rounded-S gap-SM blog-menu-tab">
                                            <h1 class="text-Regular text-headLines">Launch Week 8 Hackathon Winners</h1>
                                            <h2 class="text-small text-bodyText">Announcing the winners of the Launch
                                                wee 8 Hackathon</h2>
                                        </div>
                                        <div class="rounded py-M px-L rounded-S gap-SM blog-menu-tab">
                                            <h1 class="text-Regular text-headLines">Supabase Beta August 2023</h1>
                                            <h2 class="text-small text-bodyText">Launch Week 8 review and more things we
                                                shipped</h2>
                                        </div>
                                        <div class="rounded py-M px-L rounded-S gap-SM blog-menu-tab">
                                            <h1 class="text-Regular text-headLines">Launch Week 8 Hackathon Winners</h1>
                                            <h2 class="text-small text-bodyText">Announcing the winners of the Launch
                                                wee 8 Hackathon</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="flex items-center">
                    <a href="integrations"
                        class="flex items-center justify-start header-link text-Regular">Integrations</a>
                </li>
                <li class="flex items-center">
                    <a href="changelog" class="flex items-center justify-start header-link text-Regular">Changelog</a>
                </li>
                <li class="flex items-center header-link-menu">
                    <a href="blog" class="flex items-center justify-start text-Regular">Blog</a>
                </li>
                <li class="flex items-center">
                    <a href="support" class="flex items-center justify-start header-link text-Regular"> Support</a>
                </li>
            </ul>
        </nav>
        <div class="lg:block hidden">
            <div class="col-span-1 justify-end flex items-center gap-L">
                <button class="bg-brand brand-color-button px-L py-SM rounded-S flex gap-S items-center">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.00065 0.333008C3.31732 0.333008 0.333985 3.31634 0.333985 6.99967C0.333183 8.39911 0.773051 9.76327 1.59119 10.8986C2.40933 12.034 3.56421 12.8829 4.89199 13.325C5.22532 13.383 5.35065 13.183 5.35065 13.0077C5.35065 12.8497 5.34199 12.325 5.34199 11.7663C3.66732 12.075 3.23399 11.3583 3.10065 10.983C3.02532 10.791 2.70065 10.1997 2.41732 10.041C2.18399 9.91634 1.85065 9.60767 2.40865 9.59967C2.93399 9.59101 3.30865 10.083 3.43399 10.283C4.03399 11.291 4.99199 11.0077 5.37532 10.833C5.43399 10.3997 5.60865 10.1083 5.80065 9.94168C4.31732 9.77501 2.76732 9.19967 2.76732 6.64967C2.76732 5.92434 3.02532 5.32501 3.45065 4.85834C3.38399 4.69167 3.15065 4.00834 3.51732 3.09167C3.51732 3.09167 4.07532 2.91634 5.35065 3.77434C5.89339 3.62394 6.45413 3.54835 7.01732 3.54967C7.58399 3.54967 8.15065 3.62434 8.68399 3.77434C9.95932 2.90767 10.5173 3.09167 10.5173 3.09167C10.884 4.00834 10.6507 4.69167 10.584 4.85834C11.0087 5.32501 11.2673 5.91634 11.2673 6.64967C11.2673 9.20834 9.70932 9.77501 8.22599 9.94168C8.46732 10.1497 8.67599 10.5497 8.67599 11.175C8.67599 12.0663 8.66732 12.783 8.66732 13.0083C8.66732 13.183 8.79265 13.391 9.12599 13.3243C10.4492 12.8774 11.599 12.0268 12.4135 10.8923C13.2281 9.75774 13.6663 8.39634 13.6667 6.99967C13.6667 3.31634 10.6833 0.333008 6.99999 0.333008"
                            fill="#F9F8F6" />
                    </svg>
                    <span class="text-neutral leading-[24px] text-[14px] font-[600]">
                        Star Us
                    </span>
                </button>
            </div>
        </div>
        <div class="flex lg:hidden justify-end">
            <button id="three-lines" type="button"
                class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M3.5 8C3.5 7.44772 3.94772 7 4.5 7H28.5C29.0523 7 29.5 7.44772 29.5 8C29.5 8.55228 29.0523 9 28.5 9H4.5C3.94772 9 3.5 8.55228 3.5 8ZM3.5 16C3.5 15.4477 3.94772 15 4.5 15H28.5C29.0523 15 29.5 15.4477 29.5 16C29.5 16.5523 29.0523 17 28.5 17H4.5C3.94772 17 3.5 16.5523 3.5 16ZM3.5 24C3.5 23.4477 3.94772 23 4.5 23H28.5C29.0523 23 29.5 23.4477 29.5 24C29.5 24.5523 29.0523 25 28.5 25H4.5C3.94772 25 3.5 24.5523 3.5 24Z"
                        fill="#252532" />
                </svg>
            </button>
        </div>
        <!-- Mobile menu, show/hide based on menu open state. -->
        <div id="mobile-menu"
            class="lg:hidden fixed inset-y-0 right-0 z-50 w-full overflow-y-auto transform translate-x-full transition-transform duration-300 ease-in-out">
            <!-- Background backdrop, show/hide based on slide-over state. -->
            <div class="bg-backgroundSecondary fixed inset-y-0 right-0 z-50 w-[375px] overflow-y-auto">
                <div class="flex items-center justify-between border-b border-neutralSecondary py-[22px] px-L">
                    <svg id="close-side-bar" width="36" height="36" viewBox="0 0 36 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M8.2045 8.2045C8.64384 7.76517 9.35616 7.76517 9.7955 8.2045L18 16.409L26.2045 8.2045C26.6438 7.76517 27.3562 7.76517 27.7955 8.2045C28.2348 8.64384 28.2348 9.35616 27.7955 9.7955L19.591 18L27.7955 26.2045C28.2348 26.6438 28.2348 27.3562 27.7955 27.7955C27.3562 28.2348 26.6438 28.2348 26.2045 27.7955L18 19.591L9.7955 27.7955C9.35616 28.2348 8.64384 28.2348 8.2045 27.7955C7.76517 27.3562 7.76517 26.6438 8.2045 26.2045L16.409 18L8.2045 9.7955C7.76517 9.35616 7.76517 8.64384 8.2045 8.2045Z"
                            fill="#252532" />
                    </svg>
                </div>
                <div class="flow-root">
                    <div class="py-M">
                        <div class="">
                            <div class="grid rounded-S cursor-pointer py-M px-L">
                                <a class="flex justify-between items-center max-h-[60px]">
                                    <span class="text-Regular text-headLines">Products</span>
                                    <span class="" onclick="toggleSidebarMenu(this,event)">
                                        <svg class="accordion-icon" width="24" height="24" viewBox="0 0 24 24"
                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M5.46967 8.46967C5.76256 8.17678 6.23744 8.17678 6.53033 8.46967L12 13.9393L17.4697 8.46967C17.7626 8.17678 18.2374 8.17678 18.5303 8.46967C18.8232 8.76256 18.8232 9.23744 18.5303 9.53033L12.5303 15.5303C12.2374 15.8232 11.7626 15.8232 11.4697 15.5303L5.46967 9.53033C5.17678 9.23744 5.17678 8.76256 5.46967 8.46967Z"
                                                fill="#252532" />
                                        </svg>
                                    </span>
                                </a>
                                <div class="grid grid-cols-1 invisible h-auto items-center max-h-0 max-w-[346px]">
                                    <a href="Products/Lakehouse-analytics"
                                        class="flex items-center gap-SM rounded-S py-M max-h-[88px]">
                                        @await Html.PartialAsync("Logos/ProductMenu/LakehouseAnalytics")
                                        <div class="flex flex-col gap-XS items-center">
                                            <span class="text-headLines w-full text-Regular">Lakehouse Analytics</span>
                                            <span class="text-[#525D61] w-full text-Small">Real time OLAP</span>
                                        </div>
                                    </a>
                                    <a href="Products/Data-Management"
                                        class="flex items-center gap-SM rounded-S py-M max-h-[88px]">
                                        @await Html.PartialAsync("Logos/ProductMenu/DataManagement")
                                        <div href="Products/Data-Management" class="flex flex-col gap-XS items-center">
                                            <span class="text-headLines w-full text-Regular">Data Management</span>
                                            <span class="text-[#525D61] w-full text-Small">Complete data security
                                                suite</span>
                                        </div>
                                    </a>
                                    <a href="Products/Datalake"
                                        class="flex items-center gap-SM rounded-S py-M max-h-[88px]">
                                        @await Html.PartialAsync("Logos/ProductMenu/Datalake")
                                        <div class="flex flex-col gap-XS items-center">
                                            <span class="text-headLines w-full text-Regular">Datalake</span>
                                            <span class="text-[#525D61] w-full text-Small">Unified datalake for
                                                distributed
                                                teams</span>
                                        </div>
                                    </a>
                                    <a href="Products/Governance" class="flex items-center gap-SM rounded-S py-M max-h-[88px]">
                                        @await Html.PartialAsync("Logos/ProductMenu/Governance")
                                        <div class="flex flex-col gap-XS items-center">
                                            <span class="text-headLines w-full text-Regular">Governance</span>
                                            <span class="text-[#525D61] w-full text-Small">Birds eye view of all your
                                                data
                                                assets</span>
                                        </div>
                                    </a>
                                    <div class="flex items-center gap-SM rounded-S py-M max-h-[88px]">
                                        @await Html.PartialAsync("Logos/ProductMenu/AiMl")
                                        <div class="flex flex-col gap-XS items-center">
                                            <span class="text-headLines w-full text-Regular">AI/ML</span>
                                            <span class="text-[#525D61] w-full text-Small">Launch AI/ML initiatives
                                                instantly</span>
                                        </div>
                                    </div>
                                    <div class="flex items-center gap-SM rounded-S py-M max-h-[88px]">
                                        @await Html.PartialAsync("Logos/ProductMenu/Integration")
                                        <div class="flex flex-col gap-XS items-center">
                                            <span class="text-headLines w-full text-Regular">Integration</span>
                                            <span class="text-[#525D61] w-full text-Small">Access data from over 300
                                                sources</span>
                                        </div>
                                    </div>
                                    <div class="flex items-center gap-SM rounded-S py-M max-h-[88px]">
                                        @await Html.PartialAsync("Logos/ProductMenu/DataSovereignty")
                                        <div class="flex flex-col gap-XS items-center">
                                            <span class="text-headLines w-full text-Regular">Data Sovereignty</span>
                                            <span class="text-[#525D61] w-full text-Small">Access data from over 300
                                                sources</span>
                                        </div>
                                    </div>
                                    <div class="flex flex-col gap-XL bg-neutral py-M">
                                        <h1 class="text-large font-[700] text-headLines">Cross Clouds</h1>
                                        @await Html.PartialAsync("Logos/MenuMap")
                                        <div class="flex flex-col gap-[16px]">
                                            <h1 class="text-large font-[700] text-headLines">Run on any cloud or on-perm
                                            </h1>
                                            <ul class="list-disc menu-products-list marker:bodyText pl-[15px]">
                                                <li class="text-small text-bodyText">Think bid start small</li>
                                                <li class="text-small text-bodyText">Host and run your terms</li>
                                                <li class="text-small text-bodyText">Mix and match data between clouds
                                                    and
                                                    on-prem</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid rounded-S cursor-pointer py-M px-L">
                                <a class="flex justify-between items-center max-h-[60px]">
                                    <span class="text-Regular text-headLines">Developers</span>
                                    <span class="" onclick="toggleSidebarMenu(this,event)">
                                        <svg class="accordion-icon" width="24" height="24" viewBox="0 0 24 24"
                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M5.46967 8.46967C5.76256 8.17678 6.23744 8.17678 6.53033 8.46967L12 13.9393L17.4697 8.46967C17.7626 8.17678 18.2374 8.17678 18.5303 8.46967C18.8232 8.76256 18.8232 9.23744 18.5303 9.53033L12.5303 15.5303C12.2374 15.8232 11.7626 15.8232 11.4697 15.5303L5.46967 9.53033C5.17678 9.23744 5.17678 8.76256 5.46967 8.46967Z"
                                                fill="#252532" />
                                        </svg>
                                    </span>
                                </a>
                                <div class="grid grid-cols-1 invisible h-auto items-center max-h-0 max-w-[346px]">
                                    <div class="flex gap-SM rounded-S py-M px-L max-h-[72px]">
                                        @await Html.PartialAsync("Logos/DeveloperMenu/Documentation")
                                        <span
                                            class="flex items-center text-[#070D0F] text-Regular leading-[19.36px]">Documentation</span>
                                    </div>
                                    <a href="integrations" class="flex gap-SM rounded-S py-M px-L max-h-[72px]">
                                        @await Html.PartialAsync("Logos/DeveloperMenu/Integrations")
                                        <span
                                            class="flex items-center text-[#070D0F] text-Regular leading-[19.36px]">Integrations</span>
                                    </a>
                                    <a href="changelog" class="flex gap-SM rounded-S py-M px-L max-h-[72px]">
                                        @await Html.PartialAsync("Logos/DeveloperMenu/Changelog")
                                        <span
                                            class="flex items-center text-[#070D0F] text-Regular leading-[19.36px]">Changelog</span>
                                    </a>
                                    <div class="flex gap-SM rounded-S py-M px-L max-h-[72px]">
                                        @await Html.PartialAsync("Logos/DeveloperMenu/Community")
                                        <span
                                            class="flex items-center text-[#070D0F] text-Regular leading-[19.36px]">Community</span>
                                    </div>
                                </div>
                            </div>
                            <div class="grid rounded-S cursor-pointer py-M px-L">
                                <a class="flex justify-between items-center max-h-[60px]">
                                    <span class="text-Regular text-headLines">Pricing</span>
                                </a>
                            </div>
                            <div class="grid rounded-S cursor-pointer py-M px-L">
                                <a class="flex justify-between items-center max-h-[60px]">
                                    <span class="text-Regular text-headLines">Documents</span>
                                </a>
                            </div>
                            <div class="grid rounded-S cursor-pointer py-M px-L">
                                <a class="flex justify-between items-center max-h-[60px]" href="blog">
                                    <span class="text-Regular text-headLines">Blog</span>
                                </a>
                            </div>
                        </div>
                        <div class="py-M px-L">
                            <button
                                class="bg-brand px-L py-SM rounded-[8px] h-[48px] w-full flex gap-S items-center justify-center">
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M7.00065 0.333008C3.31732 0.333008 0.333985 3.31634 0.333985 6.99967C0.333183 8.39911 0.773051 9.76327 1.59119 10.8986C2.40933 12.034 3.56421 12.8829 4.89199 13.325C5.22532 13.383 5.35065 13.183 5.35065 13.0077C5.35065 12.8497 5.34199 12.325 5.34199 11.7663C3.66732 12.075 3.23399 11.3583 3.10065 10.983C3.02532 10.791 2.70065 10.1997 2.41732 10.041C2.18399 9.91634 1.85065 9.60767 2.40865 9.59967C2.93399 9.59101 3.30865 10.083 3.43399 10.283C4.03399 11.291 4.99199 11.0077 5.37532 10.833C5.43399 10.3997 5.60865 10.1083 5.80065 9.94168C4.31732 9.77501 2.76732 9.19967 2.76732 6.64967C2.76732 5.92434 3.02532 5.32501 3.45065 4.85834C3.38399 4.69167 3.15065 4.00834 3.51732 3.09167C3.51732 3.09167 4.07532 2.91634 5.35065 3.77434C5.89339 3.62394 6.45413 3.54835 7.01732 3.54967C7.58399 3.54967 8.15065 3.62434 8.68399 3.77434C9.95932 2.90767 10.5173 3.09167 10.5173 3.09167C10.884 4.00834 10.6507 4.69167 10.584 4.85834C11.0087 5.32501 11.2673 5.91634 11.2673 6.64967C11.2673 9.20834 9.70932 9.77501 8.22599 9.94168C8.46732 10.1497 8.67599 10.5497 8.67599 11.175C8.67599 12.0663 8.66732 12.783 8.66732 13.0083C8.66732 13.183 8.79265 13.391 9.12599 13.3243C10.4492 12.8774 11.599 12.0268 12.4135 10.8923C13.2281 9.75774 13.6663 8.39634 13.6667 6.99967C13.6667 3.31634 10.6833 0.333008 6.99999 0.333008"
                                        fill="#F9F8F6" />
                                </svg>
                                <span class="text-neutral leading-[24px] text-[14px] font-[600]">
                                    Star Your Project
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    const mobileMenu = document.getElementById('mobile-menu');
    // Get the mobile menu toggle button
    const mobileMenuToggle = document.querySelector('button[type="button"]');
    const closeMenuButton = document.getElementById('close-side-bar')
    // Add a click event listener to the toggle button
    mobileMenuToggle.addEventListener('click', () => {
        mobileMenu.classList.toggle('translate-x-0');
        mobileMenu.classList.toggle('translate-x-full');
        console.log(mobileMenu.classList)
    });
    closeMenuButton.addEventListener('click', function () {
        mobileMenu.classList.toggle('translate-x-0');
        mobileMenu.classList.toggle('translate-x-full');
    })
    function toggleSidebarMenu(accordion, event) {
        console.log(accordion,event)
        var content = accordion.parentNode.nextElementSibling;
        var icon = event.currentTarget.children[0]
        if (content.classList.contains('invisible') || content.classList.contains('max-h-0')) {
            icon.classList.add('-rotate-180');
            const classesToAdd = ['max-h-full', 'mt-S', 'md:mt-L'];
            const classesToRemove = ['invisible', 'max-h-0'];
            classesToRemove.forEach(className => {
                content.classList.remove(className);
            });
            classesToAdd.forEach(className => {
                content.classList.add(className);
            });
        } else {
            icon.classList.remove('-rotate-180');
            const classesToAdd = ['invisible', 'max-h-0'];
            const classesToRemove = ['max-h-full', 'mt-S', 'md:mt-L'];
            classesToRemove.forEach(className => {
                content.classList.remove(className);
            });
            classesToAdd.forEach(className => {
                content.classList.add(className);
            });
        }
    }
</script>