<header class="2xl:container mx-auto sm:h-[91px] h-[80px] bg-[#F9F8F6] dark:bg-black px-L items-center justify-between py-L grid grid-cols-4 font-inter border-b border-gray-300">
    <div class="col-span-1">
        <div class="cursor-pointer">
            <a class="navbar-brand flex items-center" href="./">
                <svg xmlns="http://www.w3.org/2000/svg" width="171" height="33" viewBox="0 0 171 33" fill="none">
                    <path d="M51.5706 21.3496C51.5706 25.8077 49.5008 28.3654 45.8927 28.3654C42.6237 28.3654 40.7567 25.9207 40.7567 21.6552V10.2482H36.558V21.7708C36.558 29.6828 41.4372 32.4896 45.6334 32.4896C47.9677 32.4896 49.9836 31.8425 51.5783 30.6175V32.107H55.7795V10.2482H51.5783L51.5706 21.3496Z" fill="#252532" />
                    <path d="M70.1269 9.86548C67.7926 9.86548 65.7613 10.5126 64.1794 11.7376V10.2481H59.9807V32.1069H64.1794V21.0055C64.1794 16.5448 66.2492 13.9871 69.8573 13.9871C73.1263 13.9871 74.9933 16.4344 74.9933 20.6999V32.1069H79.1945V20.5843C79.1945 12.6723 74.3153 9.86548 70.1192 9.86548" fill="#252532" />
                    <path d="M87.3043 10.2482H83.1056V32.107H87.3043V10.2482Z" fill="#252532" />
                    <path d="M85.2242 3.86402C84.5633 3.86242 83.928 4.11897 83.4536 4.579C82.9792 5.03903 82.7032 5.66617 82.6844 6.32674C82.6858 6.99991 82.9538 7.64511 83.4298 8.12111C83.9058 8.59711 84.551 8.86512 85.2242 8.86648C85.8923 8.86037 86.5308 8.58961 86.9997 8.11354C87.4685 7.63746 87.7295 6.99491 87.7254 6.32674C87.712 5.67112 87.443 5.04667 86.9757 4.5866C86.5085 4.12653 85.8799 3.86723 85.2242 3.86402Z" fill="#252532" />
                    <path d="M99.5125 28.1394C99.1378 28.2868 98.739 28.3634 98.3364 28.3653C97.8998 28.3653 97.1679 28.3653 97.1679 26.7013V0.50769H92.9667V26.786C92.9667 30.3119 94.9518 32.4998 98.1438 32.4998C99.127 32.5075 100.099 32.2942 100.989 31.8758L101.932 31.4033L101.354 27.2226L99.5125 28.1394Z" fill="#252532" />
                    <path d="M120.249 12.3127C118.308 10.7093 115.864 9.84258 113.346 9.86543C107.25 9.86543 102.476 14.8422 102.476 21.1954C102.476 27.5487 107.25 32.4946 113.346 32.4946C115.869 32.5001 118.313 31.6173 120.249 30.0011V32.1069H124.448V10.2481H120.249V12.3127ZM113.462 28.3653C109.656 28.3653 106.675 25.2169 106.675 21.1954C106.675 17.174 109.656 13.9871 113.462 13.9871C117.332 13.9871 120.249 17.0866 120.249 21.1954C120.249 25.2169 117.268 28.3653 113.462 28.3653Z" fill="#252532" />
                    <path d="M150.631 10.2481H145.007L137.057 18.9639H134.319V0.5H130.12V32.1069H134.319V23.1241H136.972L144.999 32.1069H150.569L140.752 21.0568L150.631 10.2481Z" fill="#252532" />
                    <path d="M160.181 9.86549C153.898 9.86549 149.157 14.7447 149.157 21.1955C149.157 27.5282 154.082 32.4947 160.374 32.4947C163.985 32.4947 167.195 31.0155 169.419 28.3294L170.269 27.3022L167.341 24.3747L166.314 25.6202C165.597 26.4996 164.69 27.2045 163.661 27.6814C162.632 28.1584 161.508 28.3949 160.374 28.3731C158.831 28.3811 157.33 27.8764 156.105 26.9385C154.88 26.0005 154.002 24.6823 153.607 23.1908H170.446L170.682 22.0096C170.762 21.6003 170.797 21.1835 170.787 20.7666C170.787 14.6471 166.129 9.85522 160.181 9.85522M153.613 19.1C154.439 16.0518 157.007 13.964 160.181 13.964C163.237 13.964 165.715 16.0826 166.427 19.1H153.613Z" fill="#252532" />
                    <path d="M0.00771272 17.0867V32.1069H4.43237V30.3093C1.60757 27.7182 0.00514221 22.0532 0.00514221 17.0764" fill="#f37441" />
                    <path d="M26.9383 17.0867V32.1069H22.5111V30.3093C25.3359 27.7182 26.9383 22.0532 26.9383 17.0764" fill="#f37441" />
                    <path d="M22.5111 6.06993V17.6413C22.5111 21.3059 21.4531 24.1435 19.5322 25.936V14.4955H14.9612V28.0006C14.4653 28.0721 13.965 28.109 13.464 28.111C12.9639 28.1089 12.4645 28.072 11.9694 28.0006V1.99194H7.40611V25.936C5.48525 24.1384 4.42723 21.3136 4.42723 17.6413V10.2352H0V17.6413C0 26.6601 5.28494 32.4895 13.464 32.4895C21.6431 32.4895 26.9306 26.6601 26.9306 17.6413V6.06993H22.5111Z" fill="#f37441" />
                </svg>
            </a>
        </div>
    </div>
    <nav class="flex flex-grow col-span-2 items-center justify-center md:block hidden mx-auto">
        <ul class="flex gap-XL items-center">
            @{
                void RenderNavLink(string href, string childContent, string? cls = null)
                {
                    <li class="@Html.ClassNames("flex items-center",cls)">
                        <a href="@href" class="@Html.ClassNames("flex items-center justify-start hover:underline hover:underline-offset-4",
                                    Html.MatchesPath(href) ? "text-blue-700 dark:text-blue-300" : "")">
                            @Html.Raw(childContent)
                        </a>
                        @if (href == "whatsnew" || href == "videos")
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                                <path d="M5.83447 6.22668L8.89447 9.28002L11.9545 6.22668L12.8945 7.16668L8.89447 11.1667L4.89447 7.16668L5.83447 6.22668Z" fill="#252532" />
                            </svg>
                        }
                    </li>
                }
                RenderNavLink("whatsnew", "Products");
                RenderNavLink("videos", "Developers");
                RenderNavLink("integrations", "Integrations");
                RenderNavLink("changelog", "Changelog");
                RenderNavLink("blog", "Blog");
                RenderNavLink("support", "Support");
            }
        </ul>
    </nav>
    <div class="md:block hidden">
        <div class="col-span-1 justify-end flex items-center gap-L">
            <button class="bg-brandPrimary px-L py-SM rounded-[8px] h-[48px] w-[122px] flex gap-S items-center">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.00065 0.333008C3.31732 0.333008 0.333985 3.31634 0.333985 6.99967C0.333183 8.39911 0.773051 9.76327 1.59119 10.8986C2.40933 12.034 3.56421 12.8829 4.89199 13.325C5.22532 13.383 5.35065 13.183 5.35065 13.0077C5.35065 12.8497 5.34199 12.325 5.34199 11.7663C3.66732 12.075 3.23399 11.3583 3.10065 10.983C3.02532 10.791 2.70065 10.1997 2.41732 10.041C2.18399 9.91634 1.85065 9.60767 2.40865 9.59967C2.93399 9.59101 3.30865 10.083 3.43399 10.283C4.03399 11.291 4.99199 11.0077 5.37532 10.833C5.43399 10.3997 5.60865 10.1083 5.80065 9.94168C4.31732 9.77501 2.76732 9.19967 2.76732 6.64967C2.76732 5.92434 3.02532 5.32501 3.45065 4.85834C3.38399 4.69167 3.15065 4.00834 3.51732 3.09167C3.51732 3.09167 4.07532 2.91634 5.35065 3.77434C5.89339 3.62394 6.45413 3.54835 7.01732 3.54967C7.58399 3.54967 8.15065 3.62434 8.68399 3.77434C9.95932 2.90767 10.5173 3.09167 10.5173 3.09167C10.884 4.00834 10.6507 4.69167 10.584 4.85834C11.0087 5.32501 11.2673 5.91634 11.2673 6.64967C11.2673 9.20834 9.70932 9.77501 8.22599 9.94168C8.46732 10.1497 8.67599 10.5497 8.67599 11.175C8.67599 12.0663 8.66732 12.783 8.66732 13.0083C8.66732 13.183 8.79265 13.391 9.12599 13.3243C10.4492 12.8774 11.599 12.0268 12.4135 10.8923C13.2281 9.75774 13.6663 8.39634 13.6667 6.99967C13.6667 3.31634 10.6833 0.333008 6.99999 0.333008" fill="#F9F8F6" />
                </svg>
                <span class="text-neutral leading-[24px] text-[14px] font-[600]">
                    Star Us
                </span>
            </button>
        </div>
    </div>
</header>
