<header class="2xl:container mx-auto sm:h-[91px] h-[80px] bg-[#F9F8F6] dark:bg-black px-L items-center justify-between py-L grid grid-cols-4 font-inter border-b border-gray-300">
    <div class="col-span-1">
        <div class="cursor-pointer">
            <a class="navbar-brand flex items-center" href="./">
                <svg width="171" height="32" viewBox="0 0 171 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M51.5706 20.8495C51.5706 25.3076 49.5008 27.8653 45.8928 27.8653C42.6237 27.8653 40.7568 25.4206 40.7568 21.1551V9.74805H36.5581V21.2707C36.5581 29.1827 41.4373 31.9895 45.6334 31.9895C47.9677 31.9895 49.9836 31.3423 51.5783 30.1174V31.6068H55.7796V9.74805H51.5783L51.5706 20.8495Z" fill="#252532" />
                    <path d="M70.1271 9.36523C67.7928 9.36523 65.7615 10.0124 64.1796 11.2373V9.74786H59.981V31.6067H64.1796V20.5052C64.1796 16.0446 66.2494 13.4869 69.8575 13.4869C73.1265 13.4869 74.9935 15.9342 74.9935 20.1996V31.6067H79.1947V20.0841C79.1947 12.1721 74.3155 9.36523 70.1194 9.36523" fill="#252532" />
                    <path d="M87.3041 9.74805H83.1055V31.6068H87.3041V9.74805Z" fill="#252532" />
                    <path d="M85.2243 3.36427C84.5635 3.36266 83.9282 3.61921 83.4537 4.07924C82.9793 4.53927 82.7033 5.16641 82.6846 5.82698C82.6859 6.50015 82.954 7.14535 83.43 7.62135C83.906 8.09735 84.5512 8.36536 85.2243 8.36672C85.8925 8.36062 86.531 8.08986 86.9998 7.61378C87.4687 7.1377 87.7297 6.49516 87.7256 5.82698C87.7122 5.17137 87.4431 4.54692 86.9759 4.08684C86.5086 3.62677 85.8801 3.36748 85.2243 3.36427Z" fill="#252532" />
                    <path d="M99.5126 27.6395C99.1379 27.7869 98.7391 27.8636 98.3365 27.8655C97.8999 27.8655 97.168 27.8655 97.168 26.2014V0.0078125H92.9668V26.2861C92.9668 29.812 94.9519 31.9999 98.1439 31.9999C99.1271 32.0076 100.099 31.7943 100.989 31.3759L101.932 30.9034L101.354 26.7227L99.5126 27.6395Z" fill="#252532" />
                    <path d="M120.249 11.813C118.308 10.2095 115.864 9.34283 113.346 9.36567C107.25 9.36567 102.476 14.3425 102.476 20.6957C102.476 27.0489 107.25 31.9949 113.346 31.9949C115.869 32.0003 118.313 31.1176 120.249 29.5014V31.6071H124.448V9.7483H120.249V11.813ZM113.462 27.8655C109.656 27.8655 106.675 24.7172 106.675 20.6957C106.675 16.6742 109.656 13.4873 113.462 13.4873C117.332 13.4873 120.249 16.5869 120.249 20.6957C120.249 24.7172 117.268 27.8655 113.462 27.8655Z" fill="#252532" />
                    <path d="M150.631 9.74811H145.007L137.057 18.4639H134.319V0H130.121V31.6069H134.319V22.6241H136.972L145 31.6069H150.57L140.752 20.5568L150.631 9.74811Z" fill="#252532" />
                    <path d="M160.182 9.36574C153.898 9.36574 149.157 14.2449 149.157 20.6957C149.157 27.0284 154.083 31.9949 160.374 31.9949C163.985 31.9949 167.195 30.5158 169.419 27.8296L170.269 26.8024L167.341 23.8749L166.314 25.1204C165.598 25.9998 164.691 26.7047 163.662 27.1817C162.632 27.6586 161.508 27.8951 160.374 27.8733C158.832 27.8813 157.33 27.3767 156.105 26.4387C154.88 25.5007 154.002 24.1825 153.608 22.6911H170.446L170.682 21.5098C170.762 21.1005 170.797 20.6838 170.787 20.2669C170.787 14.1474 166.129 9.35547 160.182 9.35547M153.613 18.6003C154.44 15.552 157.008 13.4643 160.182 13.4643C163.238 13.4643 165.716 15.5829 166.427 18.6003H153.613Z" fill="#252532" />
                    <path d="M0.0079416 16.5864V31.6067H4.4326V29.8091C1.6078 27.2179 0.00537109 21.553 0.00537109 16.5762" fill="#FF6849" />
                    <path d="M26.9385 16.5864V31.6067H22.5112V29.8091C25.336 27.2179 26.9385 21.553 26.9385 16.5762" fill="#FF6849" />
                    <path d="M22.5111 5.57017V17.1416C22.5111 20.8061 21.4531 23.6437 19.5322 25.4362V13.9958H14.9612V27.5009C14.4653 27.5723 13.965 27.6092 13.464 27.6113C12.9639 27.6092 12.4645 27.5723 11.9694 27.5009V1.49219H7.40611V25.4362C5.48525 23.6386 4.42723 20.8138 4.42723 17.1416V9.73545H0V17.1416C0 26.1604 5.28494 31.9897 13.464 31.9897C21.6431 31.9897 26.9306 26.1604 26.9306 17.1416V5.57017H22.5111Z" fill="#FF6849" />
                </svg>
            </a>
        </div>
    </div>
    <nav class="flex flex-grow col-span-2 items-center justify-center md:block hidden mx-auto">
        <ul class="flex gap-XL items-center">
            @{
                void RenderNavLink(string href, string childContent, string? cls = null)
                {
                    <li class="@Html.ClassNames("flex items-center",cls)">
                        <a href="@href" class="@Html.ClassNames("flex items-center justify-start hover:underline hover:underline-offset-4",
                                    Html.MatchesPath(href) ? "text-blue-700 dark:text-blue-300" : "")">
                            @Html.Raw(childContent)
                        </a>
                        @if (href == "whatsnew" || href == "videos")
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                                <path d="M5.83447 6.22668L8.89447 9.28002L11.9545 6.22668L12.8945 7.16668L8.89447 11.1667L4.89447 7.16668L5.83447 6.22668Z" fill="#252532" />
                            </svg>
                        }
                    </li>
                }
                RenderNavLink("whatsnew", "Products");
                RenderNavLink("videos", "Developers");
                RenderNavLink("integrations", "Integrations");
                RenderNavLink("changelog", "Changelog");
                RenderNavLink("blog", "Blog");
                RenderNavLink("support", "Support");
            }
        </ul>
    </nav>
    <div class="md:block hidden">
        <div class="col-span-1 justify-end flex items-center gap-L">
            <button class="bg-brandPrimary px-L py-SM rounded-[8px] h-[48px] w-[122px] flex gap-S items-center">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.00065 0.333008C3.31732 0.333008 0.333985 3.31634 0.333985 6.99967C0.333183 8.39911 0.773051 9.76327 1.59119 10.8986C2.40933 12.034 3.56421 12.8829 4.89199 13.325C5.22532 13.383 5.35065 13.183 5.35065 13.0077C5.35065 12.8497 5.34199 12.325 5.34199 11.7663C3.66732 12.075 3.23399 11.3583 3.10065 10.983C3.02532 10.791 2.70065 10.1997 2.41732 10.041C2.18399 9.91634 1.85065 9.60767 2.40865 9.59967C2.93399 9.59101 3.30865 10.083 3.43399 10.283C4.03399 11.291 4.99199 11.0077 5.37532 10.833C5.43399 10.3997 5.60865 10.1083 5.80065 9.94168C4.31732 9.77501 2.76732 9.19967 2.76732 6.64967C2.76732 5.92434 3.02532 5.32501 3.45065 4.85834C3.38399 4.69167 3.15065 4.00834 3.51732 3.09167C3.51732 3.09167 4.07532 2.91634 5.35065 3.77434C5.89339 3.62394 6.45413 3.54835 7.01732 3.54967C7.58399 3.54967 8.15065 3.62434 8.68399 3.77434C9.95932 2.90767 10.5173 3.09167 10.5173 3.09167C10.884 4.00834 10.6507 4.69167 10.584 4.85834C11.0087 5.32501 11.2673 5.91634 11.2673 6.64967C11.2673 9.20834 9.70932 9.77501 8.22599 9.94168C8.46732 10.1497 8.67599 10.5497 8.67599 11.175C8.67599 12.0663 8.66732 12.783 8.66732 13.0083C8.66732 13.183 8.79265 13.391 9.12599 13.3243C10.4492 12.8774 11.599 12.0268 12.4135 10.8923C13.2281 9.75774 13.6663 8.39634 13.6667 6.99967C13.6667 3.31634 10.6833 0.333008 6.99999 0.333008" fill="#F9F8F6" />
                </svg>
                <span class="text-neutral leading-[24px] text-[14px] font-[600]">
                    Star Us
                </span>
            </button>
        </div>
    </div>
</header>
